/* generic
------------------------------------------------------------------------------*/

.jcarousel-skin-generic
{}

.jcarousel-skin-generic li
{
	background: none repeat scroll 0 0 transparent;
    padding-left: 0;
}

.jcarousel-skin-csmonitorshort .jcarousel-container,
.jcarousel-skin-csmonitorlong .jcarousel-container  {

}
.jcarousel-skin-csmonitorshort .jcarousel-container-horizontal {
    width: 588px;
    padding: 0px 16px;
}
.jcarousel-skin-csmonitorshort .jcarousel-clip-horizontal {
    width:  588px;
    height: 163px;
}
.jcarousel-skin-csmonitorlong .jcarousel-container-horizontal {
    width: 908px;
    padding: 0px 16px;
}
.jcarousel-skin-csmonitorlong .jcarousel-clip-horizontal {
    width: 908px;
    height: 156px;
}
.jcarousel-skin-quiz .jcarousel-item,
.jcarousel-skin-csmonitorshort .jcarousel-item,
.jcarousel-skin-csmonitorlong  .jcarousel-item {
	width: 133px;
    height: 163px;
}
.jcarousel-skin-csmonitorlong  .jcarousel-item {height: 156px;}

.jcarousel-skin-quiz .jcarousel-item-horizontal,
.jcarousel-skin-csmonitorshort .jcarousel-item-horizontal
{
    margin-right: 18px;
}

.jcarousel-skin-csmonitorlong  .jcarousel-item-horizontal {
    margin-right: 22px;
}

.jcarousel-skin-quiz .jcarousel-item-placeholder,
.jcarousel-skin-csmonitorshort .jcarousel-item-placeholder,
.jcarousel-skin-csmonitorlong .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-item-horizontal h5
{
	padding-bottom: 8px;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-quiz .jcarousel-next-horizontal,
.jcarousel-skin-csmonitorshort .jcarousel-next-horizontal,
.jcarousel-skin-csmonitorlong .jcarousel-next-horizontal {
    position: absolute;
    top: 53px;
    right: 0;
    width: 6px;
    height: 12px;
    cursor: pointer;
    background: transparent url(../images/btn_carouselNext.gif) no-repeat -6px 0;
}

.jcarousel-skin-quiz .jcarousel-next-horizontal:hover,
.jcarousel-skin-csmonitorshort .jcarousel-next-horizontal:hover,
.jcarousel-skin-csmonitorlong .jcarousel-next-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-quiz .jcarousel-next-horizontal:active,
.jcarousel-skin-csmonitorshort .jcarousel-next-horizontal:active,
.jcarousel-skin-csmonitorlong .jcarousel-next-horizontal:active {
    background-position: -6px 0;
}

.jcarousel-skin-quiz .jcarousel-next-disabled-horizontal,
.jcarousel-skin-quiz .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-quiz .jcarousel-next-disabled-horizontal:active,
.jcarousel-skin-csmonitorshort .jcarousel-next-disabled-horizontal,
.jcarousel-skin-csmonitorshort .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-csmonitorshort .jcarousel-next-disabled-horizontal:active,
.jcarousel-skin-csmonitorlong .jcarousel-next-disabled-horizontal,
.jcarousel-skin-csmonitorlong .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-csmonitorlong .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

.jcarousel-skin-quiz .jcarousel-prev-horizontal,
.jcarousel-skin-csmonitorshort .jcarousel-prev-horizontal,
.jcarousel-skin-csmonitorlong .jcarousel-prev-horizontal {
    position: absolute;
    top: 53px;
    left: 0;
    width: 6px;
    height: 12px;
    cursor: pointer;
    background: transparent url(../images/btn_carouselPrev.gif) no-repeat -6px 0;
}

.jcarousel-skin-quiz .jcarousel-prev-horizontal:hover,
.jcarousel-skin-csmonitorshort .jcarousel-prev-horizontal:hover,
.jcarousel-skin-csmonitorlong .jcarousel-prev-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-quiz .jcarousel-prev-horizontal:active,
.jcarousel-skin-csmonitorshort .jcarousel-prev-horizontal:active,
.jcarousel-skin-csmonitorlong .jcarousel-prev-horizontal:active {
    background-position: -6px 0;
}

.jcarousel-skin-quiz .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-quiz .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-quiz .jcarousel-prev-disabled-horizontal:active,
.jcarousel-skin-csmonitorshort .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-csmonitorshort .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-csmonitorshort .jcarousel-prev-disabled-horizontal:active,
.jcarousel-skin-csmonitorlong .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-csmonitorlong .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-csmonitorlong .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

/* quizz carousel 
------------------------------------------------------------------------------*/
.jcarousel-skin-quiz .jcarousel-container-horizontal
{
	width: 588px;
	padding: 0px 16px;
}

.jcarousel-skin-quiz .jcarousel-item
{
	height: auto;
}


.jcarousel-skin-quiz h5
{
	padding-bottom: 0px;
}

.jcarousel-skin-quiz li
{
	margin-bottom: 0px;
}

/* More Stories Carousel 
------------------------------------------------------------------------------*/

.jcarousel-skin-csmmstories .jcarousel-container {

}

.jcarousel-skin-csmmstories .jcarousel-container-horizontal {
    width: 250px;
    padding: 0px 15px;
}

.jcarousel-skin-csmmstories .jcarousel-clip-horizontal {
    width: 250px;
    height: 60px;
}

.jcarousel-skin-csmmstories .jcarousel-item {
    width: 250px;
    height: 60px;
}

.jcarousel-skin-csmmstories .jcarousel-item-horizontal {
    margin-right: 19px;
}

.jcarousel-skin-csmmstories .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-csmmstories .jcarousel-next-horizontal {
    position: absolute;
    top: 24px;
    right: 0;
    width: 6px;
    height: 12px;
    cursor: pointer;
    background: transparent url(../images/btn_carouselNext.gif) no-repeat -6px 0;
}

.jcarousel-skin-csmmstories .jcarousel-next-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-csmmstories .jcarousel-next-horizontal:active {
    background-position: -6px 0;
}

.jcarousel-skin-csmmstories .jcarousel-next-disabled-horizontal,
.jcarousel-skin-csmmstories .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-csmmstories .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

.jcarousel-skin-csmmstories .jcarousel-prev-horizontal {
    position: absolute;
    top: 24px;
    left: 0;
    width: 6px;
    height: 12px;
    cursor: pointer;
    background: transparent url(../images/btn_carouselPrev.gif) no-repeat -6px 0;
}

.jcarousel-skin-csmmstories .jcarousel-prev-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-csmmstories .jcarousel-prev-horizontal:active {
    background-position: -6px 0;
}

.jcarousel-skin-csmmstories .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-csmmstories .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-csmmstories .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

/* Story Photo Gallery 
------------------------------------------------------------------------------*/

.jcarousel-skin-storygal {
    overflow: hidden;
    height: 253px;
}

.jcarousel-skin-storygal .jcarousel-container-horizontal {
    width: 380px;
    padding: 0;
}

.jcarousel-skin-storygal .jcarousel-clip-horizontal {
    width: 380px;
    height: auto;
}

.jcarousel-skin-storygal .jcarousel-item {
    width: 380px;
    height: auto;
}

.jcarousel-skin-storygal .jcarousel-item-horizontal {
    margin-right: 10px;
}

/* Vertical Images */

.jcarousel-skin-storygalVert .jcarousel-container-horizontal {
    width: 238px;
    padding: 0;
}

.jcarousel-skin-storygalVert .jcarousel-clip-horizontal, 
.jcarousel-skin-storygalVert .jcarousel-item {
    width: 238px;
    height: auto;
}

.jcarousel-skin-storygalVert .jcarousel-item-horizontal {
    margin-right: 10px;
}


/* Story Photo Gallery 
------------------------------------------------------------------------------*/

.jcarousel-skin-potd {
	float: left;
}

.jcarousel-skin-potd .jcarousel-container-horizontal {
    width: 837px;
    padding: 0;
}

.jcarousel-skin-potd .jcarousel-clip-horizontal {
    width: 837px;
    height: 60px;
}

.jcarousel-skin-potd .jcarousel-item {
    width: 837px;
    height: 60px;
}

.jcarousel-skin-potd .jcarousel-item-horizontal {
    margin-right: 3px;
}
