web:
  extends:
    file: ./docker/common.yml
    service: python_environment
  command: python manage.py runserver 0.0.0.0:8081
  ports:
    - "8081:8081"
  links:
    - db
    - memcached
    - rabbitmq
celeryd:
  extends:
    file: ./docker/common.yml
    service: python_environment
  command: ./manage.py celeryd --loglevel=debug --concurrency=1
  links:
    - db
    - memcached
    - rabbitmq
celerybeat:
  extends:
    file: ./docker/common.yml
    service: python_environment
  command: ./manage.py celerybeat --loglevel=debug --pidfile=/tmp/celerybeat.pid
  links:
    - db
    - memcached
    - rabbitmq
db:
  image: mysql
  command:
    - --character-set-server=utf8
    - --collation-server=utf8_general_ci
  environment:
    MYSQL_ROOT_PASSWORD: '0bscur31nt3nt'
    MYSQL_DATABASE: 'readrboard'
    MYSQL_CHARSET: 'utf8'
memcached:
  image: memcached
rabbitmq:
  image: rabbitmq:management
  environment:
    VIRTUAL_HOST: 'rabbitmq.antenna.docker'
    RABBITMQ_ERLANG_COOKIE: 'development erlang cookie'
    RABBITMQ_DEFAULT_VHOST: 'antenna_broker'
    RABBITMQ_DEFAULT_USER: 'broadcast'
    RABBITMQ_DEFAULT_PASS: '51gn4l5'
  hostname: 'rabbit'
  ports:
    - '15672:15672'
