body {background:url('/static/i/bg.gif');}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Header
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.header                              {background:#fff; position:relative; margin-bottom:20px;}
    .header .logo                    {float:left; width:245px; margin:30px 0 5px 20px;}
    .beta                            {position:absolute; left:-60px;}
    .header nav                      {position:absolute; left:250px; height:100px; width:655px; margin-left:20px;}
    .header li                       {float:left; margin-right:25px; list-style:none; font-family: ProfontsBureau-Regular; font-size:23px;}
    .header li a,
    .header li a:visited             {display:block; padding-top:40px; text-decoration:none; color:#697987;}

    .header li a.postcards:hover,
    .header li a.postcards.active {color:#3a8f9e; background:url(/static/i/sprites.png) no-repeat 40px 0;}

    .header li a.guides:hover,
    .header li a.guides.active    {color:#a4335b; background:url(/static/i/sprites.png) no-repeat 16px -80px;}

    .header li a.tools:hover,
    .header li a.tools.active     {color:#7e9a70; background:url(/static/i/sprites.png) no-repeat 12px -160px;}
    
    .header li a.about:hover,
    .header li a.about.active     {color:#585d69; background:url(/static/i/sprites.png) no-repeat 12px -240px;}

    .header form                     {position:absolute; top:45px; right:0;}
    .header form input[type="text"]  {color:#898989; width:170px; border:1px solid #ccc; padding:3px; font: 13px Georgia, "Times New Roman", Times, serif;}
    .header form input[type="text"]:focus  {color:#333; border-color:#666;}
    .header form input[type="submit"]{background: url(/static/i/search.png); border: solid 0 #000000; width:35px; height:25px; cursor:pointer;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Home Page
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.homepage .postcards_list .box,
.homepage .guides_list .box {min-height:150px;}

.homepage .postcards_list .section    {background:url(/static/i/sprites.png) no-repeat 0 0;}
.homepage .guides_list .section       {background:url(/static/i/sprites.png) no-repeat 0 -80px;}

.homepage .postcards_list a.more,
.homepage .guides_list a.more {font-size:14px;}

.homepage .postcards_list h2,
.homepage .guides_list h2     {font-size:23px; margin:15px 0 0 0;}

.homepage .postcards_list h2  {color:#56A4AE;}
.homepage .guides_list h2     {color:#A6335C;}

.homepage .postcards_list ul,
.homepage .guides_list ul     {margin:0; padding:0;}

.homepage .postcards_list li,
.homepage .guides_list li     {list-style:none; display:inline; margin-bottom:5px;}

.homepage .postcards_list li span {width:10px; display:inline-block; background:url(/static/i/sprites.png) 0 -1607px no-repeat;}
.homepage .guides_list li span    {width:10px; display:inline-block; background:url(/static/i/sprites.png) 0 -1253px no-repeat;}

.homepage .postcards_list li:first-child,
.homepage .guides_list li:first-child {background:none; padding-left:0;}

.homepage .postcards_list li a:link, 
.homepage .postcards_list li a:visited,
.homepage .guides_list li a:link, 
.homepage .guides_list li a:visited {color:#666; text-decoration:none; font-size:16px;}

.homepage .postcards_list a:hover,
.homepage .guides_list a:hover {color:#666;}

.homepage .postcards_list a.more:link,
.homepage .postcards_list a.more:visited {font-style:normal;}

.homepage .guides_list a.more:link,
.homepage .guides_list a.more:visited {font-style:normal;}

.homepage .where_list .section               {top:2px;}
.homepage .where_list .box h2                {font-size:33px; margin:0; padding:0; text-transform:uppercase; color:#5F717F;}
.homepage .where_list section                {margin-bottom:20px;}
.homepage .where_list section img            {float:left; margin:0 20px 10px 0;}
.homepage .where_list section                {position:relative;}
.homepage .where_list section h1             {margin:0 10px 5px 0; font-size:23px; line-height:23px; padding:0; width:300px; overflow:hidden;}
.homepage .where_list section h1 a:link,
.homepage .where_list section h1 a:visited   {text-decoration:none;}
.homepage .where_list section p              {margin:0; padding:0; font-size:14px; overflow:hidden;}

.controls                  {text-align:left; margin:15px 0;}
.controls a                {padding:3px 15px; color:#fff; background:url(/static/i/pager_stars.png) no-repeat 0 0; display:inline-block; text-indent:-9999px;}
.controls a.active         {background-position:0 -31px;}
.controls a.active:hover   {background-position:0 -31px; text-decoration:none;}
.controls a:hover          {background-position:0 -31px;}
.pager  a                  {text-indent:-9999px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Home Page (Guides)
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.guides .guides_intro          {background:#fff; margin-bottom:20px;}
.guides .guides_intro  h1      {font-family: ProfontsBureau-Regular; font-size:35px; margin:0; color:#B7446B; text-transform:uppercase;}
.guides .guides_intro  p       {margin:0; padding:0;}
.guides .guides_destination h2 {font-family: ProfontsBureau-Regular;  width:100%; position:absolute; margin-left:10px; font-size:28px; color:#fff; text-transform:uppercase;}
.guides .guides_destination .bg {background:url(/static/i/featured_bg.png) 0 0; position:absolute; z-index:999; height:40px; width:280px; bottom:52px;}
.guides .guides_destination p  {margin:0 0 5px 0; padding:0;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// City Landing (Guides)
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.guides .guides_header             {background:#fff; margin-bottom:20px;}
.guides .guides_header  h1         {font-family: ProfontsBureau-Regular; font-size:35px; margin:0; text-transform:uppercase;}
.guides .guides_header  p          {margin:0; padding:0; }
.guides_header nav ul              {margin:0 0 5px 10px; padding:0;}
.guides_header nav li              {list-style:none; display:inline; padding-left:16px; background:url(/static/i/sprites.png) no-repeat 0 -1813px;}
.guides_header nav li:first-child  {background:none; padding-left:0;}
.guides_header nav a,
.guides_header nav a:visited       {font-family: ProfontsBureau-Regular; text-transform:uppercase; font-size:21px; text-decoration:none; color:#222;}
.guides_header nav a:hover         {color:#999;}
.guides_header nav a.active        {color:#999;}


.guides_header ul.all li           {background-position:0 -1210px;}
.guides_header ul.hotels li        {background-position:0 -1611px;}
.guides_header ul.restaurants li   {background-position:0 -1712px;}
.guides_header ul.shops li         {background-position:-1px -1210px;}
.guides_header ul.sites li         {background-position:0 -1662px;}
.guides_header ul.nightlife li     {background-position:0 -1509px;}
.guides_header ul.services li      {background-position:0 -1813px;}
.guides_header ul.itineraries li   {background-position:0 -1257px;}
.guides_header ul.neighborhoods li {background-position:0 -1257px;}
.guides_header ul.cheatsheet li    {background-position:0 -1257px;}
.guides_header ul li:first-child   {background-image:none;}

.guides_header span.all            {color:#9f2e5c;}
.guides_header span.hotels         {color:#88cce5;}
.guides_header span.restaurants    {color:#ea9231;}
.guides_header span.shops          {color:#5b5e6b;}
.guides_header span.sites          {color:#5dc1a7;}
.guides_header span.nightlife      {color:#97387a;}
.guides_header span.services       {color:#7e9970;}
.guides_header span.itineraries    {color:#9f2e5c;}
.guides_header span.neighborhoods  {color:#a16a64;}
.guides_header span.cheatsheet     {color:#5A5E6B;}

.guides_header .widgets      {text-align:right;}
.guides_header dl            {font-family: ProfontsBureau-Regular; font-size:19px; background: url(/static/i/widgets.png) no-repeat 0 0; text-align:center; float:right; display:block; width:55px; height:90px;}
.guides_header dt            {height:65px;} 
.guides_header dl.cheatsheet {width:65px; background-position:10px 0;}
.guides_header dl.time       {width:70px; background-position:-65px 0;}
.guides_header dl.temp       {width:70px; background-position:-155px 0;}
.guides_header dl.currency   {width:95px; background-position:-205px 0;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// City Landing : Featured Guides (Guides)
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.guides .featured_guides h1           {font-family: ProfontsBureau-Regular; font-size:28px; line-height:33px; margin:5px 0 8px 0; padding:0;}
.guides .featured_guides h1 a,
.guides .featured_guides h1 a:visited {text-decoration:none;}
.guides .featured_guides p            {margin:0; padding:0;}
.guides .featured_guides .section     {margin-right:140px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Listing : Guides
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.guides section.listing         {margin-bottom:20px;}
.guides section.listing h1      {font-family: ProfontsBureau-Regular; font-size:21px; margin:0 0 5px 0; line-height:25px;}
.guides section.listing p       {margin:10px 0;}
.guides section.listing ul      {margin:0; padding:0; color:#4D4D4D;}
.guides section.listing li      {list-style:none; font-size:12px; line-height:15px;}
.guides section.listing span.tag a:link,
.guides section.listing span.tag a:visited {font-size:12px; color:#565656; margin-right:10px;}

.guides section.listing span.amount {font-weight:bold; color:#ccc; position:relative;}
.guides section.listing span.price  {font-weight:bold; color:#333; position:absolute; left:0;}

.guides section.listing footer p.tags         {font-size:12px; color:#666;}
.guides section.listing footer p.tags a:link,
.guides section.listing footer p.tags a:visited{color:#666; font-style:normal; font-weight:normal; text-decoration:none; border-bottom:1px dotted #bbb;}
.guides section.listing footer p.tags a:hover  {color:#000; text-decoration:none; border-bottom:1px solid #bbb;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Listing Header : Guides
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.guides .guides_listings h2       {font-family: ProfontsBureau-Regular; font-size:28px; margin:0 0 5px 0;}
.guides .guides_listings p.intro  {font-size:12px; color:red;}

.itineraries_post .section       {position:absolute; opacity:.9; left:160px;}
.itineraries_post h1             {font-family: ProfontsBureau-Regular; font-size:21px; line-height:25px; margin-bottom:10px;}
.itineraries_post h1 a:link,
.itineraries_post h1 a:visited   {text-decoration:none; color:#333;}
.itineraries_post .img           {width:210px; margin-right:10px; float:left;}
.itineraries_post .teaser        {width:370px; float:left;}
.itineraries_post p              {margin-bottom:0;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Home Page (Postcards)
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.homepage-intro             {width:460px; display:inline; float:left; margin-left:10px; margin-right:10px;}
    .homepage-intro ul      {margin:0; padding:0;}
    .homepage-intro li      {list-style:none;}
    .homepage-intro li a    {font-size:25px;}

.itravel                    {position:relative; background:#fff; height:150px; margin-bottom:20px; text-align:center;}
    .itravel h1             {margin:10px 0 0 0; padding:0; color:#222; font-family: ProfontsBureau-Regular; font-size:60px; font-weight:normal; text-transform:uppercase;}
    .itravel ul             {margin:0 0 10px 0; padding:0;}
    .itravel li             {list-style:none; display:inline; padding-left:16px; background:url(/static/i/sprites.png) no-repeat;}
    .itravel li:first-child {background:none; padding-left:0;}
    .itravel span.stamp     {position:absolute; right:-25px; top:40px; width:51px; height:44px; background:url(/static/i/postcard_icons.png) no-repeat 0 0;}

    .itravel a,
    .itravel a:visited           {font-family: ProfontsBureau-Regular; text-transform:uppercase; font-size:21px; text-decoration:none; color:#222;}
    .itravel a:hover             {color:#999;}
    .itravel a.active            {color:#999;}

    .itravel.all li              {background-position:-3px -1209px}
    .itravel.all span            {color:#222;}
    .itravel span.stamp.all      {background-position:0 0;}

    .itravel.chill li            {background-position:0 -1610px;}
    .itravel.chill span          {color:#88cce5;}
    .itravel span.stamp.chill    {background-position: 0 -173px;}

    .itravel.culture li          {background-position:0 -1408px;}
    .itravel.culture span        {color:#6277ba;}
    .itravel span.stamp.culture  {background-position: 0 -346px;}

    .itravel.food li             {background-position:0 -1559px;}
    .itravel.food span           {color:#ea9231;}
    .itravel span.stamp.food     {background-position: 0 -518px;}

    .itravel.good li             {background-position:0 -1459px;}
    .itravel.good span           {color:#a16a64;}
    .itravel span.stamp.good     {background-position: 0 -691px;}

    .itravel.kids li             {background-position:0 -1763px;}
    .itravel.kids span           {color:#f0c934;}
    .itravel span.stamp.kids     {background-position: 0 -864px;}

    .itravel.party li            {background-position:0 -1509px;}
    .itravel.party span          {color:#97387a;}
    .itravel span.stamp.party    {background-position: 0 -1037px;}

    .itravel.quirk li            {background-position:0 -1711px;}
    .itravel.quirk span          {color:#eca184;}
    .itravel span.stamp.quirk    {background-position: 0 -1210px;}

    .itravel.romance li          {background-position:0 -1256px;}
    .itravel.romance span        {color:#b53a4b;}
    .itravel span.stamp.romance  {background-position: 0 -1383px;}

    .itravel.scenery li          {background-position:0 -1662px;}
    .itravel.scenery span        {color:#5dc1a7;}
    .itravel span.stamp.scenery  {background-position: 0 -1555px;}

    .itravel.stuff li            {background-position:0 -1357px;}
    .itravel.stuff span          {color:#5b5e6b;}
    .itravel span.stamp.stuff    {background-position: 0 -1728px;}

    .itravel.thrill li           {background-position:0 -1306px;}
    .itravel.thrill span         {color:#b3d75c;}
    .itravel span.stamp.thrill   {background-position: 0 -1901px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Post
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.post_detail article             {background:#fff; border-top:3px solid #000; margin-bottom:20px; position:relative;}
  .post_detail article a:link, 
  .post_detail article a:active,
  .post_detail article a:visited {color: #4E7FCD; border-bottom: dotted #4E7FCD 1px; text-decoration:none;}
  .post_detail article a:hover   {color: #3E557C; border-bottom: solid #3E557C 1px;}

  .post_detail article h1        {font-family: ProfontsBureau-Regular; font-size:28px; color:#333; line-height:32px; margin:30px 0 10px 0;}
  .post_detail article h2        {font:bold italic 14px Georgia, "Times New Roman", Times, serif; margin:0;}
  .post_detail article h2 span   {font-weight:normal; font-style:normal; color:#666;}

  .post_detail article .title a:link,
  .post_detail article .title a:visited     {color:#333; text-decoration: none; border-bottom:1px dotted #333;}
  .post_detail article .title a:hover       {text-decoration:none; border-bottom:1px solid #333;}

  .post_detail article .tools           {margin-top:50px;}
  .post_detail article .tools a:link,
  .post_detail article .tools a:visited {text-decoration:none;}
  .post_detail article .tools .fb       {width:20px; height:20px; margin:0 5px 0 5px; background:url(/static/i/sprites.png) no-repeat 0 -360px; text-indent:-9999px; display:inline-block;}
  .post_detail  article .tools .tw      {width:20px; height:20px; background:url(/static/i/sprites.png) no-repeat 0 -388px; text-indent:-9999px; display:inline-block;}

  .post_detail article footer          {font-size:12px; color:#666;}
  .post_detail article footer a:link,
  .post_detail article footer a:visited{color:#666; font-style:normal; font-weight:normal; text-decoration:none; border-bottom:1px dotted #bbb;}
  .post_detail article footer a:hover  {color:#000; text-decoration:none; border-bottom:1px solid #bbb;}


  .post_detail article ul              {margin:10px 10px 10px 20px;}
  .post_detail article footer strong   {color:#333; text-transform:uppercase; font-size:10px;}

  .post_detail .share                    {padding:65px 0 0 0;}
  .post_detail .share .st_facebook_large {margin-left:10px;}

.author           {background:#fff; border-top:3px solid #000;}
  .author h2      {display:inline; float:left;  margin:10px 0 0 10px; padding:0; font:bold italic 14px Georgia, "Times New Roman", Times, serif; width: 190px;}
  .author p       {font-size:12px; margin:10px 10px 10px 200px; padding:0;}
  p.date          {color:#555; font-size:12px;}
  .author .dash   {margin-top:30px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Post Nav
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.postnav                {background:#fff; margin-bottom:20px;}
  .postnav a:link,
  .postnav a:visited    {width:290px; position:relative; color:#333; text-decoration:none; line-height:16px; font-size:12px;}
  .postnav a:hover      {color:#000;}

  .postnav a.prev em    {float:left; position:absolute; top:4px; left:8px; font-style:normal;}
  .postnav a.next em    {float:right; position:absolute; top:4px; right:8px; font-style:normal;}

  .postnav a.prev span  {margin-left:15px; display:block;}
  .postnav a.next span  {margin-right:15px; display:block;}
  .postnav a.prev       {float:left; text-align:left; padding:5px;}
  .postnav a.next       {float:right; text-align:right; padding:5px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Post Sections
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.section             {position:absolute; right:40px; height:40px; width:40px; background:url(/static/i/sprites.png) no-repeat 0 0;}
    .section.romance {background-position:0 -450px;}
    .section.thrill  {background-position:0 -500px;}
    .section.stuff   {background-position:0 -550px;}
    .section.culture {background-position:0 -600px;}
    .section.good    {background-position:0 -650px;}
    .section.fun     {background-position:0 -700px;}
    .section.food    {background-position:0 -753px;}
    .section.chill   {background-position:0 -805px;}
    .section.scenery {background-position:0 -855px;}
    .section.quirk   {background-position:0 -905px;}
    .section.kids    {background-position:0 -955px;}
    .section.guides  {background-position:0 -80px;}


/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Post List
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

    article.large .feature     {width:600px; height:400px; display:block; position:relative; overflow:hidden; z-index:1;}
    article.large .section     {position:absolute; opacity:.9; z-index:9999;}
    article.large .teaser      {font-family: ProfontsBureau-Regular; position:absolute; display:block; background:url(/static/i/featured_bg.png) 0 0; width:600px; height:160px; left:0; bottom:-110px;}
    article.large a:link,
    article.large a:visited    {color:#fff; text-decoration:none;}
    article.large span.title   {font-family: ProfontsBureau-Regular; text-transform:uppercase; font-size:32px; line-height:35px; display:block; margin:10px 10px 2px 10px;}
    article.large span.snippet {font:normal 23px Georgia, "Times New Roman", Times, serif; display:block; margin:0 10px; line-height:25px;}

    /* IE support */
    div.large .feature     {width:600px; height:400px; display:block; position:relative; overflow:hidden; z-index:1;}
    div.large .section     {position:absolute; opacity:.9; z-index:9999;}
    div.large .teaser      {font-family: ProfontsBureau-Regular; position:absolute; display:block; background:url(/static/i/featured_bg.png) 0 0; width:600px; height:120px; left:0; bottom:-78px;}
    div.large a:link,
    div.large a:visited    {color:#fff; text-decoration:none;}
    div.large span.title   {font-family: ProfontsBureau-Regular; text-transform:uppercase; font-size:27px; line-height:32px; display:block; margin:5px 10px 2px 10px;}
    div.large span.snippet {font:normal 19px Georgia, "Times New Roman", Times, serif; display:block; margin:0 10px; line-height:25px;}

    .post_list article.medium .section       {position:absolute; opacity:.9;}
    .post_list article.medium h1             {font-family: ProfontsBureau-Regular; font-size:23px; line-height:25px; margin-bottom:10px;}
    .post_list article.medium h1 a:link,
    .post_list article.medium h1 a:visited   {text-decoration:none; color:#333;}
    .post_list article.medium .img           {width:340px; margin-left:10px; float:left;}
    .post_list article.medium .teaser        {width:240px; margin-right:10px; float:left;}
    .post_list article.medium p              {margin-bottom:0;}

    .posts_row                 {background:#fff; border-top:3px solid #333;   margin-bottom:20px;}
    

    .posts_row_two h1           {font-size:21px; line-height:21px; margin:0 0 5px 0;}
    .posts_row_two h1 a:link,
    .posts_row_two h1 a:visited {text-decoration:none; color:#333;}
    .posts_row_two .teaser      {margin-top:10px;}
    .posts_row_two p            {margin-bottom:0;}
    
    article.small              {float:left; width:193px; margin-right:10px; position:relative;}
    article.small.last         {margin-right:0;}
    article.small .section     {position:absolute; opacity:.9; top:-10px; right:20px;}
    article.small h1           {font-size:21px; line-height:21px; margin:0 0 5px 0;}
    article.small h1 a:link,
    article.small h1 a:visited {text-decoration:none; color:#333;}
    article.small .teaser      {margin-top:10px;}
    article.small p            {margin-bottom:0;}


/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Local Color
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.local_color                {color:#666;}
.local_color h3             {font-family:ProfontsBureau-Regular; text-transform:uppercase; font-size:21px; color:#333; margin:0 0 10px 0;}
.local_color a,
.local_color a:visited      {font-size:15px; font-style:italic; color:#666;}
.local_color span           {font-size:21px; text-transform:uppercase; font-family: ProfontsBureau-Regular,Georgia, "Times New Roman", Times, serif;}


.local_color span.all            {color:#9f2e5c;}
.local_color span.hotels         {color:#88cce5;}
.local_color span.restaurants    {color:#ea9231;}
.local_color span.shops          {color:#5b5e6b;}
.local_color span.sites          {color:#5dc1a7;}
.local_color span.nightlife      {color:#97387a;}
.local_color span.services       {color:#7e9970;}
.local_color span.itineraries    {color:#9f2e5c;}
.local_color span.neighborhoods  {color:#a16a64;}
.local_color span.cheatsheet     {color:#5A5E6B;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Post Search
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.filter-search-query            {background:#fff; border-top:3px solid #333; margin-bottom:20px;}
  .filter-search-query h2       {margin:0; padding:0;}
  .filter-search-query h2 span  {color:#fff; background:#9ED6E8; padding:2px 5px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Post Images
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */
.post_detail .photo_caption           {height:29px; line-height:29px; padding:0 10px; background:#000; color:#fff; font-size:12px; margin-bottom:20px;}
.post_detail .photo_caption a:link,
.post_detail .photo_caption a:visited {color:#fff; text-decoration:underline;}
.post_detail .photo_caption a:hover   {text-decoration:none;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Comments
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.comments                           {background:#fff; margin:20px 0;}
  .comments .dsq-community-preview  {height:25px;}
  .comments a:link,
  .comments a:visited               {color:#000; font-size:12px;}
  .comments h3                      {text-indent:-99999px; margin:0; padding:0;}
  .comments .dsq-brlink             {display:none;}
  .comments  #dsq-content h3        {margin:0; padding:0;}
  .comments #dsq-pagination         {margin-left:45px;}
  .comments #dsq-sort-select        {border:1px solid #ccc; padding:3px;font:12px Georgia, "Times New Roman", Times, serif;}
  .comments #dsq-subscribe          {display:none;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Sidebar
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.ms h3      {font-family: ProfontsBureau-Regular; margin-bottom:10px;}
.ms p       {font-size:11px; margin:5px 0;}
.ms a.more  {float:right; margin-top:10px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Tell Us Your Story
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.yourstory .content                     {background:#fff; border-top:3px solid #000;}
  form.yourstoryform div                {margin-top:10px;}
  form.yourstoryform label              {width:110px; float:left; text-align:right; margin-right:20px; padding:5px 0;}
  form.yourstoryform input[type="text"] {border:0; background:#e7e7e7; padding:8px; font:13px Georgia, "Times New Roman", Times, serif; width:250px; color:#333;}
  form.yourstoryform textarea           {border:0; background:#e7e7e7; padding:8px; font:13px Georgia, "Times New Roman", Times, serif; width:450px; color:#333; line-height:18px;}

  form.yourstoryform input[type="checkbox"] {float:left; margin:2px 0 0 0;}

  form.yourstoryform div.consent            {float:left; clear:both; margin:10px 0 40px 130px;}
  form.yourstoryform div.consent label      {text-align:left; float:left; margin:0 0 0 20px; width:430px; padding:0; font-size:11px; color:#666;}
  form.yourstoryform select                 {padding:3px;}

  form.yourstoryform input[type="text"]:focus,

  form.yourstoryform textarea:focus         {background:#3B3939; color:#eee;}

  form.yourstoryform input[type="submit"]   {cursor:pointer; float:left; clear:both; margin:0 0 30px 120px; background:#fff; border:0; font-style:italic; font-weight:bold; text-decoration:underline;}

  form.yourstoryform ul.errorlist       {margin:0 0 0 130px; padding:0;}
  form.yourstoryform ul.errorlist li    {margin:0; padding:0; color:#C63B3B; list-style:none; font-size:11px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Subscribe
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.subscribe input[type="text"]       {font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; border:none; padding:5px; width:200px; color:#000; background:#E7E7E7;}
  .subscribe input[type="submit"]   {cursor:pointer; background:#fff; border:0; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif; font-size:12px;text-decoration:underline; font-style:italic;}
  .subscribe form                   {margin-top:10px;}

  input.mce_inline_error            {border:1px solid #000; margin:0; padding:0;}
   div.mce_inline_error,
   div.response                     {width: 255px !important; font-size: 12px!important; -moz-border-radius: 2px; border-radius: 2px; -webkit-border-radius: 2px; padding: 2px 6px !important; margin: 5px 0 0 0 !important;background: #E51515; color: #fff; padding: 1em 0.5em 0.5em 0.5em; font-weight: bold; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;}
  #mce-success-response             {background:#FFFCC9; color: #333; font-size: 11px!important; padding:5px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Follow
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */
.follow h3              {font-family: ProfontsBureau-Regular; font-size:28px; margin:5px 10px; padding:0; text-transform:uppercase; color:#5F717F;}
.follow ul              {margin:20px; padding:0;}
.follow li              {list-style:none; display:inline; float:left; margin-right:20px; text-align:center;}
.follow span            {display:block; height:45px; width:45px;}

.follow li:last-child   {margin:0;}
.follow li.last         {margin:0;}

.follow li a:link,
.follow li a:visited    {display:block; color:#697987; font-size:12px; font-style:italic;}

.follow a.twitter  span{background:url(/static/i/sprites.png) no-repeat 4px -1880px;}
.follow a.facebook span{background:url(/static/i/sprites.png) no-repeat 6px -1946px;}
.follow a.email    span{background:url(/static/i/sprites.png) no-repeat 4px -2013px;}
.follow a.rss      span{background:url(/static/i/sprites.png) no-repeat 2px -2080px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Flatpages
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

.travel-tools .content h1,
.team .content h1,
.about .content h1,
.fathom .content h1 {margin:20px 0 20px 0;}

.travel-tools .content h2,
.team .content h2,
.about .content h2,
.fathom .content h2 {margin:0 0 5px 0;}

.travel-tools .section   {float:right; margin:0 40px 20px 0; width:40px; height:40px; background:url(/static/i/sprites.png) no-repeat 0 -160px;}
.team .section           {float:right; margin:0 40px 20px 0; width:40px; height:40px; background:url(/static/i/sprites.png) no-repeat 0 -240px;}
.about .section          {float:right; margin:0 40px 20px 0; width:40px; height:40px; background:url(/static/i/sprites.png) no-repeat 0 -240px;}
.fathom .section         {float:right; margin:0 40px 20px 0; width:40px; height:40px; background:url(/static/i/sprites.png) no-repeat 0 -240px;}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- //
// Footer
// -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=- */

 .footer                 {float:left; margin-top:20px; margin-bottom:40px; background:#fff; height:35px; font: bold 11px/20px Georgia, "Times New Roman", Times, serif; color:#222;}
    .footer ul           {position:relative; margin:0; padding:0 0 0 10px;}
    .footer li           {display:inline; float:left; list-style:none; margin-right:5px;}
    .footer li a,
    .footer li a:visited    {color:#222; text-decoration:none;}
    .footer li a:hover      {color:#555;}
    .footer li.social       {position:absolute; right:0;}
    .footer a.fb            {width:20px; height:20px; margin:0 8px 0 8px; background:url(/static/i/sprites.png) no-repeat 0 -360px; text-indent:-9999px; display:inline-block;}
    .footer a.tw            {width:20px; height:20px; background:url(/static/i/sprites.png) no-repeat 0 -388px; text-indent:-9999px; display:inline-block;}
    .footer .star           {display:inline-block; width:15px; height:15px; background:url(/static/i/sprites.png) no-repeat 2px -314px;}
