<section role="subheader" class="admin">
  <div class="container row">
    <div class="left">
      <div class="item">
        {{ group.name }} Administration
      </div>
    </div>
  </div>
</section>
<div class="admin_tabs container row content">
    <div class="col s12 padded">
        <div class="tab right-align"><a  class="s2" href="/group/{{ group.short_name }}/" class="view_stream">View your stream of reactions &raquo;</a></div>
        <ul class="tabs">
          <li class="tab {% if activeAdminTab == 'settings' %}active{%endif%}"><a href="/group/{{ group.short_name }}/settings/">Settings</a></li>
          <li class="tab {% if activeAdminTab == 'analytics' %}active{%endif%}"><a href="/group/{{ group.short_name }}/analytics/">Analytics</a></li>
          <li class="tab {% if activeAdminTab == 'manage_reactions' %}active{%endif%}"><a href="/group/{{ group.short_name }}/all_reactions/">Manage Reactions</a></li>
          <li class="tab {% if activeAdminTab == 'admin_requests' %}active{%endif%}"><a href="/group/{{ group.short_name }}/admin_approve/">Admin Requests</a></li>
        </ul>
    </div>
</div>