<div class="container row subheader">
  <div class="col s6">
    {{ group.name }} Administration
  </div>
  <div class="col s6 right-align">
    <a href="/manage/">Back to Group Management</a>
    <a href="/group/{{ group.short_name }}/" class="view_stream">View your stream of reactions</a>
  </div>
</div>
<div class="admin_tabs container row content">
    <div class="col s12 padded">
        <ul class="tabs">
          <li class="tab {% if activeAdminTab == 'settings' %}active{%endif%}"><a href="/group/{{ group.short_name }}/settings/">Settings</a></li>
          <li class="tab {% if activeAdminTab == 'analytics' %}active{%endif%}"><a href="/group/{{ group.short_name }}/analytics/">Analytics</a></li>
          <li class="tab {% if activeAdminTab == 'manage_reactions' %}active{%endif%}"><a href="/group/{{ group.short_name }}/all_reactions/">Manage Reactions</a></li>
          <li class="tab {% if activeAdminTab == 'admin_requests' %}active{%endif%}"><a href="/group/{{ group.short_name }}/admin_approve/">Admin Requests</a></li>
        </ul>
    </div>
</div>