<div class="antenna-page antenna-blocked-page" decorator="cssreset">
    <div class="antenna-body">
        <div on-tap="back" class="antenna-blocked-back">{{>left}}{{getMessage('blocked-page_back')}}</div>
        <div class="antenna-blocked-body">
            <div class="antenna-blocked-message">
                This site has blocked some or all of the text in that reaction.
            </div>
            <div class="antenna-blocked-message">
                Please try something that will be more appropriate for this community.
            </div>
        </div>
    </div>
</div>