<div class="antenna-page antenna-comments-page" decorator="cssreset">
    <div class="antenna-body">
        <div on-tap="back" class="antenna-comments-back">{{>left}}{{getMessage('reactions_widget__back')}}</div>
        <div class="antenna-comments-header">{{getMessage('comments_page__header', [ comments.length ])}}</div>
        {{#comments:index}}
            <div class="antenna-comment-entry {{#if this.new}}antenna-comment-new{{/if}}">
                <table>
                    <tr>
                        <td class="antenna-comment-cell">
                            <img src="{{this.user.imageURL}}"/>
                        </td>
                        <td class="antenna-comment-author">
                            {{this.user.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td class="antenna-comment-text">
                            {{this.text}}
                        </td>
                    </tr>
                </table>
            </div>
        {{/comments:index}}
        {{>commentArea}}
    </div>
</div>