
<div class="antenna-comment-area">
    <div class="antenna-comment-widgets">
        <textarea on-input="inputchanged" class="antenna-comment-input" placeholder="Add comments or #hashtags" maxlength="500"></textarea>
        <div class="antenna-comment-footer">
            <span class="antenna-comment-limit"><span class="antenna-comment-count">500</span> characters left</span>
            <button class="antenna-comment-submit" on-click="addcomment">Comment</button>
        </div>
    </div>
    <div class="antenna-comment-received">
        Thanks for your comment.
    </div>
</div>