
<div class="antenna-comment-area">
    <div class="antenna-comment-widgets">
        <textarea on-input="inputchanged" class="antenna-comment-input" placeholder="{{getMessage('comment-area_placeholder')}}" maxlength="500"></textarea>
        <div class="antenna-comment-footer">
            <span class="antenna-comment-limit">{{{getMessage('comment-area_count')}}}</span>
            <button class="antenna-comment-submit" on-tap="addcomment">{{getMessage('comment-area_add')}}</button>
        </div>
    </div>
    <div class="antenna-comment-waiting">
        ...
    </div>
    <div class="antenna-comment-received">
        {{getMessage('comment-area_thanks')}}
    </div>
</div>