
<div class="antenna-page antenna-confirmation-page">
    <div class="antenna-body">
        <div class="antenna-comment-reaction">{{text}}</div>
        <div class="antenna-comment-area">
            <textarea placeholder="Add comments or #hashtags" maxlength="500"></textarea>
            <div class="antenna-comment-footer">
                <span class="antenna-comment-limit">500 characters left</span>
                <button on-click="addcomment">Comment</button>
            </div>
        </div>
    </div>
    <div class="antenna-footer antenna-confirm-footer">
        <span on-click="share" class="antenna-share">Share your reaction: <span class="ant-social-facebook"></span><span class="ant-social-twitter"></span></span>
    </div>
</div>