<div class="antenna-page antenna-confirmation-page" decorator="cssreset">
    <div class="antenna-body">
        <div class="antenna-confirm-reaction">{{text}}</div>
        {{>commentArea}}
    </div>
    <div class="antenna-footer antenna-confirm-footer">
        <span class="antenna-share">{{getMessage('confirmation_page__share')}}
            <a on-tap="share-facebook" href="//facebook.com">{{>facebookIcon}}</a>
            <a on-tap="share-twitter" href="//twitter.com">{{>twitterIcon}}</a>
        </span>
    </div>
</div>