<div on-keydown="pagekeydown" class="antenna-page antenna-defaults-page" tabindex="0">
    <div class="antenna-body">
        {{#defaultReactions:index}}
            <div on-click="newreaction" class="antenna-reaction {{defaultLayoutClass(index)}}" style="background-color:{{ defaultBackgroundColor(index) }}">
                <div class="antenna-reaction-box">
                    <div class="antenna-reaction-text" decorator="sizetofit">
                        {{ this.text }}
                    </div>
                </div>
            </div>
        {{/defaultReactions:index}}
    </div>
    <div class="antenna-footer antenna-defaults-footer">
        <input on-focus="customfocus" on-keydown="inputkeydown" on-blur="customblur" value="+ Add Your Own" maxlength="25">
        <button on-click="addcustom">ok</button>
    </div>
</div>