<div class="antenna-page antenna-locations-page">
    <div class="antenna-body">
        <div on-click="closewindow" class="antenna-locations-close">Close X</div>
        <table>
            {{#if pageReactionCount}}
                <tr class="antenna-locations-content-row">
                    <td class="antenna-locations-count-cell">
                        {{{contentCountLabel(pageReactionCount)}}}
                    </td>
                    <td class="antenna-locations-page-body">
                        To this whole page.
                    </td>
                </tr>
            {{/if}}
            {{#locationData:id}}
                {{#if this.kind !== 'pag'}} <!-- page reactions are handled above -->
                    <tr on-click="reveal" class="antenna-locations-content-row">
                        <td class="antenna-locations-count-cell">
                            {{{contentCountLabel(this.count)}}}
                        </td>
                        {{#if this.kind === 'txt'}}
                            <td class="antenna-locations-text-body">{{this.body}}</td>
                        {{elseif this.kind === 'img'}}
                            <td class="antenna-locations-image-body"><img src="{{this.body}}"></td>
                        {{else}}
                            <td class="antenna-locations-body-cell">TODO: {{this.kind}}</td>
                        {{/if}}
                    </tr>
                {{/if}}
            {{/locationData:id}}
        </table>
    </div>
</div>