

<span decorator="cssreset" class="antenna antenna-media-indicator-wrapper">
    <span {{extraAttributes}} class="antenna antenna-media-indicator-widget
            {{^containerData.loaded}}antenna-notloaded{{/containerData.loaded}}
            {{#if supportsTouch}}antenna-touch{{/if}}">
        {{>logo}}
        {{#if containerData.reactionTotal }}
            <span class="antenna-reaction-total">
                {{containerData.reactionTotal}}
            </span>
        {{else}}
            <span class="antenna-reaction-prompt">
                {{getMessage('media_indicator__think')}}
            </span>
        {{/if}}
    </span>
</span>