

<span class="antenna antenna-media-indicator-wrapper">
    <span decorator="cssreset" class="antenna antenna-media-indicator-widget
            {{^containerData.loaded}}notloaded{{/containerData.loaded}}
            {{#if containerData.reactionTotal > 0}}hasreactions{{/if}}"
            {{extraAttributes}}>
        {{>logo}}
        {{#if containerData.reactionTotal }}
            <span class="antenna-reaction-total">
                {{containerData.reactionTotal}}
            </span>
        {{else}}
            <span class="antenna-reaction-prompt">
                What do you think?
            </span>
        {{/if}}
    </span>
</span>