<div class="antenna-page antenna-reactions-page" decorator="cssreset">
    <div class="antenna-body">
        {{#if reactions}}
            {{#reactions:index}}
                <div on-tap="react" on-mouseenter="highlight" on-mouseleave="clearhighlights" class="antenna-reaction {{reactionsLayoutClass(index)}}">
                    <div class="antenna-reaction-box">
                        <div class="antenna-reaction-text {{^this.count}}antenna-reaction-zero{{/this.count}}" decorator="sizetofit">
                            {{ this.text }}
                        </div>
                        <div class="antenna-reaction-count">
                            {{ this.count }}
                        </div>
                        <div class="antenna-plusone">
                            +1
                        </div>
                        {{#if isSummary && this.count}}
                            <div on-tap="showlocations" class="antenna-reaction-location">
                                {{>locationIcon}}
                            </div>
                        {{else}}
                            {{#if this.commentCount}}
                                <div on-tap="showcomments" class="antenna-reaction-comments hascomments">
                                    {{>commentsIcon}}
                                    {{this.commentCount}}
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            {{/reactions:index}}
        {{/if}}
    </div>
    <div class="antenna-footer antenna-reactions-footer">
        <div class="antenna-custom-area">
            <input on-focus="customfocus" on-keydown="inputkeydown" on-blur="customblur" value="{{getMessage('reactions_page__add')}}" maxlength="25">
            <button on-tap="newcustom">{{getMessage('reactions_page__ok')}}</button>
        </div>
        <div class="antenna-text-logo"><a href="//www.antenna.is">Antenna</a></div>
    </div>
</div>