<div class="antenna-page antenna-reactions-page" decorator="cssreset">
    <div class="antenna-body">
        {{#if reactions}}
            {{#reactions:index}}
                <div on-tap="plusone" on-mouseenter="highlight" on-mouseleave="clearhighlights" class="antenna-reaction {{reactionsLayoutClass(index, this.count)}}"> <!-- Passing in this.count makes sure ractive reevaluates the function each time the data changes -->
                    <div class="antenna-reaction-box">
                        <div class="antenna-reaction-text" decorator="sizetofit">
                            {{ this.text }}
                        </div>
                        <div class="antenna-reaction-count">
                            {{ this.count }}
                        </div>
                        <div class="antenna-plusone">
                            +1
                        </div>
                        {{#if isSummary}}
                            <div on-tap="showlocations" class="antenna-reaction-location">
                                {{>locationIcon}}
                            </div>
                        {{else}}
                            {{#if this.commentCount}}
                                <div on-tap="showcomments" class="antenna-reaction-comments hascomments">
                                    {{>commentsIcon}}
                                    {{this.commentCount}}
                                </div>
                            {{else}}
                                <div class="antenna-reaction-comments">
                                    {{>commentsIcon}}
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            {{/reactions:index}}
        {{/if}}
    </div>
    <div class="antenna-footer antenna-reactions-footer">
        {{#if reactions}}
            <div on-tap="showdefault" class="antenna-think">{{getMessage('reactions-page_think')}}</div>
        {{else}}
            <div class="antenna-no-reactions">{{getMessage('reactions-page_no_reactions')}}</div>
        {{/if}}
        <div class="antenna-text-logo"><a href="//www.antenna.is">Antenna</a></div>
    </div>
</div>