

<div class="antenna antenna-reactions-widget">
    <div class="antenna-header">

    </div>
    <div class="antenna-body">
        {{ #each reactions:index }}
            <div on-click="plusone" class="antenna-reaction {{ layoutClass(index, this.count) }}"> <!-- Passing in this.count makes sure ractive reevaluates the function each time the data changes -->
                <div class="antenna-reaction-text">
                    {{ this.text }}
                </div>
                <div class="antenna-reaction-count">
                    {{ this.count }}
                </div>
            </div>
        {{ /each }}
    </div>
    <div class="antenna-footer">

    </div>
</div>