

<div class="antenna antenna-reactions-widget" tabindex="0">
    <div class="antenna-header">
        <span class="ant-antenna-logo"></span>
        Reactions
    </div>
    <div class="antenna-body">
        <div class="antenna-reactions-page">
            {{ #reactions:index }}
                <div on-click="plusone" class="antenna-reaction {{ layoutClass(index, this.count) }}" style="background-color:{{ backgroundColor(index) }}"> <!-- Passing in this.count makes sure ractive reevaluates the function each time the data changes -->
                    <div class="antenna-reaction-box">
                        <div class="antenna-reaction-text" decorator="sizetofit">
                            {{ this.text }}
                        </div>
                        <div class="antenna-reaction-count">
                            {{ this.count }}
                        </div>
                    </div>
                </div>
            {{ /reactions }}
        </div>
        <div class="antenna-confirm-page">
            {{ #if response.existing }}
                Looks like you still feel the same way.
            {{ else }}
                New reaction received.
            {{ /if }}
        </div>
    </div>
    <div class="antenna-footer">
        What do you think?
    </div>
</div>