<div class="antenna antenna-summary-widget {{^pageData.summaryLoaded}}antenna-notloaded{{/pageData.summaryLoaded}}" decorator="cssreset">
    <div class="antenna-summary-inner">
        {{>logo}}<!--
        --><span class="antenna-summary-title">
            {{#if pageData.summaryTotal === 0}}
                {{getMessage('summary-widget_reactions')}}
            {{elseif pageData.summaryTotal === 1}}
                {{getMessage('summary-widget_reactions_one')}}
            {{else}}
                {{getMessage('summary-widget_reactions_many', [ pageData.summaryTotal ])}}
            {{/if}}
        </span><!--
        -->{{# computeExpandedReactions(pageData.summaryReactions) }}
            <span class="antenna-expanded-reaction {{#if @index === 0}}antenna-expanded-first{{/if}}">
                <span class="antenna-expanded-text">{{this.text}}</span><span class="antenna-expanded-count">{{this.count}}</span>
            </span>
        {{/}}
    </div>
</div>
