<div decorator="cssreset" class="antenna
            antenna-summary-widget no-ant  
            {{^pageData.summaryLoaded}}antenna-notloaded{{/pageData.summaryLoaded}} antenna-reset
            {{#if isExpandedSummary}}antenna-expanded-summary{{/if}}"> <!--The 'antenna-reset' class is explicitly required here because of the dynamic class that's updated by Ractive in response to pageData.summaryLoaded changing. The class from the decorator gets blown away when that happens. -->
    <div class="antenna-summary-inner">
        {{>logo}}<!--
        --><span class="antenna-summary-title">
            {{#if pageData.summaryTotal === 0}}
                {{getMessage('summary_widget__reactions')}}
            {{elseif pageData.summaryTotal === 1}}
                {{getMessage('summary_widget__reactions_one')}}
            {{else}}
                {{getMessage('summary_widget__reactions_many', [ pageData.summaryTotal ])}}
            {{/if}}
        </span><!--
        -->{{#if isExpandedSummary}}<!--
                -->{{# computeExpandedReactions(pageData.summaryReactions) }}
                    <span decorator="cssreset" class="antenna-expanded-reaction {{#if @index === 0}}antenna-expanded-first{{/if}}">
                        <span class="antenna-expanded-text">{{this.text}}</span><span class="antenna-expanded-count">{{this.count}}</span>
                    </span>
                {{/}}
            {{/if}}
    </div>
</div>
