body    { color: #666666; font-family: Arial; font-size: 12px; padding: 5px 0 0 0; margin:0 8px; border-top:1px solid #ccc; }
img     { border:0; }
ul      { padding:0;margin:0; list-style-type:none;}
#content li      { padding:15px 0 15px 16px;margin:0;background:url(/static/images/checkmark.png) center left no-repeat; }
#content img {float:left; padding:0 5px 0 0;}
#nav li { float:left; padding-left:15px; padding-bottom:20px;}
#nav { overflow:auto; border-bottom:1px solid #000;}
#show li { float:left; }
#footer { text-align:center; padding-top:20px;}
#fb-login-button    {margin:10px 0;}
.pagination { text-align:center; padding-top:20px;}
.context { padding-top:5px;}