body    		{ color: #666666; font-family: Arial; font-size: 12px; padding: 5px 0 0 0; margin:0 8px; border-top:1px solid #ccc; }
img     		{ border:0; }
ul      		{ padding:0;margin:0; list-style-type:none; }

h1				{ color: #000; margin:5px; font-size:18px;}
h2				{ font-size:16px; margin:6px;}
h3				{ margin:5px;}
a   			{ text-decoration: none; color:#666666; font-weight:normal;}


#wrap			{ margin:0 auto; padding:10px; width:960px;}

#header			{ overflow: auto; width: 100%; padding:0px; border-bottom:2px solid;}

#readrboard		{ float:left; padding-right:15px; }
#page			{ float:left; }

#nav ul 		{ list-style:none;}
#nav li 		{ display:inline; padding-left: 5px; }
#nav li#user 	{ display:inline; padding-left: 0px; padding-right:10px;}
#nav 			{ float:right; text-align:right; width:300px; padding:10px 15px 0 0;}

#main 			{ clear:both; }

#search			{ float:left; width:300px; padding-top:0px;}
input[type=text]{ width:200px;}
fieldset		{ border:none;}

#banner			{ float:left; width:300px; padding-left:5px;}

#sidebarLeft	{ float:left; padding:15px 10px 0 10px; width:110px;}
#sidebarLeft li { padding: 10px; }

#content		{ float:left; width:650px; padding:15px 30px 0 0;}
#content li 	{ padding:10px 0 10px 20px; margin:0; background:url(/static/images/checkmark.png) center left no-repeat; }
#content img 	{ float:left; padding: 0 10px 0 0; }

#adspace		{ float:right; width:130px; padding-top: 20px;}

#footer 		{ text-align:center; padding-top: 35px; clear:both; }

#fb-login-button{ margin: 10px 0; }

.pagination 	{ text-align:center; padding-top: 20px; }
.context 		{ padding-top: 5px; }