.bpage-blcok .social-tab .facebook a{
		padding: 15px 15px 17px 60px;
	}
    .main-video{
        display: none;
    }
    .bpage .main-video{
        display: block;
    }
	footer .left-secton:last-child{
		display: none;
	}
	.mobile-last-entry{
		display: block;
	}
	.bpage-blcok{
		border:0;
	}
	.content-holder{
		padding-top: 0;
	}
	.bpage-blcok .social-tab .facebook a {
		background: url("../img/social-sprite-mobile.png") no-repeat scroll 0 0  transparent;
		padding: 5px 10px 9px 45px;
		min-height: 18px;
	}
	.bpage-blcok .social-tab .twitter a{
		padding: 5px 10px 9px 45px;
		 background: url("../img/social-sprite-mobile.png") no-repeat scroll 0 -35px transparent;
		 min-height: 18px;
	}
	.bpage-blcok .social-tab .mail a{
		padding: 14px 0 0 31px;
		background: url("../img/social-sprite-mobile.png") no-repeat scroll 0 -69px transparent;
		min-height: 18px;
	}
	.bpage-blcok .social-tab .pinit a{
	padding: 18px 15px 22px 57px !important;
	background: url(../img/prt-mobile.png) no-repeat 0 0 !important;
	height: auto !important;
	width: auto !important;
	display: block !important;
	background-size: auto !important;
}
	.bpage-blcok .social-tab .text{
		margin: 5px 0 0;
	}
	.bpage-news p{
		font-size: 14px;
	}
	.main-video .video-info h1{
		font-size: 17px;
		line-height: 32px;
	}
	.bpage .main-video .video-info h1{
		font-size: 22px;
		line-height: 24px;
	}
	.bpage-news h2{
		font-size: 20px;
		line-height: 25px;
	}
	.wrap{
		max-width: 1053px;
		width: auto;
	}
	nav, .social-networks, .badges, #sidebar, .another-video, .time, .plugin-holder, .section-video{
		display:none;
	}
	nav.active{
		display: block;
	}
	nav ul {
    background:#666;
    overflow: hidden;
    padding: 1px;
    position: absolute;
    right: 9px;
    top: 64px;
    width: 200px;
	}
	nav ul li{
		float: none;
		margin: 10px;
		display: block;
	}
	#nav li{
		display: block;
	}
	#header nav{
		border: 0;
	}
	nav ul li a{
		display: block;
		border-bottom:1px solid #fff;
		font-size: 20px;
		color: #fff;
		text-align: left;
	}
	nav ul .last a{
		border-bottom:0;
		margin-bottom: 4px;
	}
	#nav{
		width: 200px;
	}
	.holder{
		border-bottom: 3px solid #666;
	}
	.block h1 a{
		background: none;
		padding-left:0;
		line-height: 22px;
	}

	.block h1{
		font-size: 17px;
	}
	.block{
		width: auto;
		margin: 10px 0 30px 0;
	}
	.ico-drop{
		display: block;
		float: right;
    	margin: 4px 9px 0 0;
    	cursor: pointer;
	}
	#main{
		margin: 0 10px;
	}
	.top-stories{
		display: block;
		font-size:18px;
		margin: 8px 1px 10px;
		text-transform: uppercase;
		letter-spacing: -1px;
		font-family:roboto;
		font-weight: normal;
	}
	footer .left-secton{
		margin-left: 15px;
	}
	.latest-videos-block {
		display: block;
		margin-top: 10px;
	}
	.latest-videos-block .hd{
		background: #7CCBE8;
		padding: 10px;
		position: relative;
	}
	.latest-videos-block h3{
		color: #003366;
		font-size: 28px;
		font-family:roboto-boldcond;
		font-weight:normal;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.latest-videos-block h4{
		color:#333;
		font-weight: normal;
		font-size: 24px;
		font-family:roboto;
		margin-top: 7px;
	}
	.latest-videos-block .close{
		position: absolute;
		top: 0;
		right: 0;
		background: url(../img/close.png) no-repeat;
		width: 22px;
		height: 22px;
		text-indent: 9999px;
		margin: 35px 10px 0 0;
	}
	.latest-videos-block .alert-block{
		border-style: solid;
		border-color: #bbb;
		border-width: 0 1px 1px 1px;
		background: #fff;
		padding: 10px 10px;
	}
	.latest-videos-block .alert-block input[type="text"]{
		background: #eee;
		border:1px solid #C6C6C6;
		border-radius: 4px;
		padding: 10px;
		color: #C6C6C6;
		width: 96%;
	}
	.latest-videos-block .alert-block p{
		color:#333;
		font-size: 18px;
	}
	.latest-videos-block .alert-block input[type="button"]{
		font-family:roboto-boldcond;
		font-weight:normal;
		text-align: center;
		width: 280px;
		margin: 0 auto;
		border-radius: 13px;
		color: #fff;
		background: #EC1C23;
		border:1px solid #EC1C23;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 30px;
		padding: 10px 0;
		display: block;
	}
	.video img{
		width: 100%;
		height: auto;
	}
	.block .info .plugin{
		margin-right: 10px;
	}