.rdr_highlight {
    background-color: #E71C1C !important; /*deep cherry red, but will be faded out*/
    -moz-border-radius: 4px; /* FF1+ */
    -webkit-border-radius: 4px; /* Saf3-4 */
    border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Saf3.0+, Chrome */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Opera 10.5+, IE 9.0 */
}

.rdr_highlight {
/*    padding:1px 4px !important;*/
    padding:0 !important;
/*    margin:0 -4px !important;*/
    margin:0 !important;
    color:transparent !important;
    opacity: 0.3 !important;
}