{% extends "popup_form.html" %}

{% block page_content %}

  <h1>Log In</h1>
  {% csrf_token %}
    <div class="row" id="direct_registration">
        <div class="col s12">
            <div id="errorMsgWrap"></div>
        <!-- <div id="" class="formBody clearfix"> -->
      		<div class='formBodySection grid-whole'>
      			<div class="grid-half"><label>User Name</label></div>
                <div class="grid-half">
                    <input type="text" name="username" tabindex="1" />
                </div>
            </div>
            <div class='formBodySection grid-whole'>
                <div class="grid-half"><label>Password</label></div>
                <div class="grid-half">
                    <input type="password" name="password" tabindex="2" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn" onclick="direct_registration();" tabindex="3" id="submit_login">Log In</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="alternateAction" href="javascript:void(0);" onclick="createNewAccount();" style="font-size:11px;font-style:italic;">Create New Account &raquo;</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="alternateAction" href="javascript:void(0);" onclick="forgotPassword();" style="font-size:11px;font-style:italic;">Forgot Password? &raquo;</a>
      </div>
    </div>
    
	<script type="text/javascript">

		ANTAuth.events.track('show_login_form');
        ANTAuth.events.trackEventToCloud({
            category: 'login',
            action: 'show_form',
            opt_label: 'auth: ant'
        });

		$('input[name="username"]').focus();
		$('#groupname').text( decodeURI(qs_args.group_name) );

		$('#direct_registration input').keyup( function(event) {
            if (event.keyCode == '13') { //enter.  
            	$('#submit_login').click();
            }
        });
		
		window.opener.ANTAuth.checkAntLoginWindow();

		function direct_registration() {
			var sendData = "username="+$('#direct_registration').find('input[name="username"]').val()+
						   "&password="+$('#direct_registration').find('input[name="password"]').val();

			$.ajax({
				beforeSend: function( xhr ) {
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken') );
				},
				url: "/api/ant/",
				type: "post",
				contentType: "application/x-www-form-urlencoded",
				dataType: "json",
				data: sendData,
				success: function(response) {
					if ( response.data ) {
						if ( response.data.status == "fail" ) {
							$('#errorMsgWrap').html('<div class="error">'+response.data.message+'</div>')
                                .hide()
                                .fadeIn();
						} else {
							ANTAuth.setUser(response);
                            
                            window.location.href=ANT_baseUrl+'/ant_login_success/';
						}
					}
				}
			});
		}

        function createNewAccount(){
            var w = 535;
            /*made higher to account for 'required fields' message*/
            var h = 350;
            var l = (window.screen.width/2)-(w/2);
            var t = (window.screen.height/2)-(h/2);

            var properties = 'menubar=1,scrollbars=yes,resizable=1,width='+w+',height='+h+',top='+t+',left='+l;

            window.open(
                ANT_baseUrl+'/user_create/',
                'ant_create_user',
                properties
            );
            window.close();
            return false;
        }
        
        function forgotPassword () {
            var w = 535;
            var h = 300;
            var l = (window.screen.width/2)-(w/2);
            var t = (window.screen.height/2)-(h/2);

            var properties = 'menubar=1,scrollbars=yes,resizable=1,width='+w+',height='+h+',top='+t+',left='+l;

            window.open(
                ANT_baseUrl+'/request_password/',
                'ant_forgot_pw',
                properties
            );
            window.close();
            return false;
        }

	</script>
{% endblock %}