{% extends "popup_form.html" %}

{% block page_content %}
  <h1>Password Reset</h1>
  <div class="container" style="max-width:400px;">
  {% if requested %}
    <h3>Thanks!  We have sent you an email with a link to complete your password change.</h3>
    <a href = "/">Home</a>
  {% else %}
    <div class="userFeedbackMsg">
        <h3>Enter your user name or your email address, and we'll email you a link to reset your password.</h3>
    </div>
    <form class="popupForm" action="/request_password/" enctype="multipart/form-data" method="post" class="in-page">
        <div class="formBody clearfix">
            {% csrf_token %}

            {% if message %}<div class="error">{{ message }}</div>{% endif %}
            <div class='formBodySection'>
                <label>User Name:</label>
                <input type="text" name="username" />
            </div>
            <h1>OR<h1>
            <div class='formBodySection'>
                <label>Email address:</label>
                <input type="text" name="email" />
            </div>
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>
  {% endif %}
  </div>
{% endblock %}