{% extends "popup_form.html" %}

{% block mainContent %}
  <h1>Change Your Antenna Password</h1>
  <div class="container" style="max-width:350px;">
  {% if requested %}
    <h3>Your password has been changed successfully!</h3>
    <a href = "/">Home</a>
  {% else %}
<style>
label { display:block; }
</style>
      <form class="popupForm" action="/change_password/" enctype="multipart/form-data" method="post" class="in-page">
        <div class="formBody clearfix">
            {% csrf_token %}
          
            {{ form.non_field_errors }}
            {{ form.errors }}

            <div class='formBodySection'>
                <label for="id_password">Password</label>
                {{ form.password }}{{ form.password.errors }}
            </div>
            <div class='formBodySection'>
                <label for="id_password2">Password Again</label>
                {{ form.password2 }}{{ form.password2.errors }}
            </div>
            <div>
                {{ form.uid }} {{ form.uid.errors }}
            </div>

        </div>
        <button class="btn" type="submit">Submit</button>
    </form>

  {% endif %}
    </div>
{% endblock mainContent %}