{% extends "popup_form.html" %}

{% block mainContent %}

  <h1>Log In</h1>
  {% csrf_token %}
  <div class="container">
    <div id="errorMsgWrap"></div>
    <div id="direct_registration" class="formBody clearfix">
  		<div class='formBodySection grid-whole'>
  			<div class="grid-half"><label>User Name</label></div>
            <div class="grid-half">
    			<input type="text" name="username" tabindex="1" />
    			<a class="alternateAction" href="javascript:void(0);" onclick="createNewAccount();" style="font-size:11px;font-style:italic;">Create New Account &raquo;</a>
            </div>
		</div>
		<div class='formBodySection grid-whole'>
	  		<div class="grid-half"><label>Password</label></div>
            <div class="grid-half">
                <input type="password" name="password" tabindex="2" />
                <a class="alternateAction" href="javascript:void(0);" onclick="forgotPassword();" style="font-size:11px;font-style:italic;">Forgot Password? &raquo;</a>
            </div>
		</div>
	</div>
	<button class="btn" onclick="direct_registration();" tabindex="3" id="submit_login">Log In</button>
	<script type="text/javascript">

		RDRAuth.events.track('show_login_form');
        RDRAuth.events.trackEventToCloud({
            category: 'login',
            action: 'show_form',
            opt_label: 'auth: rb'
        });

		$('input[name="username"]').focus();
		$('#groupname').text( decodeURI(qs_args.group_name) );

		$('#direct_registration input').keyup( function(event) {
            if (event.keyCode == '13') { //enter.  
            	$('#submit_login').click();
            }
        });
		
		window.opener.RDRAuth.checkRBLoginWindow();

		function direct_registration() {
			var sendData = "username="+$('#direct_registration').find('input[name="username"]').val()+
						   "&password="+$('#direct_registration').find('input[name="password"]').val();

			$.ajax({
				beforeSend: function( xhr ) {
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken') );
				},
				url: "/api/rb/",
				type: "post",
				contentType: "application/x-www-form-urlencoded",
				dataType: "json",
				data: sendData,
				success: function(response) {
					if ( response.data ) {
						if ( response.data.status == "fail" ) {
							$('#errorMsgWrap').html('<div class="error">'+response.data.message+'</div>')
                                .hide()
                                .fadeIn();
						} else {
							RDRAuth.setUser(response);
                            
                            window.location.href=RDR_baseUrl+'/rb_login_success/';
						}
					}
				}
			});
		}

        function createNewAccount(){
            var w = 535;
            /*made higher to account for 'required fields' message*/
            var h = 350;
            var l = (window.screen.width/2)-(w/2);
            var t = (window.screen.height/2)-(h/2);

            var properties = 'menubar=1,scrollbars=yes,resizable=1,width='+w+',height='+h+',top='+t+',left='+l;

            window.open(
                RDR_baseUrl+'/user_create/',
                'readr_create_user',
                properties
            );
            window.close();
            return false;
        }
        
        function forgotPassword () {
            var w = 535;
            var h = 300;
            var l = (window.screen.width/2)-(w/2);
            var t = (window.screen.height/2)-(h/2);

            var properties = 'menubar=1,scrollbars=yes,resizable=1,width='+w+',height='+h+',top='+t+',left='+l;

            window.open(
                RDR_baseUrl+'/request_password/',
                'readr_forgot_pw',
                properties
            );
            window.close();
            return false;
        }

	</script>
  </div>
{% endblock mainContent %}