{% extends "popup_form.html" %}

{% block mainContent %}

  <h1>Welcome Back!</h1>
  <h1>{{ user }}</h1>
  {% csrf_token %}
  <div class="container">
  	You can <a href="javascript:void(0);" onclick="self.close();">close this window</a>.
	<script type="text/javascript">
		RDRAuth.events.track('login_success_page');
        RDRAuth.events.trackEventToCloud({
            category: 'login',
            action: 'success',
            opt_label: 'auth: rb'
        });
        
		self.close();
	</script>
  </div>
{% endblock mainContent %}