{% extends "popup_form.html" %}

{% block mainContent %}
{% if requested %}
    <h1>Thanks for signing up!</h1>
    <div class="container userFeedbackMsg">
        <h3>Now, confirm your email address.</h3>
        <p>Please check your email inbox for a confirmation email with a link to activate your account.</p>
        <p>Rest assured, we will never give or sell personal information to any third parties, and we won't send you any marketing messages.</p>
        <a href = "/" onclick="window.close();">Close window</a>
    </div>
{% else %}
    <h1>Create User Account</h1>
    <div class="container">
    <form class="popupForm" action="/user_create/" enctype="multipart/form-data" method="post" class="in-page">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <!--
        <div class="engagement_today grid-whole no-rdr">
            <h2 class="grid-whole padded">Content engagement today falls short.</h2>
            <div class="engagement_column grid-third s-grid-whole padded">
        -->
        <div class="formBody clearfix">
            <div class='formBodyColSection '>
                <div class='formBodySection grid-whole'>
              		<div class="grid-half"><label for="id_username">User Name </label></div>
              		<div class="grid-half">{{ form.username.errors }}{{ form.username }}</div>
              	</div>
              	<div class='formBodySection grid-whole'>
                	<div class="grid-half"><label for="id_email">Email </label></div>
                	<div class="grid-half">{{ form.email.errors }}{{ form.email }}</div>
                </div>
          	</div>
            <div class='formBodyColSection'>
                <div class='formBodySection grid-whole'>
                    <div class="grid-half"><label for="id_password1">Password</label></div>
                    <div class="grid-half">{{ form.password1.errors }}{{ form.password1 }}</div>
              	</div>
              	<div class='formBodySection grid-whole'>
                    <div class="grid-half"><label for="id_password2">Confirm Password</label></div>
                    <div class="grid-half">{{ form.password2.errors }}{{ form.password2 }}</div>
                </div>
            </div>
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>
{% endif %}

{% endblock mainContent %}