<nav>
  <div class="nav-wrapper container">

      <!-- end navbar content -->
      <a href="/" class="logo">
        <svg class="icon-antenna-icon"><use xlink:href="/static/site/svg/antenna_icons.svg#ant-antenna-logo"></use></svg>
        <svg class="icon-antenna-text"><use xlink:href="/static/site/svg/antenna_icons.svg#ant-antenna-text"></use></svg>
      </a>

      <ul class="primary-nav">
        <li><a href="#">for publishers</a>
        </li>
        <li><svg height="27" width="9"><line x1="0" y1="27" x2="9" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" /></svg></li>
        <li><a href="#">for retailers</a></li>
        <li><svg height="27" width="9"><line x1="0" y1="27" x2="9" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" /></svg></li>
        <li><a href="#">search</a></li>
      </ul>

      <ul id="nav-mobile" class="right hide-on-small-and-down">
        <li class="color-bar first"></li>
        <li class="color-bar second"></li>
        <li class="color-bar third"></li>
        <li class="color-bar fourth"></li>
        <li class="color-bar fifth"></li>

        <li class="user">
          <img src="http://images.smilesumo.com/2015/05/mark-zuckerberg-logo.jpg" class="circle" />
          <h4>Mark</h4>
        </li>



        <!-- just use parts from this -->
        <div id="user" style="display:none;">
          {% block userStatus %}
          <div id="logged-in" {% if not cookie_user.social_user %}style="display:none;"{% endif %}>
            <i class="fa fa-bars"></i>
            {% if not cookie_user.social_user.img_url %}
            <a href="/user/{{ cookie_user.id }}" class="settings-link">Settings</a>
            {% else %}
            <a href="/user/{{ cookie_user.id }}"><img src="{{ cookie_user.social_user.img_url }}?type=square"/></a>
            {% endif %}
            <div id="log-out-link">
              <strong>{{ cookie_user.social_user.full_name }}</strong>
              <!-- 
              <a href="/user/{{ cookie_user.id }}">My Activity</a>
              <a href="/follows/{{ cookie_user.id }}">Activity I Follow</a>
              <a href="javascript:void(0);" onclick="ANTAuth.logout();">Log Out</a>
               -->
              {% if cookie_user %}
              <!--
              <div class="userSettingsMenu">
                      <h5 id="user_settings">Settings</h5>
                      <label for="private_profile">
                        <input type="checkbox" id="private_profile" {% if cookie_user.social_user.private_profile %}checked="checked"{% endif %} /> 
                        Profile is private
                      </label>
                      <label for="follow_email">
                        <input type="checkbox" id="follow_email" {% if cookie_user.social_user.follow_email_option %}checked="checked"{% endif %} /> 
                        Send me email when someone follows my activity.
                      </label>
                      <label for="activity_notifications">
                        <input type="checkbox" id="activity_notifications" {% if cookie_user.social_user.notification_email_option %}checked="checked"{% endif %} /> 
                        Send me activity notifications.
                      </label>
                      
                      {% if cookie_user.social_user.provider == "Readrboard" %}
                          <hr/>
                          <a href="javascript:void(0);" onclick="ANTAuth.openAntAvatarUploadWindow();">Upload Profile Picture</a>
                          <a href="javascript:void(0);" onclick="ANTAuth.openChangePasswordWindow();">Change your password</a>
                      {% endif %}
              </div>
              -->
                  {% endif %}

              <div class="group_settings_menu">
              {% include "group_nav.html" %}
              </div>

            </div>
          </div>

          <div id="logged-out" {% if cookie_user.social_user %}style="display:none;"{% endif %}>
            <a href="javascript:void(0);" style="margin-left:5px;" onclick="ANTAuth.openAntLoginWindow();">Log In / Sign Up</a>
            <i class="fa fa-sign-in"></i>
            <div id="login-options" style="overflow:auto;">
              <div style="margin-bottom:10px;">
                <div id="fb-login-button">
                  <a href="javascript:void(0);" onclick="$(this).addClass('logging-in'); ANTAuth.doFBLogin();"><img src="/static/widget/images/fb-login_to_readrboard.png" style="margin-top:3px;" /></a>
                </div>
              </div>
              <div style="border-top:1px solid #ccc;text-align:center;padding-top: 10px;">
                <a href="javascript:void(0);" onclick="ANTAuth.openAntLoginWindow();">
                  <span class="ant-antenna-logo"></span> Login to <span class="ant-antenna-text"></span>
                </a>
              </div>
              <div style="clear:both;margin-top:10px;padding-top:5px;border-top:1px solid #ccc;">
                <a style="font-weight:100;font-size:11px;font-family:Arial;display:block;text-align:center;color:rgb(0,0,238);font-style:italic;" href="javascript:void(0);" onclick="ANTAuth.openAntCreateNewAccountWindow({width:535,height:350});">Create Antenna Account</a>
              </div>
            </div>    
          </div>
          {% endblock %}
        </div>
      </ul>
      <!-- end navbar content -->

  </div>
</nav>

  <header>
  

  {% block siteSearch %}
  <!--
  <div id="site_search">
    <i class="ant-search"></i>
    <form method="get" id="searchform" action="">
      <fieldset>
        <input type="text" value="{% if query_string %}{{ query_string }}{% endif %}" name="s" id="s" />
      </fieldset>
    </form>
  </div>
  <script>
  $('#site_search')
      .on('mouseenter', function() { $(this).addClass('ant_hover').find('input').focus() })//chain
      .on('mouseleave', function() {
        if ( !$(this).find('input').val().length ) {
          $(this).removeClass('ant_hover').find('input').blur();
        }
      })
      .find('form').on('submit', function(e) {
          var validPaths = /^\/(stream|group|user|site|page).*$/;
          var defaultPath = "/stream/";
          var curPath = window.location.pathname;
          var isValidPath = validPaths.test(curPath);
          var action = isValidPath ? curPath : defaultPath;
        
          $(e.target).attr('action', action);
      });
    $('.fa-search').on('click', function(e){
      e.preventDefault();
      $('#searchform').trigger('submit');
    });
  </script>
  -->
  {% endblock siteSearch %}        

  </header>