<footer role="global" class="{% block hasFixedBar %}withFixedBar{% endblock %} clearfix no-ant" style="display:none;">
  <div class="footerLinks">
    <ul class="footerLinksLeft">
      <li>
        <a href="mailto:team@antenna.is?Subject=Hello,%20Antenna!">Contact Us</a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/team/">About Antenna</a>
      </li> 
      <li>
        <a href="/stream/">Live Stream</a>
      </li>
      <li>
        <a href="/privacy/">Privacy</a>
      </li>
      <li>
        <a href="/terms/">Terms</a>
      </li>
      <li>
        <a href="https://twitter.com/ReadrBoard" class="twitter-follow-button" data-show-count="false">Follow @ReadrBoard</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
    </ul>
    <div class="clearDiv"></div>
  </div>
</footer>