<footer class="global-footer no-ant">

    <div class="container">
      <div class="row">
        <div class="col s6 m3 left-align">
          <div><a href="/">Home</a></div>
          <div><a href="http://blog.antenna.is/">Antenna Blog</a></div>
          <!-- <div><a href="/about/">About</a></div> -->
          <div><a href="/privacy/">Privacy Policy</a></div>
          <div><a href="/terms/">Terms of Use</a></div>
        </div>
        <div class="col s6 m3 left-align">
          <div><svg class="icon-antenna-icon ant-heart"><use xlink:href="#ant-heart"></use></svg> Made in NYC, NC, and OR</div>
          <div><svg class="icon-antenna-icon ant-social-twitter"><use xlink:href="#ant-social-twitter"></use></svg>Follow us on <a href="https://twitter.com/AntennaSignal" target="_blank">Twitter</a></div>
          <div><a href="/stream/">View Latest Reactions</a></div>
        </div>
      </div>

    </div>
{% comment %}
  <!-- <div class="footerLinks">
    <ul class="footerLinksLeft">
      <li>
        <a href="mailto:team@antenna.is?Subject=Hello,%20Antenna!">Contact Us</a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/team/">About Antenna</a>
      </li> 
      <li>
        <a href="/stream/">Live Stream</a>
      </li>
      <li>
        <a href="/privacy/">Privacy</a>
      </li>
      <li>
        <a href="/terms/">Terms</a>
      </li>
      <li>
        <a href="https://twitter.com/ReadrBoard" class="twitter-follow-button" data-show-count="false">Follow @ReadrBoard</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
    </ul>
    <div class="clearDiv"></div>
  </div> -->
{% endcomment %}
</footer>
