#rdr_sandbox .rdr_widget,
div.rdr_alert_box
{
	border:1px solid #aaa;
}

#rdr_sandbox div.rdr_actionbar { 
	background:url("{{ STATIC_URL }}widget/images/actionbar_bg.png") no-repeat left bottom #fff;
}
body div.rdr_indicator_for_text div.rdr_indicator_body,
body div.rdr_indicator_for_media div.rdr_indicator_body {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}