body.rdr_ie div.rdr_sandbox .rdr_widget,
body.rdr_ie div.rdr_alert_box,
body.rdr_ie #rdr-summary.rdr
{
	border:1px solid #aaa !important;
}

body.rdr_ie div.rdr_sandbox div.rdr.rdr_widget h1,
body.rdr_ie div.rdr_sandbox div.rdr.rdr_widget h1 span.rdr_contentNode_text,
body.rdr_ie div.rdr_sandbox div.rdr.rdr_alert_box h1,
body.rdr_ie div.rdr_sandbox div.rdr.rdr_alert_box h1 span,
body.rdr_ie div.rdr_sandbox div.rdr.rdr_widget h2 {
	font-size:14px !important; font-weight:bold !important; white-space:nowrap;
}

body.rdr_ie div.rdr_sandbox div.rdr div.rdr_commentBox {border:none;}

body.rdr_ie a.rdr_tag {
	zoom:1;
	/*background:#fff !important;*/
    /*-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8')" !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8') !important;*/
    /*border:1px solid #ccc !important;*/
    display:inline-block !important;
}

body.rdr_ie div.rdr-sum-reactions a.rdr_tag {
    border: none !important;
}
body.rdr_ie div.rdr_tag_details a.rdr_tag {
    /*border:1px solid #ccc !important;*/
}


body.rdr_ie table.rdr_tags span.rdr_comment_indicator {
	zoom:1 !important;
	display:inline-block !important;
	float:left;
	/*top:0 !important;*/
}

body.rdr_ie table.rdr_tags a.rdr_tag span.rdr_tag_name {
	overflow:hidden !important;
}

body.rdr_ie div.rdr.rdr-summary a.rdr_tag span.rdr_tag_count {
	padding-top:5px !important;
}

body.rdr_ie table.rdr_tags a.rdr_tag.rdr_custom_tag     {
    width: 70px !important;
}

body.rdr_ie div.rdr_tag_details {
    /*border:1px solid #ccc !important;*/
    margin-top:2px !important;
}

#rdr_loginPanel iframe,
#rdr_loginPanel div.rdr_body_wrap {
    width:300px !important;
    height:190px !important;
    overflow:hidden !important;
}


