@font-face {
    font-family:'ReadrLeague';
    /* IE */
    src:url( '../../static/global/css/LeagueGothic.eot' );
    /*src:url('mhtml:http://www.readrboard.com/static/widget/css/ie.css!ReadrLeagueEncoded');*/
}

div.rdr_indicator_for_media {
	display:inline !important;
	top:10px !important;
}

#rdr_sandbox .rdr_widget,
div.rdr_alert_box,
#rdr-summary.rdr
{
	border:1px solid #aaa !important;
}