.rdr * {
    /*temp reset*/
    margin:0;;
    padding:0;;
    color:#666 !important;
    font-variant:normal !important;
}
.rdr_blue {color:#008be4 !important;}
.rdr img {
    width:auto !important;
    border:none !important;
    vertical-align: inherit !important;
    display:inline !important;
}
.rdr_clear{
    clear: both;
}
div.rdr_sandbox{
    /*temp reset*/
    position:absolute !important;
    margin:0 !important;
    padding:0 !important;
    top:0 !important;
    left:0 !important;
    width: 100% !important;
}
body.rdr_heightAdjustment div.rdr_sandbox {
  margin-top:-40px !important;
}

div.rdr_sandbox a div.rdr       {text-decoration:none !important;}
div.rdr_sandbox div.rdr {
    font:normal 12px Arial, sans-serif !important;
    /* need to add a css reset here */
}

div.rdr_sandbox div.rdr.rdr_window {
    padding:0px !important;
    position:absolute !important;
    z-index:12000 !important;
    background:#f6f6f6 !important;
    overflow:hidden !important;
    min-width:90px !important;
}

/* the action bar */
div.rdr_sandbox div.rdr_actionbar {
    border:1px solid #c9c9c9 !important; 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(236,236,236)), color-stop(0.39, rgb(255,255,255)) ) !important;
    background-image: -moz-linear-gradient(center bottom , #ECECEC 0%, #fff 39%) !important;
    padding:0 !important;
    font:normal 12px Arial, sans-serif !important;
    position:relative !important;
    z-index:11000 !important;
    height:22px !important;
    position:absolute !important;
}

div.rdr_sandbox div.rdr_actionbar ul {
    margin:0 !important;
    float: left !important; /*do this for the rdr_indicator_for_media*/
}
div.rdr_sandbox div.rdr_actionbar li {
    display:inline-block !important;
    position:relative !important;
    list-style: none !important;
    background: none
    padding: 0 !important;
}

div.rdr_sandbox div.rdr_actionbar li a {
    background:url("../images/readr_icons.png") no-repeat 0 0 transparent !important;
    display:block !important;
    height:22px !important;
    width:23px !important;
    text-indent:-9999px !important;
    float:left !important;
}

div.rdr_sandbox div.rdr_actionbar li.rdr_icon_bookmark         { display: none !important;}

div.rdr_sandbox div.rdr_actionbar li.rdr_icon_reaction a        { background-position:3px 3px !important; }
div.rdr_sandbox div.rdr_actionbar li.rdr_icon_bookmark a        { background-position:-61px -4px !important; display:none;;}


div.rdr_sandbox div.rdr_actionbar li:hover                     { 
    background: #CCE6FF !important;
}
div.rdr_sandbox div.rdr_actionbar li.rdr_actionbar_first     { 
    -moz-border-radius:5px 0 0 5px !important;
    -webkit-border-radius:5px 0 0 5px !important;
    border-radius:5px 0 0 5px !important;
}
div.rdr_sandbox div.rdr_actionbar li.rdr_actionbar_last    { 
    -moz-border-radius:0 5px 5px 0 !important;
    -webkit-border-radius:0 5px 5px 0 !important;
    border-radius:0 5px 5px 0 !important;
}

/*override the above if it's an actionbar for images*/
div.rdr_sandbox div.rdr_actionbar_for_media { 
    -moz-border-radius:0 5px 5px 0 !important;
    -webkit-border-radius:0 5px 5px 0 !important;
    border-radius:0 5px 5px 0 !important;
    -moz-box-shadow:0 0 10px 1px #008be4 !important;
    -webkit-box-shadow:0 0 10px 1px #008be4 !important;
    box-shadow:0 0 10px 1px #008be4 !important;
    border: 1px solid #bbb !important;
    height: auto !important;
}
div.rdr_sandbox div.rdr_actionbar_for_media li { 
    display:block !important;
    float:left !important;
    clear:both !important;
}
div.rdr_sandbox div.rdr_actionbar_for_media li.rdr_actionbar_first     { 
    -moz-border-radius:0 5px 0 0 !important;
    -webkit-border-radius:0 5px 0 0 !important;
    border-radius:0 5px 0 0 !important;
}
div.rdr_sandbox div.rdr_actionbar_for_media li.rdr_actionbar_last    { 
    -moz-border-radius:0 0 5px 0 !important;
    -webkit-border-radius:0 0 5px 0 !important;
    border-radius:0 0 5px 0 !important;
}


div.rdr_sandbox div.rdr_actionbar span.rdr_icon_divider         { width:1px !important; background:#BBB !important; height:70% !important; position:absolute !important; top:15% !important; right:0 !important; display:none;;/*show dynamically*/}

div.rdr_loader {
    background: url(../images/loader.gif) 0px 0px no-repeat #fff !important;
    height: 20px !important;
    margin-right: 5px !important;
    width: 20px !important;
    visibility:hidden;;
    position:relative !important;
    z-index:1 !important;
    position:absolute !important;
    right:0 !important;
}
/* the tooltip */
div.rdr.rdr_tooltip {
    -moz-border-radius:5px !important;
    -webkit-border-radius:5px !important;
    border-radius:5px !important;
    -moz-box-shadow:0 0 5px #888888 !important;
    -webkit-box-shadow:0 0 5px #888888 !important;
    box-shadow:0 0 5px #888888 !important;
    background-color:#fff !important;
    border:2px solid #80aec9 !important;
    margin:0 0 0 13px !important;/* 0.5 icon width with compensation for border*/
    padding:5px 0 !important;
    position:absolute !important;
    text-align:center !important;
    left:-55px !important; /*0.5 tooltip width*/
    top:-36px !important;
    width:100px !important;
    z-index:10002 !important;
}
div.rdr_actionbar_for_media div.rdr_tooltip,
div.rdr_tooltip.rdr_tooltip_sideways {
    border:2px solid #80aec9 !important;
    margin:0 0 0 13px !important;/* 0.5 icon width with compensation for border*/
    padding:5px 0 !important;
    position:absolute !important;
    text-align:center !important;
    left:16px !important;
    top:-4px !important;
    width:100px !important;
    z-index:10000 !important;
    display:block !important;
}

div.rdr_tooltip.rdr_tooltip_wide { 
    width:220px !important; 
    padding:8px 10px !important;
}
div#rdr-tooltip-summary-what-is-it.rdr_tooltip.rdr_tooltip_wide { 
    width:250px !important; 
}


div.rdr.rdr_tooltip-arrow { border-color:#fff transparent transparent transparent !important; border-style:solid !important; border-width:7px !important; height:0 !important; width:0 !important; position:absolute !important; bottom:-14px !important; left:43% !important;}
div.rdr.rdr_tooltip-arrow-border { border-color:#80aec9 transparent transparent transparent !important; border-style:solid !important; border-width:7px !important; height:0 !important; width:0 !important; position:absolute !important; bottom:-16px !important; left:43% !important;}


div.rdr_top div.rdr.rdr_tooltip-arrow-border { border-color:transparent transparent #80aec9 !important; border-style:solid !important; border-width:7px !important; height:0 !important; width:0 !important; position:absolute !important; top:-16px !important; bottom:auto !important; left:43% !important;}
div.rdr_top div.rdr.rdr_tooltip-arrow { border-color:transparent transparent #fff !important; border-style:solid !important; border-width:7px !important; height:0 !important; width:0 !important; position:absolute !important; top:-14px !important; bottom:auto !important; left:43% !important;}
 

div.rdr_actionbar_for_media div.rdr.rdr_tooltip-arrow,
div.rdr_tooltip.rdr_tooltip_sideways div.rdr.rdr_tooltip-arrow { border-color:transparent white transparent transparent !important; border-style:solid !important; border-width:7px !important; height:0 !important; width:0 !important; position:absolute !important; top:5px !important; left:-14px}

div.rdr_actionbar_for_media div.rdr.rdr_tooltip-arrow-border,
div.rdr_tooltip.rdr_tooltip_sideways div.rdr.rdr_tooltip-arrow-border {
border-color:transparent #80aec9 transparent transparent !important; border-style:solid !important; border-width:7px !important; height:0 !important; width:0 !important; position:absolute !important; top:5px !important; left:-16px}


div.rdr.rdr_tooltip div.rdr_tag_share    { display:block !important; width:12px !important; height:13px !important; background:url(../images/tag_icons.png) -50px -13px no-repeat !important; left:45px !important; position:absolute !important;top:-20px !important; 
    -moz-border-radius:3px !important;
    -webkit-border-radius:3px !important;
    border-radius:3px !important;
}

div.rdr_tag_share:hover div.rdr_tooltip     { display:block !important; }


/* from Bootstrap CSS */
.rdr_twtooltip {
  position: absolute !important;
  z-index: 111020 !important;
  display: block !important;
  visibility: visible;;
  padding: 5px !important;
  font-size: 11px !important;
  opacity: 0;;
  filter: alpha(opacity=0);;
  font-family:Arial,sans-serif !important;
  letter-spacing:0.5px !important;
  line-height:13px !important;
}
body.rdr_heightAdjustment .rdr_twtooltip {
  margin-top:-40px !important;
}
.rdr_twtooltip.rdr_tw_in {
  opacity: 0.85 !important;
  filter: alpha(opacity=85) !important;
}
.rdr_twtooltip.rdr_tw_top {
  margin-top: -2px !important;
}
.rdr_twtooltip.rdr_tw_right {
  margin-left: 2px !important;
}
.rdr_twtooltip.rdr_tw_bottom {
  margin-top: 2px !important;
}
.rdr_twtooltip.rdr_tw_left {
  margin-left: -2px !important;
}
.rdr_twtooltip.rdr_tw_top .rdr_twtooltip-arrow {
  bottom: 0 !important;
  left: 50% !important;
  margin-left: -5px !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-top: 5px solid #000000 !important;
}
.rdr_twtooltip.rdr_tw_left .rdr_twtooltip-arrow {
  top: 50% !important;
  right: 0 !important;
  margin-top: -5px !important;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
  border-left: 5px solid #000000 !important;
}
.rdr_twtooltip.rdr_tw_bottom .rdr_twtooltip-arrow {
  top: 0 !important;
  left: 50% !important;
  margin-left: -5px !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-bottom: 5px solid #000000 !important;
}
.rdr_twtooltip.rdr_tw_right .rdr_twtooltip-arrow {
  top: 50% !important;
  left: 0 !important;
  margin-top: -5px !important;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
  border-right: 5px solid #000000 !important;
}
.rdr_twtooltip-inner {
  max-width: 200px !important;
  padding: 5px 8px !important;
  color: #e0e0e0 !important;
  text-align: center !important;
  text-decoration: none !important;
  background-color: #000000 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.rdr_twtooltip strong {
  color:#fff !important;
}
.rdr_twtooltip-arrow {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
}

/*compress ths about icon width*/
div.rdr_sandbox div.rdr_actionbar li.rdr_icon_about             { width:24px !important; } /*normal width is 30px */
div.rdr_sandbox div.rdr_actionbar li.rdr_icon_about a           { background-position: -3px 0 !important; width:24px !important;} /*from line above:(30-24)/2 = 3px left*/
div.rdr_sandbox .rdr_tooltip_about                                  { margin:0 0 0 11px !important;/* 0.5 icon width*/ }

/* global tag defs */
div.rdr_sandbox div.rdr h1, 
div.rdr_sandbox div.rdr h2  {font-family:'Helvetica',Arial,sans-serif !important; font-weight:bold !important; color:#888 !important; margin:0 !important; font-size:13px !important; line-height:1.1em !important; padding:4px 9px 0 10px !important; }
div.rdr_sandbox div.rdr h1 span.rdr_contentNode_text {font-size:18px !important; color:#008be4 !important;}

div.rdr_sandbox div.rdr li {background:none !important; padding:0 !important;}

div.rdr strong {font-weight:bold !important;}

div.rdr_sandbox div.rdr_header div.rdr_indicator_stats         { position:absolute !important; margin:3px 0 0 5px !important; cursor: move !important; }

div.rdr_sandbox div.rdr.rdr_window                             { max-width:600px !important; }
div.rdr_sandbox div.rdr div.rdr_header                         { 
    /*background:#fff !important;*/
    position:relative !important;
    height:18px !important;
    z-index:5 !important;
    /*box-shadow:0px 0px 4px #ccc;*/
    margin:0 5px !important;
    border-bottom: 1px solid #ccc !important;
    /*todo: revisit the better way to do this*/
    -webkit-box-sizing : content-box !important;
    -moz-box-sizing : content-box !important;
    -o-box-sizing : content-box !important;
    box-sizing : content-box !important; 
}

div.rdr_sandbox div.rdr.rdr_window div.rdr_header              { cursor:move !important; padding:5px 0 !important; }
div.rdr_sandbox div.rdr.rdr_indicator_details div.rdr_header   { padding:3px 0 !important; }
div.rdr_sandbox div.rdr div.rdr_footer                         { background:#f0f0f0 !important; position:absolute !important; height:18px !important; padding:3px 6px 6px !important; bottom:0 !important; width:95% !important; display:none;;}
div.rdr_sandbox div.rdr.rdr_window div.rdr_contentSpace                { background:#f0f0f0 !important; position:relative !important; overflow:hidden !important; min-width: 150px !important; }
div.rdr_sandbox div.rdr div.rdr_body   { max-height:266px !important; float:left !important; display:block !important;}
div.rdr_sandbox div.rdr div.rdr_body div.jspPane   { margin:0 !important; }
div.rdr_sandbox div.rdr div.jspScrollable   { outline:none!important; }

div.rdr_sandbox div.rdr div.rdr_body div.jspHorizontalBar  { display:none;; }
div.rdr_sandbox div.rdr div.rdr_body div.jspVerticalBar    { z-index:10001 !important; right:4px !important; }
div.rdr_sandbox div.rdr_indicator_details_for_media div.rdr_body div.jspVerticalBar {
    margin-left:-17px !important;
    right:11px !important;
}

div.rdr_sandbox div.rdr div.rdr_header h1                   { margin-left:14px !important; white-space: nowrap !important; text-align:left !important; text-transform:none !important; font-style:normal !important;}

div.rdr_sandbox div.rdr button {
    border:1px solid #aaa !important; 
    -moz-border-radius:3px 3px 3px 3px !important; 
    -webkit-border-radius:3px 3px 3px 3px !important; 
    border-radius:3px 3px 3px 3px !important; 
    -moz-box-shadow:0 -6px 11px -6px #ccc inset !important; 
    -webkit-box-shadow:0 -6px 11px -6px #ccc inset !important; 
    box-shadow:0 -6px 11px -6px #ccc inset !important; 
    color:#454545 !important; 
    font-family:Arial !important; 
    font-size:12px !important; 
    padding:2px 5px !important; 
    width:auto !important; 
    cursor:pointer !important; 
    float:right !important;
    margin-right:6px !important;
    margin-bottom:20px !important;
}

div.rdr_sandbox div.rdr div.rdr_view_success {
  width:293px !important;
  min-height:120px !important;
  font-size:11px !important;
  text-align:left !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success.rdr_thin {
  width:180px !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success.rdr_wide {
  width:auto !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success.rdr_wide h1 {
  display:inline-block !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success h1 span {
  font-weight:normal !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success .rdr_link a {
  color:#008be4 !important;
  margin-right:5px !important;
  font-style:normal !important;
  font-size:11px !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success hr {
  background:#ccc !important;
  border:none !important;
  height:1px !important;
  margin:6px 0 !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success button {
  margin-bottom:0 !important;
  font-size:11px !important;
  text-transform:none !important;
  float:none !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success td {
  padding:5px !important;
  vertical-align:middle !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success.rdr_thin td {
  padding:1px 4px !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success.rdr_wide td.rdr_first_column {
  width:72px !important;
}
div.rdr_sandbox div.rdr div.rdr_view_success td.rdr_last_column {
  padding-left:0 !important;
}

/* commentSet */
div.rdr_sandbox div.rdr div.rdr_comments                       {}
div.rdr_sandbox div.rdr div.rdr_commentSet                     {margin:5px 10px !important; padding-bottom:5px !important; overflow:auto !important; border-bottom:1px solid #ddd !important; text-align:left !important;}
div.rdr_sandbox div.rdr div.rdr_commentSet:last-child,
div.rdr_sandbox div.rdr div.rdr_commentSet.rdr_lastchild       {border:none !important;} /*not the end of the world if this fails in IE, but compensate later*/

div.rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentBy          {font: bold 11px Arial !important; color:#666 !important; overflow:auto !important; padding-top:8px !important;}
div.rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentBy a        {font-style:italic !important; }
div.rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentBy img      {width:24px !important; height:24px !important; float:left !important; margin:-8px 5px 0 0 !important; border:1px solid #d0dee6 !important;}
div.rdr_sandbox div.rdr div.rdr_commentSet div.rdr_comment            {font: italic 14px Georgia !important; color:#999 !important;padding:3px !important; overflow-x:hidden !important;}
div.rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentReply       {font-weight:normal !important; margin-right:5px !important; text-transform:uppercase !important; font-size:9px !important; float:right !important;}


div.rdr_sandbox .linkToComment a{
    text-decoration: underline !important;
}


/*sandbox stuff*/
div.rdr_sandbox div.rdr div.rdr_close       {position:absolute !important;top:8px !important;right:7px !important;color:#999 !important;cursor:pointer !important;font-size:14px !important;z-index:150 !important;}

div.rdr_sandbox div.rdr div.rdr_instruct    {color:#666 !important; margin:5px 0 !important;}
div.rdr_sandbox div.rdr div.rdr_info        {font:italic 11px Arial !important;color:#767676 !important; margin:0 !important; cursor:text !important; }

div.rdr_sandbox div.rdr div.rdr_shareBox                       { background:#edf6ff !important; border:1px solid #b6d3ee !important; -webkit-border-radius:6px !important; -moz-border-radius:6px !important; border-radius:6px !important; margin:0 0 0 10px !important; text-align: center !important; width: 120px !important; display:inline-block !important; padding:3px 0 !important; }
div.rdr_sandbox div.rdr div.rdr_share_social                   { overflow:visible !important; position: relative !important; top: 4px !important; min-width:90px !important;}
div.rdr_sandbox div.rdr div.rdr_share_social strong            { display:block !important; float:left !important; margin:5px 5px 0 24px !important; }
div.rdr_sandbox div.rdr div.rdr_commentBox                     { clear:both !important; display:block !important; padding-top:5px !important; max-width:92% !important; text-align:left !important;}

div.rdr_sandbox div.rdr div.rdr_back { position:relative !important; z-index:1 !important; background:#aaa !important; font-size:9px !important; text-transform:uppercase !important; color:#fff !important; cursor:pointer !important; padding: 2px 12px !important; margin-bottom:4px !important;text-align:left !important;}
div.rdr_sandbox div.rdr_indicator_details_for_media div.rdr_body div.rdr_back { margin-right:10px !important; }
div.rdr_sandbox div.rdr div.rdr_back.rdr_hide { margin-top:-10px !important; }
div.rdr_sandbox div.rdr div.rdr_comment_header { display:block !important; text-align:left !important;}
div.rdr_sandbox div.rdr div.rdr_comment textarea    { margin:5px 0 !important; resize:none !important; padding:5px !important; width:100% !important; max-width:94% !important; font-family:"lucida grande",tahoma,verdana,arial,sans-serif !important;font-size:11px !important;background:#fff !important;}
div.rdr_sandbox div.rdr div.rdr_comment div.rdr_charCount          {font-size:10px !important; font-style:italic !important; color:#999 !important; float:left !important;}

div.rdr_sandbox div.rdr ul.shareLinks { display: block !important; top: 0 !important; padding: 0 !important; float:left !important; }
div.rdr_sandbox div.rdr ul.shareLinks li        {padding:0px 2px !important; display:inline-block !important; list-style:none !important;}
div.rdr_sandbox div.rdr ul.shareLinks img       {width:25px !important; margin:0 !important;}

div.rdr_sandbox div.rdr table.rdr-one-column div.rdr_share_social strong { float:none !important; margin:0 !important; }
div.rdr_sandbox div.rdr table.rdr-one-column ul.shareLinks { display: inline-block !important; margin: 2px auto 0 !important; float:none !important; }

/* forms */
div.rdr_sandbox div.rdr textarea,
div.rdr_sandbox div.rdr input[type="text"]  { -moz-box-shadow:inset 0px 0px 5px #ddd !important;-webkit-box-shadow:inset 0px 0px 5px #ddd !important; box-shadow:inset 0px 0px 5px #ddd !important; border:1px solid #ddd !important; height:auto !important; width:auto !important; font-family: arial !important; color:#666 !important; background:#fff !important; font-size:11px !important; }

div.rdr_sandbox div.rdr div.rdr_commentBox.rdr_inlineCommentBox {
    max-width: none !important;
}
div.rdr_sandbox div.rdr input[type="text"].rdr_inlineComment{
    width: 149px !important;
    padding: 4px 2px !important;
    float: left !important;
    margin: -2px 0px 3px 0px !important;
    font-style:italic !important;
    color:#999 !important;
}
div.rdr_sandbox div.rdr div.rdr_thin input[type="text"].rdr_inlineComment{
  width:160px !important;
}
div.rdr_sandbox div.rdr div.rdr_thin select.rdr_user_boards {
  max-width:170px !important;
}
div.rdr_sandbox div.rdr input[type="text"].rdr_inlineComment.rdr_adding_comment {
    font-style:normal !important;
    color:#454545 !important; 
}

div.rdr_sandbox div.rdr .rdr_narrow input[type="text"].rdr_inlineComment{
    width: 75% !important;
}

div.rdr_sandbox div.rdr-board-create-div {
  position:fixed !important;top:100px !important;left:50% !important;margin-left:-323px !important;;z-index:1000000000000000 !important;padding:10px !important;background:#fff !important;
}

div.rdr_sandbox div.rdr button              {font-size:11px !important; }


/* tag pills and such */
table.rdr_tags {
    margin-right:auto !important;
    margin-bottom:0 !important;
    margin-left:auto !important;
    border:0 !important;
    /*float:left !important;*/
}

table.rdr_tags td.rdr_activePill {
    background:#fff !important;
}

div.rdr_reactUndoSuccess,
div.rdr_indicator_details_for_media div.rdr_reactUndoSuccess{
    padding: 5px !important;
}

table.rdr_tags td{
    font-family: arial !important;
    vertical-align: top !important;
    border: 0 !important;
    text-align:center !important;
}

div.rdr a.rdr_tag     { 
    color: #767676 !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family:'Helvetica',Arial,sans-serif !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: bold !important;
    height: 21px !important;
    margin: 0 -2px 0 -2px !important;
    padding: 12px 7px 4px !important;
    position: relative !important;
    text-decoration: none !important;
    text-transform: none !important;
    /*white-space: nowrap !important;*/
    z-index:10001 !important;
}
div.rdr.rdr-summary a.rdr_tag {
  font-size:11px !important;
}

div.rdr table.rdr_tags a.rdr_tag:hover,
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover div.rdr_sbRolloverTable a.rdr_tag:hover {
}
div.rdr table.rdr_tags a.rdr_tag.rdr_custom_tag:hover,
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover div.rdr_sbRolloverTable a.rdr_tag.rdr_custom_tag:hover {
  /*background:none !important;*/
}

div.rdr table.rdr_tags a.rdr_tag:hover span,
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover div.rdr_sbRolloverTable a.rdr_tag:hover span {
  color:#fff !important;
}
div.rdr table.rdr_tags a.rdr_tag:hover span.rdr_comment_hover {
  color:#777 !important;
}
div.rdr table.rdr_tags a.rdr_tag span.rdr_comment_hover:hover {
  color:#fff !important;
}

div.rdr_sandbox div.rdr_tag_details {
  position:absolute !important;
  background:#fff !important;
  z-index:100000 !important;
  min-width:80px;;
  -webkit-box-shadow: 0 1px 2px rgba(128, 128, 128, 0.7) !important;
  -moz-box-shadow: 0 1px 2px rgba(128, 128, 128, 0.7) !important;
  box-shadow: 0 1px 2px rgba(128, 128, 128, 0.7) !important;
  border-top:1px solid #ddd !important;
  padding:4px !important;
  display:none;;
}
div.rdr_sandbox div.rdr_tag_details.rdr_boomarklet {
  position:fixed !important;
  bottom:42px !important;
}
div.rdr_sandbox div.rdr_tag_details a.rdr_tag {
  margin-left:5px !important;
}
div.rdr_sandbox div.rdr_tag_details div.rdr_counts {
  display:inline-block !important;
  float:left !important;
  margin-right:10px !important;
  margin-left:5px !important;
  padding:3px !important;
}
div.rdr_sandbox div.rdr_tag_details div.rdr_counts:hover {
  background:#eee !important;
}
div.rdr_sandbox div.rdr_tag_details div.rdr_counts.rdr-last-child {
  margin-right:0px !important;
  margin-left:5px !important;
}
div.rdr_sandbox div.rdr_tag_details div.rdr_counts_other {
  clear:both !important;
  overflow:auto !important;
  width:100% !important;
  padding-top:5px !important;
  border-top:1px solid #ddd !important;
}

div.rdr_sandbox div.rdr_tag_details div.rdr_counts img {
  width:12px !important;
  float:left !important;
  margin-right:5px !important;
}

div.rdr_sandbox div.rdr_tag_details div.rdr_counts.rdr_page img {
  margin-left:0 !important;
  margin-bottom:-13px !important;
}
div.rdr_sandbox div.rdr_tag_details div.rdr_counts.rdr_text img {
  width:10px !important;
}

table.rdr_tags a.rdr_tag  {
    display:inline-block !important;
}
/* the media tags need their own formatting */
div.rdr_indicator_details_for_media table.rdr_tags a.rdr_tag  {
  display:block !important;
  float:left !important;
  margin-right:10px !important;
}

div.rdr_sbRolloverTable a.rdr_tag:hover,
div.rdr_indicator_details_for_media table.rdr_tags a.rdr_tag:hover  {
  background:#bbb !important;
}


table.rdr_tags div.rdr_cell_wrapper {
    width:100% !important;
    white-space:nowrap !important;
}
table.rdr_tags div.rdr_cell_wrapper:hover {
  background:#bbb !important;
}

table.rdr_tags span.rdr_comment_hover {
    height:19px !important;
    margin:0 15px 0 -2px !important;
    font-size:10px !important;
    color:#999 !important;
    padding:0px 3px !important;
    display:inline-block !important;
    white-space:nowrap !important;
    cursor:pointer !important;
}

table.rdr_tags span.rdr_comment_hover span.rdr_icon {
    display:inline-block !important;
    background:url("../images/widget_icons.png") no-repeat scroll -182px -14px transparent !important;
    width:10px !important;
    height:10px !important;
    margin-bottom:-2px !important;
}

table.rdr_tags span.rdr_comment_hover:hover {
    color:#008be4 !important;
}
table.rdr_tags span.rdr_comment_hover:hover span.rdr_icon {
    background-position:-482px -14px !important;
}

table.rdr_tags a.rdr_tag.rdr_custom_tag     {
    padding: 4px !important;
    margin:4px 0 !important;
    /*max-width: 85px !important;*/
}
div.rdr_indicator_details_for_media table.rdr_tags a.rdr_tag.rdr_custom_tag     {
  margin:9px 0 0 0 !important;
}

table.rdr_tags a.rdr_tag span.rdr_tag_count {
}
table.rdr_tags span.rdr_comment_indicator {
    display:block !important;
    position:absolute !important;
    background:url("../images/widget_icons.png") no-repeat scroll -182px -14px transparent !important;
    right:-5px !important;
    top:-4px !important;
    width:10px !important;
    height:10px !important;
    z-index:3 !important;
}

div.rdr a.rdr_tag span.rdr_tag_count    { 
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 11px !important;
    padding: 4px 5px !important;
    text-align: center !important;
    position:relative !important;
    z-index:2 !important;
}
div.rdr.rdr_tag_details a.rdr_tag span.rdr_tag_count    {
  margin-left: 5px !important;
}
div.rdr a.rdr_tag span.rdr_tag_count    {
  background:none !important;
  font-size:10px !important;
  color:#999 !important;
  border-radius:0 !important;
  min-width:7px !important;
}
div.rdr a.rdr_tag span.rdr_tag_count img.rdr_ui_arrow   {
  background:url(../images/summary_box_arrow.png) 0px -8px no-repeat !important;
  margin:0 -5px -9px 0px !important;
  padding:0 !important;
  float:none !important;
  max-width:16px !important;
}

div.rdr a.rdr_tag span.rdr_tag_count    {
    margin-left: 0px !important;
}

div.rdr_sandbox div.rdr a.rdr_tag.rdr_custom_tag input, div.rdr a.rdr_tag.rdr_custom_tag input{
    background: transparent !important;
    border: 0 !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
    color: #599fcb !important;
    font-size:13px !important;
    padding: 0px !important;
    max-width: 90px !important;
}

div.rdr_sandbox div.rdr a.rdr_tag.rdr_custom_tag:hover input, div.rdr a.rdr_tag.rdr_custom_tag:hover input,
div.rdr_sandbox div.rdr a.rdr_tag.rdr_custom_tag input:focus, div.rdr a.rdr_tag.rdr_custom_tag input:focus {
  color:#fff !important;
  font-weight:bold !important;
}

div.rdr a.rdr_tag.rdr_custom_tag input.rdr_default {
    font-style: italic !important;
    font-size:11px !important;
}

div.rdr a.rdr_tag.rdr_custom_tag:hover,
div.rdr a.rdr_tag.rdr_custom_tag.rdr_hover { color:#008be4 !important; /*background:#fff !important; */}

div.rdr.rdr-summary div.rdr_info            { clear: both !important; margin: 5px !important; padding: 5px !important; border: 1px solid #ccc !important; background:#fff !important; display:none;; }
div.rdr.rdr-summary div.rdr_info em         { font-style:italic !important; }
div.rdr.rdr-summary div.rdr_info ins        { text-decoration:none !important; }
div.rdr.rdr-summary div.rdr_info ins img    { margin:0 !important; padding:0 !important; border:0 !important;}
div.rdr.rdr-summary div.rdr_info strong.rdr_share_it    { margin-left:10px !important;border-left:1px solid #ccc !important;padding-left:10px !important;}
div.rdr.rdr-summary div.rdr_info a.rdr_share_link img    { max-width:20px !important;margin:0 5px -5px 0 !important; float:none !important;}

div.rdr.rdr-summary img.rdr_summary_help  { border:0 !important;position:absolute !important;right:3px !important;top:3px !important;background:url(../images/readr_icons.png) -96px -1px no-repeat !important;cursor:pointer !important;width:13px !important;height:13px !important; }
div.rdr.rdr-summary img.rdr_summary_help:hover  { background-position: -79px -1px !important; }

/* summary widget */
#rdr-page-summary {position:relative !important;}

div.rdr.rdr-summary {
    background:#f7f7f7 !important;
    padding-bottom:0px !important;
    margin-bottom:10px !important;
    border:1px solid #ccc !important;
    float:none;;
    overflow: hidden !important;
    clear:both !important;
    text-indent:0 !important;
    position:relative !important;
}

/*blunt attack for now*/
div.rdr.rdr-summary * {
    line-height:13px !important;
}
div.rdr.rdr-summary #rdr-user {
  float:right !important;
  margin:9px 25px 0 15px !important;
}
div.rdr.rdr-summary #rdr-user a {
  font-style:normal !important;
  color:#008be4 !important;
}

div.rdr.rdr-summary div.rdr-see-more {
    background: url("../images/readr_icons.png") repeat scroll -225px 0px transparent !important;
    height:16px !important;
    width:25px !important;
    position:absolute !important;
    left:6px !important;
    bottom:10px !important;
    display:none;;
}
div.rdr.rdr-summary.rdr-too-many-reactions div.rdr-see-more {
    display:block !important;
}

div.rdr.rdr-summary table { border:0 !important;padding:0 !important; margin:0 !important; width:auto !important; }
div.rdr.rdr-summary table td { border:0 !important;padding:0 !important; margin:0 !important; text-align:left !important; vertical-align: top !important; background:#f7f7f7 !important;}
div.rdr.rdr-summary.rdr-combo-box table td div.rdr-fb-twitter { width:195px !important; padding: 6px 0 0 4px !important;}
div.rdr.rdr-summary.rdr-combo-box table td div.rdr-fb-like,
div.rdr.rdr-summary.rdr-combo-box table td div.rdr-gplus,
div.rdr.rdr-summary.rdr-combo-box table td div.rdr-twitter { margin: 1px 0 0 4px !important; padding:0 !important; float:left !important;}

div.rdr table,
div.rdr table td { border:0 !important;padding:0 !important; margin:0 !important; text-align:left !important; vertical-align: top !important; white-space:normal !important}

/*override for our default bookmarklet version of the summary bar.  Leave room for the login on the right */
div#rdr-page-summary.defaultSummaryBar div.rdr.rdr-summary table{
    margin: 0px 200px 0 0px  !important;
}

div.rdr.rdr-summary td.rdr_rb_logo {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(236,236,236)), color-stop(0.39, rgb(255,255,255)) ) !important;
  background-image: -moz-linear-gradient(center bottom , #ECECEC 0%, #fff 39%) !important;
  border-right: 1px solid #CCCCCC !important;
  padding-right: 5px !important;
}
div.rdr.rdr-summary div.rdr-this-is-readrboard {
    text-align:center !important;
    padding:7px 1px 0 5px !important;
}
div.rdr.rdr-summary div.rdr-this-is-readrboard img {
    margin:0 !important;
}
div.rdr.rdr-summary div.rdr-this-is-readrboard div {
    margin-bottom:-8px !important;
    margin-top:3px !important;
    cursor:help !important;
}

div.rdr.rdr-summary div.rdr-sum-headline {
    display:inline-block !important;
    color:#787878 !important;
    line-height: 32px !important;
    max-height:64px !important;
    overflow:hidden !important;
    float:left !important;
}

div.rdr.rdr-summary div.rdr-sum-headline img {
  display:inline !important;
  float:none !important;
}
div.rdr.rdr-summary div.rdr-sum-headline div.rdr-call-to-action {
    display: block !important;
    margin: 7px 0px 0px 9px !important;
    font-style:italic !important;
}

div.rdr.rdr-summary div.rdr-sum-reactions a.rdr_tag{
  margin:0 !important;
}

div.rdr.rdr-summary div.rdr-sum-reactions a.rdr_reactions_label {
  font-style:normal !important;
  font-weight:bold !important;
  color:#888 !important;
  font-size:11px !important;
  font-family:'Helvetica',Arial,sans-serif;
  padding: 5px 10px !important;
}
div.rdr.rdr-summary div.rdr-sum-reactions a.rdr_reactions_label:hover {
  text-decoration:none !important;
  background:none !important;
}
div.rdr.rdr-summary div.rdr-top-tags {
    padding:8px 5px 0px 8px !important;
    float:left !important;
}
div.rdr.rdr-summary div.rdr-top-tags span {
    white-space:nowrap !important;
    font-weight:bold !important;
    color:#666 !important;
}
div.rdr.rdr-summary div.rdr-top-tags span em {
    font-style:normal !important;
    color:#aaa !important;
}
div.rdr.rdr-summary div.rdr-sum-reactions a.rdr_reactToArticle {
  display:inline-block !important;
  font-style:normal !important;
  font-weight:bold !important;
  color:#666 !important;
  font-size:11px !important;
  padding-left:5px !important;
}
div.rdr.rdr-summary div.rdr-sum-reactions a {
  display:inline-block !important;
  border-top:0 none !important;
  padding: 6px 10px 4px 10px !important;
}
div.rdr.rdr-summary div.rdr-sum-reactions a.rdr_lastchild {
  border-right:1px solid #ccc !important;
}
div.rdr.rdr-summary div.rdr-sum-reactions a:hover {
  text-decoration:none !important;
  background:#d8e6f6 !important;
}
div.rdr.rdr-summary div.rdr-sum-reactions a.rdr_reactToArticle.rdr_noReactions {
  border-left:0 none !important;
  margin-left:-15px !important;
  padding-left:0 !important;
}
div.rdr.rdr-summary div.rdr-sum-reactions a.rdr_reactToArticle img.rdr_logo {
  background:url("../images/readr_icons.png") no-repeat scroll 0 1px transparent !important;
  margin:0 0 -2px 0 !important;
}
div.rdr.rdr-summary div.rdr-sum-reactions a.rdr_reactToArticle.rdr_noReactions img.rdr_logo {
  background:none !important;
}
div.rdr.rdr-summary.rdr_bookmarklet {
  border-bottom: 12px solid #444 !important;
  border-right: none !important;
  border-left: none !important;
}
div.rdr.rdr-summary.rdr_bookmarklet div.rdr-sum-reactions a.rdr_reactToArticle img.rdr_arrow {
  background:url("../images/summary_box_arrow.png") no-repeat scroll -1px 0 transparent !important;
  height:8px;
  width:10px;
}
div.rdr.rdr-summary div.rdr-sum-reactions a.rdr_reactToArticle img.rdr_arrow {
  background:url("../images/summary_box_arrow.png") no-repeat scroll -1px -8px transparent !important;
  height:8px;
  width:10px;
  margin:0 !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover {
  max-width:320px !important;
  text-align:left !important;
  max-height:350px !important;
  overflow-y:auto !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover h1, div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover h2 {
  margin-bottom:5px !important;
  text-transform: none !important;
  background:none !important;
  border:none !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover h1 {
  font-size:18px !important;
  border-bottom:1px solid #999 !important;
  padding-bottom:5px !important;
  margin-bottom:8px !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover table {
  min-width:150px !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover td {
  padding:5px 0 !important;
  cursor:pointer !important;
  border:0 !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover tr:hover {
  background:#dae7f5 !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover tr.rdr_page_reactions td {
  text-align:center !important;
  padding-bottom:10px !important;
  border-bottom:1px solid #ddd !important;
  cursor:auto !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover td.rdr_count {
  text-align:center !important;
  width:60px !important;
  padding:5px !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover td.rdr_count h4 {
  font-size:16px !important;
  font-weight:bold !important;
  font-style:normal !italic;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover td.rdr_count h5 {
  font-size:12px !important;
  font-weight:bold !important;
  font-style:normal !italic;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover td.rdr_content {
  max-width:300px !important;
  font-family:Georgia,serif !important;
  font-size:13px !important;
  font-style:italic !important;
  text-decoration:none !important;
}

div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover div.rdr_sbRolloverTable a.rdr_tag{
  display:inline-block !important;
  white-space:normal !important;
  padding: 8px 5px 0 !important;
}

div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover ins    { text-decoration:none !important; }
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover a.rdr_share_link img    { max-width:20px !important;margin:0 5px -5px 0 !important; float:none !important;}

div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover .feedbackMsg {
    display: block !important;
    clear: both !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover .feedbackMsg .rdr_label_icon{
    height: 18px !important;
    width: 18px !important;
    float: left !important;
    top: -3px !important;
    position: relative !important;
    margin: 0 4px 0 0 !important;
    background: url(../images/readr_icons_grey.png) no-repeat -110px 0 transparent !important;
}

div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover .shareWrapper, div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover .rdr_select_user_board {
    display: block !important;
    clear: both !important;
    margin: 8px 0 !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover .rdr_select_user_board div.rdr_success {
  display:inline-block !important;
}

div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover .shareWrapper strong.rdr_share_it {
    margin-right: 6px !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover .tipReactToOtherStuff {
    clear: both !important;
    line-height: 1.2em !important;
}

div.rdr_sandbox div.rdr a.rdr_seeit_link,
div.rdr_sandbox div.rdr a.rdr_undo_link {
    font-style: normal !important;
    text-decoration: underline !important;
    color: #008BE4 !important;
    margin: 0 4px 0 0 !important;
    white-space: nowrap !important;
}
div.rdr_sandbox div.rdr div.rdr_thin div.rdr_success a.rdr_seeit_link,
div.rdr_sandbox div.rdr div.rdr_thin div.rdr_success a.rdr_undo_link {
  white-space: normal !important;
}
div.rdr_sandbox div.rdr.rdr_tag_details.rdr_sbRollover .pipe{
    margin: 0 4px !important;   
}

div#rdr-page-summary.defaultSummaryBar{
    position: fixed !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important;
    width: 100% !important;
    z-index: 95000 !important;
}
div#rdr-page-summary.defaultSummaryBar div.rdr.rdr-summary {
  margin-bottom:-1px !important;
}
div#rdr-page-summary.defaultSummaryBar .rdr-summary{
  -moz-box-shadow:0px 1px 4px #ccc !important;
  -webkit-box-shadow:0px 1px 4px #ccc !important;
  box-shadow:0px 1px 4px #ccc !important;
}

/* custom in-page highlight */
.rdr_hilite {
    background-color: #fe7 !important;
    color: #333333 !important;
    text-decoration: none !important;
    /*disable user selection*/
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(217,211,95)),
    color-stop(0.39, rgb(252,245,154))
    ) !important;
    background-image: -moz-linear-gradient(center bottom , #D9D35F 0%, #FCF59A 39%) !important;
    -webkit-user-select:none !important; 
    -k-user-select:none !important; 
    -moz-user-select:none !important; 
    user-select:none !important;
}

.rdr_hilite_start{}
.rdr_hilite_end{}

/*style for our widget components like the actionbar, indicator details etc.  Does rounded cornders, shadow, etc.*/
div.rdr_sandbox .rdr_widget{
    -moz-box-shadow:0 0 10px 1px #aaa !important;
    -webkit-box-shadow:0 0 10px 1px #aaa !important;
    box-shadow:0 0 10px 1px #aaa !important;

    -webkit-border-radius:6px !important;
    -moz-border-radius:6px !important;
    border-radius:6px !important;
}
/*rdr_widget_bar overrides rdr_widget*/
div.rdr_sandbox .rdr_widget_bar{
    -webkit-border-radius:5px !important;
    -moz-border-radius:5px !important;
    border-radius:5px !important;
}


/*socialPageShareBox*/
div.rdr_socialPageShareBoxHook{
    position: absolute !important;
    overflow: visible !important;
    height: 0 !important;
    width: 0 !important;
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 90000 !important;
}
div.rdr_socialPageShareBox{
    display: block !important;
    padding: 2px 0 !important;
    background-color: #eee !important;
    position: absolute !important;
    left: -100px !important;
    box-shadow:1px 1px 4px #CCCCCC !important;
}
div.rdr_socialPageShareBox.rdr_socialPageShareBox_default{
    top:100px !important;
    left: 0 !important;
    display: block !important;
    padding: 2px 0 !important;
    background-color: #eee !important;
}
div.rdr_socialPageShareBox .rdr_innerWrap{
    text-align: center !important;
}
div.rdr_socialPageShareBox .rdr_innerWrap ul{
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
}
div.rdr_socialPageShareBox .rdr_innerWrap ul li{
    display: block !important;
    list-style: none outside none !important;
    margin: 10px !important;
    padding: 0 !important;
    background: none !important;
    box-sizing: border-box !important;
}
div#readrBoardSocialWidgetButton{
    display: block !important;
    visibility: visible !important;
    position: relative !important;
    vertical-align:top !important;
}
div#readrBoardSocialWidgetButton .rdr_shareBubble{
    position: relative !important;
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #BBBBBB !important;
    border-radius: 3px 3px 3px 3px !important;
    min-height: 18px !important;
    min-width: 15px !important;
}

div#readrBoardSocialWidgetButton .rdr_bubbleTriangleWrap{
    background: none repeat scroll 0 0 #FFFFFF !important;
    position: absolute !important;
    overflow: visible !important;
    bottom: 0 !important;
    line-height: 0 !important;
    left: 50% !important;
    right: auto !important;
    top: auto !important;
}
div#readrBoardSocialWidgetButton .rdr_bubbleTriangleWrap .rdr_innerTriangle{
    position: absolute !important;
    left: -3px !important;
    top:0 !important;
    border-top: 3px solid white !important;
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
    border-bottom: 3px solid transparent !important;
    position: absolute !important;
    z-index: 101 !important;
}
div#readrBoardSocialWidgetButton .rdr_bubbleTriangleWrap .rdr_outerTriangle{
    position: absolute !important;
    left:-4px !important;
    top:0 !important;
    border-top: 4px solid #BBBBBB !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    z-index: 100 !important;
}
div#readrBoardSocialWidgetButton .rdr_bubbleButton{
    background: url("../images/socialPageShareButton.png") no-repeat scroll 0 0 transparent !important;
    height: 22px !important;
    left: 0 !important;
    margin-top: 6px !important;
    position: relative !important;
    width: 102% !important;
    z-index: 102 !important;
}
div#readrBoardSocialWidgetButton .rdr_bubbleButton.hover,
div#readrBoardSocialWidgetButton .rdr_bubbleButton:hover{
    background: url("../images/socialPageShareButton-hover.png") no-repeat scroll 0 0 transparent !important;
}
div#readrBoardSocialWidgetButton .rdr_bubbleCount{
    text-align: center !important;
    white-space: nowrap !important;
    font-size: 16px !important;
    height: 34px !important;
    line-height: 34px !important;
    width: 100% !important;
    vertical-align:top !important;
    font-family: arial !important;
}


div.rdr_reactions {
    min-width:120px !important;
}

/* round those corners */
.rdr.rdr_brtl,
.rdr .rdr_brtl   { -moz-border-radius-topleft:6px !important; -webkit-border-top-left-radius:6px !important; border-top-left-radius:6px !important; }

.rdr.rdr_brtr,
.rdr .rdr_brtr   { -moz-border-radius-topright:6px !important; -webkit-border-top-right-radius:6px !important; border-top-right-radius:6px !important; }

.rdr.rdr_brbr,
.rdr .rdr_brbr   { -moz-border-radius-bottomright:6px !important; -webkit-border-bottom-right-radius:6px !important; border-bottom-right-radius:6px!important; }

.rdr.rdr_brbl,
.rdr .rdr_brbl   { -moz-border-radius-bottomleft:6px !important; -webkit-border-bottom-left-radius:6px !important; border-bottom-left-radius:6px !important; }


/* user education bar */
div.rdr_sandbox div.rdr_alert_box        { position:fixed !important; top:-400px;; left:10px !important; background:#f0f0f0 !important; min-width:220px !important; max-width:300px !important; padding:0px !important; z-index:12000 !important; overflow:hidden !important; -moz-box-shadow:0 0 10px 1px #aaa  !important; -webkit-box-shadow:0 0 10px 1px #aaa  !important; box-shadow:0 0 10px 1px #aaa !important; }
div.rdr_sandbox div.rdr_alert_box a      { color:#008be4 !important; }
div.rdr_sandbox div.rdr_alert_box_1      { background: #fff !important; height:30px !important; }
div.rdr_sandbox div.rdr_alert_box_1 h1   { padding:11px 0 0 26px !important; cursor:text !important; clear:none !important;}

div.rdr_sandbox div.rdr_alert_box_2      { background: #f0f0f0 !important; padding:10px 10px !important; font-size:12px !important; color:#666 !important;}
div.rdr_sandbox div.rdr_alert_box_x      { position:absolute !important; right:10px !important; top:7px !important; font-size:14px !important; cursor:pointer !important; color:#999 !important; }
div.rdr_sandbox div.rdr_alert_box_2 span {
    background:url(../images/actionbar_icons.png) no-repeat -8px -8px transparent !important;
    display:inline-block !important;
    height:22px !important;
    width:16px !important;
    text-indent:-9999px !important;
}

div.rdr_sandbox div.rdr_alert_box_1 img.rdr_pin { 
    position:static !important;
    margin:10px 0px 10px 7px !important;
    float:left !important;
}
div.rdr_sandbox div.rdr_alert_box_2 img.rdr_pin {
    display: inline !important;
    float: none !important;
    margin: 0 0 -4px !important;
    position: static !important;
}

div.rdr_sandbox div.rdr_alert_box.rdr_fromShareLink .reactionText{
    display: block !important;
    margin: 10px 0 !important;
}

div.rdr_sandbox div.rdr_alert_box.rdr_fromShareLink a:hover{
    text-decoration: underline !important;
}
div.rdr_sandbox div.rdr_alert_box .seeItLinkText {
    margin:10px 0 !important;
    display: block !important;
    font-style: normal !important;
}

.rdr_link{
    white-space: nowrap !important;
}

/*everything below here is stuff that is inline to the client's document.  Generally will use !important for everything*/

/* container indicator icons */
div.rdr_indicator {
    /*start with 0 opacity so it can fade in properly*/
    /* opacity for .rdr_indicator set in js instead of here. Fade it in on load so we can still use display:inline !important; */
    opacity:0.0;;
    -moz-opacity:0.0;;
    -khtml-opacity:0.0;;
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
    z-index:11000 !important;
    text-decoration:none !important;
    border:none !important;
    cursor:progress !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}
div.rdr_indicator.rdr_indicator_for_media {
    cursor:pointer !important;
}

/*for the text ones reset it with !important because it will be inline to the doc, so it won't be in the the sandbox,*/
/*this should stay above the rest of the indicator stuff so it can get overwridden as needed. */
/*todo: should all these things really be in the * part (the all children part) ?  */
div.rdr_indicator_for_text, div.rdr_indicator_for_text * {
    display:inline !important;
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
    z-index:11000 !important;
    text-decoration:none !important;
    border:none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}
/*the indicator body will be moved up to compensate*/
div.rdr_indicator_for_text{
    vertical-align: text-top !important;
}

div.rdr_sandbox #rdr_indicator_details_wrapper{
    z-index:11001 !important; /*should be larger than the indicator z-index*/
    position:absolute !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    background:transparent !important;
}
div.rdr_sandbox div.rdr_indicator_details { 
    position:absolute !important;
    background:#fff !important;
    color: #666666 !important;
    font: 12px Arial,sans-serif !important;
    border:1px solid #c9c9c9 !important; 
    
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(236,236,236)),
    color-stop(0.39, rgb(255,255,255))
    ) !important;
    background-image: -moz-linear-gradient(center bottom , #ECECEC 0%, #fff 39%) !important;
    margin:-5px 0 0 -4px !important;
    overflow:hidden !important;
    display:none;; /*start with them hidden by default - will override with js*/
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;

    /*for consistent measuing of width and positioning*/
    -webkit-box-sizing : border-box !important;
    -moz-box-sizing : border-box !important;
    -o-box-sizing : border-box !important;
    box-sizing : border-box !important; 
}
div.rdr_sandbox.rdr_video_details, div.rdr_sandbox.rdr_video_details div.rdr_indicator_details {
  position:static !important;
  display:block !important;
}
div.rdr_sandbox div.rdr_indicator_details div.rdr_body_wrap{
    padding:4px 3px 3px 3px !important;
}
div.rdr_sandbox div.rdr_body_wrap{
    padding:4px !important;

}

div.rdr_sandbox div.rdr_indicator_details .rdr_see_more {
    padding: 0 3px !important;
}

div.rdr_indicator, 
div.rdr_sandbox div.rdr_indicator_details,
div.rdr_sandbox div.rdr_sentimentBox .rdr_indicator_stats
{
    /*keep the same for both indicator and details so that they overlap nicely*/
    color: #666666 !important;
    font: 12px Arial,sans-serif !important;
    white-space: nowrap !important;
}

/*indicator pin both*/
div.rdr_indicator img.rdr_pin,
div.rdr_sandbox img.rdr_pin,
div.rdr_sandbox div.rdr_indicator_details img.rdr_pin,
div.rdr_sandbox div.rdr_sentimentBox img.rdr_pin { 
    background:url("../images/readr_icons.png") no-repeat 0 -1px !important; 
    position:absolute !important;
    margin:0 !important;
}
div.rdr_sandbox div.rdr_sentimentBox img.rdr_pin {
    margin-top:-1px !important;
}
div.rdr_sandbox div.rdr_indicator.rdr_indicator_for_media img.rdr_pin { 
    background:url("../images/readr_icons.png") no-repeat -2px -1px !important; 
    position:absolute !important;
    margin:0 !important;
}
/*indicator pin inline indicator only*/
div.rdr_indicator img.rdr_pin{ 
    top: auto !important;
    left: auto !important;
}
/*indicator pin indicator details only*/
div.rdr_indicator_details img.rdr_pin{ 
}

div.rdr_indicator div.rdr_indicator_body { 
    position:absolute !important;
    top:0 !important; /*don't make important so that our js can update*/
    left:0 !important; /*don't make important so that our js can update*/
    margin:0 !important;
    overflow:hidden !important;
    min-height:16px !important;
}

/*for now give the text indicators a small offset so the details don't cover the end of content todo: id:12345*/
div.rdr_indicator_for_text div.rdr_indicator_body{
    left: 4px !important;
    /*top: -15px !important;*/
}
div.rdr_indicator_for_media div.rdr_indicator_body{
    background:white !important;
    height: auto !important;
    color: #666666 !important;
    font: 12px Arial,sans-serif !important;
    padding: 5px 5px 2px 4px !important;

    border-radius: 4px 4px 4px 4px !important;

    -moz-box-shadow:0 0 10px 1px #aaa  !important;
    -webkit-box-shadow:0 0 10px 1px #aaa  !important;
    box-shadow:0 0 10px 1px #aaa !important;

}


div.rdr_sandbox div.rdr_indicator_details_body {
    width:auto !important;
    display:inline !important;
    white-space:nowrap !important;
}

div.rdr_sandbox div.rdr_indicator_details_for_media div.rdr_indicator_details_body {
    display: inline-block !important;
    float: left !important;
    margin-top: 4px !important;
}

/*now override styles for the image containers*/
div.rdr_indicator_for_media {
    /*display:absolute !important;*/
    display:none;;
    opacity:1 !important;
    -moz-opacity:1 !important;
    -khtml-opacity:1 !important;
}

div.rdr_indicator_for_media.rdr_live_hover {
    display:block !important;
}

div.rdr_sandbox div.rdr_indicator_details_for_media {
    overflow:hidden !important; /*for the animate() out to work nicely*/
    height:0;;
    display:block !important;
    margin:0 !important;
    -moz-border-radius:0px 0px 6px 6px !important;
    -webkit-border-radius:0px 0px 6px 6px !important;
    border-radius:0px 0px 6px 6px !important;
    box-shadow:  0px 4px 6px -2px #ccc !important;
    -moz-box-shadow:  0px 4px 6px -2px #ccc !important;
    -webkit-box-shadow:  0px 4px 6px -2px #ccc !important;
    background:#f0f0f0 !important;
    border-width:0 !important;
}
div.rdr_sandbox.rdr_video_details div.rdr_indicator_details_for_media {
  height:auto;
  -moz-border-radius:0px 0px 0px 0px !important;
  -webkit-border-radius:0px 0px 0px 0px !important;
  border-radius:0px 0px 0px 0px !important;
  box-shadow: 0 !important;
  -moz-box-shadow:  0 !important;
  -webkit-box-shadow:  0 !important;
}
div.rdr_sandbox div.rdr_indicator_details_for_media.rdr_has_border {
    border-width:1px !important;
}

div.rdr_indicator_for_media_inline div.rdr_indicator_body { 
    left:-12px !important;
    top:-36px !important;    
}

div.rdr_sandbox div#rdr_event_pixels {
    position:absolute !important;
}
div.rdr_sandbox div.rdr_container_tracker{
    position:absolute !important;
}

div.rdr_sandbox div.rdr_media_border_wrap{
    position:absolute !important;
    top:0 !important;
    left:0 !important;
    z-index:10500 !important;
    display: none !important; /*to be overridden below*/
}
/*the only divs here will be the border elements*/
div.rdr_sandbox div.rdr_media_border_wrap div{
    position:absolute !important;
}

div.rdr_sandbox div.rdr_media_border_wrap.engaged{
    /*uncomment to turn on media hilites*/    
    display: block !important;
}

div.rdr_sandbox div.rdr_media_border_wrap.engaged.engagedForShareLink{
    display: block !important;
}


div.rdr_sandbox div.rdr_mediaHilite_top{
    box-shadow:  0 -1px 10px 1px #008BE4 !important;
    -moz-box-shadow:  0 -1px 10px 1px #008BE4 !important;
    -webkit-box-shadow:  0 -1px 10px 1px #008BE4 !important;
    border:none !important;
    border-top: 2px solid #80C5F1 !important;
    border-left: 2px solid #80C5F1 !important;
    border-right: 2px solid #80C5F1 !important;
}
div.rdr_sandbox div.rdr_mediaHilite_right{
    -webkit-box-shadow: 1px 0 10px 1px #008BE4 !important;
    -moz-box-shadow: 1px 0 10px 1px #008BE4 !important;
    box-shadow: 1px 0 10px 1px #008BE4 !important;
    border:none !important;
    border-right: 2px solid #80C5F1 !important;
}
div.rdr_sandbox div.rdr_mediaHilite_bottom{
    -webkit-box-shadow: 0 1px 10px 1px #008BE4 !important;
    -moz-box-shadow: 0 1px 10px 1px #008BE4 !important;
    box-shadow: 0 1px 10px 1px #008BE4 !important;
    border:none !important;
    border-bottom: 2px solid #80C5F1 !important;
    border-left: 2px solid #80C5F1 !important;
    border-right: 2px solid #80C5F1 !important;
}
div.rdr_sandbox div.rdr_mediaHilite_left{
    -webkit-box-shadow: -1px 0 10px 1px #008BE4 !important;
    -moz-box-shadow: -1px 0 10px 1px #008BE4 !important;
    box-shadow: -1px 0 10px 1px #008BE4 !important;
    border:none !important;
    border-left: 2px solid #80C5F1 !important;
}

div.rdr_indicator span.rdr_count, 
div.rdr_sandbox div.rdr_indicator_details span.rdr_count,
div.rdr_sandbox div.rdr_sentimentBox span.rdr_count { 
    position:relative !important;
    margin-left:16px !important;
    font-size: 12px !important;
}
div.rdr_sandbox div.rdr_indicator.rdr_indicator_for_media span.rdr_count {
    margin-left:13px !important;
}

div.rdr_sandbox span.rdr_indicator_categoryTitle{ 
    width:auto !important;
    display:inline !important;
    white-space:nowrap !important;

}

div.rdr_sandbox div.rdr div.rdr_body.rdr_tags_list { 
    width:auto !important;
    display:inline-block !important;
    text-decoration:none !important;
    margin:0 -3px -2px 1px;;
}
div.rdr_sandbox div.rdr_tags_list a.rdr_tag {
    /*white-space:nowrap !important;*/
}

div.rdr_sandbox span.rdr_tags_list_tag {
    padding:2px !important;
}

div.rdr_sandbox div#rdr_loginPanel {
    z-index: 12101 !important;
}
