.rdr * {
    /*temp reset*/
    margin:0;
    padding:0;
    color:#666;
}
.rdr_blue {color:#008be4;}
.rdr img {
    width:auto !important;
}
#rdr_sandbox{
    /*temp reset*/
    position:absolute;
    margin:0;
    padding:0;
    top:0;
    left:0;
}

#rdr_sandbox a div.rdr       {text-decoration:none;}
#rdr_sandbox div.rdr {
    font:normal 12px Arial, sans-serif;
    /* need to add a css reset here */
}

#rdr_sandbox div.rdr.rdr_window {
    padding:0px;
    position:absolute;
    z-index:12000 !important;
    top:100px;
    left:100px;
    background:#f6f6f6;
    overflow:hidden;
    min-width:90px;
}

/* the action bar */
#rdr_sandbox div.rdr_actionbar {
    border:1px solid #c9c9c9; 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(236,236,236)), color-stop(0.39, rgb(255,255,255)) );
    background-image: -moz-linear-gradient(center bottom , #ECECEC 0%, #fff 39%);

    padding:0;
    font:normal 12px Arial, sans-serif;
    position:relative;
    z-index:11000;
    height:22px;
}

#rdr_sandbox div.rdr_actionbar ul {
    margin:0;
    float: left; /*do this for the rdr_indicator_for_media*/
}
#rdr_sandbox div.rdr_actionbar li {
    display:inline-block;
    position:relative;
    list-style: none !important;
    background: none
    padding: 0 !important;
}

#rdr_sandbox div.rdr_actionbar li a {
    background:url("../images/actionbar_icons.png") no-repeat 0 0 transparent;
    display:block;
    height:22px;
    width:22px;
    text-indent:-9999px;
    float:left;
}

#rdr_sandbox div.rdr_actionbar li.rdr_icon_reaction a        { background-position:-4px -5px; }
#rdr_sandbox div.rdr_actionbar li.rdr_icon_bookmark a        { background-position:-61px -4px; }


#rdr_sandbox div.rdr_actionbar li:hover                     { 
    background: #CCE6FF !important;
}
#rdr_sandbox div.rdr_actionbar li.rdr_actionbar_first     { 
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
}
#rdr_sandbox div.rdr_actionbar li.rdr_actionbar_last    { 
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
}

/*override the above if it's an actionbar for images*/
#rdr_sandbox div.rdr_actionbar_for_media { 
    /*match rdr_engage_media hilite*/
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
    -moz-box-shadow:0 0 10px 1px #008be4 !important;
    -webkit-box-shadow:0 0 10px 1px #008be4 !important;
    box-shadow:0 0 10px 1px #008be4 !important;
    border: 1px solid #bbb;
    height: auto;
}
#rdr_sandbox div.rdr_actionbar_for_media li { 
    display:block !important;
    float:left !important;
    clear:both !important;
}
#rdr_sandbox div.rdr_actionbar_for_media li.rdr_actionbar_first     { 
    -moz-border-radius:0 5px 0 0;
    -webkit-border-radius:0 5px 0 0;
    border-radius:0 5px 0 0;
}
#rdr_sandbox div.rdr_actionbar_for_media li.rdr_actionbar_last    { 
    -moz-border-radius:0 0 5px 0;
    -webkit-border-radius:0 0 5px 0;
    border-radius:0 0 5px 0;
}


#rdr_sandbox div.rdr_actionbar span.rdr_icon_divider         { width:1px; background:#BBB; height:70%; position:absolute; top:15%; right:0; display:none;/*show dynamically*/}

/* the tooltip */
div.rdr.rdr_tooltip {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 5px #888888;
    -webkit-box-shadow:0 0 5px #888888;
    box-shadow:0 0 5px #888888;
    background-color:#fff;
    border:2px solid #80aec9;
    margin:0 0 0 13px;/* 0.5 icon width with compensation for border*/
    padding:5px 0;
    position:absolute;
    text-align:center;
    left:-55px; /*0.5 tooltip width*/
    top:-36px;
    width:100px;
    z-index:10000;
}
div.rdr_actionbar_for_media div.rdr_tooltip,
div.rdr_tooltip.rdr_tooltip_sideways {
    border:2px solid #80aec9;
    margin:0 0 0 13px;/* 0.5 icon width with compensation for border*/
    padding:5px 0;
    position:absolute;
    text-align:center;
    left:16px;
    top:-4px;
    width:100px;
    z-index:10000;
    display:block;
}

div.rdr_tooltip.rdr_tooltip_wide { 
    width:200px; 
    padding:8px 10px;
}

div.rdr.rdr_tooltip-arrow { border-color:#fff transparent transparent transparent; border-style:solid; border-width:7px; height:0; width:0; position:absolute; bottom:-14px; left:43%;}
div.rdr.rdr_tooltip-arrow-border { border-color:#80aec9 transparent transparent transparent; border-style:solid; border-width:7px; height:0; width:0; position:absolute; bottom:-16px; left:43%;}


div.rdr_top div.rdr.rdr_tooltip-arrow-border { border-color:transparent transparent #80aec9; border-style:solid; border-width:7px; height:0; width:0; position:absolute; top:-16px; bottom:auto; left:43%;}
div.rdr_top div.rdr.rdr_tooltip-arrow { border-color:transparent transparent #fff; border-style:solid; border-width:7px; height:0; width:0; position:absolute; top:-14px; bottom:auto; left:43%;}
 

div.rdr_actionbar_for_media div.rdr.rdr_tooltip-arrow,
div.rdr_tooltip.rdr_tooltip_sideways div.rdr.rdr_tooltip-arrow { border-color:transparent white transparent transparent; border-style:solid; border-width:7px; height:0; width:0; position:absolute; top:5px; left:-14px}

div.rdr_actionbar_for_media div.rdr.rdr_tooltip-arrow-border,
div.rdr_tooltip.rdr_tooltip_sideways div.rdr.rdr_tooltip-arrow-border {
border-color:transparent #80aec9 transparent transparent; border-style:solid; border-width:7px; height:0; width:0; position:absolute; top:5px; left:-16px}


div.rdr.rdr_tooltip div.rdr_tag_share    { display:block; width:12px; height:13px; background:url(../images/tag_icons.png) -50px -13px no-repeat; left:45px; position:absolute;top:-20px; 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

div.rdr_tag_share:hover div.rdr_tooltip     { display:block; }

/*compress ths about icon width*/
#rdr_sandbox div.rdr_actionbar li.rdr_icon_about             { width:24px; } /*normal width is 30px */
#rdr_sandbox div.rdr_actionbar li.rdr_icon_about a           { background-position: -3px 0; width:24px;} /*from line above:(30-24)/2 = 3px left*/
#rdr_sandbox .rdr_tooltip_about                                  { margin:0 0 0 11px;/* 0.5 icon width*/ }

/* global tag defs */
#rdr_sandbox div.rdr h1, 
#rdr_sandbox div.rdr h2  {font-family:'ReadrLeague',Arial,Helvetica,sans-serif !important; color:#666; margin:0; line-height:1.1em !important;}
#rdr_sandbox div.rdr h1  {font-size:21px; cursor:move; padding:1px 9px; font-weight:100;}
#rdr_sandbox div.rdr h1 span.rdr_contentNode_text {font-size:18px; color:#008be4;}

#rdr_sandbox div.rdr li {background:none; padding:0;}

div.rdr strong {font-weight:bold !important;}

/* the widget */
#rdr_sandbox div.rdr_window h1,
#rdr_sandbox div.rdr_window h2  {color:#666 !important; font-size:19px !important; letter-spacing:0.25px !important;}

#rdr_sandbox div.rdr_header div.rdr_indicator_stats{
    position:absolute;
    margin:3px 0 0 5px;
    cursor: move !important;
}

#rdr_sandbox div.rdr.rdr_window { max-width:600px; }
#rdr_sandbox div.rdr.rdr_window div.rdr_header                      { background:#fff !important; position:relative !important; height:18px !important; padding:5px 0 !important; z-index:5; cursor:move !important; border-bottom:1px solid #ddd !important;}
#rdr_sandbox div.rdr.rdr_window div.rdr_footer                      { background:#f0f0f0 !important; position:absolute !important; height:18px; padding:3px 6px 6px; bottom:0; width:95%; display:none;}
#rdr_sandbox div.rdr.rdr_window div.rdr_contentSpace                { background:#f0f0f0 !important; position:relative !important; margin-bottom:6px; overflow:hidden;}
#rdr_sandbox div.rdr.rdr_window div.rdr_contentSpace div.rdr_body   { max-height:266px; margin:0 4px; float:left !important; display:block !important;}
#rdr_sandbox div.rdr.rdr_window div.rdr_contentSpace div.rdr_body div.jspPane   { margin:0 !important; }
#rdr_sandbox div.rdr.rdr_window div.rdr_contentSpace div.rdr_body div.jspHorizontalBar   { display:none !important; }

#rdr_sandbox div.rdr.rdr_window div.rdr_header h1                   { margin-left:14px !important; }

#rdr_sandbox div.rdr textarea,
#rdr_sandbox div.rdr input[type="text"]   { width:92%; } /*reset with js to ensure it matches the padding. (dont know why % doesn't work in the padding for inputs) */
#rdr_sandbox div.rdr button {
    border:1px solid #aaa; 
    -moz-border-radius:3px 3px 3px 3px; 
    -webkit-border-radius:3px 3px 3px 3px; 
    border-radius:3px 3px 3px 3px; 
    -moz-box-shadow:0 -6px 11px -6px #ccc inset; -webkit-box-shadow:0 -6px 11px -6px #ccc inset; box-shadow:0 -6px 11px -6px #ccc inset; color:#454545; font-family:Arial; font-size:12px; padding:2px 5px; width:auto; cursor:pointer; float:right;margin-right:6px;margin-bottom:10px;
}

#rdr_sandbox div.rdr_window_dragHandle{
    /*override the jquery ui hadle css*/
    height:6px;
    bottom:0 !important; /*overrides jquery css*/

    opacity:0.1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    -khtml-opacity:0.1;
    background: #bbbbbb;
}

#rdr_sandbox div.rdr_window_dragHandle.rdr_hover,
#rdr_sandbox div.rdr_window.ui-resizable-resizing .rdr_window_dragHandle {
    opacity:0.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity:0.3;
}

/* commentSet */
#rdr_sandbox div.rdr div.rdr_comments                       {width:292px;}
#rdr_sandbox div.rdr div.rdr_commentSet                     {margin:5px 10px; padding-bottom:5px; overflow:auto; border-bottom:1px solid #ddd;}
#rdr_sandbox div.rdr div.rdr_commentSet:last-child,
#rdr_sandbox div.rdr div.rdr_commentSet.rdr_lastchild       {border:none;} /*not the end of the world if this fails in IE, but compensate later*/

#rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentBy          {font: bold 11px Arial; color:#666; overflow:auto; padding-top:8px;}
#rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentBy img      {width:24px; height:24px; float:left; margin:-8px 5px 0 0 !important; border:1px solid #d0dee6;}
#rdr_sandbox div.rdr div.rdr_commentSet div.rdr_comment            {font: italic 14px Georgia; color:#999;padding:3px; }
#rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentReply       {font-weight:normal; margin-right:5px; text-transform:uppercase; font-size:9px; float:right;}
#rdr_sandbox div.rdr div.rdr_commentSet a.rdr_tag                            {margin-top:3px;}
#rdr_sandbox div.rdr div.rdr_commentSet a.rdr_tag div.rdr_tag_share          {margin-left:-12px;}
#rdr_sandbox div.rdr div.rdr_commentSet a.rdr_tag:hover div.rdr_tag_share    {margin-left:3px;}

/* tag pills and such */
div.rdr.rdr_indicator_details table.rdr_tags,
div.rdr.rdr_window table.rdr_tags {
    /*margin-top:3px !important;
    margin-right:3px !important;*/
    margin-top:3px !important;
    margin-right:auto !important;
    margin-bottom:0 !important;
    margin-left:auto;
    float:left !important;
}
div.rdr.rdr_indicator_details table.rdr_tags {
    margin-top: -4px !important;
}

div.rdr.rdr_indicator_details table.rdr_tags td.rdr_activePill a.rdr_tag,
div.rdr.rdr_window table.rdr_tags td.rdr_activePill a.rdr_tag {
    background: -moz-linear-gradient(center top , #e8e8e8, #fff) repeat scroll 0 0 transparent;
    border-top: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(128, 128, 128, 0.7), 0 -1px 1px rgba(128, 128, 128, 0.4) inset;
}

div.rdr.rdr_indicator_details table.rdr_tags td.rdr_activePill a.rdr_tag span.rdr_tag_count,
div.rdr.rdr_window table.rdr_tags td.rdr_activePill a.rdr_tag span.rdr_tag_count {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffadd1f9', endColorstr='#ffddedff');
    background: -webkit-gradient(linear, center top, center bottom, from(#add1f9), to(#ddedff)); 
    background: -moz-linear-gradient(center top , #add1f9, #ddedff) repeat scroll 0 0 transparent;
    box-shadow: -1px -1px 1px rgba(128, 128, 128, 0.4) inset;
}

div.rdr.rdr_indicator_details table.rdr_tags td.rdr_activePill,
div.rdr.rdr_window table.rdr_tags td.rdr_activePill {
    background:#fff;
}
div.rdr.rdr_indicator_details table.rdr_tags tr.rdr_nextSteps,
div.rdr.rdr_window table.rdr_tags tr.rdr_nextSteps {
    background:#fff;
    font-size:10.5px;
    
}
div.rdr.rdr_indicator_details table.rdr_tags tr.rdr_nextSteps div,
div.rdr.rdr_window table.rdr_tags tr.rdr_nextSteps div {
    margin:4px 0 !important;
}
div.rdr.rdr_indicator_details table.rdr_tags tr.rdr_nextSteps div.rdr_nextSteps_container,
div.rdr.rdr_window table.rdr_tags tr.rdr_nextSteps div.rdr_nextSteps_container {
    padding:0 2px !important;
}
div.rdr.rdr_indicator_details table.rdr_tags tr.rdr_nextSteps hr,
div.rdr.rdr_window table.rdr_tags tr.rdr_nextSteps hr {
    height:1px !important;
    background:#d0d0d0 !important;
    border: none !important;
    width: 98% !important;
}
div.rdr.rdr_indicator_details table.rdr_tags tr.rdr_nextSteps a,
div.rdr.rdr_window table.rdr_tags tr.rdr_nextSteps a {
    font-style:normal !important;
    text-decoration:underline !important;
    color:#008be4 !important;
}
div.rdr.rdr_indicator_details table.rdr_tags tr.rdr_nextSteps input[type="text"],
div.rdr.rdr_window table.rdr_tags tr.rdr_nextSteps input[type="text"] {
    width:90% !important;
    color:#aaa !important;
    font-size:10.5px !important;
    padding:2px !important;
    margin:2px 0 !important;
}

div.rdr.rdr_indicator_details table.rdr_tags td,
div.rdr.rdr_window table.rdr_tags td {
    padding:3px 0 0 2px;
}
div.rdr a.rdr_tag     { 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f7f7', endColorstr='#ffe0e0e0');
    background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e8e8e8)); 
    background: -moz-linear-gradient(center top , #ffffff, #e8e8e8) repeat scroll 0 0 transparent;

    border-radius: 7px 7px 7px 7px;
    border-top: 1px solid #f8f8f8;
    box-shadow: 0 1px 2px rgba(128, 128, 128, 0.7);
    color: #767676;
    cursor: pointer !important;
    display: inline !important;
    font-size: 11px !important;
    font-style: normal !important;
    font-weight: normal !important;
    height: 21px !important;
    margin: 0 5px 0 -2px !important;
    /*overflow-x: hidden !important;*/
    padding: 4px 5px !important;
    position: relative !important;
    text-decoration: none !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-transform: none !important;
    white-space: nowrap !important;
    z-index: 10001;
}
div.rdr.rdr_indicator_details a.rdr_tag,
div.rdr.rdr_window a.rdr_tag     {
    display:block !important;
    padding: 0px 5px !important;
    margin: 0 5px 5px 2px !important;
}
div.rdr.rdr_indicator_details td a.rdr_tag,
div.rdr.rdr_window td a.rdr_tag     {
    max-width: 110px !important;
}
div.rdr.rdr_window td div.rdr_cell_wrapper {
    width:100% !important;
    height:25px !important;
    position:relative !important;
}
div.rdr.rdr_window td div.rdr_cell_wrapper span.rdr_comment_hover {
    height:19px !important;
    position:absolute !important;
    left:100% !important;
    top:-3px !important;
    padding:7px 2px 2px !important;
    z-index:11000 !important;
    background:#fff !important;
    display:none !important;
    white-space:nowrap !important;
    cursor:pointer !important;
}
div.rdr.rdr_window td div.rdr_cell_wrapper span.rdr_comment_hover span.rdr_icon {
    display:inline-block !important;
    background:url("../images/widget_icons.png") no-repeat scroll -182px -14px transparent !important;
    width:10px;
    height:10px;
}
div.rdr.rdr_window td.rdr-last-child div.rdr_cell_wrapper span.rdr_comment_hover {
    right:100% !important;
    left:auto !important;
}
div.rdr.rdr_window td:hover {
    background:#fff !important;
}
div.rdr.rdr_window td:hover div.rdr_cell_wrapper span.rdr_comment_hover {
    display:block !important;
}
div.rdr.rdr_window td:hover div.rdr_cell_wrapper span.rdr_has_comment {
    display:none !important;
}
div.rdr.rdr_window td div.rdr_cell_wrapper span.rdr_comment_hover:hover {
    color:#008be4 !important;
}
div.rdr.rdr_window td div.rdr_cell_wrapper span.rdr_comment_hover:hover span.rdr_icon {
    background-position:-482px -14px !important;
}
div.rdr.rdr_indicator_details a.rdr_tag.rdr_custom_tag,
div.rdr.rdr_window a.rdr_tag.rdr_custom_tag     {
    height: 17px !important;
    padding: 4px 5px 0 !important;
}
div.rdr.rdr_indicator_details a.rdr_tag span.rdr_tag_name,
div.rdr.rdr_window a.rdr_tag span.rdr_tag_name {
    display:block !important;
    float:left !important;
    margin-top:4px !important;
    min-width:66px;
    width:84%;
    overflow-x:hidden;
}
div.rdr.rdr_indicator_details a.rdr_tag span.rdr_tag_count,
div.rdr.rdr_window a.rdr_tag span.rdr_tag_count {
    min-width:5px !important;
    display:block !important;
    float:right !important;
    margin-left:-15px !important; /* feels kludgey.  prevents wrapping in the pill in a small rindow */
}
div.rdr.rdr_window span.rdr_has_comment {
    display:block !important;
    position:absolute;
    background:url("../images/widget_icons.png") no-repeat scroll -182px -14px transparent !important;
    right:-5px;
    top:-4px;
    width:10px;
    height:10px;
}
div.rdr a.rdr_tag:hover     { 
    /*background: -moz-linear-gradient(center top , #f7f7f7, #d0d0d0) repeat scroll 0 0 transparent;*/
}
div.rdr a.rdr_tag span.rdr_tag_count    { 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffddedff', endColorstr='#ffadd1f9');
    background: -webkit-gradient(linear, center top, center bottom, from(#ddedff), to(#add1f9)); 
    background: -moz-linear-gradient(center top , #ddedff, #add1f9) repeat scroll 0 0 transparent;
    -moz-border-radius: 0 7px 7px 0 !important;
    -webkit-border-radius: 0 7px 7px 0 !important;
    border-radius: 0 7px 7px 0 !important;
    color: #666666;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 11px !important;
    margin-left: 4px !important;
    margin-right: -5px !important;
    padding: 4px 5px !important;
    text-align: center !important;
}

div.rdr.rdr_indicator_details table.rdr_tags a.rdr_tag span.rdr_tag_count,
div.rdr.rdr_window table.rdr_tags a.rdr_tag span.rdr_tag_count    { 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffddedff', endColorstr='#ffadd1f9');
    background: -webkit-gradient(linear, center top, center bottom, from(#ddedff), to(#add1f9)); 
    background: -moz-linear-gradient(center top , #f0f0f0, #d0d0d0) repeat scroll 0 0 transparent;
}

div.rdr.rdr_indicator_details table.rdr_tags a.rdr_tag.rdr_hover span.rdr_tag_count,
div.rdr.rdr_indicator_details table.rdr_tags a.rdr_tag:hover span.rdr_tag_count,
div.rdr.rdr_window table.rdr_tags a.rdr_tag.rdr_hover span.rdr_tag_count,
div.rdr.rdr_window table.rdr_tags a.rdr_tag:hover span.rdr_tag_count    { 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffddedff', endColorstr='#ffadd1f9');
    background: -webkit-gradient(linear, center top, center bottom, from(#ddedff), to(#add1f9)); 
    background: -moz-linear-gradient(center top , #ddedff, #add1f9) repeat scroll 0 0 transparent;
}

div.rdr a.rdr_tag.rdr_custom_tag input {
    background: transparent !important;
    border: 0 !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
    color: #aaa !important;
    font-size:11px !important;
    padding: 0 !important;
    width: 75px !important;
}
div.rdr a.rdr_tag.rdr_custom_tag input.rdr_default {
    font-style: italic !important;
    font-size:11px !important;
}

div.rdr a.rdr_tag.rdr_custom_tag:hover,
div.rdr a.rdr_tag.rdr_custom_tag.rdr_hover { color:#008be4; background:#fff; box-shadow:0px 0px 4px #aaa; }

div.rdr.rdr-summary div.rdr_note            { clear: both; margin: 5px; padding: 5px; border: 1px solid #008be4; background:#fff; display:none; }
div.rdr.rdr-summary div.rdr_note em         { font-style:italic !important; }
div.rdr.rdr-summary div.rdr_note ins        { text-decoration:none !important; }
div.rdr.rdr-summary div.rdr_note ins img    { margin:0 !important; padding:0 !important; border:0 !important;}


#rdr_sandbox div.rdr div.rdr_close       {position:absolute;top:8px;right:7px;color:#999;cursor:pointer;font-size:14px;z-index:150;}

#rdr_sandbox div.rdr div.rdr_instruct    {color:#666; margin:5px 0;}
#rdr_sandbox div.rdr div.rdr_help        {font:italic 11px Arial;color:#767676; xwidth:100%; position:absolute; top:12px; margin:0 !important; cursor:text; }

#rdr_sandbox div.rdr div.rdr_shareBox                       { background:#edf6ff; border:1px solid #b6d3ee !important; border-radius:8px !important; margin:0 0 0 10px; text-align: center; width: 120px; display:inline-block; padding:3px 0;}
#rdr_sandbox div.rdr div.rdr_share_social                   { overflow:auto !important; }
#rdr_sandbox div.rdr div.rdr_share_social strong            { display:block !important; float:left !important; margin:5px 5px 0 24px !important; }
#rdr_sandbox div.rdr div.rdr_commentBox                     { clear:both; display:block; border-top: 1px solid #d0d0d0; padding-top:5px; }
#rdr_sandbox div.rdr div.rdr_nextSteps_container div.rdr_commentBox                     { border:none; }

#rdr_sandbox div.rdr_window div.rdr_back { float: left; position:relative; z-index:1; width:300px; background:#aaa; font-size:9px; text-transform:uppercase; color:#fff; cursor:pointer; padding: 2px 12px; margin-bottom:4px;}
#rdr_sandbox div.rdr_window div.rdr_back.rdr_hide { margin-top:-10px; }

#rdr_sandbox div.rdr div.rdr_comment textarea    { margin:5px 0; resize:none; padding:5px; width:100%; max-width:94% !important; font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;background:#fff;}
#rdr_sandbox div.rdr div.rdr_comment div.rdr_charCount          {font-size:10px; font-style:italic; color:#999; float:left;}

#rdr_sandbox div.rdr ul.shareLinks { display: block; margin: 2px 0 0; top: 0; padding: 0; float:left; }
#rdr_sandbox div.rdr ul.shareLinks li        {padding:0px 2px; display:inline-block; list-style:none;}
#rdr_sandbox div.rdr ul.shareLinks img       {width:18px !important; margin:0 !important;}

#rdr_sandbox div.rdr table.rdr-one-column div.rdr_share_social { text-align:center !important; }
#rdr_sandbox div.rdr table.rdr-one-column div.rdr_share_social strong { float:none !important; margin:0 !important; }
#rdr_sandbox div.rdr table.rdr-one-column ul.shareLinks { display: inline-block !important; margin: 2px auto 0 !important; float:none !important; }

/* forms */
#rdr_sandbox div.rdr textarea,
#rdr_sandbox div.rdr input[type="text"]  {font-size:14px; color:#666; -moz-box-shadow:inset 0px 0px 5px #ddd;-webkit-box-shadow:inset 0px 0px 5px #ddd; box-shadow:inset 0px 0px 5px #ddd; border:1px solid #ddd; height:auto; width:auto;}
#rdr_sandbox div.rdr button              {font-size:11px; }

/* summary widget */
#rdr-page-summary {position:relative;}

div.rdr.rdr-summary {
    background:#f7f7f7 !important;
    padding-bottom:2px !important;
    margin-bottom:10px !important;
    border:1px solid #ccc;
    /*max-height: 67px;*/
    overflow: hidden !important;
    clear:both !important;
}

/*blunt attack for now*/
div.rdr.rdr-summary * {
    font-size:12px !important; 
    font-family:Arial, sans-serif !important;
    line-height:13px !important;
}

div.rdr.rdr-summary div.rdr-sum-headline {
    background:url(../images/readr_icons.png) -160px 8px no-repeat !important;
    padding:0px 5px 0px 45px !important;
    display:inline-block !important;
    color:#787878 !important;
    line-height: 32px !important;
}
div.rdr.rdr-summary div.rdr-sum-headline div.rdr-call-to-action {
    display: block !important;
    margin: 8px 0pt 0px !important;
}
div.rdr.rdr-summary div.rdr-top-tags {
    padding:8px 5px 0px 8px !important;
    float:left !important;
}
div.rdr.rdr-summary div.rdr-top-tags span {
    white-space:nowrap !important;
    font-weight:bold !important;
    color:#666 !important;
}
div.rdr.rdr-summary div.rdr-top-tags span em {
    font-style:normal !important;
    color:#aaa !important;
}
div.rdr.rdr-summary a.rdr-top-user {
    display:inline !important;
    margin:0 0 0 -6px !important;
    padding: 4px 5px !important;
}
div.rdr.rdr-summary a.rdr-top-user img {
    width:20px !important;
    height:20px !important;
    margin:0 0 -6px 0 !important;
    padding:0 !important;
}

/* custom in-page highlight */
.rdr_hilite {
    background-color: #fe7 !important;
    color: #333333 !important;
    text-decoration: none !important;
    /*disable user selection*/
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(217,211,95)),
    color-stop(0.39, rgb(252,245,154))
    ) !important;
    background-image: -moz-linear-gradient(center bottom , #D9D35F 0%, #FCF59A 39%) !important;
    -webkit-user-select:none; 
    -k-user-select:none; 
    -moz-user-select:none; 
    user-select:none;
}

.rdr_hilite_start{}
.rdr_hilite_end{}

/*style for our widget components like the actionbar, indicator details etc.  Does rounded cornders, shadow, etc.*/
#rdr_sandbox .rdr_widget{
    -moz-box-shadow:0 0 10px 1px #aaa !important;
    -webkit-box-shadow:0 0 10px 1px #aaa !important;
    box-shadow:0 0 10px 1px #aaa !important;

    -moz-border-radius:8px !important;
    -webkit-border-radius:8px !important;
    border-radius:8px !important;
}
/*rdr_widget_bar overrides rdr_widget*/
#rdr_sandbox .rdr_widget_bar{
    -moz-border-radius:5px !important;
    -webkit-border-radius:5px !important;
    border-radius:5px !important;
}

div.rdr_reactions {
    min-width:120px !important;
}

/* round those corners */
.rdr.rdr_brtl,
.rdr .rdr_brtl   { -moz-border-radius-topleft:8px !important; -webkit-border-top-left-radius:8px !important; border-top-left-radius:8px !important; }

.rdr.rdr_brtr,
.rdr .rdr_brtr   { -moz-border-radius-topright:8px !important; -webkit-border-top-right-radius:8px !important; border-top-right-radius:8px !important; }

.rdr.rdr_brbr,
.rdr .rdr_brbr   { -moz-border-radius-bottomright:8px !important; -webkit-border-bottom-right-radius:8px !important; border-bottom-right-radius:8px!important; }

.rdr.rdr_brbl,
.rdr .rdr_brbl   { -moz-border-radius-bottomleft:8px !important; -webkit-border-bottom-left-radius:8px !important; border-bottom-left-radius:8px !important; }


/* user education bar */
#rdr_sandbox div.rdr_alert_box        { position:fixed; bottom:-400px; left:10px; background:#f0f0f0; min-width:200px; max-width:300px; padding:0px; z-index:12000; overflow:hidden; -moz-box-shadow:0 0 10px 1px #aaa  !important; -webkit-box-shadow:0 0 10px 1px #aaa  !important; box-shadow:0 0 10px 1px #aaa !important; }
#rdr_sandbox div.rdr_alert_box a      { color:#008be4 !important; }
#rdr_sandbox div.rdr_alert_box_1      { background: #fff !important; height:30px !important; }
#rdr_sandbox div.rdr_alert_box_1 h1   { padding:6px 0 0 20px !important; cursor:text !important; clear:none !important;}

#rdr_sandbox div.rdr_alert_box_1 span,
#rdr_sandbox div.rdr_alert_box_1 h1 span { font-size:21px; !important}
#rdr_sandbox div.rdr_alert_box_2      { background: #f0f0f0; padding:10px 10px; font-size:12px; color:#666;}
#rdr_sandbox div.rdr_alert_box_x      { position:absolute; right:10px; top:7px; font-size:14px; cursor:pointer; color:#999; }
#rdr_sandbox div.rdr_alert_box_2 span {
    background:url(../images/actionbar_icons.png) no-repeat -8px -8px transparent;
    display:inline-block;
    height:22px;
    width:16px;
    text-indent:-9999px;
}

#rdr_sandbox div.rdr_alert_box_1 img.rdr_pin { 
    position:static !important;
    margin:10px 0px 10px 7px !important;
    float:left !important;
}
#rdr_sandbox div.rdr_alert_box_2 img.rdr_pin {
    display: inline !important;
    float: none !important;
    margin: 0 0 -4px !important;
    position: static !important;
}

/*everything below here is stuff that is inline to the client's document.  Generally will use !important for everything*/

/* container indicator icons */
div.rdr_indicator {
    /*start with 0 opacity so it can fade in properly*/
    /* opacity for .rdr_indicator set in js instead of here. Fade it in on load so we can still use display:inline; */
    opacity:0.0;
    -moz-opacity:0.0;
    -khtml-opacity:0.0;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index:11000;
    text-decoration:none;
    border:none;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

/*for the text ones reset it with !important because it will be inline to the doc, so it won't be in the the sandbox,*/
/*this should stay above the rest of the indicator stuff so it can get overwridden as needed. */
/*todo: should all these things really be in the * part (the all children part) ?  */
div.rdr_indicator_for_text, div.rdr_indicator_for_text * {
    display:inline !important;
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
    z-index:11000 !important;
    text-decoration:none !important;
    border:none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}
/*the indicator body will be moved up to compensate*/
div.rdr_indicator_for_text{
    vertical-align: text-top !important;
}

#rdr_sandbox #rdr_indicator_details_wrapper{
    z-index:11001; /*should be larger than the indicator z-index*/
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:transparent;
}
#rdr_sandbox div.rdr_indicator_details { 
    position:absolute !important;
    background:#fff;
    color: #666666;
    font: 12px Arial,sans-serif;
    border:1px solid #c9c9c9; 
    
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(236,236,236)),
    color-stop(0.39, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(center bottom , #ECECEC 0%, #fff 39%);
    margin:-5px 0 0 -4px;
    overflow:hidden;
    display:none; /*start with them hidden by default - will override with js*/
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;

    /*for consistent measuing of width and positioning*/
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    -o-box-sizing : border-box;
    box-sizing : border-box; 
}
#rdr_sandbox div.rdr_indicator_details_innerWrap{
    padding:4px 3px 3px 3px !important;
}

#rdr_sandbox div.rdr_indicator_details .rdr_see_more {
    padding: 0 3px;
}

div.rdr_indicator, 
#rdr_sandbox div.rdr_indicator_details,
#rdr_sandbox div.rdr_sentimentBox .rdr_indicator_stats
{
    /*keep the same for both indicator and details so that they overlap nicely*/
    color: #666666 !important;
    font: 12px Arial,sans-serif !important;
    cursor: pointer !important;
    white-space: nowrap;
}

/*indicator pin both*/
div.rdr_indicator img.rdr_pin,
#rdr_sandbox img.rdr_pin,
#rdr_sandbox div.rdr_indicator_details img.rdr_pin,
#rdr_sandbox div.rdr_sentimentBox img.rdr_pin { 
    background:url("../images/readr_icons.png") no-repeat 0 -1px !important; 
    position:absolute !important;
    margin:0 !important;
}
/*indicator pin inline indicator only*/
div.rdr_indicator img.rdr_pin{ 
    top: auto !important;
    left: auto !important;
}
/*indicator pin indicator details only*/
div.rdr_indicator_details img.rdr_pin{ 
}

div.rdr_indicator div.rdr_indicator_body { 
    position:absolute !important;
    top:0; /*don't make important so that our js can update*/
    left:0; /*don't make important so that our js can update*/
    margin:0 !important;
    overflow:hidden !important;
}

/*for now give the text indicators a small offset so the details don't cover the end of content todo: id:12345*/
div.rdr_indicator_for_text div.rdr_indicator_body{
    left: 4px !important;
    /*top: -15px !important;*/
}
div.rdr_indicator_for_media div.rdr_indicator_body{
    left:auto !important;
    right:0 !important;
    background:white !important;
    border: 1px solid #bbb !important;
    height: auto !important;
    color: #666666 !important;
    font: 12px Arial,sans-serif !important;
    padding:4px 3px 3px 3px !important;
    border:1px solid #c9c9c9; !important;
    
    -moz-border-radius:5px !important;
    -webkit-border-radius:5px !important;
    border-radius:5px !important;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(236,236,236)),
    color-stop(0.39, rgb(255,255,255))
    )!important;
    background-image: -moz-linear-gradient(center bottom , #eee 0%, #fff 39%) !important;
}


#rdr_sandbox div.rdr_indicator_details_body {
    width:auto !important;
    display:inline !important;
    white-space:nowrap !important;
}

#rdr_sandbox div.rdr_indicator_details_for_media div.rdr_indicator_details_body {
    display: inline-block !important;
    float: left;
    margin-top: 4px;
}

/*now override styles for the image containers*/
div.rdr_indicator_for_media {
    display:absolute !important;
    opacity:0.6 !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"!important;
    filter:alpha(opacity=60)!important;
    -moz-opacity:0.6 !important;
    -khtml-opacity:0.6 !important;
}
div.rdr_indicator_for_media.rdr_engage_media {
    opacity:0.9 !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"!important;
    filter:alpha(opacity=90)!important;
    -moz-opacity:0.9 !important;
    -khtml-opacity:0.9 !important;
}
#rdr_sandbox div.rdr_indicator_details_for_media {
    overflow:hidden; /*for the animate out to work nicely*/
    margin:0; /*don't need the -5px 0 0 -4px margin here.  Kick it left though*/
    max-height:30px;
}
#rdr_sandbox div.rdr_indicator_details_for_media.rdr_hover,
#rdr_sandbox div.rdr_indicator_details_for_media:hover {
    max-height:150px;
    overflow-y:auto;
}
div.rdr_indicator_for_media_inline {
}
div.rdr_indicator_for_media_inline div.rdr_indicator_body { 
    display:none !important;
}
#rdr_sandbox .rdr_indicator_details_for_media_inline{
    display:block !important;
    margin:0 !important;
    -moz-border-radius:0px 0px 8px 8px !important;
    -webkit-border-radius:0px 0px 8px 8px !important;
    border-radius:0px 0px 8px 8px !important;
    box-shadow:  0px 4px 6px -2px #ccc !important;
    -moz-box-shadow:  0px 4px 6px -2px #ccc !important;
    -webkit-box-shadow:  0px 4px 6px -2px #ccc !important;
    background:#f0f0f0 !important;
}
#rdr_sandbox .rdr_indicator_details_for_media_inline.rdr_hover{
}
#rdr_sandbox div.rdr_container_tracker{
    position:absolute !important;
}

#rdr_sandbox div.rdr_media_border_wrap{
    position:absolute !important;
    top:0 !important;
    left:0 !important;
    z-index:12000;
}
/*the only divs here will be the border elements*/
#rdr_sandbox div.rdr_media_border_wrap div{
    position:absolute;
}

#rdr_sandbox div.rdr_mediaHilite_top{
    box-shadow:  0 -1px 10px 1px #008BE4;
    -moz-box-shadow:  0 -1px 10px 1px #008BE4;
    -webkit-box-shadow:  0 -1px 10px 1px #008BE4;
    border:none;
    border-top: 2px solid #80C5F1;
    border-left: 2px solid #80C5F1;
    border-right: 2px solid #80C5F1;
}
#rdr_sandbox div.rdr_mediaHilite_right{
    box-shadow: 1px 0 10px 1px #008BE4;
    -moz-box-shadow: 1px 0 10px 1px #008BE4;
    -webkit-box-shadow: 1px 0 10px 1px #008BE4;
    border:none;
    border-right: 2px solid #80C5F1;
}
#rdr_sandbox div.rdr_mediaHilite_bottom{
    box-shadow: 0 1px 10px 1px #008BE4;
    -moz-box-shadow: 0 1px 10px 1px #008BE4;
    -webkit-box-shadow: 0 1px 10px 1px #008BE4;
    border:none;
    border-bottom: 2px solid #80C5F1;
    border-left: 2px solid #80C5F1;
    border-right: 2px solid #80C5F1;
}
#rdr_sandbox div.rdr_mediaHilite_left{
    box-shadow: -1px 0 10px 1px #008BE4;
    -moz-box-shadow: -1px 0 10px 1px #008BE4;
    -webkit-box-shadow: -1px 0 10px 1px #008BE4;
    border:none;
    border-left: 2px solid #80C5F1;
}

div.rdr_indicator span.rdr_count, 
#rdr_sandbox div.rdr_indicator_details span.rdr_count,
#rdr_sandbox div.rdr_sentimentBox span.rdr_count { 
    position:relative !important;
    margin-left:16px !important;
    font-size: 12px !important;
}

#rdr_sandbox span.rdr_indicator_categoryTitle{ 
    width:auto !important;
    display:inline !important;
    white-space:nowrap !important;

}

#rdr_sandbox div.rdr_tags_list { 
    width:auto !important;
    display:inline-block !important;
    white-space:nowrap !important;
    text-decoration:none !important;
}

#rdr_sandbox span.rdr_tags_list_tag {
    padding:2px !important;
}
#rdr_sandbox div.rdr_indicator_details_for_text span.rdr_tags_list_tag:hover {
    background:#fe7 !important;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(217,211,95)),
    color-stop(0.39, rgb(252,245,154))
    )!important;
    background-image: -moz-linear-gradient(center bottom , #D9D35F 0%, #FCF59A 39%) !important;
}

#rdr_sandbox div#rdr_loginPanel {
    /*position:fixed;*/
    z-index: 12101;
}
