python_environment:
  build: ./python
  environment:
    DEBUG: 'true'
    VIRTUAL_HOST: 'antenna.docker'
    BQ_TABLE_PREFIX: 'docker_dev'
    DJANGO_LOG_LEVEL: 'DEBUG'
    DATABASE_HOST: 'db'
    MEMCACHED_HOST: 'memcached'
    RABBITMQ_HOST: 'rabbitmq'
    ANTENNA_URL: 'http://antenna.docker'
    ANTENNA_STATIC_URL: 'http://antenna-static.docker'
    ANTENNA_INTERNAL_STATIC_URL: 'http://static:8081'
    EVENTS_URL: 'http://nodebq.docker'
    VIRTUAL_ENV: '/code/antenna/virtualenvs/docker'
    PYTHONPATH: '/code'
    PATH: '/code/antenna/virtualenvs/docker/bin:$PATH'
    PYTHONDONTWRITEBYTECODE: 'true'
  volumes:
    - ..:/code/antenna
node_environment:
  build: ./node
  environment:
    DEBUG: 'true'
    BQ_TABLE_PREFIX: 'docker_dev'
    DJANGO_LOG_LEVEL: 'DEBUG'
    DATABASE_HOST: 'db'
    MEMCACHED_HOST: 'memcached'
    RABBITMQ_HOST: 'rabbitmq'
    ANTENNA_URL: 'http://antenna.docker'
    ANTENNA_STATIC_URL: 'http://antenna-static.docker'
    EVENTS_URL: 'http://events.docker'
    PATH: '/code/antenna/virtualenvs/docker/bin:$PATH'
  volumes:
    - ..:/code/antenna
