/*embeddedVersion pages like for the wordpress plugin*/
.embeddedVersion {

}

    .embeddedVersion #page_container{
        width: 900px;
        position: relative;
    }
    .embeddedVersion header[role="banner"],
    .embeddedVersion section[role="content"],
    .embeddedVersion section[role="wide section"],
    .embeddedVersion section[role="after wide section"]{
        position: relative;
        width: 100%;
        margin: 0 !important;
    }
    .embeddedVersion section[role="content"]{
        padding-top: 0;
        border:none;
    }

    .embeddedVersion .group_settings_menu{
        display: none;
    }
    
    .embeddedVersion label[for="id_site"]{
        cursor: default;
    }

    .embeddedVersion section[role="main"]{
        clear: both;
        margin: 40px auto 0 !important;
        padding: 36px 36px 25px 36px;
    }
    
    .embeddedVersion section[role="main"] #login-options{
        margin: 30px 0;
    }

    .embeddedVersion section[role="main"] h1 {
        font-size: 28px;
        margin: 10px 0;
    }
    
    .embeddedVersion section[role="group panel header"]{
        display: none;
    }


    .embeddedVersion section[role="complementary"]{
        display: none;
    }


    .embeddedVersion #fixedBar{
        display: none;
    }
    .embeddedVersion #searchform {
        display: none;
    }

    .embeddedVersion #site_search{
        display: none;
    }

    .embeddedVersion #id_domain{
        color: #999;
    }
    .embeddedVersion .rbSubtitle{
        position: absolute;
        left: 200px;
        top: 10px;
        color: #BBB;
    }
    .embeddedVersion .rbSubtitle span{
        padding: 0 5px;
    }

    .embeddedVersion #uvTab{
        display: block !important;
        top: 130px !important;
    }
    .embeddedVersion .loginMsgs{
        clear: both;
        display: block;
        color: #AC5151;
        margin: 12px 0;
        width: 500px;
    }
    .embeddedVersion .loginMsg{
        margin: 8px 0;
    }
    .embeddedVersion .continueWrap{
        clear:both;
        padding-top: 30px;
    }
    .embeddedVersion .checkEmailReminder{
        color: #888;
        clear:both;
        font-size: 12px;
        margin: 8px;
    }
    
    .embeddedVersion form.big-form {
        padding: 20px 0 0 0;
    }

    .embeddedVersion .rbSubtitle .step1{
        color: #51ABE2;
    }