/************


DEPRECATED


************/



/* ReadrBoard */
/* styles for different layouts */

@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  body {
    max-width: 1440px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */
}

/* fix the damn box model */
* { -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; font-family:font-family:Helvetica,Arial,sans-serif;}


/* global for now */
#page_container { width:1140px; margin: 0 auto; }

h1, 
h2 { font-family:Helvetica,'HelveticaBold',Arial; font-weight:normal;}
label { display:inline-block; }

a { color:#008be4; }

/* HEADER */
section[role="group panel header"],
.menu_home_link{
    background:#ddd;
    font-weight: bold;
}

header[role="banner"] {height:41px;background:#343434;color:#ccc;position:fixed;width:1140px;z-index:12001;top:0;font-size:12px;text-align:center;margin:0 auto;}
header[role="banner"] a.logo    { display:block; float:left; }
header[role="banner"] h1        { text-indent:-9999px; background:url(../images/site/logo_gray_sm.png) top center no-repeat;width:178px; height:41px; }

header[role="banner"] #user #logged-in #log-out-link { background:#fff;top:33px; position:absolute; padding:5px; border:1px solid #aaa; width:150px; text-align:left; }
header[role="banner"] #user       { float:right;margin:5px 10px 2px;}
header[role="banner"] #user #logged-in      { visibility:hidden; height:37px; font-size:11px;}
header[role="banner"] #user #logged-out     { height:37px;}
header[role="banner"] #user #logged-in img  { float:left; max-width:30px; max-height:30px; border:1px solid #424242; }
header[role="banner"] #user strong          { float:left; margin: 8px 0px 0px 5px; }
header[role="banner"] #user a               { color:#999; }
header[role="banner"] #user #logged-out     { margin-top:9px; text-align:right; }
header[role="banner"] #user #logged-out #login-options  { display:none; background:#fff; margin-top:7px; overflow:auto; padding:5px; border:1px solid #aaa; }
header[role="banner"] #user #logged-out:hover #login-options  { display:block; }

header[role="banner"] #user #logged-in #log-out-link    { display:none; right:-8px;}
header[role="banner"] #user #logged-in #log-out-link a  { color:#454545; display:block; }
header[role="banner"] #user #logged-in #log-out-link label  { font-size:11px; }
header[role="banner"] #user #logged-in #log-out-link h5  { color:#999; font-size:10px;text-transform:uppercase;border-top:1px solid #aaa;margin-top:5px;padding-top:5px; }
header[role="banner"] #user #logged-in:hover #log-out-link  { display:block; }

header[role="banner"] #site_search      { margin:10px 10px 0px 10px; display:block; float:left; }
header[role="banner"] #site_search input  { background:#555;color:#ccc;padding:1px 4px;height:24px;width:180px;border-radius:0;box-shadow:none !important;border:none;}
header[role="banner"] #site_search button { width:25px; height:22px; background:url(../images/site/search_button.png) top left no-repeat;border:none;text-indent:-9999px;cursor:pointer;z-index:1; position:relative;float:right;margin-left:-26px;margin-top:2px;}


/* group admin in header */
#group_settings_menu    { display:block; float:right; padding:15px 0 0 5px; margin:0 20px;}
#group_settings_menu:hover section[role="group panel header"] { display:block; }
#group_settings_menu h3   { font-weight:normal; font-size:12px; }

section[role="group panel header"]      { display:none; right:125px; }

section[role="group links"]             { }
ul.link-list              { margin-bottom:0; }
ul.link-list li           { list-style-type:none; font-size:12px; }
ul.link-list li a         { }
ul.link-list li.active a  { }

section[role="content"] { display:table; vertical-align:top; overflow:auto; padding-top:36px; width:100%; box-sizing:border-box;}


/* wide content space */
section[role="wide section"] { background:#fff; position:relative; z-index:1; width:100%; }
section[role="after wide section"] { background:#fff; position:relative; z-index:2; width:100%;}

div.mostlyWide { width:88%; margin:20px auto; }

/* sidebar */
section[role="complementary"] { width:349px; display:table-cell; vertical-align:top; position:relative; z-index:2; background:#f3f3f3; box-shadow:-6px 0px 8px #ccc inset;}
section[role="complementary"] div.component { margin:33px auto 30px 25px; width:267px; }
section[role="complementary"] div.component h3 { margin:0 0 20px 20px; font-size:24px; color:#858585; border-top:1px solid #bbb; padding-top:10px;}
section[role="complementary"] div.component ul { list-style-type:none; padding:0;margin:0 0 0 20px;text-align:left;}
section[role="complementary"] div.component ul li { margin-bottom:10px;}
section[role="complementary"] div.component.active_pages ul li { margin-bottom:20px;font-size:13px;line-height:16px;}
section[role="complementary"] div.component ul li a { font-weight:bold;color:#858585;text-decoration:none;}
section[role="complementary"] div.component ul li a:hover { color:#008be4;text-decoration:underline;}
section[role="complementary"] div.component ul li a img { width:30px; display:inline-block; margin:0 5px 2px 0;}

/* main column */
/*section[role="main"] { margin-left:349px; display:table-cell; padding:33px 50px; vertical-align:top; position:relative; z-index:3; width:789px; background:#fff;}*/
section[role="main"] { padding:20px 0; position:relative; }
#searchFor {
  width:100%;padding:20px;
  background-size: 50px 50px;
background-color: rgba(200,200,200, 0.54);
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
-pie-background: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                 transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                 transparent 75%, transparent) 0 0 / 50px 50px #ac0;
}
#searchFor h2 { line-height:24px;padding:20px 0; }
#searchFor em { font-weight:normal;font-size:18px;color:#999; }
#searchFor strong { font-size:32px;color:454545; }
#avatar    { text-align:center; padding-top:50px; height:180px; position:relative;
background:url(../images/site/msathead_bg_generic.png)

}
#avatar .name_and_info { position:absolute;left:50px;top:50px;} 
#avatar h2 { font-size:54px; color:#333; } 
#avatar h2 img { max-width:200px; margin:0 auto; } 
#avatar h2 div { display:inline-block;  }
#avatar button { display:inline-block;  }

.pagination { }
/* profile items */
#follow_info { text-align:left; }
#follow_info a { display:inline-block; margin-right:30px; color:#454545}
#follow_info a.btn { color:#404040; margin: 0px auto 0;}


#which_content { margin-bottom:20px; }
#which_content strong { color:#454545; display:inline-block; background:#ddd; padding:10px 20px;}
#which_content a { color:#454545; display:inline-block; padding:10px 20px;}
#which_content a:hover { background:rgba(0, 188, 204, 0.54);}


/* readrboards board listing */
#board_listing  { margin:0 auto 20px; overflow:auto; padding:2px; }
#board_listing ul { margin-bottom:0;}
#board_listing li { padding-left:20px; display:inline-block;margin-bottom:5px;}
#board_listing li .user_meta { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 3px; font-weight: normal; font-size: 13px; margin-bottom: 5px;border:1px dashed #aaa; }
#board_listing h2 { padding-left:20px; color:#999; padding-top:10px; text-align:center;}

/* board header */
#board_header { margin:0 auto; padding:10px; text-align:center; margin-top:10px;}
#board_header h1 { font-size:32px; font-weight:bold; text-shadow:1px 1px 2px #aaa;}
#board_header .board_meta       { padding:10px 20px; background:none repeat scroll 0 0 rgba(0, 0, 0, 0.05); margin:20px auto; overflow:auto; box-shadow:0px 0px 3px #bbb inset; }
#board_header h2    { font-size:18px; font-style:italic; }
#board_header .board_meta h3        { font-size:16px; float:left; line-height:30px; font-weight:bold; margin:0;}
#board_header .board_meta button    { float:right; }

#board_listing,
#board_header{
    display: none;
}


/* popup / login form */
body.popupForm.wide header[role="banner"] { width:100%; }
body.popupForm.wide section[role="main"] { width:100%; padding-left:47px; }
body.popupForm.wide section[role="content"] { border:none; }
.popupForm .formBody { margin:0; width:300px; }
.popupForm .big-form .formBody { margin:0 0 10px 0; width:500px; }
.popupForm #page_container { width:100%; margin: 0; border:none;}
.popupForm h1 { line-height:24px; font-size:24px;}
.popupForm section[role="main"] h1 {
    margin-top: 20px;
}
.popupForm label { margin-bottom:0; }
.popupForm input { margin-bottom:0; }
#direct_registration a     { text-align:right; display:block; }
.popupForm .emptyFooter { display:none; }

/* settings */
/* don't touch unless Chaves says... seems this is for Wordpress */
#groupSettings section { margin-bottom:2em; padding-bottom:2em; border-bottom:1px solid #ccc; }
#groupSettings label   { font-weight:normal; line-height:16px; margin-top:16px;}
#groupSettings .column { display:block; width:45%; float:left; }
#groupSettings .column.rightColumn { xpadding-left:50%; margin-left:5%; }
#groupSettings .formRow input[type=checkbox]{
    margin:2px 5px 0px 0;
    float:left;
}
form.big-form         { padding:10px 20px; }
form.big-form label     { display:block; margin: 5px 0;}
form.big-form label span    { display:block; font-style:italic; font-size:12px; }
form.big-form label span.labelTitle {font-style:normal; font-weight: bold; margin-top: 1px; color:#008be4; font-size:14px;}
form.big-form label span.formInputExample {color: #999;}
form.big-form .configurationSection h4     {
    font-size: 14px;
    margin-bottom: 10px;
}

.word_blacklist_row .hidden{
    display: none;
}
#toggle_word_blacklist_wrap a{
    float: left;
}
#toggle_word_blacklist_wrap span.floatLeft{
    float: left;
    margin: 1px 0 0 6px;
}


/* stream */
section[role="main"] div.card div.meta em { display:block; }
ul.shareLinks { display: block !important; margin: 4px 0 0 !important; top: 0 !important; padding: 0 !important; float:left !important; }
ul.shareLinks li        {padding:0px 2px !important; display:inline-block !important; list-style:none !important;}
ul.shareLinks img       {width:24px !important; margin:0 !important;}
/*
section[role="main"] div.card div.meta div.me_too_outcome { display:none;border-top:1px solid #aaa;padding:3px;margin-top:6px;}
section[role="main"] div.card div.meta div.me_too_outcome div.close { font-size:11px;text-align:right;
    opacity: 0.8;
    -moz-pacity: 0.8;
    filter:alpha(opacity=8);
}
*/

/* masthead */
.masthead {}
.masthead .message {}
.homepage .masthead.main { 
    background-color: #333;
    background-image:url(../images/site/masthead.jpg);
    height:353px; position:relative; 
}
.homepage .masthead .message { background:rgba(0,139,228,0.75); width:85%; height:60%; margin:auto; padding:20px 40px; position:absolute; top:0; left:0; right:0; bottom:0; }
.homepage .masthead .message h2 { color:#fff; font-weight:normal; font-family:Helvetica,Arial,sans-serif; font-size:48px; margin:0 0 40px 0; padding:0; }
.homepage .masthead .message h3 { color:#fff; font-weight:normal; font-family:Helvetica,Arial,sans-serif; font-size:24px; margin:0; padding:0; }
.homepage .masthead.secondary { text-align:center; padding:40px; }
.homepage .masthead.secondary h4 { font-family:Helvetica,Arial,sans-serif; font-size:18px; color:#555; letter-spacing:0px; margin:0; font-weight:normal;}
.homepage .masthead.secondary h4 a { text-decoration:underline; }
.homepage .masthead.secondary h4 i { font-size:21px; }

.masthead {letter-spacing:-1px; overflow:auto;}
.masthead h1 { font-family:Helvetica; font-weight:bold; font-size:48px; margin:40px 0; }
.masthead p  { font-family:'Helvetica'; font-size:28px; }
.masthead strong {display: block;}
.engagement_today { padding:20px; background:#dfdfdf; clear:both; margin-top:40px;}
.engagement_today h2 { font-family:Helvetica, Arial; font-weight:bold; font-size:28px; margin-bottom:20px; }
.engagement_today .engagement_column { display:inline-block; width:30%; margin-right:3%; }
.engagement_today .engagement_column:last-child { margin-right:0; }
.engagement_today .engagement_column i { font-size: 40px; display: block; float: left; margin-right: 10px; }
.engagement_today .engagement_column p { font-family: 'Helvetica'; font-size:18px;  }

/* tag cloud grid */
#tag_cloud_container { position:relative; }
#tag_cloud_container div.image_container { position:absolute;left:0;top:0;width:1138px;height:420px;box-shadow:0px 0px 350px 50px #000 inset; }
#tag_cloud_container section[role="tag cloud grid"] { height:420px; background:#000;}
#tag_cloud_container section[role="tag cloud grid"] a { text-decoration:none;}
#tag_cloud_container .box { text-align:center; font-family:Helvetica,'HelveticaBold',Arial; font-weight:normal; box-sizing: border-box; overflow:hidden;}
#tag_cloud_container .box:hover { background:#fff; cursor:pointer; color:#008be4 !important;}
#tag_cloud_container .box1 div.tag { position:relative; height:100%; bottom:-125%;}
#tag_cloud_container .box2 div.tag { position:relative; height:100%; top:-125%;}
#tag_cloud_container .box3 div.tag { position:relative; height:100%; top:-125%; font-size:100%;}
#tag_cloud_container .box .count { font-size:20px !important; }
#tag_cloud_container .box3 .count { font-size:11px !important; display:block;margin-top:0px;}
#tag_cloud_container .box1 { width:210px; height:210px; padding:90px 20px 0;}
#tag_cloud_container .box2 { width:210px; height:140px; padding:50px 20px 0;}
#tag_cloud_container .box3 { width:105px; height:70px; padding:20px 5px 0;}
#tag_cloud_container .color1,
#tag_cloud_container .color1 a { background:#84b8ef; color:#354c65;}
#tag_cloud_container .color2,
#tag_cloud_container .color2 a { background:#419bac; color:#0e414d;}
#tag_cloud_container .color3,
#tag_cloud_container .color3 a { background:#d7f360; color:#748430;}
#tag_cloud_container .color4,
#tag_cloud_container .color4 a { background:#9dd55e; color:#578326;}
#tag_cloud_container .color5,
#tag_cloud_container .color5 a { background:#576c87; color:#c8d6e9;}


/* cards */
.cardsWrap {
    position: relative;
    margin: 0 auto;
    width: 1060px;
}
#cards { }
.cardWrap {
    width:530px;
    margin-bottom:20px;
    position:relative;
}
.card { 
    position:relative;
    margin:0 20px;
    border-top:10px solid;
}
.card:hover   { background:#f7f7f7; }
.card.color1 { border-color:#84b8ef !important; }
.card.color2 { border-color:#419bac !important; }
.card.color3 { border-color:#d7f360 !important; }
.card.color4 { border-color:#9dd55e !important; }
.card.color5 { border-color:#6fa4be !important; }

.card .main { overflow:auto; width:100%; }
.card .main h1 { font-size:54px; line-height:50px; padding:20px 100px 20px  0px; margin:0; }
.card .main h1 a { display:block; color:#343434; }
.card .main h1 a div { }
.card .main .reactionBox { padding:5px; vertical-align:top; font-size:12px; font-weight:bold; margin-top:20px;  }
.card .main .reactionBox .via { display:inline-block; }
.card .main .reactionBox .groupName { display:inline-block; word-break:break-all; }
.card .main .reactionBox .links { display:inline-block; }
.card .main .reactionBox .links a   { color:#545454; }
.card .main .contentBox { vertical-align:top; }
.card .main .contentBox.txt { background:url(../images/site/card_quote.png) 0 0 no-repeat; padding-left:15px;  }
.card .main .contentBox iframe,
.card .main .contentBox.med a,
.card .main .contentBox.img a { max-height:500px; overflow:hidden; display:block; }
.card .main .contentBox blockquote { border:0; margin:0; padding:0 24px; font-size:28px; line-height:30px; color:#868686; font-family:Helvetica,Arial,sans-serif; }
.card .main .contentBox blockquote a { color:#868686; }
.card:hover .main .contentBox blockquote a { color:#008be4; }
.card .main .contentBox blockquote a:hover { text-decoration:none;  }
/*.card .main .contentBox blockquote.large { font-size:68px; line-height:72px; display:table-cell; vertical-align:middle;}*/
/*.card .main .contentBox blockquote.medium { font-size:30px; line-height:34px; display:table-cell; vertical-align:middle;}*/

/*.card .meta { margin-bottom:10px; width:100%; display:table;}*/
.card .meta { position:absolute; right:0;}
.card .meta a { color:#989898;}
.card .meta a:hover { color:#008be4;}
.card .meta .avatar { vertical-align:middle; font-size:12px; color:#989898;}
.card .meta .avatar img { width:32px; margin-left:5px; }
/*.card .meta .date { display:table-cell; width:155px; vertical-align:middle; font-size:12px; color:#989898; text-align:right;}*/

.pagination {
    text-align: right;
    margin: 0 20px;
}

section[role="main"] div.card div.content .comments{ padding: 10px; text-align:left; }

.card div.comments    { background:#fff; border-top:1px dotted #d3d4d4; padding:10px; clear:both; margin:10px 0 5px; }
.card div.comments h2 {  font-size:12px;  border-bottom: 1px solid #CCC; padding-bottom: 5px; margin-bottom: 0;}
.card div.comment_container { position:relative; border-bottom:1px solid #eee;}
.card div.comment_container .block_content   { position:absolute; right:5px; bottom: 3px; font-size:11px; color:red; }
.card div.comment_container .header   {overflow:hidden; color:#666; clear:both;}
.card div.comment_container .header .when       {float:right; font:normal 11px Arial; color:#aaa; padding-top: 4px;}
.card div.comment_container .header .when span  {font-size:8px; text-transform:uppercase; }
.card div.comment_container .header .avatar     {float:left;}
.card div.comment_container .header .avatar img {height:20px; width:20px; max-width:155px; display: block;}
.card div.comment_container .header .who        {float:left; margin-left:5px; padding-top:4px; height:16px; font:italic bold 12px Arial; color:#999; }
.card div.comment_container .comment   {overflow:hidden; color:#666; clear:both; position:relative; padding:6px 26px; font:normal 24px Helvetica, 'HelveticaRegular';}
.card div.comment_container .comment .count  {font:normal 12px Arial; }
.card div.comment_container .comment .comment_body  { font-size:12px; }

.card .buttons { display:none;padding:5px;position:absolute;bottom:1px;right:0px;background:#eee;border:1px solid #aaa; border-bottom: 1px solid #f0f0f0; text-align:center; box-shadow:0px 0px 8px #aaa;}
.card:hover .buttons { display:block;}
.card .buttons a { display:inline-block; font-size:14px; color:#787878; margin:0 10px;}
.card .buttons a.add_new_reaction { 
    position: relative;
    width: 16px;
    height: 16px;
    top: 3px;
    background: url("../site/images/readr_icons.png") no-repeat -179px 0;
    cursor: pointer;
}
/*hide this for now*/
.card .buttons a.add_to_board {
    display: none;
}
.card .buttons i { color:#787878; }
.card .buttons a:hover { text-decoration:none;}


.card .me_too_outcome { background: #efe; padding: 5px 10px; margin-bottom: 10px; color:#9a9; display:none;}
.card .me_too_outcome div.close { float:right; cursor:pointer; }

/* styles that used to be in interactions.html */
#content {
  position:relative;
  visibility:hidden;
  min-height:400px;
  width:920px !important;
  overflow:visible !important;
}
#content .card {
  /*width:50%;*/
  width:460px;
  padding:10px; /* flush boxes or not */
  box-sizing:border-box;
  /*padding:20px 20px 30px 20px;*/
  margin:0;
  background:#fff;
  border:1px solid #d9d9d9;
  border-top:none;
  border-left:none;
  text-align:center;
}

#content .card .group {
  font-size:11px;
  line-height:12px;
  font-weight:normal;
  font-family:Arial;
  display:inline-block;
  vertical-align:top;
  max-width:300px;
}
#content .card .group_favicon {
  display:inline-block;
  margin:3px 5px 0px 1px;
}
#content .card .group a {
  color:#789abf;
}
#content .card .group span:hover,
#content .card .group a:hover {
  text-decoration:underline;
  color:#008be4;
}
.card .group img {
  margin-right:3px;
}
.card .group .group_link {

}
.card .group a:hover {text-decoration:none;}
/*
.card .buttons {
  position:absolute;left:0px;z-index:1;display:none;
  background:rgba(0,0,0,1);
  width:100%;
  bottom:-29px;
  border-bottom:3px solid #333;
  color:#fff;
}
.card .buttons a {
  color:#008be4;
}
.card .buttons button {
  color: #777;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  line-height: 22px;
  margin:2px 5px;
  padding:3px 5px;
}
.card .buttons button.delete_from_board {
  color:#a77;
}
.card.page .buttons {
  position:absolute;right:3px;top:10px;z-index:1;display:none;left:auto;
}
.card:hover .buttons { display:block; }

*/
.fancybox-inner h3{
    font-weight: bold;
    font-style: italic;
    margin: 3px 0;
}
.fancybox-inner button{
    margin: 5px 0;
}
.fancybox-inner label{
    display:block;
    font-size:11px;
    font-style:italic;
    margin: 2px 0;
}





/* from Bootstrap CSS */
.tooltip {
  position: absolute;
  z-index: 12020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  line-height:12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  /*margin-top: -15px;*/
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
footer, .emptyFooter{
    padding:15px 0 6px 0;
    
    background:#333;
    z-index:1000;
    text-align: center;
    overflow: hidden;
}

footer div.footerLinks{
    /*left:-50%;
    margin: auto;
    position: relative;
    width: 100%;*/
}
footer div.footerLinks ul{
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
}
footer div.footerLinks ul li{
    margin: 0 40px;
    position: relative;
    float: left;
    display: block;
    right: 50%;
}
footer div.footerLinks ul.footerLinksRight{
    position:absolute;
    right:0;    
}
footer div.footerLinks ul.footerLinksRight li{
    float:right;
    margin-left:40px;
    margin-right:0;
}
footer div.footerLinks a{
    font-style:none;
    text-decoration:none;
    color:#fff;
}
footer div.footerLinks a:hover{
    color:#7997B1;
}
.noFooter #uvTab {display:none !important;}
.noFooter footer div.footerLinks { display: none; }



/* splash */
body.wide section[role="complementary"] {
    display:none;
}

body.wide section[role="main"] {
    width: 960px;
    margin: 0 auto;
    background:none;
    border:0;
    padding: 10px 0 0 0;
}
body section[role="controls"]{
  border:none;  
}
body.wide section[role="content"]{
  width: 100%;
  background:none;
}
section[role="wide panels"]{
  width:auto;
  padding: 0 6%;
}
section.introBlurb{
  margin:30px 0 40px 0 !important;
}
.clearDiv{
  clear:both;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

h1.sectionBanner{
    
    border-bottom: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    padding: 10px 0 4px;
    text-align: center;
    margin: 20px 0 !important;
    padding: 8px 0px 5px;

    background: #F7F7F7;
    color: #BCBCBC;
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;


}

.introBlurb .readrboard_logo{
  float:left;
  padding-right:8px;
  margin-top:4px;
}
.introBlurb h3{
  border:none !important;
}
#background-layer .pin-large-icon{
  display:none;
}
#splashAnnounce{
  text-align:center;
  width:100%;
  position:relative;
}
#splashAnnounceInner{
}
div.splashQuoteSection{
    /*border-bottom: 1px dashed #CCCCCC;*/
    margin-bottom: 20px;
}
div.splashQuoteSection h4{
    color: #999999;
    font-size: 14px;
    margin-left: 21px;
    text-align: center;
} 
div.splashQuotes{
    /*width: 50%;*/
}
div.splashQuote {
    float: left;
    font-size: 12px;
    overflow: auto;
    padding: 0 20px;
    position: relative;
    text-align: left;
    width: 50%;
    margin: 20px 0;
}
.splashQuoteLogo{
    float:left;
    margin: 10px 15px 20px 0;
    width:170px;
}
.splashQuoteLogo.racialiciousLogo a{
    top: -17px;
    position: relative;
}

#splashAnnounceInner .left {
  float:left;
  /*width:580px;
  margin-right:20px;*/
  width:960px;
}
#splashAnnounceInner .right {
  float:left;
  width:260px;
  display:none;
}
.blurb-about-the-team,
#splashBlurbs{
  position:relative;
    margin:0 auto;
    width: 88%;
    text-align:center;
}
#splashAnnounce #imagine {
  position:relative;
  top:0;
  /*left:0;*/
}
#sns_buttons{
  display:block;
  position:absolute;
  width:85px;
  height:52px;
  left:539px;
  top:-4px;
}
#action_links {
  overflow:auto;
}
#action_links a {
  font-weight:bold;
}
#betterLikeButton{
    text-align:center;
    width:960px;
    position:relative;
    margin: 0 auto 10px;
}
#sns_buttons div{
    position: absolute;
}
#sns_buttons img{
  position:relative;
  left:0;
  /*top:12px;*/
  max-height:45px;
}
#sns_buttons img#sns_fb{
  top:3px;
}
#sns_buttons img#sns_google{
  left:3px;
  top:2px;
}
#sns_buttons img#sns_twitter{
  top:7px;
}
#splashAnnounce .rindow-img img{
  width:250px;
}

#splashBlurbs .partnerLogoSection{
  padding: 10px 0;
    border-top: 1px dashed #CCCCCC;
  margin-top:20px;
  clear:both; 
}

#splashBlurbs .leftSide{
  float:left;
  width:31%;
  text-align:left;
}
#splashBlurbs .leftSide.wide{
    width:52%;
}
#splashBlurbs .rightSide{
  width:72%;
  float:right;
  position:relative;
}

#splashBlurbs .rightSide.video{
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: right;
    width: auto;
}
#splashBlurbs .rightSide.narrow{
    width: 42%;
}

#splashBlurbs .rightSide.video iframe{
    margin-top:30px;
}


#splashBlurbs div.leftSide img#analytics_screenshot{
  box-shadow: 0 0 8px #666666;
    margin-left: 10px;
    width: 100%;
}
#splashBlurbs .blurb{
  width:100%;
  clear:both;
    position: relative;
    margin-bottom: 20px;

    /*works together with the next declaration*/
    /*top: -20px;*/

}
#splashBlurbs .blurb:before { 
  display: block; 
  content: " "; 
  margin-top: -10px; 
  height: 20px; 
  visibility: hidden; 
}

#splashBlurbs h2, #splashBlurbs h3{
  color:#008be4;
  padding:0;
  margin:0;
  clear:both;
  font-size:30px;
  font-weight:bold;
}
#splashBlurbs h3{
  font-size:20px;
}
#splashBlurbs h3.sectionHeader{
  text-align:center;
  font-family:Helvetica,'HelveticaBold',Arial;
  font-size:30px;
  margin:30px 0;
}
#splashBlurbs .blurb .bullet-points{
  list-style:none;
}
#splashBlurbs .bullet-points li{
  margin: 5px 0 10px;
  padding: 0;
}
#splashBlurbs div.blurb .bullet-points span{
  padding:0;
  font-size:16px;
}
#splashBlurbs div.blurb ul.sub-leftSide li{
  padding:5px 0 0 0;
  margin: 0;
  display:block;
}
#splashBlurbs div.blurb ul.sub-leftSide span{
  font-size:14px;
}
#splashBlurbs ul.partnerLogos{
  
}
#splashBlurbs ul.partnerLogos li{
  list-style:none;
}
#splashBlurbs ul.partnerLogos li img{
  width:80px;
  float:left;
  padding:0 10px 0 0;
}
#splashBlurbs ul.partnerLogos li img.wideImg{
    position: relative;
    width: 120px;
}
#splashBlurbs .partnerLogoSection .moreLogos{
    float: left;
    margin-left: 15px;
    position: relative;
    top: 32px;
    font-size:14px;
}

#splashBlurbs .partnerLogoSection h3{
  font-size:18px;
  padding-left:5px;
}
.teamThumbnails{
    clear: both;
    display: block;
    margin: 10px 0;
}
.blurb-about-the-team ul{
    display: block;
    float: left;
    left: 50%;
    position: relative;
    list-style-type: none;
}
.blurb-about-the-team li{
    display: block;
    float: left;
    left: -50%;
    position: relative;
    margin: 5px;
}
.blurb-about-the-team li img{
    width: 60px;
}

.publisherSignupCallToAction{
    width: 100%;
    margin-bottom:30px;
    text-align: center;
}
.publisherSignupCallToAction a{
    font-size: 20px;
    padding:10px;
}

/* get the reaction button */
.howto {
  display:none;
}
.howto ol{
    list-style-type: none;
}
.howto li{
    margin-bottom:10px;

}

/* publisher prmo sticky footer */
#publisher_promo { position:fixed;bottom:0;height:40px;width:100%;z-index:1000;cursor:pointer;}
#publisher_promo section { margin:0 auto;width:90%; color:#354c65; background:#84b8ef;text-align:center;min-width:800px;box-shadow:0 0 4px #ccc; padding-top:4px;}
#publisher_promo h1 { font-size:28px; display:inline-block; }
#publisher_promo p { font-size:18px; display:inline-block; margin-left:10px; margin-top:-3px;}
#publisher_promo i  { color:#f42; }
#publisher_promo a  { font-weight:bold; }



/* analytics */
section.datepicker,
section.panel{
    margin-bottom: 20px;
}
section[role="datepicker"] form{
    margin: 0;
}
section[role="datepicker"]      { font-size:12px; background:#eee; padding:5px; border-top:1px solid #7f7f7f; border-bottom:1px solid #7f7f7f; }
section[role="datepicker"] input  { width:80px; text-align:center; margin:0 3px; }
section[role="datepicker"] label  { display:inline; }
#ui-datepicker-div {z-index:11 !important;}
section[role="interaction frequency"]         { overflow:auto; text-align:center; }

#interactionBigStats .bigStat h1      { font-family:Helvetica,'HelveticaBold',Arial; font-size:130px; text-shadow: 1px 2px 1px #fff; padding:5px 0 0; margin:0; color:#638296; background:none;}
#interactionBigStats .bigStat h4      { margin:-10px 0 10px;}

#interactionBigStats {
    left: 50%;
    position: relative;
    display: block;
    float: left;
    text-align: center;
}
#interactionBigStatsInner{
    left: -50%;
    display: block;
    position: relative;
}
#interactionBigStats .bigStat {
    margin: 0 60px;
}
#interactionWriteCount{
    float: left;
}
#interactionReadCount{
    float: right;
}

div[role="frequency chart"] {
    margin:60px 0 20px 0;
}

table[role="active content table"] thead td,
table[role="active pages table"] thead td           { font-weight:bold;}

table[role="active content table"] tr:hover,
table[role="active pages table"] tr:hover           { background:#d8e8f6;}

table[role="active content table"] td,
table[role="active pages table"] td               { vertical-align:top; font-size:12px; }

table[role="active content table"] td[role="via"],
table[role="active pages table"] td[role="url"]         { width:130px; overflow:visible;}

table[role="active content table"] td[role="via"] div,
table[role="active pages table"] td[role="url"] div       { width:120px; overflow:hidden; white-space:nowrap; border:1px solid #fff; }

table[role="active content table"] td[role="via"] div a,
table[role="active pages table"] td[role="url"] div a     { text-decoration:none; color:#666; }

table[role="active content table"] td[role="via"] div a img,
table[role="active pages table"] td[role="url"] div a img   { display:none; }

table[role="active content table"] td[role="via"] div:hover,
table[role="active pages table"] td[role="url"] div:hover   { width:auto; background:#ddd; border:1px solid #999; position:absolute; }

table[role="active content table"] td[role="via"] div:hover a,
table[role="active pages table"] td[role="url"] div:hover a   { text-decoration:underline; color:#4b8ac8; }

table[role="active content table"] td[role="via"] div:hover a img,
table[role="active pages table"] td[role="url"] div:hover a img { display:inline; }


#analyticsReport .analyticsReportTable td[role="reactions"],
#analyticsReport .analyticsReportTable td[role="reactionViews"],
#analyticsReport .analyticsReportTable td[role="shares"],
#analyticsReport .analyticsReportTable td[role="comments"]{
    width:108px;
    text-align:center;
    font-size:12px;
}

#analyticsReport .analyticsReportTable td[role="content"]{
    font-style:italic;
    padding:8px 0 8px 10px;
}
#analyticsReport .analyticsReportTable td[role="url"]{
    width: 130px;
}

table[role="active content table"] tbody td[role="content"] img { max-width:80px; max-height:80px; }
table[role="active pages table"] tbody td[role="title"]     { font-style:italic; }

table[role="active user table"] thead td        { font-weight:bold; }
table[role="active user table"] td            { vertical-align:middle; font-size:12px; }
table[role="active user table"] .avatar,
table[role="active user table"] .userName      {
    float: left;
    display: inline;
}
table[role="active user table"] .userName      {
    margin: 10px 0 0 15px;
}
table[role="active user table"] .avatar         { width:35px; text-align:left;}

/* info boxes and notifications and such */

div.notice {
  padding:10px;
  border-left:5px solid #ccc;
  background:#fafafa;
  margin-bottom:20px;
  line-height: 14px;
}
div.notice:hover {
  background:#e3f3fc;
  border-color:#008be4;
}
div.notice.info {
  border-color:#f1e7bc;
  background-color:#fefbed;
}

button { cursor:pointer; }

div.breadcrumb {
  font-size:11px;
  background:#e3f3fc;
  padding:5px;
  margin-bottom:20px;
}


.fancy_user_list li{
    margin: 10px 0;
}
.fancy_user_list li span{
    margin-left: 10px;
}