@charset "UTF-8";
/* CSS Document */

.searchbox {
	height: 218px;
	width: 178px;
	background-image: url(/images/searchbox/searchbox-mge-us-bkgrd.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 34px;
}
.searchbox label{
	padding-bottom: 2px;
	display: block;
	padding-right: 10px;
	padding-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 4px;
}
.searchbox select{
	font-size: 10px;
        width: 175px;
}
.searchbox input{
	font-size: 10px;
}
.searchbox li{
	list-style-type: none;
	padding-top: 4px;
	padding-left: 3px;
}
.searchbox ul{
	margin-bottom: 0px;
	padding: 0px;
	list-style-type: none;
}
.btn-submit {
	float: left;
	padding-top: 10px;
	padding-left: 15px;
}
.clearboth {
	clear: both;
}
