table.commentlist, table.abusesummary {
  width: 100%;
}

table.commentlist tr.belowthreshold {
}

table.commentlist tr.abovethreshold td.abusecount {
  font-weight: bold;
  color: #c00;
}

table.abusesummary td.abusesummary {
  width: 50%;
  padding: 4px;
}

table.abusereports {
  width: 100%;
}

table.abusereports td {
  padding: 2px;
  font-size: 11px;
  border: 0px;
}

table.abusereports td.alt {
  background: #eee;
}

table.abusereports th {
  padding: 2px;
  font-size: 11px;  
}

td#comment { width: 30% }
td#latest  { width: 17% }
td#actions { width: 15% }

#the-comment-list thead td {
  font-weight: bold;
}

tr.abuseexpand td {
  background: #f8f8f8;
}

div.abuseexdtl {
}
