.overlay {
	width: 900px!important;
	height: 370px!important;
}
.overlay .section {
	width: 900px!important;
}
.overlay h3 {
	color: #000!important;
	font-size: 14px!important;
	margin-bottom: 8px!important;
}
.overlay .grid3 {
	width: 180px!important;
}
.overlay .grid4 {
	width: 290px!important;
}
.overlay .grid6 {
	width: 380px!important;
}
.overlay .grid8 {
	width: 520px!important;
	}
.overlay .grid12 {
	width: 840px!important;
}
.overlay .textfield input, .textfield select {
	width: 240px!important;
}
.overlay .textshort input, .textshort select {
	width: 140px!important;
}
.overlay .gridPanel .gridPanel {
	margin: 0!important;
}
.overlay .gridlined4 {
	background-position: 10px 0!important;
	float: left!important;
}
.overlay .gridTextbox {
	height: 70px;
}
.gridlined4 {
	float: left!important;
}
a.linkshort {
	font-size: 10px!important;	
}

.textshort input, .textshort select {
	width: 160px!important;
}

.labelItalic {
	font-style: italic;
	font-size: 9px; 
}

.overlay .submit .button {
	float:left !important;
}

#sectionTitle h1 {
	text-transform:none !important;
}
