
.photo.inline {
	float: left;
	margin: 0 20px 10px 0;
}


#sectionTitle h1 {
	font-size: 36px;
	font-weight: bold;
	text-transform: none;
	margin: 0;
	padding: 0;
}

#sectionTitle h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
}

#sectionHeader .landingdivider {
	border-bottom: none; height: 0;
}

#sectionTitle{float:none;}

#sectionHeaderTopics {
	clear: both;
	padding: 7px;
	position: relative;
}

#sectionHeaderMore {
	padding: 7px;
	position: absolute;
	right: 0;
	}

#headerTopics {
	float:none;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	padding: 0;
}

.column1 .topStory h1 a,
.column1 .feature h2 a {
	color: #2083A6;
}

.column1 .topStory p,
.column1 .feature p {
	font-size: 15px;
}

#content .column1 .module {
	padding-bottom: 10px;
	border-bottom: 1px solid #CFCFCF;
}

.module .headerTopics {
	font-size: 11px;
	color: #CCC;
	margin: 0 0 15px 2px;
}

.module .headerTopics a {
	font-weight: bold;
	text-transform: uppercase;
}

.timestamp {
	margin: 0 0 5px 0;
	font-size: 10px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
}

.contributor {
	font-size: 10px;
}
.contributor img {
	margin: 0 0 5px 0;
}