.admin {
    h1 { margin-top:0; }
    label {
        display: block;
        height: auto;
        line-height: 1.5rem;
        
        .labelTitle {
            display: block;
            color: #389;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    .formRow {
        margin-top: 1rem;
    }

    input {
        &.attribute, 
        &.selector {
            width:auto;
        }
    }

    .tabs {
        .tab {
            padding: 0;
            padding:0 1%;
            display: inline-block;
            float:none;
            width: auto;
            font-size: 0.8rem;
            height: 2.25rem;
            line-height: 2.25rem;

            &.active {
                background:$antenna-lt-blue;
                a { color:$white; }
            }
        }
    }

    [role="subheader"] {
        padding:0;

        .subheader {
            background:$gray;
            padding-top:1rem;
            margin-bottom: 1rem;

            a {
                padding-left:2rem;
                font-size:0.8rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    table {
        font-size:0.85rem;
    }

    // Analytics
    .analytics {
        .datepickers {
            input { 
                width:auto;
                margin:0 1rem 1rem 0;
                display:inline-block;
                font-size: 0.85rem;
            }
            label {
                display:inline-block;
            }
        }

        h4 {
            font-weight:900;
            text-align: left;
        }

        iframe.contentBody,
        img.contentBody {
            width:100%;
            max-width:300px;
        }

        em.right {
            font-size: 0.85rem;
            bottom: -1.25rem;
            position: relative;
            right: 1rem;
        }

        .legend { 
            text-align:left; font-size:0.8rem; margin-right: 15px; color:#999;
        
            .swatch { 
                display:inline-block; margin: 0 0.25rem; height:15px; width:15px;
                
                &.desktop { background:#4B7185; }
                &.mobile { background:#EA9971; }
            }
        }


        .popular { 
            box-shadow: none !important;
            &.content .col {
                &.s12 { margin-bottom: 1rem; }
                a { 
                    position: relative; display: block; padding:10px;

                    div.overlay { position: absolute; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,0.05); }
                }
            }

             .title { width:55%; }
             .reactions { width:15%; }
             .views { width:15%; }
             .score { width:15%; }
        }


        .mobile-instruction {display:none;}

        .top-reaction  { 
            display:inline-block; margin:0 1.5rem 0.5rem 0; padding:0.25rem 0.5rem; xbackground:#f0f0f0;
            &:hover  { background:#ff9; }
            &.large { font-size: 2rem; }
            &.medium { font-size: 1.25rem; }
            &.small { font-size: 0.75rem; }
            
            span { font-size: 1rem; }
        }


        .chart-donut-container { max-height:200px; }
        .chart-donut { height:300px; }

        .chartist-tooltip{ 
            position:absolute;display:inline-block;min-width:5em;padding:.5em;background:#fff;color:#555;font-weight:300;text-align:center;pointer-events:none;z-index:1;box-shadow:0px 0px 15px #666;margin-top:5px;font-size:0.8rem; margin-bottom:-2rem;
            &:after{ content:"";position:absolute;top:100%;left:50%;width:0;height:0;margin-left:-7px;border:7px solid transparent;border-top-color:#fff; }
        }

        // .ct-labels foreignobject { 
        //     display:none;
        //     &:nth-child(3n+1) { display:block; }
        // }

        .tooltip-row.value {
            font-weight:bold;
            color:#4b7185;
            display:block;
        }
        .reactions-chart .tooltip-row.value:after {
            content: " Reactions"
        }
        .reaction-views-chart .tooltip-row.value:after {
            content: " Reaction Views"
        }

        @media screen and (max-width: 480px) {
            .chart-container {width:100%; overflow-x:scroll; overflow-y:visible;}
            .chart-container .wide-chart {min-width:800px; }
            .mobile-instruction {display:block; font-size:0.75rem;}
        }
    }


}