.admin {
    h1 { margin-top:0; }
    label {
        display: block;
        height: auto;
        line-height: 1.5rem;
        
        .labelTitle {
            display: block;
            color: #389;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    .formRow {
        margin-top: 1rem;
    }

    input {
        &.attribute, 
        &.selector {
            width:auto;
        }
    }

    .tabs {
        .tab {
            padding: 0;
            padding:0 1%;
            display: inline-block;
            float:none;
            width: auto;
            font-size: 0.8rem;
            height: 2.25rem;
            line-height: 2.25rem;

            &.active {
                background:$antenna-lt-blue;
                a { color:$white; }
            }
        }
    }

    [role="subheader"] {
        padding:0;

        .subheader {
            background:$gray;
            padding-top:1rem;
            margin-bottom: 1rem;

            a {
                padding-left:2rem;
                font-size:0.8rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    // Analytics
    .analytics {
        .datepickers {
            input { 
                width:auto;
                margin:0 1rem 1rem 0;
                display:inline-block;
                font-size: 0.85rem;
            }
            label {
                display:inline-block;
            }
        }

        h4 {
            font-weight:900;
            text-align: left;
        }

        table {
            font-size:0.85rem;

        }
        iframe.contentBody,
        img.contentBody {
            width:100%;
            max-width:300px;
        }
    }


}