.admin {
    label {
        display: block;
        
        .labelTitle {
            display: block;
            color: #389;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    .formRow {
        margin-top: 1rem;
    }

    input {
        &.attribute, 
        &.selector {
            width:auto;
        }
    }

    .tabs {
        .tab {
            padding: 0;
            padding:0 2%;
            display: inline-block;
            float:none;
            width: auto;

            &.active {
                background:$antenna-lt-blue;
                a { color:$white; }
            }
        }
    }
}