.admin {
    .admin-sidebar {
        position: fixed;
        background:$antenna-lt-blue;
        height:100%;
        padding:0;
    }

    .admin-pagination {
        text-align: center;

        .current {
            color: #389;
            font-weight: 700;
            font-size: 0.85rem;
        }

        .previous {
            float: left;
        }

        .next {
            float: right;
        }
    }

    .content {
        padding:90px 0 0 0;

        .admin-header {
            position:fixed;
            background:#fff;
            margin-left:-11px;
            border-bottom:1px solid #ccc;
            // box-shadow: 0px 0px 10px #999;
            height:90px;
            padding-top:5px;
            padding-left: 20px;
            width:83%;
            z-index:1;
            top:64px;

            .fixed-button-container {
                right:20px;position: fixed;margin-top:-45px;

                .formFeedback {display:inline-block;}
            }

            h1 { margin-top:20px; }
        }

        .admin-content {
            padding: 10px 20px;
            min-height:600px;

            .card_link { 
                display:inline-block; padding:25px; margin:0 25px 25px 0; background:#f0f0f0; width:300px;

                em { font-size:12px; color:#777; }
                h3 { margin:0; }
            }


        }

        .card-panel {
            margin: 20px;
        }

        // pasted in from some in-line styles.
        .tld_options,
        .recirc_options             { height:0; overflow:hidden; }
        .tld_options.visible,
        .recirc_options.visible     { height:auto; overflow:visible; }
        .readmore_options             { height:0; overflow:hidden; }
        .readmore_options.visible         { height:auto; overflow:visible; }
        #id_auto_questions           { display: none; height:300px; width:100%;}
        #id_auto_questions.visible    { display: initial; }
        #initialize_auto_questions_json           { visibility: hidden; }
        #initialize_auto_questions_json.visible    { visibility: visible; }
    }

    @media (max-width: $screen-sm-max) {
        .content {
            padding-top:30px;
            
            .admin-header {
                top: 56px;
                height: 60px;
                padding-top: 0;
                padding-left: 20px;
                width: 100%;

                h1 { font-size:14px; max-width:200px; }
                .fixed-button-container { font-size:11px; margin-top:-28px; padding:0; }
                .fixed-button-container .btn { padding: 10px; height: 30px; line-height: 100%; }
            }
        }
    }
    .admin-form {
    
        // .form-fields {
        //     padding-top:90px;
        // }

        @media (max-width: $screen-sm-max) {
            .form-fields {
                padding-top:0px;
            }            
        }

    }


    label {
        display: block;
        height: auto;
        line-height: 1.5rem;
        
        .labelTitle {
            display: block;
            color: #389;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    .formRow {
        margin-top: 1rem;
    }

    input {
        &.attribute, 
        &.selector {
            width:auto;
        }
    }

    .no-data {text-align:left;}

    .tabs {
        .tab {
            padding: 0;
            padding:0 1%;
            display: inline-block;
            float:none;
            width: auto;
            font-size: 0.8rem;
            height: 2.25rem;
            line-height: 2.25rem;

            &.active {
                background:$antenna-lt-blue;
                a { color:$white; }
            }
        }
    }

    [role="subheader"] {
        padding:0;

        .subheader {
            background:$gray;
            padding-top:1rem;
            margin-bottom: 1rem;

            a {
                padding-left:2rem;
                font-size:0.8rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    table {
        font-size:0.85rem;

        tbody {
            tr {
                &:hover {
                    background: #eee;
                }
            }
        }
    }

    // Analytics
    .analytics {
        .datepickers {
            margin-top:20px;

            input { 
                width:auto;
                margin:0 1rem 1rem 0;
                display:inline-block;
                font-size: 0.85rem;
            }
            label {
                display:inline-block;
            }
        }

        @media (max-width: $screen-sm-max) {
            .datepickers {
                margin:10px 0 30px;

                input { 
                    width:100%;
                }
                label {
                    display:block;
                }
            }
        }

        h4 {
            font-weight:900;
            text-align: left;
        }

        iframe.contentBody,
        img.contentBody {
            width:100%;
            max-width:300px;
        }

        em.right {
            font-size: 0.85rem;
            bottom: -1.25rem;
            position: relative;
            right: 1rem;
        }

        .legend { 
            text-align:left; font-size:0.8rem; margin-right: 15px; color:#999;
        
            .swatch { 
                display:inline-block; margin: 0 0.25rem; height:15px; width:15px;
                
                &.desktop { background:#4B7185; }
                &.mobile { background:#EA9971; }
            }
        }


        .popular { 
            box-shadow: none !important;
            &.content .col {
                &.s12 { margin-bottom: 1rem; }
                a { 
                    position: relative; display: block; padding:10px;

                    div.overlay { position: absolute; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,0.05); }
                }
            }

             .title { width:50%; }
             .reactions { width:15%; }
             .views { width:15%; }
             .score { width:15%; }
        }


        .mobile-instruction {display:none;}

        .top-reaction  { 
            display:inline-block; margin:0 1.5rem 0.5rem 0; padding:0.25rem 0.5rem; xbackground:#f0f0f0;
            &:hover  { background:#ff9; }
            &.large { font-size: 2rem; }
            &.medium { font-size: 1.25rem; }
            &.small { font-size: 0.75rem; }
            
            span { font-size: 1rem; }
        }


        .chart-donut-container { max-height:200px; }
        .chart-donut { height:300px; }

        .chartist-tooltip{ 
            position:absolute;display:inline-block;min-width:5em;padding:.5em;background:#fff;color:#555;font-weight:300;text-align:center;pointer-events:none;z-index:1;box-shadow:0px 0px 15px #666;margin-top:5px;font-size:0.8rem; margin-bottom:-2rem;
            &:after{ content:"";position:absolute;top:100%;left:50%;width:0;height:0;margin-left:-7px;border:7px solid transparent;border-top-color:#fff; }
        }

        // .ct-labels foreignobject { 
        //     display:none;
        //     &:nth-child(3n+1) { display:block; }
        // }

        .tooltip-row.value {
            font-weight:bold;
            color:#4b7185;
            display:block;
        }
        .reactions-chart .tooltip-row.value:after {
            content: " Reactions"
        }
        .reaction-views-chart .tooltip-row.value:after {
            content: " Reaction Views"
        }

        @media (max-width: $screen-sm-max) {
            .chart-container {width:100%; overflow-x:scroll; overflow-y:visible;}
            .chart-container .wide-chart {min-width:800px; }
            .mobile-instruction {display:block; font-size:0.75rem;}
        }
    }


}

.admin .admin-links, .navbar-fixed .admin-links {
    padding:0;


    .selected_group {
        // margin-bottom:2rem;
        text-align: center;

        .dropdown-content {
            margin-top: 56px;
            li {
                background: #eee;
                min-height: 30px;

                &:hover {
                    background:#ddd;
                }

                a {
                    color:$antenna-lt-blue;
                    font-size:12px;
                    line-height: 16px;
                    padding: 10px 16px;
                }
            }
        }

        @media (max-width: $screen-sm-max) {
            .dropdown-content {
                margin-top: 32px;
            }
        }
    }

    a {
        color:#fff;
    }

    .dropdown-button {
        width: 100%;
        padding: 22px 0;
        margin: 0;
        height: auto;
        line-height: 100%;
        text-transform: none;
        font-size:12px;
        box-shadow: none;

        i {
            vertical-align: top;
        }
    }

    @media (max-width: $screen-sm-max) {
        .dropdown-button {
            padding:10px 0;
        }
    }
}