section {
    padding:2rem 0;
    
    &.masthead {
        background-size: 100%;
        width:100%;
        height:100%;

        .container {
          overflow: hidden;
        }
    }

    .row {
        margin-bottom:0;
        padding-bottom:20px;
    }

    &.dark-section {
        background:$black;
        color:$white;

        h1.line-behind,
        h2.line-behind,
        h3.line-behind,
        h4.line-behind {
            span { 
                background: $black;
            }
        }
    }
}

.fixed-right-sidebar-content {
    @media (max-width: $screen-sm-max) {
        display:none;
    }
    background:$white;
    color:$black;
    height:100%;
    z-index:10;
    padding-top:31px;
    border-left:1px dashed $black;

    .content-wrapper {
        @media (min-width: $screen-md-min) {
            padding:49px 2.5rem 1rem;
        }

        @media (min-width: $screen-lg-min) {
            padding:49px 4rem 2rem;
        }
    }
}

.fixed-right-buffer {
    position:absolute;right:0;top:0;height:100%;background:#fff;width:20%;
    @media (max-width: $screen-sm-max) {
        display:none;
    }
}

.global-footer {
    background:$black;
    color:$white;
    padding:1rem 0;

    .ant-heart {
        width: 20px;
        margin-bottom: -10px;
    }

    a {
        color: $white;
    }
}