section {
    .row {
        margin-bottom:0;
        padding-bottom:20px;
    }

    .dark-section {
        background:$black;
        color:$white;

        h1.line-behind,
        h2.line-behind,
        h3.line-behind,
        h4.line-behind {
            span { 
                background: $black;
            }
        }
    }
}

.global-footer {
    background:$black;
    color:$white;
    padding:1rem 0;

    .ant-heart {
        width: 20px;
        margin-bottom: -10px;
    }

    a {
        color: $white;
    }
}