// antenna
$antenna-dk-blue:#2f5863;
$antenna-lt-blue:#4b7185;
$antenna-yellow:#dec164;
$antenna-orange:#ea9971;
$antenna-red:#e8776d;
$black:#000;

// materialize overrides
$input-focus-color: #dec164;