body {
    font-family: $sans-serif;
}

input {
  @include placeholder {
    color: rgba(255,255,255,1);
  }
}

.error {
    background: $antenna-red;
    color:#fff;
    padding:0.5rem;
    margin:1rem 0;
}

.tip {
    background:$antenna-dk-blue;
    color:#fff;
    font-family: $sans-serif;
    font-style: normal;
    font-weight:400;
    letter-spacing: 1.25px;
}