body {
    font-family: $sans-serif;

    footer {
        &.page-footer {

        }
    }
}

input { 
  @include placeholder {
    color: rgba(255,255,255,1);
  }
}

strong { font-weight:700; }

.error {
    background: $antenna-red;
    color:$white;
    padding:0.5rem;
    margin:1rem 0;

    > a { color:$antenna-dk-red !important; }
}

.success {
    background: $antenna-lt-blue;
    color:$white;
    padding:0.5rem;
    margin:1rem 0;

    > a {color:$antenna-dker-blue !important;}
}

.info {
    background: $gray;
    color:$black;
    padding:0.5rem;
    margin:1rem 0;

    > a {color:$antenna-dker-blue !important;}   
}

.tip {
    background:$antenna-dk-blue;
    color:$white;
    font-family: $sans-serif;
    font-style: normal;
    font-weight:400;
    letter-spacing: 1.25px;
    cursor: default;
}

.drip-lightbox {
    z-index:13001;
}



/*Default Phone Color Styles - White*/
.phone-shape {width: 295px;height: 600px;border-radius: 40px;border: 2px solid #fff;margin:0 auto;padding: 60px 10px;background-color: #f3f3f3;position: relative;box-shadow:-47px 0 0 rgba(0,0,0,0.075), 0 0 0 2px rgba(0,0,0,0.1)}
.phone-screen {xheight: 522px; xwidth: 295px;background-color: #fff;box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;overflow: hidden;position: relative;}
.top-details {position: absolute;left: 0;top: 17px;width: 100%;}
.camera, .circle, .speaker {border-radius: 100px;display: block;background-color: #e1e1e1;}
.camera {height: 7px;width: 7px;margin: auto;}
.circle {height: 9px;width: 9px;position: absolute;left: 95px;top: 16px;}
.speaker {height: 7px;width: 90px;margin: 10px auto 0;}
.buttons, .button.last {width: 3px;background: #eee;position: absolute;}
.buttons {box-shadow: -45px 0 0 rgba(0,0,0,0.075), 0 0 0 2px rgba(0,0,0,0.1);}
.button.last {box-shadow:0 0 0 2px rgba(0,0,0,0.1);}
.circle-button {height: 40px;width: 40px;background: #e1e1e1;margin: 17px auto;border-radius: 100px;}
.button-one {height: 20px;left: -7px;top: 59px;border-radius: 4px 0 0 4px;}
.button-two {height: 40px;width: 3px;left: -7px;top: 110px;border-radius: 4px 0 0 4px;}
.button-three {height: 40px;width: 3px;left: -7px;top: 165px;border-radius: 4px 0 0 4px;}
.button-four {height: 40px;width: 3px;right: -7px;top: 110px;border-radius: 0 4px 4px 0;}


