.masthead {
  background-size: 100%;
  position:absolute;
  width:100%;
  height:100%;

  h1 {
    color:#fff;

    .line-one { font-weight:100; }
    .line-two { 
      font-weight:400;

      div.ant_indicator.ant_indicator_for_text {
        position: relative;
        top: -30px;

        .ant-antenna-logo {
          color:#fff;
          font-size:30px;
        }

        span.ant_count {
          font-size: 18px;
          font-weight: 100;
          color: #fff;
        }
      }
    }
    .line-three { font-weight:900; }
  }

  h3 { 
    color:#fff;
    font-weight:100;

    .adjective { color:$antenna-yellow; }
  }
}

@media (max-width: $screen-xs-max) {
    .masthead {
        background-image: url('/static/site/images/many_voices_mobile.jpg');

        h1 { 
          font-size:3rem; 
          margin:10% 0;

          .line-two { 
            div.ant_indicator.ant_indicator_for_text {
              position: relative;
              top: -10px;

              .ant-antenna-logo {
                font-size:20px;
              }

              span.ant_count {
                font-size:14px;
              }
            }
          }

        }

        h3 { 
          font-size:1.75rem; 
        }
    }
}

@media (min-width: $screen-sm-min) {
    .masthead {
        background-image: url('/static/site/images/many_voices_medium.jpg');

        h1 { 
          font-size:4.5rem; 
          margin:10% 0;
        }

        h3 { 
          font-size:2.25rem; 
        }
    }
}

@media (min-width: $screen-lg-min) {
    .masthead {
        background-image: url('/static/site/images/many_voices.jpg');

        h1 { 
          font-size:7rem; 
          margin:10% 0;
        }

        h3 { 
          font-size:2.75rem; 
        }
    }
}
