@font-face {
  font-family: ReadrLeague;
  src: url('LeagueGothic.eot');
  src: local('☺'),
         url('LeagueGothic.otf') format('truetype');
}

div.rdr.rdr_window {
	-moz-box-shadow: 0 0 10px 1px #aaa;
	-webkit-box-shadow: 0 0 10px 1px #aaa;
	box-shadow: 0 0 10px 1px #aaa;
	padding: 8px 10px;
	font: normal 12px Arial, sans-serif;
	position:absolute;
	z-index:1000;
	top:100px;
	left:100px;
	background:#fff;
}

div.rdr.rdr_tooltip {
	-moz-box-shadow: 0 0 10px 1px #aaa;
	-webkit-box-shadow: 0 0 10px 1px #aaa;
	box-shadow: 0 0 10px 1px #aaa;
	background:url("/static/ui-prototype/images/rindow_bg.png") no-repeat 0 0;
	padding: 3px;
	font: normal 12px Arial, sans-serif;
	position:absolute;
	z-index:1100;
	background:#fff;
	width:172px;
	height:30px;
}

div.rdr.rdr_tooltip a {
	background:url("/static/ui-prototype/images/tooltip_icons.png") no-repeat 0 0;
	display:block;
	height:30px;
	width:30px;
	text-indent:-9999px;
	float:left;
}

div.rdr.rdr_tooltip a.rdr_about		 	{ background-position: -4px 0; width:26px; }
div.rdr.rdr_tooltip a.rdr_rate		 	{ background-position: -28px 0; }
div.rdr.rdr_tooltip a.rdr_rate:hover	{ background-position: -172px 0; }

div.rdr h1, 
div.rdr h2	{font-family:ReadrLeague,"Helvetica Neue",Arial,Helvetica,sans-serif; color:#e71f1f; margin: 0; }
div.rdr h1	{font-size:21px; cursor:move; }

em.rdr_selected-text 	{display:block; background:#eee; padding:5px; margin:5px 0; text-shadow:1px 1px 1px #999; font-size:18px; font-family:Georgia, serif;}

ul.rdr_tags			{list-style-type:none; padding:0; margin:0; overflow:auto; }
ul.rdr_tags li		{float:left; padding:5px 20px 5px 0; }
ul.rdr_tags li.rdr_selected	{background:#ddd;}
ul.rdr_preselected			{font-size:22px; font-family:ReadrLeague, Arial, sans-serif; margin:5px 0; }
ul.rdr_preselected a		{color:#000;text-decoration:none;}
ul.rdr_preselected a:hover	{color:#e71f1f;}

div.rdr_close		{float:right;color:#e50000;cursor:pointer;}

div.rdr_instruct	{color:#666; -m}
div.rdr_help		{font-style:italic; font-size:11px; color:#aaa;}

/* forms */
div.rdr input[type="text"]	{font-size:14px; color:#666; width:70%; -moz-box-shadow: 1px 4px 11px -5px #aaa inset; -webkit-box-shadow: 1px 4px 11px -5px #aaa inset; box-shadow: 1px 4px 11px -5px #aaa inset; padding:4px; }
div.rdr button				{font-size:14px; }