{% extends "base/base.html" %}
{% load custom_filters %}

{% block layoutHeadAdditions %}{% endblock %}
{% block pageHeadAdditions %}{% endblock %}

{% block bodyClass %}{% endblock %}

{% block navbar %}
  {% include "partials/site_navbar.html" %}
{% endblock navbar %}

{% block layout %}
  <div class="fixed-right-buffer">&nbsp;</div>
  <div class="page-content">
  {% block page_content %}{% endblock %}
  </div>
{% endblock %}

{% block footer %}
  {% include "partials/site_footer.html" %}
{% endblock footer %}



{% block page_js %}
{% endblock %}

{% block layout_js %}
<script>
$(document).ready(function(){
  $('.fixed-right-sidebar-content').pushpin({ top: 0 });
});
</script>
{% endblock %}