{% extends "base/base.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block layoutHeadAdditions %}{% endblock %}
{% block pageHeadAdditions %}{% endblock %}

{% block bodyClass %}{% endblock %}

{% block navbar %}
  {% include "partials/site_navbar.html" %}
  <div class="navbar-fixed subnav no-ant">
  <nav class="">
    <div class="nav-wrapper container center-align">
        Antenna Gallery :: Viewing
          <!-- Dropdown Trigger -->
          <a class='gallery-select dropdown-button btn' href='#' data-activates='dropdown1'>{{ examples|keyvalue:current_example_name }}</a>

          <!-- dropdown -->
          <ul id='dropdown1' class='dropdown-content'>
            {% for key, value in examples.items %}
            <li><a href="{% url 'gallery-show' key %}">{{ value }}</a></li>
            {% endfor %}
          </ul>
    </div>
  </nav>
  </div>
{% endblock navbar %}

{% block layout %}
  <div class="page-content">
    <iframe id="gallery-frame" frameborder="0" src="{% static "site/gallery" %}/{{ current_example_name }}index.html" style="width:100%;height:100%;"></iframe>
  </div>
{% endblock %}

{% block footer %}
  {% include "partials/site_footer.html" %}
{% endblock footer %}



{% block page_js %}
{% endblock %}

{% block layout_js %}
<script>
  $('#gallery-frame').height( $(window).height() );
  var resizeTimer;

  $(window).on('resize', function(e) {

    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(function() {

      // Run code here, resizing has "stopped"
      $('#gallery-frame').height( $(window).height() );

    }, 250);

  });
</script>
{% endblock %}
