.zoneTable147 {
	height : 250px;
    width : 615px;
    border : 1px solid #ffffff;
    background-color: white;
}

.zoneSponsoredText147 {
    color:#AAAAAA;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    height:15px;
}

.cobrand-link {
    text-align: right;
    padding: 0 10px 2px 0;
    font: bold 15px Arial;
}

.cobrand-link a,
.cobrand-link a:active,
.cobrand-link a:visited,
.cobrand-link a:hover {
    text-decoration: none;
    color: blue;
}