<!-- <div class="container row subheader"> -->
<div>
  <div class="">
    {{ group.name }} Administration
    {% for group in admin_groups %}
          <h1>{{group.name}} Settings</h1>
    {% endfor %}  
  </div>
  <div class="">
    <a href="/manage/">Back to Group Management</a>
    <a href="/group/{{ group.short_name }}/" class="view_stream">View your stream of reactions</a>
  </div>
</div>
<div class="">
    <div class="padded">
        <ul class="">
          <li class="{% if activeAdminTab == 'settings' %}active{%endif%}"><a href="/group/{{ group.short_name }}/settings/">Settings</a></li>
          <li class="{% if activeAdminTab == 'analytics' %}active{%endif%}"><a href="/group/{{ group.short_name }}/analytics/">Analytics</a></li>
          <li class="{% if activeAdminTab == 'manage_reactions' %}active{%endif%}"><a href="/group/{{ group.short_name }}/all_reactions/">Manage Reactions</a></li>
          <li class="{% if activeAdminTab == 'admin_requests' %}active{%endif%}"><a href="/group/{{ group.short_name }}/admin_approve/">Admin Requests</a></li>
        </ul>
    </div>
</div>