{% extends "base.html" %}
{% block title %}{{ group.name }} Approve Administrators{%endblock%}
{% block bodyClass %}wide{% endblock %}

{% block subheaderContent %}
<section role="subheader">
    {% with group=form.instance %}
    {% with "" as activeAdminTab %} 
    {% include "admin/nav_tabs.html" %}
    {% endwith %}
    {% endwith %}
</section>
{% endblock %}

{% block wideContent %}

<div class="grid-whole settings">
  <section role="panels" class="content">
  <div class="breadcrumb"><a href="/manage/">&lt;&lt; Back to Group Management</a></div>

<h1>{{ group.name }} Approve Administrators</h1>
<div class="notice info">
To have someone request Admin access to {{group.name}}, have them create a Antenna account and then send them to <a href="www.antenna.is/{{group.short_name}}/admin_request/" target="_blank">www.antenna.is/{{group.short_name}}/admin_request/</a>.
</div>
<div class="container">
<section role="panels">
  <section role="wide panels">
{% regroup requests by group as groups %}
    {% for group in groups %}
      Admin Requests for {{ group.grouper.name }}
      <ul>
        {% for request in group.list %}
          <li>{{ request.social_user.full_name }} <a href="/group/{{ group.grouper.short_name }}/admin_approve/{{ request.id }}"><button>Approve</button></a></li>
        {% endfor %}
      </ul>
    {% empty %}
        <h2>Nobody to approve!</h2>
    {% endfor %}
  </section>
</section>
</div>

</section>
</div>
{% endblock wideContent %}