{% extends "base.html" %}
{% block title %}{{ group.name }} Administrative Access{%endblock%}
{% block bodyClass %}wide{% endblock %}
{% block mainContent %}
<div class="grid-whole settings">
  <section role="panels" class="content">


<h1>{{ group.name }} Administrative Access</h1>
<div class="container">
<section role="panels">
	<section role="wide panels">
  {% if requested %}
    <h2>Administrative access for {{ group.name }} has been requested!</h2>
  {% else %}
    <form action="/group/{{ group.short_name }}/admin_request/" method="post">
      {% csrf_token %}
      <button type="submit btn">Request Access</button>
    </form>
  {% endif %}
 </section>
</section>
</div>

</section>
</div>
{% endblock mainContent %}