{% extends "base/wide.html" %}
{% load custom_filters %}

{% block page_title %}{{ form.instance.name }} -- Approve Administrators{%endblock%}

{% block bodyClass %}admin{% endblock %}

{% block subheaderContent %}
<section role="subheader">
    {% with "admin_requests" as activeAdminTab %} 
    {% include "admin_nav_tabs.html" %}
    {% endwith %}
</section>
{% endblock %}

{% block page_content %}

<div class="container row settings">
  <section role="panels" class="content">
<h1>{{ group.name }} Approve Administrators</h1>
<div class="notice info">
To have someone request Admin access to {{group.name}}, have them create a Antenna account and then send them to <a href="/group/{{group.short_name}}/admin_request/" target="_blank">www.antenna.is/group/{{group.short_name}}/admin_request/</a>.
</div>

<section role="panels">
  <section role="wide panels">
{% regroup requests by group as groups %}
    {% for group in groups %}
      Admin Requests for {{ group.grouper.name }}
      <ul>
        {% for request in group.list %}
          <li>{{ request.social_user.full_name }} <a href="/group/{{ group.grouper.short_name }}/admin_approve/{{ request.id }}"><button>Approve</button></a></li>
        {% endfor %}
      </ul>
    {% empty %}
        <h2>Nobody to approve!</h2>
    {% endfor %}
  </section>
</section>

</section>
</div>
{% endblock %}