<p>
    {{user.email}}, {{count}} users have agreed with your <a href="{{base_url}}/interaction/{{interaction.id}}/">reaction</a>.
</p>
On <a href="{{ interaction.page.url }}">{{interaction.page.title}}</a> at {{ interaction.page.site.group.name }}.
<p>
	==============================
	<br/>
	Sent to you by <a href="http://www.antenna.is/">Antenna</a>.  You can adjust email settings in the menu on the top-right hand corner of our homepage.
	<br/><br/>
	<a href="mailto:team@antenna.is">Give us a shout</a>.	
	<br/>
	==============================
</p>
