{% extends "base.html" %}
{% block title %}Network Analytics{%endblock%}


{% block extendedHead %}
<script>
// RB.group.short_name = "{{ group.short_name }}";
// RB.group.full_name = "{{ group.name }}";
RB.group.id = "{{ group.id }}";
// RB.group.id = 1660;
</script>
<link rel="stylesheet" href="/static/components/morris/morris.css">
<link rel="stylesheet" href="/static/components/pikaday/css/pikaday.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="/static/js/analytics.js"></script>
<script src="/static/components/morris/morris.js"></script>
<script src="/static/components/pikaday/pikaday-with-jquery.min.js"></script>

{% endblock %}

{% block subheaderContent %}

{% endblock %}

{% block wideContent %}
<div class="grid-whole settings">
  <section role="panels" class="content">

    <section role="datepicker" class="datepicker" style="visibility:hidden;">
        <form>
            <label>Date Range: </label>
            <input type="text" name="start_date" />
            <label>to</label>
            <input type="text" name="end_date" />
            <button class="btn" type="submit" >Update</button>
        </form>
    </section>

    <section id="analyticsReport" role="panels">
        <div class="grid-12 section summary hasLoader">
            <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Querying Engagement Totals...</div></div>
        </div>
        <div class="section reactions-and-topics">
            <div class="grid-12 padded">
                <div class="grid-6 s-grid-whole hasLoader">
                    <h1 class="header">Most Popular Reactions</h1> 
                    <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Counting Reactions...</div></div>
                    <div class="reactions-holder">&nbsp;</div>
                </div>
                <div class="grid-6 s-grid-whole hasLoader">
                    <h1 class="header">Most Engaged Topics</h1>
                    <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Topics...</div></div>
                    <div class="topics-holder">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="section engaged-pages">
            <div class="grid-12 row padded">
                <h1 class="header">Most Engaged Pages</h1>
            </div>
            <div class="grid-12 row padded hasLoader">
                <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Page Engagement...</div></div>
            </div>
        </div>

        <div class="section engaged-content">
            <div class="grid-12 row padded">
                <h1 class="header">Most Engaged Content</h1>
            </div>
            <div class="grid-12 row padded">
                <div class="grid-4 padded">
                    <section class="content-item">
                        <h1><a href="#">All three of us, Ludo, Silvia and myself, are from three different countries. So there all three of us were, speaking different languages, and having fun reading GIFs aloud and comparing in our native tongues, along with different customs and perceptions,” Petrovici says.</a></h1>
                        <div class="grid-12 via">
                            <em>via <a href="#">SomeArticle Name</a></em>
                        </div>
                        <div class="grid-12">
                            <div class="reaction-tag">Amazing (29)</div>
                            <div class="reaction-tag">Crazy (17)</div>
                        </div>
                    </section>
                </div>
                <div class="grid-4 padded">
                    <section class="content-item">
                        <div class="grid-12 via">
                            <em>via <a href="#">SomeArticle Name</a></em>
                        </div>
                        <div class="grid-12 reactions">
                            <div class="reaction-tag">Sad (12)</div>
                            <div class="reaction-tag">Shocking (10)</div>
                        </div>
                    </section>
                </div>
                <div class="grid-4 padded">
                    <section class="content-item">
                        <div class="grid-12 via">
                            <em>via <a href="#">SomeArticle Name</a></em>
                        </div>
                        <div class="grid-12">
                            <div class="reaction-tag">LOVE IT (9)</div>
                            <div class="reaction-tag">Legit (8)</div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="section engaged-referrers">
            <div class="grid-12 row padded">
                <h1 class="header">Most Engaged Referrers</h1>
            </div>
            <div class="grid-12 row padded hasLoader">
                <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Referrer Engagement...</div></div>
            </div>
        </div>

    </section>
</section>
</div>
{% endblock wideContent %}
