{% extends "base.html" %}
{% block title %}{{ group.name }} Analytics{%endblock%}


{% block extendedHead %}
<link rel="stylesheet" href="/static/components/morris/morris.css">
<link rel="stylesheet" href="/static/components/pikaday/css/pikaday.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<!-- <script src="/static/components/equalize/equalize.min.js"></script> -->
<script src="/static/components/morris/morris.js"></script>
<script src="/static/components/pikaday/pikaday-with-jquery.min.js"></script>

<!-- <script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script> -->
<!-- <script src="{{ STATIC_URL }}js/jquery.bigtext.js"></script> -->
<!-- <script src="{{ STATIC_URL }}global/js/jquery-ui-datepicker.custom.min.js"></script> -->
<!-- <script src="{{ STATIC_URL }}site/js/highcharts/highcharts.js"></script> -->
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}global/css/datepicker_css/ui-lightness/jquery-ui-1.8.15.custom.css"> -->
<!--
<style>
    section[role="datepicker"] button {
        position: relative;
        top:-4px;
    }
</style>
-->
{% endblock %}

{% block mastheadContent %}
    {% with "analytics" as activeAdminTab %} 
    {% include "admin/nav_tabs.html" %}
    {% endwith %}
{% endblock %}

{% block wideContent %}
<div class="mostlyWide">
<section role="datepicker" class="datepicker">
	<form>
        <label>Date Range: </label>
    	<input type="text" name="start_date" />
    	<label>to</label>
    	<input type="text" name="end_date" />
    	<button class="btn" type="submit" >Update</button>
    </form>
</section>


<style>
.summary .engagement-rate { }
.summary .engagement-rate h2 { }
.summary .engagement-rate .donut { border-right:1px solid #ccc; width:90%;  }
.summary .other-totals {  }
/* http://css-tricks.com/vertically-center-multi-lined-text/ */
.summary .other-totals .grid-quarter > div { font-size:48px; font-weight:bold; text-align: center;  display: table-cell; vertical-align: middle; text-align: center; height:200px; }
.summary .other-totals label { font-size:16px; font-weight:normal; display:block; text-align: center; }
.section { margin-bottom:80px; clear:both; overflow: auto;}
.section h1 { font-size: 21px; }
.section.readrboard-usage h1 {margin-bottom: -32px;}
.column { text-align: center; color:#7f7f7f; font-size:14px; }
.column.left { text-align: left; }
.noteworthy { color:#247292; }
.row { clear:both; overflow:auto; }
.row.header { font-weight:bold; border-bottom:1px solid #ccc; }
.row.even { background:#f0f0f0; }
.row.header:hover { background:transparent; }
</style>
<section id="analyticsReport" role="panels">
    <div class="grid-12 summary section">
        <div class="grid-3 engagement-rate">
            <div class="donut" id="donut-example" style="height:200px;"></div>
        </div>
        <div class="grid-9 other-totals">
            <div class="grid-quarter"><div>1,040 <label>Reactions</label></div></div>
            <div class="grid-quarter"><div>134,200 <label>Reaction Views</label></div></div>
            <div class="grid-quarter"><div>52% <label>Avg Scroll Depth</label></div></div>
            <div class="grid-quarter"><div>0:37 <label>Avg Time Spent on Content</label></div></div>
        </div>
    </div>
    <div class="section readrboard-usage">
        <h1>ReadrBoard Usage</h1>
        <div class="grid-12 row padded header">
            <div class="grid-3 column header">&nbsp;</div>
            <div class="grid-3 column header">Used ReadrBoard in last 30 days</div>
            <div class="grid-3 column header noteworthy">Used ReadrBoard in last 180 days</div>
            <div class="grid-3 column header">No recent usage</div>
        </div>
        <div class="grid-12 row padded content">
            <div class="grid-3 column left">Sessions</div>
            <div class="grid-3 column">1,431</div>
            <div class="grid-3 column noteworthy">10,432</div>
            <div class="grid-3 column">55,012</div>
        </div>
        <div class="grid-12 row padded content even">
            <div class="grid-3 column left">Session Pageviews</div>
            <div class="grid-3 column">1.9</div>
            <div class="grid-3 column noteworthy">1.8</div>
            <div class="grid-3 column">1.5</div>
        </div>
        <div class="grid-12 row padded content">
            <div class="grid-3 column left">Avg Scroll Depth</div>
            <div class="grid-3 column">29%</div>
            <div class="grid-3 column noteworthy">25%</div>
            <div class="grid-3 column">15%</div>
        </div>
    </div>
    <div class="grid-12 section">
        <div id="area-example"></div>
    </div>
</section>
</div>

<script>
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

(function(){

        // put in external file...
        RB.analytics = {
        	updateAll: function() {
                console.log('RB.analytics.updateAll....');
                Morris.Donut({
                  element: 'donut-example',
                  data: [
                    {label: "Engaged Sessions", value: 10.5 },
                    {label: "Non-Engaged Sessions", value: 89.5 }
                  ],
                  formatter: function (y) { return y + "%" }
                }).select(0);
                Morris.Area({
                  element: 'area-example',
                  data: [
                    { y: '4-10-14', Reactions: 50,  ReactionViews: 50, Scrolls: 50,   TimeSpent: 50 },
                    { y: '4-11-14', Reactions: 75,  ReactionViews: 65, Scrolls: 175,  TimeSpent: 165 },
                    { y: '4-12-14', Reactions: 50,  ReactionViews: 40, Scrolls: 150,  TimeSpent: 140 },
                    { y: '4-13-14', Reactions: 75,  ReactionViews: 65, Scrolls: 175,  TimeSpent: 165 },
                    { y: '4-14-14', Reactions: 50,  ReactionViews: 40, Scrolls: 150,  TimeSpent: 140 },
                    { y: '4-15-14', Reactions: 75,  ReactionViews: 65, Scrolls: 175,  TimeSpent: 165 },
                    { y: '4-16-14', Reactions: 100, ReactionViews: 90, Scrolls: 100,  TimeSpent: 190 }
                  ],
                  lineColors: ['#7cc1db','#bf9fb8','#c1d1b6','#c4c4c4'],
                  xkey: 'y',
                  ykeys: ['Reactions', 'ReactionViews', 'Scrolls', 'TimeSpent'],
                  labels: ['Reactions', 'Reaction Views', 'Scrolls', 'Time Spent']
                });

        	},
            setDates: function(){

                var nowDate = moment().format("MM/DD/YY");
                RB.analytics.startDate = RB.util.getHashValue('start') || nowDate;
                RB.analytics.endDate = RB.util.getHashValue('end') || moment().add('days',1).format("MM/DD/YY");

                RB.analytics.jsStartDate = RB.analytics.startDate ? new Date(RB.analytics.startDate) : new Date();
                RB.analytics.jsEndDate = RB.analytics.endDate ? new Date(RB.analytics.endDate) : new Date();
            }

        };


        // defined in template
        RB.group.short_name = "{{ group.short_name }}";
        RB.group.full_name = "{{ group.name }}";
        
        $(function(){

            RB.analytics.setDates();

            //init this once so that the destroy function doesn't error when it refreshes this.
            // $('section[role="tag cloud grid"]').isotope();
            
            // $('section[role="datepicker"] input' ).datepicker({ dateFormat: 'mm/dd/y' });

            var start_date = new Pikaday({ field: $('input[name="start_date"]')[0], format: 'MM/DD/YY' });
            var end_date = new Pikaday({ field: $('input[name="end_date"]')[0], format: 'MM/DD/YY' });

            $('input[name="start_date"]').val( RB.analytics.startDate );
            $('input[name="end_date"]').val( RB.analytics.endDate );

            $('section[role="datepicker"] form').submit( function() {

                var startDate = $('input[name="start_date"]').val();
                var endDate = $('input[name="end_date"]').val();
                
                RB.util.setHashValue('start', startDate );
                RB.util.setHashValue('end', endDate );

                RB.analytics.updateAll();
                return false;
            });

            RB.analytics.updateAll();

        });


})();
</script>
{% endblock wideContent %}
