{% extends "base.html" %}
{% block title %}In-house Analytics{%endblock%}


{% block extendedHead %}
<script src="{{ STATIC_URL }}js/jquery.bigtext.js"></script>
<script src="{{ STATIC_URL }}global/js/jquery-ui-datepicker.custom.min.js"></script>
<script src="{{ STATIC_URL }}site/js/highcharts/highcharts.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}global/css/datepicker_css/ui-lightness/jquery-ui-1.8.15.custom.css">
<style>
    section[role="datepicker"] button {
        position: relative;
        top:-4px;
    }
    #sites_chart_raw{
        font-size: 10px;
    }
</style>
{% endblock %}

{% block wideContent %}
<div class="mostlyWide">
    <h1>In-house Analytics</h1>
    <section role="datepicker" class="datepicker">
    	<form>
            <label>Date Range: </label>
        	<input type="text" name="start_date" />
        	<label>to</label>
        	<input type="text" name="end_date" />
        	<button class="btn" type="submit" >Update</button>
        </form>
    </section>
    <section id="analyticsReport" role="panels">
      
        <section class="sites panel">
            <h2>Sites</h2>
            <div id="sites_chart">
            </div>
        </section>
        <section class="sites_raw_json panel">
            <h5>response JSON</h5>
            <div id="sites_chart_raw">
            </div>
        </section>

    </section>
</div>
<script>
(function(){

    // Radialize the colors
    Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
        return {
            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // put in external file...
    ANTsite.analytics = {
        newGroups: function( args ) {},
        debugError: function(error){
            if(!ANTsite.ANT_offline){
                return;
            }
            alert("Error: " + error.code + " " + error.message);
        },
        parse: {},

        test: function( args ) {
            var start = ( args && args.start ) ? args.start : ANTsite.analytics.startDate;
            var end = ( args && args.end ) ? args.end : ANTsite.analytics.endDate;
            var type = ( args && args.type ) ? args.type : "pages";  // users, pages, content
            var max_count = ( args && args.max_count ) ? args.max_count : 20;  // users, pages, content

            var querystring = "?" +
                "start="+start +
                "&end="+end +
                "&max_count="+max_count;

            $.ajax({
                url: '/analytics/inhouse/test/'+querystring,
                type: "get",
                contentType: "application/json",
                dataType: "jsonp",
                success: function(response){
                    var sites = response;
                    var defaultMsg = "No sites";
                    var $ret;
                    if(sites && sites.length){
                        $ret = $('<ul></ul>');
                        $.each(sites, function(idx, site){
                            var $li = $('<li>'+site.domain+'</li>');
                            $ret.append($li);
                        });
                    }else{
                        $ret = defaultMsg;
                    }
                    var rawJSON = JSON.stringify(response);
                    $('#sites_chart_raw').html(rawJSON);
                    $('#sites_chart').html($ret);
                }
            });
        }, 
        updateAll: function() {
            
            ANTsite.analytics.setDates();
            
            ANTsite.analytics.test();
        },
        setDates: function(){

            var nowDate = moment().format("MM/DD/YY");
            ANTsite.analytics.startDate = ANTsite.util.getHashValue('start') || nowDate;
            ANTsite.analytics.endDate = ANTsite.util.getHashValue('end') || moment().add('days',1).format("MM/DD/YY");

            ANTsite.analytics.jsStartDate = ANTsite.analytics.startDate ? new Date(ANTsite.analytics.startDate) : new Date();
            ANTsite.analytics.jsEndDate = ANTsite.analytics.endDate ? new Date(ANTsite.analytics.endDate) : new Date();
        }

    };

    $(function(){

        ANTsite.analytics.setDates();

        
        $('section[role="datepicker"] input' ).datepicker({ dateFormat: 'mm/dd/y' });
        $('input[name="start_date"]').val( ANTsite.analytics.startDate );
        $('input[name="end_date"]').val( ANTsite.analytics.endDate );

        $('section[role="datepicker"] form').submit( function() {

            var startDate = $('input[name="start_date"]').val();
            var endDate = $('input[name="end_date"]').val();
            
            ANTsite.util.setHashValue('start', startDate );
            ANTsite.util.setHashValue('end', endDate );

            ANTsite.analytics.updateAll();
            return false;
        });

        ANTsite.analytics.updateAll();

    });
})();
</script>
{% endblock wideContent %}