{% extends "base.html" %}

{% block title %}{{ group.name }} Analytics{%endblock%}

{% block bodyClass %}wide{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}global/css/readrleague.css">
<link rel="stylesheet" href="{{ STATIC_URL }}site/css/style.css?v=1">
<link rel="stylesheet" href="{{ STATIC_URL }}global/css/datepicker_css/ui-lightness/jquery-ui-1.8.15.custom.css">
{% endblock %}

{% block topjavascript %}
<script src="{{ STATIC_URL }}global/js/jquery-1.6.2.min.js"></script>
<script src="{{ STATIC_URL }}site/js/readr_scripts.js"></script>
<script src="{{ STATIC_URL }}global/js/jquery-ui-datepicker.custom.min.js"></script>
<script src="{{ STATIC_URL }}site/js/highcharts/highcharts.js"></script>
<script src="{{ STATIC_URL }}widget/js/jquery.json-2.2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}widget/js/jquery.cookie.js" type="text/javascript"></script>
{% endblock %}

{% block mainContent %}
<section role="analytics header">
	<h3>{{ group.name }} Activity</h3>
	<section role="controls">
		<label>Date Range: </label>
		<input type="text" name="start_date" />
		<label>to</label>
		<input type="text" name="end_date" />
		<button>Update</button>
	</section>
</section>

<section role="panels">
	<section role="wide panels">
		
		<section role="interaction frequency">
			<div role="total interactions">
				<h1>0</h1>
				<h4>Interactions</h4>
			</div>
			<div role="frequency chart" id="frequency_chart">
				<h5>frequency chart</h5>
			</div>
		</section> <!-- / interaction frequency -->

		<section role="most popular tags">
			<h3>Most Popular Tags</h3>
			<ol></ol>
		</section> <!-- /most popular tags -->

		<section role="most active pages">
			<h3>Most Active Pages</h3>
			<table role="active pages table" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<td role="url">URL</td>
						<td role="title">Title</td>
						<td role="reactions"><img src="/static/site/images/blank.png" class="icon" /> Reactions</td>
						<td role="shares"><img src="/static/site/images/blank.png" class="icon" /> Shares</td>
						<td role="comments"><img src="/static/site/images/blank.png" class="icon" /> Comments</td>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</section><!-- /most popular tags -->

		<section role="most active content">
			<h3>Most Active Content</h3>
			<table role="active content table" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<!-- <td role="via">via</td> -->
						<td role="content">Content</td>
						<td role="reactions"><img src="/static/site/images/blank.png" class="icon" /> Reactions</td>
						<td role="shares"><img src="/static/site/images/blank.png" class="icon" /> Shares</td>
						<td role="comments"><img src="/static/site/images/blank.png" class="icon" /> Comments</td>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</section> <!-- /most active content -->

	</section> <!-- / wide panels -->

	<section role="thin panels">
		<section role="most active readers">
			<h3>Most Active Readers</h3>
			<table role="active user table" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<td colspan="2">Reader</td>
					<td role="reactions"><img src="/static/site/images/blank.png" class="icon" /></td>
					<td role="shares"><img src="/static/site/images/blank.png" class="icon" /></td>
					<td role="comments"><img src="/static/site/images/blank.png" class="icon" /></td>
				</thead>
				<tbody></tbody>
			</table>
		</section> <!-- / most active readers -->

		<section role="recent pages">
			<h3>Recently Active Pages</h3>
			<table role="recent pages table" cellpadding="0" cellspacing="0" border="0">
				<tbody></tbody>
			</table>
		</section> <!-- / most popular bookmarks -->

		<section role="most popular shares">
			<h3>Popular Shared Content</h3>
			<table role="popular shares" cellpadding="0" cellspacing="0" border="0">
				<tbody></tbody>
			</table>
		</section> <!-- / most popular shares -->

		<section role="most popular bookmarks">
			<h3>Popular Bookmarked Content</h3>
			<table role="popular bookmarks" cellpadding="0" cellspacing="0" border="0">
				<tbody></tbody>
			</table>
		</section> <!-- / most popular bookmarks -->

	</section>
</section>

<script>
$( 'section[role="controls"] input' ).datepicker({ dateFormat: 'mm/dd/y' });

// put in external file...
RB.analytics = {

	mostPopular: function( args ) {
		var start = ( args && args.start ) ? args.start : RB.analytics.startDate;
		var end = ( args && args.end ) ? args.end : RB.analytics.endDate;
		var type = ( args && args.type ) ? args.type : "tags";  // users, pages, content
		var max_count = ( args && args.max_count ) ? args.max_count : 20;  // users, pages, content

		var querystring = "?" +
			"start="+start
			"&end="+end
			"&max_count="+max_count;

		$.ajax({
			url: '/analytics/group/'+RB.group.short_name+'/'+type+'/popular/'+querystring,
			type: "get",
			contentType: "application/json",
			dataType: "jsonp",
			success: function(response){
				if (type == "tags") {
					var tag_list = "";
					for ( var i in response ) {
						var sizeClass = ( response[i].count > 7 ) ? "large" : (response[i].count > 4 ) ? "medium" : "small";
						tag_list += '<li class="'+sizeClass+'"><a href="/group/{{ group.short_name }}/?s='+response[i].interaction_node__body+'" target="_blank">('+response[i].count+') '+response[i].interaction_node__body+'</a></li>';
					}
					$('section[role="most popular tags"] ol').html( $(tag_list) );
				} else if (type=="bookmarks") {
					var bookmarkHtml = "";
					for ( var i in response ) {
						var bookmark = response[i];
						bookmarkHtml += '<tr><td role="content">('+bookmark[0].count+') '+bookmark[0].content__body+'</td></tr><tr><td role="reactions"><strong>Reactions:</strong>';
						for ( var j in bookmark[1].related_reactions ) {
							var reaction = bookmark[1].related_reactions[j];
							bookmarkHtml += '('+reaction.count+') '+reaction.interaction_node__body;
							if ( j < bookmark[1].related_reactions.length - 1 ) bookmarkHtml += ", ";
						}
						bookmarkHtml += '</td></tr>'; 
						// bookmarkHtml += '<tr><td role="via"><em>View <a href="#" target="_blank">On your site <img src="/static/site/images/external_link_icon.gif" /></a> | <a href="#" target="_blank">Page Info</a></em></td></tr>';
					}

					$('table[role="popular bookmarks"] tbody').html( $(bookmarkHtml) );
				} else if (type=="shares") {

					var shareHtml = "";
					for ( var i in response ) {
						var share = response[i];
						shareHtml += '<tr><td role="content">('+share[0].count+') '+share[0].content__body+'</td></tr><tr><td role="reactions"><strong>Reactions:</strong>';
						for ( var j in share[1].related_reactions ) {
							var reaction = share[1].related_reactions[j];
							shareHtml += '('+reaction.count+') '+reaction.interaction_node__body;
							if ( j < share[1].related_reactions.length - 1 ) shareHtml += ", ";
						}
						shareHtml += '</td></tr><tr>'; 
						// shareHtml += '<tr><td role="via"><em>View <a href="#" target="_blank">On your site <img src="/static/site/images/external_link_icon.gif" /></a> | <a href="#" target="_blank">Page Info</a></em></td></tr>';
					}

					$('table[role="popular shares"] tbody').html( $(shareHtml) );
				}
				
			}
		});
	},
	mostActive: function( args ) {
		var start = ( args && args.start ) ? args.start : RB.analytics.startDate;
		var end = ( args && args.end ) ? args.end : RB.analytics.endDate;
		var type = ( args && args.type ) ? args.type : "pages";  // users, pages, content
		var max_count = ( args && args.max_count ) ? args.max_count : 20;  // users, pages, content

		var querystring = "?" +
			"start="+start
			"&end="+end
			"&max_count="+max_count;

		$.ajax({
			url: '/analytics/group/'+RB.group.short_name+'/'+type+'/active/'+querystring,
			type: "get",
			contentType: "application/json",
			dataType: "jsonp",
			success: function(response){
				if ( type == "pages" ) {
					var pageHtml = "";
					for ( var i in response) {
						pageHtml += '<tr><td role="url"><div><a href="'+response[i].page.canonical_url+'" target="_blank">'+response[i].page.canonical_url+'&nbsp;&nbsp;<img src="/static/site/images/external_link_icon.gif" /></a>&nbsp;&nbsp;</div></td>'
						+'<td role="title"><a href="/page/'+response[i].page.id+'" target="_blank">'+response[i].page.title+'</td>'
						+'<td role="reactions">'+response[i].counts.tag+'</td>'
						+'<td role="shares">'+response[i].counts.shr+'</td>'
						+'<td role="comments">'+response[i].counts.com+'</td></tr>';
					}

					$('table[role="active pages table"] tbody').html( pageHtml );
				} else if ( type == "content" ) {
					var contentHtml = "";
					for ( var i in response) {
						contentHtml += '<tr>'; // TODO add back in:  <td role="via"><div><a href="'+response[i].content.canonical_url+'" target="_blank">'+response[i].content.canonical_url+'&nbsp;&nbsp;<img src="/static/site/images/external_link_icon.gif" /></a>&nbsp;&nbsp;</div></td>'
						if ( response[i].content.kind == "img" ) {
							contentHtml += '<td role="content"><img src="'+response[i].content.body+'" /></td>'
						} else if ( response[i].content.kind == "txt" ) {
							contentHtml += '<td role="content">'+response[i].content.body+'</td>'
						} else if ( response[i].content.kind == "med" ) {
							contentHtml += '<td role="content">[ Video ] <a href="javascript:void(0);" onclick="$(this).next().toggle();">See It</a><div style="display:none;" class="video"><iframe src="'+response[i].content.body+'" width="200" frameborder="0"/></div></td>'
						}
						contentHtml += '<td role="reactions">'+ ( (response[i].counts.tag)?response[i].counts.tag:0 ) +'</td>'
						+'<td role="shares">'+ ( (response[i].counts.shr)?response[i].counts.shr:0 ) +'</td>'
						+'<td role="comments">'+ ( (response[i].counts.com)?response[i].counts.com:0 ) +'</td></tr>';
					}

					$('table[role="active content table"] tbody').html( contentHtml );
					
				} else if ( type == "users" ) {
					
					var userHtml = "";
					for ( var i in response) {
						if ( response[i].user.img_url ) {
							userHtml += '<tr><td role="avatar"><a href="/user/'+response[i].user.user_id+'" target="_blank"><img src="'+response[i].user.img_url+'" /></a></td><td><a href="/user/'+response[i].user.user_id+'" target="_blank">'+response[i].user.full_name+'</a></td>'
								+ '<td role="reactions">'+ ( (response[i].counts.tag)?response[i].counts.tag:0 ) +'</td>'
								+ '<td role="shares">'+ ( (response[i].counts.shr)?response[i].counts.shr:0 ) +'</td>'
								+ '<td role="comments">'+ ( (response[i].counts.com)?response[i].counts.com:0 ) +'</td>'
							+ '</tr>';
						}
					}
					$('table[role="active user table"] tbody').html( userHtml );
				}
			}
		});
	},
	recentlyActive: function( args ) {
		var start = ( args && args.start ) ? args.start : RB.analytics.startDate;
		var end = ( args && args.end ) ? args.end : RB.analytics.endDate;
		var type = ( args && args.type ) ? args.type : "pages";  // users, pages, content
		var max_count = ( args && args.max_count ) ? args.max_count : 20;  // users, pages, content

		var querystring = "?" +
			"start="+start
			"&end="+end
			"&max_count="+max_count;

		$.ajax({
			url: '/analytics/group/'+RB.group.short_name+'/'+type+'/recent/'+querystring,
			type: "get",
			contentType: "application/json",
			dataType: "jsonp",
			success: function(response){

				var recentHtml = "";
				for (var i in response) {
					// recentHtml += '<tr><td><strong>'+response[0].title+'</strong></td></tr><tr>';
					recentHtml += '<tr><td><strong><a href="/page/'+response[0].id+'" target="_blank">'+response[0].title+'</a></strong></td></tr><tr>';
					// TODO make above line link to page profile
				}

				$('table[role="recent pages table"] tbody').html( recentHtml );
			}
		});
	},
	interactionFrequency: function( args ) {
		var start = ( args && args.start ) ? args.start : RB.analytics.startDate;
		var end = ( args && args.end ) ? args.end : RB.analytics.endDate;
		var type = ( args && args.type ) ? args.type : "pages";  // users, pages, content
		var max_count = ( args && args.max_count ) ? args.max_count : 20;  // users, pages, content

		var querystring = "?" +
			"start="+start
			"&end="+end
			"&max_count="+max_count;

		$.ajax({
			url: '/analytics/group/'+RB.group.short_name+'/frequency/'+querystring,
			type: "get",
			contentType: "application/json",
			dataType: "jsonp",
			success: function(response){
				var tags = 0,
					shares = 0,
					comments = 0,
					bookmarks = 0;

				for ( var i in response ) {
					for ( var j in response[i]) {
						if ( response[i][j].tag ) tags += response[i][j].tag;
						if ( response[i][j].shr ) shares += response[i][j].shr;
						if ( response[i][j].com ) comments += response[i][j].com;
						if ( response[i][j].bkm ) bookmarks += response[i][j].bkm;
					}
				}

				var total = tags + shares + comments + bookmarks;

				$('div[role="total interactions"] h1').text( total );

				// make chart
				var chart;
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'frequency_chart',
						defaultSeriesType: 'bar',
						height:'200'
					},
					title: {
						text: 'Interaction Distribution'
					},
					xAxis: {
					},
					yAxis: {
						min: 0
					},
					legend: {
						backgroundColor: '#FFFFFF',
						reversed: true
					},
					tooltip: {
						formatter: function() {
							return ''+
							this.series.name +': '+ this.y +'';
						}
					},
					plotOptions: {
						series: {
							stacking: 'normal'
						}
					},
					series: [{
						name: 'Bookmarks',
						data: [bookmarks]
					}, {
						name: 'Comments',
						data: [comments]
					}, {
						name: 'Shares',
						data: [shares]
					}, {
						name: 'Reactions',
						data: [tags]
					}]
				});
			}
		});
	}, 
	updateAll: function() {
		RB.analytics.interactionFrequency();

		RB.analytics.mostPopular();
		RB.analytics.mostPopular( {type:'bookmarks'} );
		RB.analytics.mostPopular( {type:'shares'} );

		RB.analytics.mostActive();
		RB.analytics.mostActive({type:'users'});
		RB.analytics.mostActive({type:'content'});

		RB.analytics.recentlyActive();
	}
};

if ( RB.util.getHashValue('start') ) {
	RB.analytics.startDate = RB.util.getHashValue('start');
} else {
	RB.analytics.startDate = "{% now "m/d/y" %}";
}

if ( RB.util.getHashValue('end') ) {
	RB.analytics.endDate = RB.util.getHashValue('end');
} else {
	RB.analytics.endDate = "{% now "m/d/y" %}";
}

$('input[name="start_date"]').val( RB.analytics.startDate );
$('input[name="end_date"]').val( RB.analytics.endDate );


$('section[role="controls"] button').click( function() {
	// get form values
	RB.analytics.startDate = $('input[name="start_date"]').val();
	RB.analytics.endDate = $('input[name="end_date"]').val();

	// update hash, too
	RB.util.setHashValue('start', RB.analytics.startDate );
	RB.util.setHashValue('end', RB.analytics.endDate );

	// re-execute the API calls
	RB.analytics.updateAll();
});


// defined in template
RB.group.short_name = "{{ group.short_name }}";
RB.group.full_name = "{{ group.name }}";

RB.analytics.updateAll();
</script>



{% endblock mainContent %}













