{% extends "base/wide.html" %}
{% load custom_filters %}

{% block page_title %}{{ form.instance.name }} Analytics{%endblock%}

{% block bodyClass %}admin{% endblock %}

{% block subheaderContent %}
<section role="subheader">
    {% with "analytics" as activeAdminTab %} 
    {% include "admin/nav_tabs.html" %}
    {% endwith %}
</section>
{% endblock %}

{% block page_content %}
<div class="container row settings">
    <div class="info">
        <h1>Analytics are being redone!  We'll update you shortly.</h1>
    </div>

    {% comment %}
  <section role="panels" class="content">

    <section role="datepicker" class="datepicker" style="visibility:hidden;">
    	<form>
            <label>Date Range: </label>
        	<input type="text" name="start_date" />
        	<label>to</label>
        	<input type="text" name="end_date" />
        	<button class="btn" type="submit" >Update</button>
        </form>
    </section>

    <div class="grid-whole banner" style="margin-top:-80px;">
    <section role="panels" class="analyticsReport content">
            <div class="dashboard-name" style="margin-bottom:40px;">{{group.short_name}}</div>
        <!-- <div class="grid-12 section summary hasLoader"> -->
            <!-- <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Querying Engagement Totals...</div></div> -->
        <!-- </div> -->

        <div class="section reactions-and-topics">
            <div class="grid-12 padded">
                <div class="grid-6 s-grid-whole hasLoader">
                    <h1 class="header">Most Popular Reactions</h1> 
                    <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Counting Reactions...</div></div>
                    <div class="reactions-holder">&nbsp;</div>
                </div>
                <div class="grid-6 s-grid-whole hasLoader">
                    <h1 class="header">Most Engaged Topics</h1>
                    <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Topics...</div></div>
                    <div class="topics-holder">&nbsp;</div>
                </div>
            </div>
        </div>

        <div class="section engaged-pages">
            <div class="grid-12 row padded">
                <h1 class="header">Most Engaged Pages</h1>
            </div>
            <div class="grid-12 row padded hasLoader">
                <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Page Engagement...</div></div>
            </div>
        </div>

        <div class="section engaged-content">
            <div class="grid-12 row padded">
                <h1 class="header">Most Engaged Content</h1>
            </div>
            <div class="grid-12 row padded hasLoader">
                <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Content Engagement...</div></div>
            </div>
        </div>


        
        <div class="section engaged-referrers">
            <div class="grid-12 row padded">
                <h1 class="header">Most Engaged Referrers</h1>
            </div>
            <div class="grid-12 row padded hasLoader">
                <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Referrer Engagement...</div></div>
            </div>
        </div>

    </section>


</section>
</div>
{% endcomment %}
{% endblock %}
