<!DOCTYPE html>

<!-- 
320 and Up boilerplate extension
Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup 
-->

<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" manifest="default.appcache?v=1" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>{% block title %}ReadrBoard{% endblock %}</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1">

<!-- For less capable mobile browsers
<link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">  -->

<!-- For all browsers -->
<link rel="stylesheet" href="/static/css/style.css?v=1">

<!-- JavaScript at bottom except for Modernizr -->
<!-- [porter] using modernizr 2, new as of 6/1, even though 320andup ships with 1.7 -->
<script src="js/libs/modernizr-2.uncompressed.js"></script>

<!-- For iPhone 4 -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
<!-- For iPad 1-->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
<!-- For iPhone 3G, iPod Touch and Android -->
<link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
<!-- For Nokia -->
<link rel="shortcut icon" href="img/l/apple-touch-icon.png">
<!-- For everything else -->
<link rel="shortcut icon" href="/favicon.ico">

<!--iOS. Delete if not required -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-startup-image" href="img/splash.png">

<!--Microsoft. Delete if not required -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- http://t.co/y1jPVnT -->
<link rel="canonical" href="/">
</head>


<body class="clearfix">
  <header role="banner" class="clearfix">
    <a href="/"><h1>ReadrBoard</h1></a>
    <div id="settings">
      <a href="#"><img src="/static/images/site/gear.png"/></a>
      <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/preferences/">Preferences</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/logout/">Logout</a></li>
      </ul>
    </nav>
    </div>
    <div id="user">
        {% if user %}
          <strong><a href="/profile/{{ user.id }}">{{ user.social_user.full_name }}</a></strong>
        {% else %}
          <fb:login-button>
        {% endif %}
      </div>
    <div id="search">
      <form method="get" id="searchform" action="">
        <fieldset>
        <input type="text" value="" name="s" id="s" />
        <button>Search</button>
        </fieldset>
      </form>
    </div>
  </header>

  <section role="content" class="clearfix">
    <section role="complementary">
    {% block sidebarFilters %}
    <ul>
      <li>
        All
      </li>
    </ul>
    {% endblock sidebarFilters %}
    </section>

    <section role="main">
    <h1>Main Content Section</h1>
    
    <table class="card" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <th class="column1">[ logo <!-- 16px tall max --> ]</th>
        <th class="column2">[ a ] Anthony Weiner: Hackers posted lewd photos on Twitter</th>
      </thead>
      <tbody>
      <tr class="interaction">
        <td class="column1">
          <div class="reaction">Interesting</div>
          <div class="count">+148</div>
        </td>
        <td class="column2">
          <div class="who_action">[ user name ] reacted to:</div>
          <div class="content text">"Weiner's office — generally one of the most press friendly around — did not respond to a request for comment on whether he has contacted federal authorities to report the alleged cyber-attack."</div>
          <h5 class="label small">comments</h5>
          <div class="comment_container">
            <div class="header">
              <div class="when">12:37<span>pm</span>  5/28/2011</div>
              <div class="avatar"><img src="/static/images/anonymousplode.png"/></div>
              <div class="who">eric chaves</div>
            </div>
            <div class="comment">
              <div class="quote open">"</div>
              A bit surprising to hear they aren’t commenting, but I guess you gotta be careful on these (stupid) issues.
              <div class="quote close">"</div>
              <div class="count">+423</div>
            </div>
          </div>
        </div>
      </tr>
      <tr class="interaction">
        <td class="column1">
          <div class="reaction">so what??</div>
          <div class="count">+212</div>
        </td>
        <td class="column2">
          <div class="who_action">[ user name ] reacted to:</div>
          <div class="content text">"Biggovernment.com writes that the woman in question is a college student who lives in Seattle and notes that another Weiner tweet from Friday."</div>
        </td>
      </tr>
      <tr class="interaction">
        <td class="column1">
          <div class="reaction">cute!!</div>
          <div class="count">+37</div>
        </td>
        <td class="column2">
          <div class="who_action">[ user name ] reacted to:</div>
          <div class="content image">
            <img src="/static/ui-prototype/dailycandy/i/shopping-1.jpg"/>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="card" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <th class="column1">[ logo <!-- 16px tall max --> ]</th>
        <th class="column2">[ a ] Anthony Weiner: Hackers posted lewd photos on Twitter</th>
      </thead>
      <tbody>
      <tr class="interaction">
        <td class="column1">
          <div class="reaction">Interesting</div>
          <div class="count">+148</div>
        </td>
        <td class="column2">
          <div class="who_action">[ user name ] reacted to:</div>
          <div class="content text">"Weiner's office — generally one of the most press friendly around — did not respond to a request for comment on whether he has contacted federal authorities to report the alleged cyber-attack."</div>
          <h5 class="label small">comments</h5>
          <div class="comment_container">
            <div class="header">
              <div class="when">12:37<span>pm</span>  5/28/2011</div>
              <div class="avatar"><img src="/static/images/anonymousplode.png"/></div>
              <div class="who">eric chaves</div>
            </div>
            <div class="comment">
              <div class="quote open">"</div>
              A bit surprising to hear they aren’t commenting, but I guess you gotta be careful on these (stupid) issues.
              <div class="quote close">"</div>
              <div class="count">+423</div>
            </div>
          </div>
        </div>
      </tr>
      <tr class="interaction">
        <td class="column1">
          <div class="reaction">so what??</div>
          <div class="count">+212</div>
        </td>
        <td class="column2">
          <div class="who_action">[ user name ] reacted to:</div>
          <div class="content text">"Biggovernment.com writes that the woman in question is a college student who lives in Seattle and notes that another Weiner tweet from Friday."</div>
        </td>
      </tr>
      <tr class="interaction">
        <td class="column1">
          <div class="reaction">cute!!</div>
          <div class="count">+37</div>
        </td>
        <td class="column2">
          <div class="who_action">[ user name ] reacted to:</div>
          <div class="content image">
            <img src="/static/ui-prototype/dailycandy/i/shopping-1.jpg"/>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    {% block content %}
    {% endblock content %}
    </section>
  </section>

  <footer role="contentinfo" class="clearfix">
    {% block footer %}
    {% endblock footer %}
  </footer>

  <div id="fb-root"></div>

  <!-- Facebook -->
  <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({appId: '{{ fb_client_id }}', status: true, cookie: true,
               xfbml: true});
    };
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol +
        '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
</body>
</html>