<!DOCTYPE html>

<!-- 
320 and Up boilerplate extension
Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup 
-->

<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" manifest="default.appcache?v=1" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>{% block title %}ReadrBoard{% endblock %}</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1">

<!-- For less capable mobile browsers
<link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">  -->

<!-- For all browsers -->
<link rel="stylesheet" href="/static/css/style.css?v=1">

<!-- JavaScript at bottom except for Modernizr -->
<!-- [porter] using modernizr 2, new as of 6/1, even though 320andup ships with 1.7 -->
<script src="/static/320/single/js/libs/modernizr-2.uncompressed.js"></script>

<!-- For iPhone 4 -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
<!-- For iPad 1-->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
<!-- For iPhone 3G, iPod Touch and Android -->
<link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
<!-- For Nokia -->
<link rel="shortcut icon" href="img/l/apple-touch-icon.png">
<!-- For everything else -->
<link rel="shortcut icon" href="/favicon.ico">

<!--iOS. Delete if not required -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-startup-image" href="img/splash.png">

<!--Microsoft. Delete if not required -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- http://t.co/y1jPVnT -->
<link rel="canonical" href="/">
</head>


<body class="clearfix">
  <header role="banner" class="clearfix">
    <a href="/"><h1>ReadrBoard</h1></a>
    <div id="settings">
      <a href="#"><img src="/static/images/site/gear.png"/></a>
      <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/preferences/">Preferences</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/logout/">Logout</a></li>
      </ul>
    </nav>
    </div>
    <div id="user">
        {% if user %}
          <strong><a href="/profile/{{ user.id }}">{{ user.social_user.full_name }}</a></strong>
        {% else %}
          <fb:login-button>
        {% endif %}
      </div>
    <div id="search">
      <form method="get" id="searchform" action="">
        <fieldset>
        <input type="text" value="" name="s" id="s" />
        <button>Search</button>
        </fieldset>
      </form>
    </div>
  </header>

  <section role="content" class="clearfix">
    <section role="complementary">
    {% block sidebarContent %}
    {% endblock %}
    </section>

    <section role="main">
    {% block mainContent %}
    {% endblock mainContent %}
    </section>
  </section>

  <footer role="contentinfo" class="clearfix">
    {% block footer %}
    {% endblock %}
  </footer>

  <div id="fb-root"></div>

  <!-- Facebook -->
  <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({appId: '{{ fb_client_id }}', status: true, cookie: true,
               xfbml: true});
    };
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol +
        '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
  <!-- [porter] 320andup stuff -->
<!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
<script src="/static/js/jquery-1.6.min.js"></script>

<!-- Scripts -->
<script src="/static/320/single/js/plugins.js"></script>
<script src="/static/320/single/js/script.js"></script>

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="/static/320/single/js/libs/DOMAssistantCompressed-2.8.js"></script>
<script src="/static/320/single/js/libs/selectivizr-1.0.1.js"></script>
<script src="/static/320/single/js/libs/respond.min.js"></script>
<![endif]-->

<!-- http://t.co/HZe9oJ4 -->
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<noscript>Your browser does not support JavaScript!</noscript>

{% block pageJS %}
{% endblock %}
</body>
</html>