{% for interaction in interactions %}
<table class="card" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <th class="column1"><img src="/static/ui-prototype/images/dc_logo_sm.png" alt="DailyCandy" /><!--{{ interaction.page.logo }}--></th>
    <th class="column2">{{ interaction.page.title }}</th>
  </thead>
  <tbody>
    <tr class="interaction">
    <td class="column1">
      <div class="reaction">{{interaction.interaction_node.body}}</div>
      <div class="count">+1</div>
    </td>
    <td class="column2">
      <div class="who_action">{{interaction.user.social_user.full_name}} reacted to:</div>
      <div class="content text">
        <img src="/static/ui-prototype/{{interaction.content.body}}" alt='"{{interaction.content.body}}"' />
      </div>
      </div>
    </div>
    </td>
  </tbody>
</table>
{% endfor %}

<!--
<table class="card" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <th class="column1">[ logo ]</th>
    <th class="column2">[ a ] Anthony Weiner: Hackers posted lewd photos on Twitter</th>
  </thead>
  <tbody>
  <tr class="interaction">
    <td class="column1">
      <div class="reaction">Interesting</div>
      <div class="count">+148</div>
    </td>
    <td class="column2">
      <div class="who_action">[ user name ] reacted to:</div>
      <div class="content text">"Weiner's office — generally one of the most press friendly around — did not respond to a request for comment on whether he has contacted federal authorities to report the alleged cyber-attack."</div>
      <h5 class="label small">comments</h5>
      <div class="comment_container">
        <div class="header">
          <div class="when">12:37<span>pm</span>  5/28/2011</div>
          <div class="avatar"><img src="/static/images/anonymousplode.png"/></div>
          <div class="who">eric chaves</div>
        </div>
        <div class="comment">
          <div class="quote open">"</div>
          A bit surprising to hear they aren’t commenting, but I guess you gotta be careful on these (stupid) issues.
          <div class="quote close">"</div>
          <div class="count">+423</div>
        </div>
      </div>
    </div>
    </td>
  </tr>
  <tr class="interaction">
    <td class="column1">
      <div class="reaction">so what??</div>
      <div class="count">+212</div>
    </td>
    <td class="column2">
      <div class="who_action">[ user name ] reacted to:</div>
      <div class="content text">"Biggovernment.com writes that the woman in question is a college student who lives in Seattle and notes that another Weiner tweet from Friday."</div>
    </td>
  </tr>
  <tr class="interaction">
    <td class="column1">
      <div class="reaction">cute!!</div>
      <div class="count">+37</div>
    </td>
    <td class="column2">
      <div class="who_action">[ user name ] reacted to:</div>
      <div class="content image">
        <img src="/static/ui-prototype/dailycandy/i/shopping-1.jpg"/>
      </div>
    </td>
  </tr>
  </tbody>
</table>
-->