<div>
{% for card in cards %}
<table class="card" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <th class="column1"><img alt="{{ card.page.site.group.name }}" src="{{ card.page.site.group.logo_url_sm }}"></th>
    <th class="column2">{{ card.page.title }}</th>
  </thead>
  {% for tag in card.tags %}
  <tbody>
    <tr class="interaction">
    <td class="column1">
      <div class="reaction">{{ tag.tag.body }}</div>
      <!-- <div class="count"></div> -->
    </td>
    <td class="column2">
      <!-- <div class="who_action">{{ tag.content.interaction.user.social_user.full_name }}'s reaction to:</div> -->
      <div class="who_action">
        {% with count=tag.content.interactions|length %}
          {{ count }} person{{ count|pluralize }}
        {% endwith %}
      </div>
      {% if tag.content.interaction.content.kind == "img" %}
      <div class="content image"><img src="{{ tag.content.interaction.content.body }}"></div>
      {% else %}
      <div class="content text">{{ tag.content.interaction.content.body }}</div>
      {% endif %}
      {% for comment in tag.content.comments %}
      <h5 class="label small">comments</h5>
      <div class="comment_container">
        <div class="header">
          <div class="when">{{ comment.created }}</div>
          <div class="avatar"><img src="{{ comment.user.social_user.img_url }}"></div>
          <div class="who">{{ comment.user.social_user.full_name }}</div>
        </div>
        <div class="comment">
          <div class="quote open">"</div>
          {{ comment.interaction_node.body }}
          <div class="quote close">"</div>
        </div>
      </div>
    </div>
    {% endfor %}
    
    <h5>Other Reactions</h5>
      {% for other_tag in tag.content.other_tags %}
          {{ other_tag.interactions|length }} {{ other_tag.tag.body }}
      {% endfor %}
    
    </td>
  </tbody>
  {% endfor %}
</table>
{% endfor %}
</div>


<table cellspacing="0" cellpadding="0" border="0" class="card">
  <thead>
    <tr><th class="column1"><img alt="TechCrunch" src="/static/ui-prototype/images/tc_logo_sm.png"><!----></th>
    <th class="column2">Apple Has Finally Stuck A Dagger Into SMS. I Love It.</th>
  </tr></thead>
  <tbody>
    <tr class="interaction">
    <td class="column1">
      <div class="reaction">Finally!</div>
      <div class="count">+34</div>
    </td>
    <td class="column2">
      <div class="who_action">34 people reacted to:</div>
      <div class="content text">
        "Now that the WWDC keynote is over"
      </div>
      
    
    </td>
  </tr></tbody>
</table>



<table cellspacing="0" cellpadding="0" border="0" id="static" class="card">
  <thead>
    <tr><th class="column1"><img src="/static/ui-prototype/images/tc_logo_sm.png" style="margin-top:3px;"></th>
    <th class="column2">Apple Moves The Digital Hub From The Mac To iCloud</th>
  </tr></thead>
  <tbody>
  <tr class="interaction">
    <td class="column1">
      <div class="reaction">Interesting</div>
      <div class="count">+148</div>
    </td>
    <td class="column2">
      <div class="who_action">148 people reacted to:</div>
      <div class="content text">"At launch, it will include nine apps with cloud components, including iTunes, Photo Stream, Storage, iBooks, Backup, App Store, and all the MobileMe apps (Contacts, Calendar, Mail)."</div>
      <h5 class="label small">comments</h5>
      <div class="comment_container">
        <div class="header">
          <div class="when">12:37<span>pm</span>  5/28/2011</div>
          <div class="avatar"><img src="/static/images/anonymousplode.png"></div>
          <div class="who">Eric Chaves</div>
        </div>
        <div class="comment">
          <div class="quote open">"</div>
          One wonders if my data is still 'my' data, and is accessible from non-Apple devices...
          <div class="quote close">"</div>
          <div class="count">+423</div>
        </div>
      </div>
    
    </td>
  </tr>
  <tr class="interaction">
    <td class="column1">
      <div class="reaction">nicely done</div>
      <div class="count">+212</div>
    </td>
    <td class="column2">
      <div class="who_action">212 people reacted to:</div>
      <div class="content text">"Much of our earlier speculation panned out."</div>
    </td>
  </tr>
  <tr class="interaction">
    <td class="column1">
      <div class="reaction">Sweet.</div>
      <div class="count">+37</div>
    </td>
    <td class="column2">
      <div class="who_action">37 people reacted to:</div>
      <div class="content image">
        <img src="http://tctechcrunch.files.wordpress.com/2011/06/icloud.jpg">
      </div>
    </td>
  </tr>
  </tbody>
</table>
