{% extends "base.html" %}

{% block title %}Antenna / Frequently Asked Questions{%endblock%}

{% block bodyClass %}wide{% endblock %}

{% block mainContent %}
<h1>Frequently Asked Questions</h1>
<div class="container">
<section role="panels">
	<section role="wide panels">
		<ol>
			<li>
				<strong>What is Antenna?</strong>
				<p>Antenna is the fastest way to say exactly what you think about any phrase, picture, video, or article on the web.</p>
				<p>So, if a certain phrase, picture, or video on a page grabs your attention for some reason -- just select it, and you can say what you think.  You can also cast a reaction on a whole page.</p>
				<p>To use Antenna, a website adds it to their pages, and you can use it.  Nothing is installed onto your computer.  Every website will offer a few reactions you can simply click on, as shown on the image to the right, or you can type in your own.</p>
			</li>
			<li>
				<strong>Do I have to register to use Antenna?</strong>
				<p>You can react, comment, and share on a website using Antenna five times before we require you to register.  We think you should try something out before you're asked to tell us about yourself.</p>
			</li>
			<li>
				<strong>Why must I log in with Facebook to use Antenna?</strong>
				<p>We used Facebook Connect because it's easy, and because we think that reactions and comments are higher in quality when people are forthcoming about who they are.  There is a time and place for anonymity, and we're working on a solution to that -- but most of time, we think, it's good to know who is saying something.</p>
			</li>
			<li>
				<strong>What else can I do with Antenna?</strong>
				<p>You can also bookmark content that is interesting to you.  Your bookmarks are private to you, and available on your Antenna profile.  Every time you bookmark something, you tag it, so it's easy to search and sort your bookmarks later.</p>
				<p>And, Antenna.com will soon be a great way to find content online that people are really reacting to -- you'll see what content is interesting to people, and why they found it interesting (because it's funny, or controversial, or interesting, or heartwarming, or... you get the idea).  You'll soon be able to follow other Antenna users, to stay on top of whatever content they are reacting to online.
			</li>
			<li>
				<strong>Are my reactions and comments in Antenna visible to others?</strong>
				<p>By default, your profile is publicly visible, so others can see what you are reacting to.  But, you can make your profile completely private.</p>
			</li>
			<li>
				<strong>Why do websites use Antenna?</strong>
				<p>Website owners want to know what you really think about their content, and want readers -- who have a common interest, their content! -- to be able to interact with each other and learn from each other.</p>
			</li>
			<li>
				<strong>How is Antenna different than clicking the Facebook Like button?</strong>
				<p>Antenna is very different than the Like button (or Google's +1 button, or tweeting, and so on).  It is different in these ways:</p>
				<ul>
					<li>Reacting with Antenna <strong>does not tell Facebook anything</strong> -- we don't send any data about your reactions and comments to Facebook. React all you want!</li>
					<li>Antenna does not post to your Facebook wall, unless you explicitly use our integrated sharing feature.</li>
					<li>Antenna lets you react to just part of a page.  Do you "like" something in an article, but don't want to say you like the whole thing?  Antenna lets you do just that.</li>
					<li>Sometimes, you don't "like" content, but you do have something to say.  Antenna makes it super simple and fast to express yourself.</li>
					<li>People reading the same page you are reading can see you reactions on that page, and you can see theirs.</li>
				</ul>
			</li>
			<li>
				<strong>How is Antenna different than commenting?</strong>
				<p>Reacting with Antenna is much faster than typing out a whole comment, but Antenna also lets you leave comments!  Antenna comments are different than comments you are used to.  Here's how:</p>
				<ul>
					<li>Antenna lets you leave a comment next to the content on a page you are reacting to, rather than at the bottom of the page.</li>
					<li>Antenna comments are <strong>sorted by reaction</strong>. So when reading others' comments, you can just read the ones that interest you, because you know why the person commented before you read their comment.</li>
				</ul>
			</li>
			<li>
				<strong>If I use Antenna on a website, does that website get my email address or other personal information?</strong>
				<p>No.  We don't share your information with other websites, except for rare occasions where we specifically ask you and you specifically give permission.</p>
			</li>
			<li>
				<strong>If I log in to Antenna, am I also logging into the website I'm on while using Antenna?</strong>
				<p>No.  If you log in to Antenna, you are not also logging into any other site or service.</p>
			</li>
			<li>
				<strong>Is Antenna part of Facebook?</strong>
				<p>No.  We use Facebook to authenticate who you are, but we have no formal relationship with them.</p>
			</li>
			<li>
				<strong>Does Antenna ever post to my Facebook wall?</strong>
				<p>Only if you explicitly share to Facebook.</p>
			</li>
			<li>
				<strong>Does Antenna post to any other social media services (Twitter, Tumblr, etc)?</strong>
				<p>No.  Your reactions, bookmarks, and comments do not get posted to 3rd party social networks, unless you specifically share something on them.  React as much as you want!</p>
			</li>
			<li>
				<strong>Does Antenna ever share my information with third parties?</strong>
				<p>Your privacy and information are very important to us.  We don't share personally identifiable information about you with any other site, company, or organization, unless we have specifically asked you to share with a certain party, and you gave permission.  Simply using Antenna to react, share, and comment does <strong>not</strong> give us permission to share information about you.</p>
				<p>Your profile at Antenna.com does have your name, and picture from Facebook, on it.  If you do not want these to be visible to the outside world, you can simply set your profile to be private.</p>
				<p>We do plan, in the future, to use information about readers in aggregate to help suggest content, advertisements, Antenna users, and Antenna sites based on content you've interacted with.  We will probably use some third party services to do this.  We will <strong>never</strong> give them your personally identifiable information without specific permission from you.  Think of it like this:  Antenna won't tell a third party that "Porter Bayne likes chili and interacts a lot on content about politics and football, give us an article suggestion for Porter."  Rather, our system would say, "We think this is a reader who likes chili, and interacts with content about politics and football.  What might this person like?"</p>
			</li>
			<li>
				<strong>Does Antenna use my information to target ads?</strong>
				<p>Not yet, but we think we will in the future, without giving your personally-identifying information out to third parties without your explicit permission.  See the answer to the above question for more details.</p>
			</li>
			<li>
				<strong>Does Antenna use my information to target content?</strong>
				<p>Not yet, but we think we will in the future, without giving your personally-identifying information out to third parties without your explicit permission.  See the answer two questions up for more details.</p>
			</li>
		</ol>
	</section> <!-- / wide panels -->

	<section role="thin panels">
		<section role="ant examples">
			<!-- 
			<h2>Show and Tell</h2>
			<img src="{{ STATIC_URL }}site/images/rindow-for-splashpage.png" />
			-->
		</section>
	</section>
</section>
</div>

{% endblock mainContent %}

{% block footer %}
<footer class="no-rdr">
	<div class="footerLinks">
		<ul class="footerLinksLeft">
			<li>
				<a href="/stream/">live stream</a>
			</li>
			<li>
				<a href="/about/" >about us</a>
			</li>
			<li>
				<a href="/faq/" >frequently asked questions</a>
			</li>
		</ul>
		<div class="clearDiv"></div>
	</div>
</footer>
{% endblock %}
