<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:x2="http://www.w3.org/2002/06/xhtml2" xmlns:fb="http://www.facebook.com/2008/fbml">
   <head>
     <title>Log In to ReadrBoard</title>
	<script src="/static/global/js/jquery-1.6.js" type="text/javascript"></script>
	<script src="/static/widget/js/jquery.ba-postmessage.min.js" type="text/javascript"></script>
	<script src="/static/widget/js/jquery.json-2.2.min.js" type="text/javascript"></script>
	<script src="/static/widget/js/jquery.cookie.js" type="text/javascript"></script>
	<script type="text/javascript">
	var date = new Date();
	// TODO use the following line.  it creates a cachebuster that represents the current day/week/month
	// var cachebuster = String( parseInt( date.getDate() / 7 )+1 )+String(date.getMonth()) + String(date.getYear());
	var cachebuster = date.getTime();
	document.write(
		unescape( '%3Cscript src="/static/widget/js/readr_user_auth.js?' + cachebuster + '" type="text/javascript"%3E%3C/script%3E' )
	);
	</script>
	<style type="text/css">
	body	{color: #666666; font-family: Arial; font-size: 12px; padding: 5px 0 0 0; margin:0 8px; border-top:1px solid #ccc; }
	img		{ border:0; }
	ul		{ padding:0;margin:0; list-style-type:none;}
	li		{ padding:0 0 0 16px;margin:0;background:url(/static/widget/images/checkmark.png) left top no-repeat; }
	#fb-login-button	{margin:10px 0;}
	</style>
   </head>
   <body>
   	<div id="fb-root"></div>
   	<div id="fb-logged-out">
	   	<!-- Thank you for using ReadrBoard to rate, share, and discuss content <strong>{{ group_name }}</strong>!  To keep participating, just log in with Facebook. -->
	   	<strong>{{ group_name }}</strong> uses <strong style="color:#008be4;">ReadrBoard</strong> so you can react to content easily and safely.
	   	<br><br>
	   	To keep participating, just log in with Facebook.
		<div id="fb-login-button">
			<a href="javascript:void(0);" onclick="RDRAuth.doFBLogin();"><img src="/static/widget/images/fb-login_to_readrboard.png" /></a>
		</div>
		<strong><span style="color:#008be4;">ReadrBoard</span> values your privacy.</strong>
		<ul>
			<li>We do not post on your wall unless you purposefully share something .</li>
			<li>We only email you if someone comments on your reactions.</li>
			<li>We do not give out your email address.</li>
		</ul>
	</div>
	<div id="fb-logged-in" style="display:none;">
		<div><strong>Welcome to ReadrBoard!</strong></div>
		<a href="javascript:void(0);" onclick="FB.logout( RDRAuth.doFBlogout );">Log out</a>
	</div>
	<!-- <p>
		<a href="javascript:void(0);" onclick="RDRAuth.tempUser();">Create Temp User</a>
	</p> -->
     <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"s></script>
     <script type="text/javascript">
		RDRAuth.FBLoginResponse = function(response) {
			if (response.session) {
				//user is logged in
				$('#fb-logged-in').show();
				$('#fb-logged-out').hide();
				RDRAuth.getReadrToken(response);
			} else {
				// user is not logged in
				// TODO do something.  post to parent that there was a bug logging in to FB

				$('#fb-logged-in').hide();
				$('#fb-logged-out').show();
			}	
		}
		
		FB.init({ 
			appId:'{{ fb_client_id }}', cookie:true, 
			status:true, xfbml:true 
		});

		RDRAuth.getUser();
	</script>
   </body>
</html>