<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:x2="http://www.w3.org/2002/06/xhtml2" xmlns:fb="http://www.facebook.com/2008/fbml">
   <head>
     <title>Log In to ReadrBoard</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.ba-postmessage.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
	<script type="text/javascript">
	var date = new Date();
	// TODO use the following line.  it creates a cachebuster that represents the current day/week/month
	// var cachebuster = String( parseInt( date.getDate() / 7 )+1 )+String(date.getMonth()) + String(date.getYear());
	var cachebuster = date.getTime();
	document.write(
		unescape( '%3Cscript src="/static/js/readr_user_auth.js?' + cachebuster + '" type="text/javascript"%3E%3C/script%3E' )
	);
	</script>
	<style type="text/css">
	img		{ border:0; }
	</style>
   </head>
   <body>
     <div id="fb-root"></div>
	<div id="fb-login-button" style="display:none;">
		<a href="javascript:void(0);" onclick="RDRAuth.doFBLogin();"><img src="/static/images/fb-login_to_readrboard.png" /></a>
	</div>
	<div id="fb-logged-in" style="display:none;">
		<a href="javascript:void(0);" onclick="FB.logout( RDRAuth.doFBlogout );">Log out</a>
		<br/><br/>
		<a href="javascript:void(0);" onclick="RDRAuth.getReadrToken();">Send Facebook Response again</a>
	</div>
	<a href="javascript:void(0);" onclick="RDRAuth.postMessageTest();">test postMessage</a>
     <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"s></script>
     <script type="text/javascript">
		RDRAuth.notifyParent = function(response) {
			// RDRAuth.rdr_user = response;
			// if ( RDRAuth.rdr_user.django_user_id ) $.cookie( 'django_user_id', RDRAuth.rdr_user.django_user_id );
			// if ( RDRAuth.rdr_user.readr_token ) $.cookie( 'readr_token', RDRAuth.rdr_user.readr_token );
			// if ( RDRAuth.rdr_user.full_name ) $.cookie( 'full_name', RDRAuth.rdr_user.full_name );
			// if ( RDRAuth.rdr_user.image_url ) $.cookie( 'image_url', RDRAuth.rdr_user.image_url );
			response.action = "readr_auth";
			// send this info up to the widget!
			RDRAuth.postMessage({
				message: response
			});
		}
		RDRAuth.FBLoginResponse = function(response) {
			if (response.session) {
				//user is logged in
				$('#fb-logged-in').show();
				$('#fb-login-button').hide();
				RDRAuth.getReadrToken(response);
			} else {
				// user is not logged in
				// TODO do something.  post to parent that there was a bug logging in to FB
			}	
		}
		
		FB.init({ 
			appId:'{{ fb_client_id }}', cookie:true, 
			status:true, xfbml:true 
		});

		FB.getLoginStatus(function(response) {
	  		if (response.session) {
				//user is logged in
				$('#fb-logged-in').show();
				$('#fb-login-button').hide();
				RDRAuth.getReadrToken(response);
	  		} else {
				$('#fb-logged-in').hide();
				$('#fb-login-button').show();
	  		}
		});
	</script>
   </body>
</html>