<style>
    #ant_try_overlay { position: fixed;top:0;bottom:0;left:0;right:0;background: rgba(0,0,0,0.85); z-index:100000;  opacity:0; transition:opacity 0.3s ease; display:none;}
    .try-antenna-form { height:300px; margin: auto; position: fixed; top: 0; left: 0; bottom: 0; right: 0; text-align: center; z-index:100001;  opacity:0; transition:opacity 0.3s ease; display:none;}
    .try-antenna-link { width:30%; position:fixed; bottom:0; left:0; right:0; margin:0 auto; background:#fff; padding: 0.5em; text-align: center; border:2px solid #8fb3f2; border-bottom:0; box-shadow: 0px 0px 16px #555; z-index:99999; font-size:18px; font-weight: 300; color:#d4503a; cursor: pointer;}
    .try-antenna-form h1 { color:#fff; }
    .try-antenna-form a { display:block; }
    @media (max-width: 480px) { .try-antenna-link { width:70%;} }  
</style>
<div id="ant_try_overlay"></div>
<div class="try-antenna-form no-ant">
    <h1>Join our beta!</h1>
    <iframe src="/static/wufoo/index.html?d=10032013" width="500" height="250" scrolling="no" wmode="transparent" allowTransparency="true" style="background:transparent;" frameborder="0"></iframe>
    <a href="javascript:void(0);">Close form</a>
</div>
<div class="try-antenna-link no-ant">
    Join the Antenna beta!
</div>
<script>
$('.try-antenna-form a').on('click', function() { 
  $('#ant_try_overlay, .try-antenna-form').css('opacity', 0);
  setTimeout(function(){
      $('#ant_try_overlay, .try-antenna-form').hide();
  }, 300);
});

$('.try-antenna-link').on('click', function() {
    $('#ant_try_overlay, .try-antenna-form').show(0).css('opacity', 1);
});
</script>
