{% extends "base.html" %}

{% block title %}ReadrBoard - Frequently Asked Questions{%endblock%}

{% block bodyClass %}wide{% endblock %}

{% block mainContent %}
<h1>Goodies</h1>
<div class="container">
<section role="panels">
	<section role="wide panels">
		
	</section> <!-- / wide panels -->

	<section role="thin panels">
		<section role="rb examples">
			<!-- 
			<h2>Show and Tell</h2>
			<img src="{{ STATIC_URL }}site/images/rindow-for-splashpage.png" />
			-->
		</section>
	</section>
</section>
</div>

{% endblock mainContent %}

{% block footer %}
<footer class="no-rdr">
	<div class="footerLinks">
		<ul class="footerLinksLeft">
			<li>
				<a href="/stream/">live stream</a>
			</li>
			<li>
				<a href="/about/" >about us</a>
			</li>
			<li>
				<a href="/faq/" >frequently asked questions</a>
			</li>
		</ul>
		<div class="clearDiv"></div>
	</div>
</footer>
{% endblock %}
