{% extends "base/site-admin.html" %}
{% load custom_filters %}

{% block page_title %}{{ form.instance.name }} Reaction Management{%endblock%}

{% block bodyClass %}admin{% endblock %}

{% block sidebarContent %}
    {% with "moderation_approved" as activeAdminTab %} 
    {% with "desktop" as whichGroupList %} 
    {% include "admin_nav_tabs.html" %}
    {% endwith %}
    {% endwith %}
{% endblock %}

{% load macros %}
{% loadmacros "admin_pagination.html" %}

{% block page_content %}
  <section role="panels" class="content">
    <div class="admin-header">
        <h1>Approved Reactions</h1>
    </div>

    <div class="admin-content">

        <div class="card-panel">
            <p>These are reactions that currently appear on your site.  If you want to prevent them from ever being used on your site, click the "Block" button.</p>
            <p>Blocking a reaction will remove all current instances of it on your site, and prevent any more from being made.</p>
        </div>

        {% if current_page.paginator.count > 0 %}
            {% usemacro pagination %}
            <table role="block_tags">
        		<thead>
        			<tr>
        				<th>Reaction</th>
        				<th>Action</th>
        			</tr>
        		</thead>
        		<tbody>
            {% for tag in current_page %}
            		<tr>
            			<td width="300">{{tag.body}}</td>
            			<td><button data-group-id="{{ group.id }}" data-node-id="{{ tag.id }}">Block</button></td>
            		</tr>
            {% endfor %}  
        		</tbody>
        	</table>
            {% if current_page.paginator.num_pages > 1 %}
                {% usemacro pagination %}
            {% endif %}

        {% else %}
            <div>You have no approved reactions at this time.</div>
        {% endif %}
	</div>
</section>

<script>
// bind a "block" event to each button
// this will block the reaction on the site
$('table[role="block_tags"] button').click( function() {
	var $button = $(this);
	// send the data!
    $.ajax({
        url: "/api/tag/block/"+$button.data('groupId')+"/"+$button.data('nodeId')+"/",
        type: "put",
        // contentType: "application/json",
        // dataType: "jsonp",
        // data: { json: JSON.stringify(sendData) },
        success: function(response) {
        	$button.closest('tr').html('<td colspan="2">This reaction has been blocked!  If this was an accident, go visit your <a href="/group/{{ group.short_name }}/blocked_reactions/">list of blocked reactions</a> to unblock it.</td>');
        },
        error: function(response) {
        	console.log(response);
        }
    });
});

</script>

{% endblock %}
 
    {% block afterWideContent %}
    {% endblock %}

{% block page_js %}
    
{% endblock %}