{% if cookie_user and cookie_user.social_user and cookie_user.social_user.admin_group %}
<h3>
	{{ cookie_user.social_user.admin_group.name }} Admin 
	<!-- <svg class="icon-antenna-icon"><use xlink:href="#ant-chevron-down"></use></svg> -->
</h3>
<section role="group panel header">
	<section role="group links">
		<ul class="link-list">
			<li class="menu_home_link"><a href="/manage/">Management Home</a></li>
			<li class="{{ profile_active }}"><a href="/group/{{ cookie_user.social_user.admin_group.short_name }}/">Group Profile</a></li>
			<li class="{{ settings_active }}"><a href="/group/{{ cookie_user.social_user.admin_group.short_name }}/settings/">Settings</a></li>
			<li class="{{ analytics_active }}"><a href="/group/{{ cookie_user.social_user.admin_group.short_name }}/analytics/">Analytics</a></li>
			<li class="{{ blocked_active }}"><a href="/group/{{ cookie_user.social_user.admin_group.short_name }}/not_approved/">Blocked Content</a></li>
			<li class="{{ admin_approve_active }}"><a href="/group/{{ cookie_user.social_user.admin_group.short_name }}/admin_approve/">Admin Requests</a></li>
		</ul>
	</section>
</section>
{% endif %}