{% extends "base.html" %}

{% block title %}{{ form.instance.name }} Settings{%endblock%}

{% block bodyClass %}wide{% endblock %}

{% block mainContent %}
{% with group=form.instance %}

    {% block settingsHeader %}    
      <h1>{{group.name}} Settings</h1>
    {% endblock settingsHeader %}    
  
  <form id="groupSettings" action="{% block settingsUrl %}/settings/{{ short_name }}/{% endblock settingsUrl %}" enctype="multipart/form-data" method="post" class="big-form">{% csrf_token %}
  {{ form.non_field_errors }}

	<div class="leftColumn column">
        <section class="">
    		<h3>Group Information</h3>
    		<div class="formRow">
    			<label for="id_name"><span class="labelTitle">Name </span></label>
    			{{ form.name }}
    			{{ form.name.errors }}
    		</div>
    		<div id="short_name_row" class="formRow">
    			<label for="id_short_name"><span class="labelTitle">Short Name </span><span>Used in URLs on readrboard.com</span></label>
    			{{ form.short_name }}
    			{{ form.short_name.errors }}
    		</div>
    		<div class="formRow">
    			<label for="id_blessed_tags"><span class="labelTitle">Default Reactions </span><span>Default tags for people to react with.  Separate tags with a ";"</span></label>
    			{{ form.blessed_tags }}
                {{ form.blessed_tags.errors }}
    		</div>
    		<!-- <div class="formRow">
    		<label for="id_language"><span class="labelTitle">Language </span><span>For now, only "en" supported</span></label>
    		{{ form.language }}{{ form.language.errors }}
    		</div> -->
    		<div class="formRow">
    			<label for="id_temp_interact"><span class="labelTitle">Temporary Interactions </span><span>How many times someone can react, comment &amp; share before logging in.</span></label>
    			{{ form.temp_interact }}{{ form.temp_interact.errors }}
    		</div>
    		<div class="formRow">
    			<label for="id_logo_url_sm"><span class="labelTitle">Small Logo </span><span>URL to a small logo file (max 64x18)</span></label>
    			{{ form.logo_url_sm }}{{ form.logo_url_sm.errors }}
    		</div>
    		<div class="formRow">
    			<label for="id_logo_url_med"><span class="labelTitle">Medium Logo </span><span>URL to a medium logo file (max 100x50)</span></label>
    			{{ form.logo_url_med }}{{ form.logo_url_med.errors }}
    		</div>
    		<div class="formRow">
    			<label for="id_logo_url_lg"><span class="labelTitle">Large Logo </span><span>URL to a large logo file (max 300x250)</span></label>
    			{{ form.logo_url_lg }}{{ form.logo_url_lg.errors }}
    		</div>
    	</section>

        <section class="configuarationSection">
            <h3>Configuring Your Site</h3>
            <h4>Customize ReadrBoard by defining these <a href="http://api.jquery.com/category/selectors/" target="_blank">jQuery selectors</a>.</h4>
            <div class="formRow">
                <label for="id_anno_whitelist">
                    <span class="labelTitle">Active Sections (jQuery selector)</span>
                    <span>Defines sections that ReadrBoard interacts with by default.</span>
                    <span class="formInputExample">Example: <i>p,img</i></span>
                </label>
                {{ form.anno_whitelist }}{{ form.anno_whitelist.errors }}
            </div>
            <div class="formRow">
                <label for="id_no_readr">
                    <span class="labelTitle">Inactive Sections (jQuery selector)</span>
                    <span>Defines sections that ReadrBoard should always ignore.</span>
                    <span class="formInputExample">Example: <i>.myHeader, .mySidebar</i></span>
                </label>
                {{ form.no_readr }}{{ form.no_rdr.errors }}
            </div>
            <!--
            <div class="formRow">
                <label for="id_img_whitelist">
                    <span class="labelTitle">Active Images (jQuery selector)</span>
                    <span>Defines images ReadrBoard interacts with by default.</span>
                </label>
                {{ form.img_whitelist }}{{ form.img_whitelist.errors }}
            </div>
            <div class="formRow">
                <label for="id_img_blacklist"><span class="labelTitle">Inactive Images (jQuery selector)</span>
                    <span>Defines images that ReadrBoard should always ignore.</span>
                </label>
                {{ form.img_blacklist }}{{ form.img_blacklist.errors }}
            </div>
            -->
            <div class="formRow wordpressKeepDefaults">
                <label for="id_post_selector">
                    <span class="labelTitle">Post Selector (jQuery selector)</span>
                    <span>Finds the top level dom element of a post.</span>
                </label>
                {{ form.post_selector }}{{ form.post_selector.errors }}
            </div>
            <div class="formRow wordpressKeepDefaults">
                <label for="id_post_href_selector">
                    <span class="labelTitle">Post HREF Selector (jQuery selector)</span>
                    <span>Looks in each post to find an 'a' tag with an href of the post's canonical url.</span>
                </label>
                {{ form.post_href_selector }}{{ form.post_href_selector.errors }}
            </div>
            <div class="formRow">
                <label for="id_summary_widget_selector">
                    <span class="labelTitle">Summary Widget Selector (jQuery selector)</span>
                    <span>Looks in each post to find where to append the summary bar widget.</span>
                </label>
                {{ form.summary_widget_selector }}{{ form.summary_widget_selector.errors }}
            </div>

            {% if hostplatform %}
                <input type="hidden" id="id_hostplatform" type="text" name="hostplatform" value="{{ hostplatform }}" maxlength="100" />
            {% endif %}

        </section>
    </div>
    <div class="rightColumn column">
        <section class="">
            <h3>Moderation</h3>
            <div class="formRow" style="margin: 10px 0;">
                {{ form.requires_approval }}{{ form.requires_approval.errors }}
                <label for="id_requires_approval"><span class="labelTitle">Requires Approval? </span><span>If you want comments and reactions to be approved before they are visible for others to see, check this box.</span></label>
            </div>
            <div class="formRow word_blacklist_row">

                <label for="id_word_blacklist">
                    <span class="labelTitle">Censored Word List</span>
                    <span>Comma separated list of words that will be automatically censored and replaced with ***</span>
                </label>
                <div id="toggle_word_blacklist_wrap">
                    <label>
                        <a href="#" id="toggle_word_blacklist">
                            <span class="labelTitle word_blacklist_toggle_node">Edit Censored Word List</span>
                            <span class="labelTitle word_blacklist_toggle_node hidden">Good heavens, my eyes!</span>
                        </a>
                        <span class="floatLeft word_blacklist_toggle_node">Warning: Rated R for Raunchy</span>
                        <span class="floatLeft word_blacklist_toggle_node hidden">Hide this list and keep censoring</span>
                    </label>
                </div>
                <div id="word_blacklist_wrap" class="word_blacklist_toggle_node hidden">
                    {{ form.word_blacklist }}{{ form.word_blacklist.errors }}
                </div>
                <input type="text" name="fake_hidden_word_blacklist" id="fake_hidden_word_blacklist" disabled="disabled" value="Dagnabbit, Poppycock ..." style="width:265px; color: #bbb;" class="word_blacklist_toggle_node">

            </div>
        </section>
        <section class="">
            <h3>Miscellaneous</h3>
            <div class="formRow">
                <label for="id_custom_css"><span class="labelTitle">Custom CSS </span><span>Custom CSS rules to embed on the page.</span></label>
                {{ form.custom_css }}
            </div>
            <!-- <div class="formRow">
                <label for="call_to_action"><span class="labelTitle">Call To Action </span><span>A call to action for your users.  HTML is A-okay.</span></label>
                {{ form.call_to_action }}
            </div> -->
        </section>
    </div>
{% comment %}
  {{ form.as_p }}
{% endcomment %}

    <div style="clear:both;"></div>
    <button class="btn submit" type="submit" style="margin-top:20px;">Submit</button>
    <div class="formFeedback" data-saved="{{saved}}" >
        <p style="display: none;" class="errorMsg">Oops, there were some errors with the form, please see the sections highlighted red above.<p>
        <p style="display: none;" class="successMsg" >Changes saved<p>
    </div> 
  </form>
{% endwith %}
{% endblock mainContent %}

{% block pageJS %}
    <script>
        $(function(){

            var hasErrors = $('.errorlist').length;
            
            if(hasErrors){
                $('.errorMsg').show();
            }else{
                var wasSaved = $('.formFeedback').data('saved');
                if(wasSaved){
                    $('.successMsg').show();
                }
            }

            $('#groupSettings input').bind('keypress', function(){
                $(this).closest('.formRow').removeClass('error');
                $(this).closest('form').find('.errorMsg').hide();
                $(this).closest('form').find('.successMsg').hide();
            });

            $('#toggle_word_blacklist').click(function(){
                $('.word_blacklist_toggle_node').each(function(){
                    $(this).toggleClass('hidden');
                });
                return false;
            });

        });
    </script>
{% endblock %}