{% extends "base.html" %}

{% block sidebarContent %}
<div id="sidebar"></div>
{% endblock sidebarContent %}

{% block mainContent %}
  <h1>Group Settings</h1>
  <script>
  function changeName() {
  	// testing to see if I can modify form values before submit
  	// in order to create the share/tag/etc function values from checkboxes
  	// $('#id_name').val('SOMEOTHER GROUPNAME');
  	return true;
  }
  </script>
  <form action="/settings/{{ short_name }}/" method="post" class="in-page" onsubmit="return changeName()">{% csrf_token %}
	<label for="id_name">Name <span>explanation</span></label>
	{{ form.name }}
	<label for="id_short_name">Short Name <span>explanation</span></label>
	{{ form.short_name }}
	<label for="id_twitter">Twitter Account <span>explanation</span></label>
	{{ form.twitter }}
	<label for="id_language">Language <span>explanation</span></label>
	{{ form.language }}
	<label for="id_anno_whitelist">Whitelist <span>explanation</span></label>
	{{ form.anno_whitelist }}
	<label for="id_no_readr">Section blacklist <span>explanation</span></label>
	{{ form.no_readr }}
	<label for="id_img_whitelist">Image selector <span>explanation</span></label>
	{{ form.img_whitelist }}
	<label for="id_img_blacklist">Image Blacklist <span>explanation</span></label>
	{{ form.img_blacklist }}
	<label for="id_temp_interact">Temporary Interactions <span>explanation</span></label>
	{{ form.temp_interact }}
	<label for="id_logo_url_sm">Small Logo <span>explanation</span></label>
	{{ form.logo_url_sm }}
	<label for="id_logo_url_med">Medium Logo <span>explanation</span></label>
	{{ form.logo_url_med }}
	<label for="id_logo_url_lg">Large Logo <span>explanation</span></label>
	{{ form.logo_url_lg }}
	<h3>Moderation</h3>
	<label for="id_requires_approval">Requires Approval? <span>explanation</span></label>
	{{ form.requires_approval }}
	<label for="id_word_blacklist">Word Blacklist <span>explanation</span></label>
	{{ form.word_blacklist }}
	<label for="id_css_url">Custom CSS <span>explanation</span></label>
	{{ form.css_url }}
	
	{% comment %}
	<label for="id_secret">Secret... <span>explanation</span></label>
	{{ form.secret }}
	{% endcomment %}

	<label for="id_blessed_tags">Blessed Tags <span>explanation</span></label>
	{{ form.blessed_tags }}

{% comment %}
  {{ form.as_p }}
{% endcomment %}

  <button type="submit">Submit</button>
  </form>
{% endblock mainContent %}

{% block pageJS %}
<script type="text/javascript">
</script>
{% endblock %}