{% extends "group_settings.html" %}

{% block bodyClass %}embeddedVersion{% endblock bodyClass %}

{% block headerDisplay %}
<style>
    .rbSubtitle .step3{
        color: #51ABE2;
    }
    .rbSubtitle .tip{
        padding: 0 2px;
    }


    /*for now, don't let the user change this*/
    #short_name_row{
        display: none;
    }

</style>
<div class="rbSubtitle">
    <span>Setup:</span>&nbsp;&nbsp;
    <span class="step3">You're done!</span>
    <span class="tip">ReadrBoard is working and can be customized with these settings.</span>
</div>
{% endblock headerDisplay %}


{% block extendedHead %}
<link href="/static/css/embedded_version.css" rel="stylesheet" type="text/css" media="all" />
<script>

    RDR_offline = document.domain == "local.readrboard.com";
    RDR_baseUrl = ( RDR_offline ) ? "//local.readrboard.com:8081":"//www.readrboard.com";
    RDR_staticUrl = ( RDR_offline ) ? httpProtocol+"//local.readrboard.com:8081/static/":httpProtocol+"//s3.amazonaws.com/readrboard/";
    document.write( unescape( '%3Cscript src="'+RDR_staticUrl+'widget/js/jquery.ba-postmessage.min.js" type="text/javascript"%3E%3C/script%3E' ) );

    (function($){


        $(function(){
            //quick hack to get the user info showing up.  I believe we need to undo the kludge in readr_user.js to undo this.
            RDRAuth.returnUser();
            if (RDRAuth.rdr_user && RDRAuth.rdr_user.user_id){
                $('#logged-in').show().css('visibility','visible');
                $('#logged-out').hide().css('visibility','hidden');
            }else{
                $('#logged-in').hide().css('visibility','hidden');
                $('#logged-out').show().css('visibility','visible');
            }            

        });



        //todo: pull these from utils for real
        var utils = {
            getQueryParams: function(optQueryString) {
                //RDR.util.getQueryParams:

                //thanks: http://stackoverflow.com/a/2880929/1289255
                //I haven't verfied that this is 100% perfect for every url case, but it's solid.
                
                //this function is also in readr_scripts
                var queryString = optQueryString || window.location.search;

                var urlParams = {};
                var e,
                a = /\+/g,  // Regex for replacing addition symbol with a space
                r = /([^&=]+)=?([^&]*)/g,
                d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
                q = queryString.substring(1);

                while (e = r.exec(q))
                    urlParams[d(e[1])] = d(e[2]);

                return urlParams;
            },
            getQueryStrFromUrl: function(url){
                var qIndex = url.indexOf('?'),
                    hrefBase,
                    hrefQuery,
                    qParams;

                 //if qIndex == -1, there was no ?
                if(qIndex == -1 ) {
                    hrefBase = url;
                    hrefQuery = "";
                }else{
                    hrefBase = url.slice(0, qIndex);
                    hrefQuery = url.slice(qIndex);
                }
                return hrefQuery;
            }
        }; 

        var params = utils.getQueryParams();
        
        $(function(){

            var data = $.toJSON({
                company_name: params.company_name,
                host_xdm_url: params.host_xdm_url,
                hostdomain: params.hostdomain
            });
            var hostPath = params.host_xdm_url;
            $.postMessage(
                data,
                hostPath,
                parent        
            );

            //quick fill in defaults for wordpress
            var wordpressDefaultInputs = [
                {
                    selector: '#groupSettings #id_post_selector',
                    val: '.readrboard_page',
                    // val: 'article.entry, article.post'
                    force: true
                },
                {
                    selector: '#groupSettings #id_post_href_selector',
                    val: '.readrboard_page_permalink',
                    // val: '.entry-title a'
                    force: true
                },
                {
                    selector: '#groupSettings #id_summary_widget_selector',
                    val: '.readrboard_summary_widget_hook',
                    // val: 'article header'
                },
                // //add this for now, because the default group tags weren't working for me.
                // {
                //     selector: '#groupSettings #id_blessed_tags',
                //     val: 'Love It;Uh, no.;hilarious;You sure?;amazing'
                // },
                {
                    selector: '#groupSettings #id_no_readr',
                    val: '#header, #sidebar, #footer, #comments, #commentform'
                }
            ];

            //quick hack to submit these defaults the first time.  Do this better later.
            var initialLoad = $('#groupSettings #id_post_selector').val() !== ".readrboard_page";

            $.each(wordpressDefaultInputs, function(){

                var $this = $(this.selector);
                var val = $this.val();
                if (this.force || $.trim(val) == "" ){
                    val = this.val
                }
                $this.val( val );
            });

            $('.wordpressKeepDefaults').each(function(){
                $(this).hide();
            });

            //quick hack to submit these defaults the first time.  Do this better later.
            if(initialLoad){
                $('#groupSettings').submit();
            }

        });

    })(jQuery);
</script>

<style>
    html{
        background: none;
    }
    section[role="content"]{
        margin: 0 !important;
        padding: 0 !important;
    }

    section[role="group panel header"]{
        display: none;
    }
</style>
{% endblock %}

    {% block settingsHeader %}    
      <h1>ReadrBoard Settings for <a href="http://{{hostdomain}}" target="_blank">{{group.name}}</a></h1>
    {% endblock settingsHeader %}    

    {% block settingsUrl %}/settings_wordpress/{{ short_name }}/{{ qParams }}{% endblock settingsUrl %}


{% block fixedBar %}
{% endblock fixedBar %}

{% block footer %}
{% endblock footer %}