{% extends "base.html" %}

{% block bodyClass %}wide{% endblock %}

{% block sidebarContent %}
<div id="sidebar">
</div>
{% endblock sidebarContent %}

{% block mainContent %}

<style>
.formBodySection {
    clear: both;
}
</style>

<section role="main>">

{% block hostPlatformHeader %}
{% endblock hostPlatformHeader %}

    {% block headerText %}
        <h1>ReadrBoard Beta Signup</h1>
    {% endblock headerText %}
  
  {% if requested %}
    {% block alreadyRequested %}
    <h3>Thanks!</h3>
    <a href = "/">Home</a>
    {% endblock alreadyRequested %}
  {% else %}

    <form class="big-form" action="/signup/{{ qParams }}" enctype="multipart/form-data" method="post" class="in-page">
        <div class="formBody clearfix">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class='formBodySection'>
                <label for="id_name">Company Name </label>
                {{ form.name }}{{ form.name.errors }}
            </div>
            <div class='formBodySection'>
                <label for="id_short_name"><span class="labelTitle">Short Name </span><span>Used in URLs on readrboard.com</span></label>
                {{ form.short_name }}{{ form.short_name.errors }}
            </div>
            <div class='formBodySection'>
                <label for="id_site"><span class="labelTitle">Domain </span><span>Your website's domain (example: readrboard.com)</span></label>
                {{ form.domain }}{{ form.domain.errors }}
            </div>
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>

  {% endif %}
  </section>
{% endblock mainContent %}

{% block pageJS %}
{% endblock %}

{% block footer %}
    <div class="emptyFooter"></div>
{% endblock footer %}