{% extends "group_create.html" %}

{% block bodyClass %}embeddedVersion{% endblock bodyClass %}

{% block extendedHead %}
<link href="/static/css/embedded_version.css" rel="stylesheet" type="text/css" media="all" />
<script>
    ANT_offline = document.domain == "local.antenna.is";
    ANT_baseUrl = ( ANT_offline ) ? "//local.antenna.is:8081":"//www.antenna.is";
    ANT_staticUrl = ( ANT_offline ) ? window.location.protocol+"//local.antenna.is:8081/static/":window.location.protocol+"//s3.amazonaws.com/readrboard/";
    document.write( unescape( '%3Cscript src="'+ANT_staticUrl+'widget/js/jquery.ba-postmessage.min.js" type="text/javascript"%3E%3C/script%3E' ) );
</script>

<style>
    /*for now, don't let the user change this*/
    #formBodySection_short_name{
        display: none;
    }
</style>

<script>

    
    (function($){

        //todo: pull these from utils for real
        var utils = {
            getQueryParams: function(optQueryString) {
                //ANTN.util.getQueryParams:

                //thanks: http://stackoverflow.com/a/2880929/1289255
                //I haven't verfied that this is 100% perfect for every url case, but it's solid.
                
                //this function is also in ant_scripts
                var queryString = optQueryString || window.location.search;

                var urlParams = {};
                var e,
                a = /\+/g,  // Regex for replacing addition symbol with a space
                r = /([^&=]+)=?([^&]*)/g,
                d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
                q = queryString.substring(1);

                while (e = r.exec(q))
                    urlParams[d(e[1])] = d(e[2]);

                return urlParams;
            },
            getQueryStrFromUrl: function(url){
                var qIndex = url.indexOf('?'),
                    hrefBase,
                    hrefQuery,
                    qParams;

                 //if qIndex == -1, there was no ?
                if(qIndex == -1 ) {
                    hrefBase = url;
                    hrefQuery = "";
                }else{
                    hrefBase = url.slice(0, qIndex);
                    hrefQuery = url.slice(qIndex);
                }
                return hrefQuery;
            }
        };

        var params = utils.getQueryParams();
        

        var wordpressEditUrl = '/wordpress_edit/';
        var query = window.location.search || "?";
        query += "&refresh=true";
        var wordpressRefreshUrl = wordpressEditUrl + query;

        window.reloadPageAfterLogin = function(){
            window.location = wordpressRefreshUrl;
            return false;
        }

        /*quick hack*/
        if(params.refresh){
            window.reloadPageAfterLogin();
        }
        
        $(function(){


            //quick hack to get the user info showing up.  I believe we need to undo the kludge in ant_user.js to undo this.
            ANTAuth.returnUser();
            if (ANTAuth.ant_user && ANTAuth.ant_user.user_id){
                $('#logged-in').show().css('visibility','visible');
                $('#logged-out').hide().css('visibility','hidden');
            }else{
                $('#logged-in').hide().css('visibility','hidden');
                $('#logged-out').show().css('visibility','visible');
            }            

            $('input#id_name').val( params.company_name );
            $('input#id_short_name').val( params.hostdomain );
            $('input#id_domain').val( params.hostdomain ).attr('readonly', 'readonly');

        });
    })(jQuery);
</script>

{% endblock %}

 
{% block siteSearch %}
{% endblock siteSearch %}

{% block headerDisplay %}

<style>
    .rbSubtitle .step1,
    .rbSubtitle .step2{
        color: #51ABE2;
    }

    .altHeader{
        display: none;
    }
</style>
<div class="rbSubtitle">
    <span>Setup:</span>&nbsp;&nbsp;
    <span class="step1">(1) &nbsp;Log in to Antenna</span>
    <span class="step2">(2) &nbsp;Register this site</span>
    <span class="step3">(3) &nbsp;You're done!</span>
</div>

{% endblock headerDisplay %}


{% block headerText %}
<h3 class="defaultHeader">Register this site</h3>
<h3 class="altHeader">Thanks, your site is registered with Antenna!</h3>
{% endblock headerText %}

{% block alreadyRequested %}
    <style>
        .defaultHeader{
            display: none;
        }
        .altHeader{
            display: block;
        }

    </style>
    <div class="quickWrap">
        <div style="clear:both; margin-top: 50px;">
          <span><a class="btn" href="#" onclick="reloadPageAfterLogin();">Click here to continue</a></span>
        </div>
    </div>

{% endblock alreadyRequested %}

{% block formAction %}
    /signup_wordpress/{{ qParams }}
{% endblock %}

{% block fixedBar %}
{% endblock fixedBar %}

{% block footer %}
{% endblock footer %}