{% extends "base.html" %}
{% block extendedHead %}
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/320andup_base.css?v=2"> -->
{% endblock %}

{% block title %}{{ cookie_user }} Management{%endblock%}

{% block subheaderContent %}
<section role="subheader">
    {% with "manage_reactions" as activeAdminTab %} 
    {% include "admin/nav_tabs.html" %}
    {% endwith %}
</section>
{% endblock %}

{% block wideContent %}
<div class="grid-whole settings">
  <section role="panels" class="content">

	<div class="breadcrumb"><a href="/manage/">&lt;&lt; Back to Group Management</a></div>
	<h1>Allowed Reactions</h1>
	<div class="notice info">
		<p>These are reactions that have been used on your site.  If you want to prevent them from ever being used on your site, click the "Block" button.</p>
		<p>Blocking a reaction will remove all current instances of it on your site, and prevent any more from being made.</p>
	</div>
    <table role="block_tags">
		<thead>
			<tr>
				<th>Reaction</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
    {% for tag in all_unblocked|dictsortreversed:"id" %}
    		<tr>
    			<td width="300">{{tag.body}}</td>
    			<td><button data-group-id="{{ group.id }}" data-node-id="{{ tag.id }}">Block</button></td>
    		</tr>
    {% endfor %}  
		</tbody>
	</table>
	
	<div class="notice info">
        <p>These are reactions that have been used on your site.  If you want to prevent them from appearing in promotional modules, click the Block from Promos button.</p>
    </div>
	<table role="block_promo_tags">
        <thead>
            <tr>
                <th>Reaction</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
    {% for tag in all_promo_unblocked|dictsortreversed:"id" %}
            <tr>
                <td width="300">{{tag.body}}</td>
                <td><button data-group-id="{{ group.id }}" data-node-id="{{ tag.id }}">Block From Promos</button></td>
            </tr>
    {% endfor %}  
        </tbody>
    </table>
  
  
</section>
</div>

<script>
// bind a "block" event to each button
// this will block the reaction on the site
$('table[role="block_tags"] button').click( function() {
	var $button = $(this);
	// send the data!
    $.ajax({
        url: "/api/tag/block/"+$button.data('groupId')+"/"+$button.data('nodeId')+"/",
        type: "post",
        // contentType: "application/json",
        // dataType: "jsonp",
        // data: { json: JSON.stringify(sendData) },
        success: function(response) {
        	console.log('successs!!!!!');
        	console.log(response);
        	$button.closest('tr').html('<td colspan="2">This reaction has been blocked!  If this was an accident, go visit your <a href="/group/{{ group.short_name }}/blocked_reactions/">list of blocked reactions</a> to unblock it.</td>');
        },
        error: function(response) {
        	console.log('FUCK -- error');
        	console.log(response);
        }
    });
});

$('table[role="block_promo_tags"] button').click( function() {
    var $button = $(this);
    // send the data!
    $.ajax({
        url: "/api/promotag/block/"+$button.data('groupId')+"/"+$button.data('nodeId')+"/",
        type: "post",
        // contentType: "application/json",
        // dataType: "jsonp",
        // data: { json: JSON.stringify(sendData) },
        success: function(response) {
            console.log('successs!!!!!');
            console.log(response);
            $button.closest('tr').html('<td colspan="2">This reaction has been blocked from promotion slots!  If this was an accident, go visit your <a href="/group/{{ group.short_name }}/blocked_reactions/">list of blocked reactions</a> to unblock it.</td>');
        },
        error: function(response) {
            console.log('FUCK -- error');
            console.log(response);
        }
    });
});
</script>

{% endblock wideContent %}
 
    {% block afterWideContent %}
    {% endblock %}

{% block pageJS %}
    
{% endblock %}