{% extends "base/wide.html" %}
{% load custom_filters %}

{% block page_title %}{{ form.instance.name }} Reaction Management{%endblock%}

{% block bodyClass %}admin{% endblock %}

{% block subheaderContent %}
<section role="subheader">
    {% with "manage_reactions" as activeAdminTab %} 
    {% include "admin_nav_tabs.html" %}
    {% endwith %}
</section>
{% endblock %}

{% block page_content %}
<div class="container row settings">
  <section role="panels" class="content">

    <nav>
      <div class="nav-wrapper blue-grey">
        <ul id="nav-mobile" class="left">
          <li class="active"><a href="../all_reactions">Approved Reactions</a></li>
          <li><a href="../unapproved_reactions">Unapproved Reactions</a></li>
          <li><a href="../blocked_reactions">Blocked Reactions</a></li>
        </ul>
      </div>
    </nav>


    <div class="card-panel">
        <p>These are reactions that currently appear on your site.  If you want to prevent them from ever being used on your site, click the "Block" button.</p>
        <p>Blocking a reaction will remove all current instances of it on your site, and prevent any more from being made.</p>
    </div>

    <h2>Approved Reactions</h2>

    <table role="block_tags">
		<thead>
			<tr>
				<th>Reaction</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
    {% for tag in all_unblocked|dictsortreversed:"id" %}
    		<tr>
    			<td width="300">{{tag.body}}</td>
    			<td><button data-group-id="{{ group.id }}" data-node-id="{{ tag.id }}">Block</button></td>
    		</tr>
    {% endfor %}  
		</tbody>
	</table>
	
</section>
</div>

<script>
// bind a "block" event to each button
// this will block the reaction on the site
$('table[role="block_tags"] button').click( function() {
	var $button = $(this);
	// send the data!
    $.ajax({
        url: "/api/tag/block/"+$button.data('groupId')+"/"+$button.data('nodeId')+"/",
        type: "put",
        // contentType: "application/json",
        // dataType: "jsonp",
        // data: { json: JSON.stringify(sendData) },
        success: function(response) {
        	$button.closest('tr').html('<td colspan="2">This reaction has been blocked!  If this was an accident, go visit your <a href="/group/{{ group.short_name }}/blocked_reactions/">list of blocked reactions</a> to unblock it.</td>');
        },
        error: function(response) {
        	console.log(response);
        }
    });
});

</script>

{% endblock %}
 
    {% block afterWideContent %}
    {% endblock %}

{% block page_js %}
    
{% endblock %}