<p>
    {{admin.user.email}}, a new reaction has appeared on one of your pages.
</p>
On <a href="{{ interaction.page.url }}">{{interaction.page.title}}</a> at {{ interaction.page.site.group.name }}.
<p>
	==============================
	<br/>
	Sent to you by <a href="http://www.readrboard.com/">ReadrBoard</a>.  You can adjust email settings in the menu on the top-right hand corner of our homepage.
	<br/><br/>
	<a href="mailto:team@readrboard.com">Give us a shout</a>.	
	<br/>
	==============================
</p>
