{% extends "base.html" %}

{% block bodyClass %}wide{% endblock %}

{% block wideContent %}
<div id="sidebar">
</div>
{% endblock wideContent %}

{% block mainContent %}

    <style>
    .formBodySection {
        clear: both;
    }
    </style>

    {% block headerText %}
        <h1>Antenna Beta Signup</h1>
    {% endblock headerText %}
  
  {% if requested %}
    {% block alreadyRequested %}
    <h3>Thanks!</h3>
    <a href = "/">Home</a>
    {% endblock alreadyRequested %}
  {% else %}

    <form class="big-form" action="{% block formAction %} /signup/{{ qParams }} {% endblock %}" enctype="multipart/form-data" method="post" class="in-page">
        <div class="formBody clearfix">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class='formBodySection'>
                <label for="id_name">Company Name </label>
                {{ form.name }}{{ form.name.errors }}
            </div>
            <div id="formBodySection_short_name" class='formBodySection'>
                <label for="id_short_name"><span class="labelTitle">Short Name </span><span>Used in URLs on antenna.is</span></label>
                {{ form.short_name }}{{ form.short_name.errors }}
            </div>
            <div class='formBodySection'>
                <label for="id_site"><span class="labelTitle">Domain </span><span>Your website's domain (example: antenna.is)</span></label>
                {{ form.domain }}{{ form.domain.errors }}
            </div>
            
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>

  {% endif %}

{% endblock mainContent %}

{% block pageJS %}
{% endblock %}

{% block footer %}
    <div class="emptyFooter"></div>
{% endblock footer %}