<p>
	Hello, from ReadrBoard!
</p>
<p>
    We wanted you to know that a reaction we've never seen on your site -- <strong>{{interaction.interaction_node.body}}</strong> -- has appeared on one of your pages.
</p>
<p>
    <strong>If this reaction is inappropriate, visit your <a href="http://readrboard.com/group/{{ group.short_name }}/all_reactions/">Allowed Reactions</a> page and block it to remove it from your site, forever.</strong>  (You must be logged in to view that page.)
</p>
<p>
	The reaction is on your page, <a href="{{ interaction.page.url }}">{{interaction.page.title}}</a>..
</p>
<p>
	==============================
	<br/>
	Sent to you by <a href="http://www.readrboard.com/">ReadrBoard</a>.  You can adjust email settings in the menu on the top-right hand corner of our homepage.
	<br/><br/>
	<a href="mailto:team@readrboard.com">Give us a shout</a>.	
	<br/>
	==============================
</p>