{% extends "base/site-admin.html" %}
{% load custom_filters %}

{% block page_title %}{{ form.instance.name }} Reaction Management{%endblock%}

{% block bodyClass %}admin{% endblock %}

{% block sidebarContent %}
    {% with "moderation_blocked" as activeAdminTab %} 
    {% with "desktop" as whichGroupList %} 
    {% include "admin_nav_tabs.html" %}
    {% endwith %}
    {% endwith %}
{% endblock %}

{% block page_content %}
  <section role="panels" class="content">
	<div class="admin-header">
        <h1>Blocked Reactions</h1>
    </div>

    <div class="admin-content">

    	<div class="card-panel">
    		<p>These are the reactions on your site that you have <strong>blocked</strong>.  This means if anyone tries to react using an exact much of the reactions listed below, Antenna won't let the react get created on your site.</p>
    	</div>

    	{% if group.blocked_tags.all|length > 0 %}
            <table role="unblock_tags">
        		<thead>
        			<tr>
        				<th>Reaction</th>
        				<th>Action</th>
        			</tr>
        		</thead>
        		<tbody>
            {% for blocked in group.blocked_tags.all|dictsortreversed:"id" %}
            		<tr>
            			<td width="300">{{blocked.body}}</td>
            			<td><button data-group-id="{{ group.id }}" data-node-id="{{ blocked.id }}">Unblock</button></td>
            		</tr>
            {% endfor %}  
        		</tbody>
        	</table>

        {% else %}
            <div><p>You have no blocked reactions at this time.</p></div>
        {% endif %}
    </div>

</section>


<script>
// bind an "unblock" event to each button
// this will unblock the reaction on the site, allowing people to again use it
$('table[role="unblock_tags"] button').click( function() {
	var $button = $(this);
	// send the data!
    $.ajax({
        url: "/api/tag/block/"+$button.data('groupId')+"/"+$button.data('nodeId')+"/",
        type: "delete",
        success: function(response) {
        	$button.closest('tr').html('<td colspan="2">This reaction has been unblocked, and approved!  If this was an accident, go visit your <a href="/group/{{ group.short_name }}/all_reactions/">list of approved reactions</a> to re-block it.</td>');
        },
        error: function(response) {
        	console.log(response);
        }
    });
});

</script>

{% endblock %}
 
    {% block afterWideContent %}
    {% endblock %}

{% block page_js %}
    
{% endblock %}