{% extends "base/wide.html" %}
{% load custom_filters %}

{% block page_title %}{{ form.instance.name }} Reaction Management{%endblock%}

{% block bodyClass %}admin{% endblock %}

{% block subheaderContent %}
<section role="subheader">
    {% with "manage_reactions" as activeAdminTab %} 
    {% include "admin_nav_tabs.html" %}
    {% endwith %}
</section>
{% endblock %}

{% block page_content %}
<div class="container row settings">
  <section role="panels" class="content">

    <nav>
      <div class="nav-wrapper blue-grey">
        <ul id="nav-mobile" class="left">
          <li><a href="../all_reactions">Approved Reactions</a></li>
          <li class="active"><a href="../unapproved_reactions">Unapproved Reactions</a></li>
          <li><a href="../blocked_reactions">Blocked Reactions</a></li>
        </ul>
      </div>
    </nav>


    <div class="card-panel">
        <p>These are reactions that currently <strong>do not</strong> appear on your site.</p>
        <p><strong>Approving</strong> a reaction will allow this reaction to appear on your site, and will retroactively enable previous matching reactions to be visible on your site.</p>
        <p><strong>Blocking</strong> a reaction will prevent any more from being made.</p>
    </div>

    <h2>Unapproved Reactions</h2>

    <table role="approve_tags">
		<thead>
			<tr>
				<th>Reaction</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
    {% for tag in unapproved_reactions|dictsortreversed:"id" %}
    		<tr>
    			<td width="300">{{tag.body}}</td>
                <td>
                    <button class="approve" data-group-id="{{ group.id }}" data-node-id="{{ tag.id }}">Approve</button>
                    &nbsp;
    			    <button class="block" data-group-id="{{ group.id }}" data-node-id="{{ tag.id }}">Block</button>
                </td>
    		</tr>
    {% endfor %}  
		</tbody>
	</table>
	
</section>
</div>

<script>
// bind a "block" event to each button
// this will block the reaction on the site
$('table[role="approve_tags"] button').click( function() {
	var $button = $(this),
        action = ($button.hasClass('approve')) ? 'approve':'block';
        console.log(action);
        // return;
	// send the data!
    $.ajax({
        url: "/api/tag/"+action+"/"+$button.data('groupId')+"/"+$button.data('nodeId')+"/",
        type: "put",
        // contentType: "application/json",
        // dataType: "jsonp",
        // data: { json: JSON.stringify(sendData) },
        success: function(response) {
            if (action == 'block') {
               $button.closest('tr').html('<td colspan="2">This reaction has been blocked!  It will not appear on your site any more, and previous instances were removed.  If this was an accident, go visit your <a href="/group/{{ group.short_name }}/blocked_reactions/">list of blocked reactions</a> to unblock it.</td>'); 
            } else {
        	   $button.closest('tr').html('<td colspan="2">This reaction has been approved!  It will now show on your site.  If this was an accident, go visit your <a href="/group/{{ group.short_name }}/all_reactions/">list of approved reactions</a> to unblock it.</td>'); 
            }
        },
        error: function(response) {
        	console.log(response);
        }
    });
});

</script>

{% endblock %}
 
    {% block afterWideContent %}
    {% endblock %}

{% block page_js %}
    
{% endblock %}