{% extends "base.html" %}

{% block title %}Antenna{%endblock%}
{% block extendedHead %}
<link rel="canonical" href="{% if debug %}http://local.antenna.is:8081/{% else %}http://www.antenna.is/{% endif %}">
<meta name="google-site-verification" content="pWVfDSLL5X9Fs9agM5UiL2BHDDcxJtN46MgM2YkJXyg" />

<link rel="stylesheet" href="/static/components/morris/morris.css">
<link rel="stylesheet" href="/static/components/pikaday/css/pikaday.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="/static/components/morris/morris.js"></script>
<script src="/static/js/analytics.js"></script>
<script src="/static/components/pikaday/pikaday-with-jquery.min.js"></script>

{%endblock%}

{% block subheaderContent %}
{% endblock %}

{% block wideContent %}
<div class="know grid-whole">
  <div class="content">
    <div class="grid-half m-grid-whole s-grid-whole">
      <div class="message no-ant">More engagement than you’ve ever had.</div>
      <!-- <div class="message">For free.</div> -->
      <div class="caption first"><strong><a href="/see/">Publishers:</a></strong> Get up to <strong>25% more pageviews</strong>, more time-on-site, and more return visits.</div>
      <div class="caption first"><strong><a href="/retailers/">Retailers:</a></strong> Increase conversions and loyalty with on-brand engagement and 1-click reviews.</div>
      <!-- <div class="caption">Your visitors will love it.<br/>You will, too. <strong><a href="/see">See it now &raquo;</a></strong></div> -->
      <!-- <div class="caption">Our free, simple tool increases on&#8209;site engagement and reveals reader sentiment. <strong><a href="/see">See it now &raquo;</a></strong></div> -->
    </div>
    <div class="grid-half m-grid-whole s-grid-whole centered"><img class="no-ant" src="/static/images/aWindow.png" style="margin:auto;" /><em style="display:block;color:#fff;">Customize the Antenna widget for your site and brand, too.</em></div>
  </div>
</div>
<style>
.know .ant_count,
.know .ant-antenna-logo { color:#fff !important; } 
.caption div.ant_indicator.ant_indicator_for_text div.ant_indicator_body {
    top: 5px;
}
.benefits .caption div.ant_indicator.ant_indicator_for_text div.ant_indicator_body {
    left: 0px;
}
</style>
<div class="grid-whole benefits">
    <div class="content">
        <div class="first benefit grid-third m-grid-whole s-grid-whole center">
            <span class="ant-icon ant-gauge"></span>
            <div class="message no-ant">Up to 25% more pageviews</div>
            <div class="caption">
                We ran a network-wide A/B test to find out.  The more active your visitors are, the greater the lift.
            </div>
        </div>
        <div class="second benefit grid-third m-grid-whole s-grid-whole center">
            <span class="ant-icon ant-magnet"></span>
            <div class="message no-ant">More return<br/>visitors</div>
            <div class="caption">
                Visitors who use Antenna come back more often, and we'll be driving even more returns soon.
            </div>
        </div>
        <div class="third benefit grid-third m-grid-whole s-grid-whole center">
            <span class="ant-icon ant-organization"></span>
            <div class="message no-ant">See what people care about</div>
            <div class="caption">
                Antenna shows you what content even your "lurkers" are most curious about.
            </div>
        </div>
    </div>
</div>

<div class="grid-whole banner blue no-rdr">
  <h1>Join our beta</h1>
  <div class="caption"><a class="get_antenna" href="javascript:void(0);">Contact us now.  Antenna will always be free. &raquo;</a></div>
  <div class="get_antenna_form">
      <iframe src="/static/wufoo/index.html?d=10032013" width="1000" height="125" scrolling="no" wmode="transparent" allowTransparency="true" style="background:transparent;" frameborder="0"></iframe>
  </div>
</div>
<script>
    $('.get_antenna').click( function() {
        $(this).parents('.grid-whole').find('.get_antenna_form').toggle(200);
    });
</script>

<div class="grid-whole endorsements">
    <div class="content">
        <!-- 
        <div class="grid-half m-grid-whole s-grid-whole center fastco quote">
            <a href="/group/fastcolabs.com/"><img src="/static/images/fastcolabs.png"/></a>
            <p>"With Antenna, we're able to see which parts of our articles readers really value.</p>
            <p>That helps us promote our content and gives us a sharper angle on future stories."</p>
            <em>- Chris Dannen, Sr. Editor, Fast Company</em>
        </div>
         -->
        <div class="grid-whole m-grid-whole s-grid-whole alexis quote">
            <div class="image">&nbsp;</div>
            <p>"Antenna shows exactly what readers are thinking without the hurdles or noise of traditional commenting sections. That's huge."</p> 
            <em>- Alexis Ohanian, reddit cofounder & Antenna Adviser</em>
        </div>
    </div>
</div>
<div class="grid-whole center logos" style="display:none;">
    <!-- <div class="grid-half s-grid-whole center"> -->
        <div class="caption">Selected Antenna partners</div>
        <a href="/stream/"><img src="/static/images/partners.png"/></a>
    <!-- </div> -->
</div>

<a id="analyticsReport"></a>
<div class="grid-whole banner what-you-learn">
  <h1>Here's what you will learn</h1>
  <div class="caption">This is an example of what your website's dashboard will look like.</div>
</div>

<div class="grid-whole banner">
<section role="panels" class="analyticsReport content">
    <div class="grid-12 section summary hasLoader">
        <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Querying Engagement Totals...</div></div>
    </div>

    <div class="section reactions-and-topics">
        <div class="grid-12 padded">
            <div class="grid-6 s-grid-whole hasLoader">
                <h1 class="header">Most Popular Reactions</h1> 
                <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Counting Reactions...</div></div>
                <div class="reactions-holder">&nbsp;</div>
            </div>
            <div class="grid-6 s-grid-whole hasLoader">
                <h1 class="header">Most Engaged Topics</h1>
                <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Topics...</div></div>
                <div class="topics-holder">&nbsp;</div>
            </div>
        </div>
    </div>
</section>
    <div class="grid-whole banner blue">
      <h1>How does Antenna work?</h1>
      <div class="caption"><a href="/see">See it now &raquo;</a></div>
    </div>
<section role="panels" class="analyticsReport content">
    <div class="section engaged-pages">
        <div class="grid-12 row padded">
            <h1 class="header">Most Engaged Pages</h1>
        </div>
        <div class="grid-12 row padded hasLoader">
            <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Page Engagement...</div></div>
        </div>
    </div>

    <div class="section engaged-content">
        <div class="grid-12 row padded">
            <h1 class="header">Most Engaged Content</h1>
        </div>
        <div class="grid-12 row padded hasLoader">
            <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Content Engagement...</div></div>
        </div>
    </div>


    
    <div class="section engaged-referrers">
        <div class="grid-12 row padded">
            <h1 class="header">Most Engaged Referrers</h1>
        </div>
        <div class="grid-12 row padded hasLoader">
            <div class="loading"><div><img src="/static/site/images/reaction_preloader.gif"/> Analyzing Referrer Engagement...</div></div>
        </div>
    </div>

</section>
<div class="grid-whole banner blue last-one">
  <h1>You should try it out.</h1>
  <div class="caption"><a href="/see">Right now.  Just takes a minute. &raquo;</a></div>
</div>
</div>

<script>
window.antenna_extend = {
    separate_cta:'',
    active_sections:'[role="wideContent"]',
    anno_whitelist: '.know .caption, .know em, .benefits .caption,.quote p'
};
</script>

<script defer src="/static/engage_full.js"></script>

{% include "footer_join_beta.html" %}
{% endblock wideContent %}

{% block mainContent %}
{% endblock %}
