{% extends "base/wide.html" %}

{% block page_title %}Antenna{% endblock %}lock%}
{% block page_description %}How the web reacts{%endblock%}

{% block pageHeadAdditions %}
<link rel="canonical" href="{% if debug %}http://local.antenna.is:8081/{% else %}http://www.antenna.is/{% endif %}">
{%endblock%}

{% block bodyClass %}{% if not profile_user and not group and not board and not page %}{% if not query_string and not singleton %}homepage{% endif %}{% endif %} {% endblock %}

{% block navbar %}
  {% include "partials/site_navbar.html" %}
{% endblock navbar %}

{% block page_content %}
<section class="masthead">
  <div class="container">
    <div class="row">
      <div class="col s12 l7">
        <h1>
          <div class="line-one no-ant">Simple,</div>
          <div class="line-two no-ant">mobile-first</div>
          <div class="line-three no-ant">content engagement.</div>
        </h1>
        <h3>
          <div class="line-one no-ant">Build loyalty and increase KPIs.</div>
          <br/>
          <div class="line-two no-ant">Antenna empowers audience reaction to any content. With just a tap.</div>
        </h3> 
      </div>
      <div class="col s12 l5">
        <div class="iphone-mockup">
          <div class="phone-shape small">
              <span class="button-one buttons"></span>
              <span class="button-two buttons"></span>
              <span class="button-three buttons"></span>
              <span class="button-four button last"></span>
              <div class="top-details">
                  <span class="camera"></span>
                  <span class="circle"></span>
                  <span class="speaker"></span>
              </div>
              <div class="phone-screen">
                  <iframe src="https://player.vimeo.com/video/146722791?autoplay=1&loop=1" class="no-ant" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <div class="circle-button"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    -->
  </div>
</section>

<section class="logos dark-section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Partnering with innovative brands & publishers.</h1>
      </div>
    </div>
    <div class="row no-ant">
      <div class="col s12 center-align examples">
        <img src="{{ STATIC_URL }}site/images/logos.gif" class="no-ant" />
      </div>
    </div>
  </div>
</section>

<section class="see-it-now">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="no-ant">Try It Out!</h1>
        <em class="no-ant">Look for the Antenna icon to react <br class="hide-on-med-and-up"/>to whatever grabs your eye: <svg class="icon-antenna-icon"><use xlink:href="#ant-antenna-logo"></use></svg></em>
      </div>
    </div>
    <div class="row">
      <div class="col l3 m12 center-align">
        <h4 class="line-behind serif no-ant"><span>Articles</span></h4>
        <p class="hide-on-med-and-up no-ant"><strong class="btn tip btn-small">Tip:</strong> <em>Tap a paragraph to react to it.</em></p>
        <div class="card">
          <div class="card-content">
            <p>It was a dark and stormy night; the rain fell in torrents, except at occasional intervals, when it was checked by a violent gust of wind which swept up the streets (for it is in London that our scene lies), rattling along the house-tops, and fiercely agitating the scanty flame of the lamps that struggled against the darkness.</p>
            <p>Through one of the obscurest quarters of London, and among haunts little loved by the gentlemen of the police, a man, evidently of the lowest orders, was wending his solitary way.</p>
          </div>
        </div>
        <div class="card-action no-ant">
          <p class="hide-on-small-only"><strong class="btn tip btn-small">Tip:</strong> <em>Select some text, or rest your mouse over the text for a moment.</em></p>
          <p><em>Excerpt from <strong>Paul Clifford</strong> by Edward Bulwer-Lytton, via <a href="http://www.gutenberg.org/files/7735/7735-h/7735-h.htm#link2HCH0001" target="_blank">Project Gutenberg</a></em></p>
        </div>
      </div>
      <div class="col l5 m6 s12 center-align">
        <h4 class="line-behind serif no-ant"><span>Videos</span></h4>
        <div class="card">
          <div class="card-content">
            <iframe src="https://player.vimeo.com/video/146722791?color=ffffff&title=0&byline=0&portrait=0&badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
          </div>
        </div>
        <div class="card-action no-ant">
          <em><a href="https://vimeo.com/146722791" target="_blank">PATAGONIA 8K</a> from <a target="_blank" href="https://vimeo.com/timestormfilms">Martin Heck | Timestorm Films</a> on <a target="_blank" href="https://vimeo.com">Vimeo</a>.</em>
        </div>
      </div>
      <div class="col l4 m6 s12 center-align">
        <h4 class="line-behind serif no-ant"><span>Images</span></h4>
        <div class="card">
          <div class="card-content">
            <img src="{{ STATIC_URL }}site/images/see-it-image.jpg"/>
          </div>
        </div>
        <div class="card-action no-ant">
          <em>via <a href="https://download.unsplash.com/photo-1431578500526-4d9613015464" target="_blank">Unsplash</a></em>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="customize-the-ui dark-section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1></h1>
        <h1>Customize for your community</h1>
        <em>Antenna is relevant because it fits <strong>you</strong>. Reactions, colors, placement on the page, and much more are simple to customize.  Here are some real examples from partner publishers.</em>
      </div>
    </div>
    <div class="row no-ant">
      <div class="col s12 center-align examples">
        <img src="{{ STATIC_URL }}site/images/example_default.png" />
        <img src="{{ STATIC_URL }}site/images/example_perez.png" />
        <img src="{{ STATIC_URL }}site/images/example_esplota.png" />
        <img src="{{ STATIC_URL }}site/images/example_dlisted.png" />
        <img src="{{ STATIC_URL }}site/images/example_cheatsheet.png" />
        <img src="{{ STATIC_URL }}site/images/example_bigroundtable.png" />
      </div>
    </div>
  </div>
</section>

<section class="gallery-content-link">
  <div class="container">
    <div class="row">
      <div class="col s12 m8">
        <h1>Perfect for sports, fashion, tech, news, and more.</h1>
        <h3>View our gallery of examples, with other exciting &amp; simple ways to customize Antenna:</h3>
        <div class="row gallery-links">
          <div class="col s12 m6">
            <div><a href="/gallery/news_magazine/">News Magazine</a></div>
            <div><a href="/gallery/tech_blog/">Tech Blog</a></div>
          </div>
          <div class="col s12 m6">
            <div><a href="/gallery/food_blog/">Food magazine</a></div>
            <div>and more</div>
          </div>
        </div>
      </div>
      <div class="col m4 center-align hide-on-small-only">
        <img src="{{ STATIC_URL }}site/images/success.png" />
      </div>
    </div>
  </div>
</section>

<section class="quote dark-section">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 center-align">
        <img src="{{ STATIC_URL }}site/images/alexis.jpg" class="circle no-ant" />
      </div>
      <div class="col s12 m8">
        <blockquote>
          "Antenna shows exactly what readers are thinking without the hurdles or noise of traditional commenting sections. That's huge."
        </blockquote>
        <div class="attribution">- Alexis Ohanian, reddit cofounder & Antenna Adviser</div>
      </div>
    </div>
  </div>
</section>

<section class="big-beta-form no-ant">
  <div class="container">
    <form class="drip-form">
    <div class="row">
      <div class="col s12 center-align">
        <h1 class="line-behind">
          <span>
          Publishers 
          <br/>
          &amp; Retailers
          <br/>
          Join Our Free Beta
          </span>
        </h1>
        <div class="form-message success hide">Thank you! We'll be in touch shortly.</div>
        <div class="form-message info not-valid hide">Please fill out all of the required fields.  Thanks!</div>
        <div class="form-message error hide">Oops, there was a problem.  Try again, or contact us at <a href="mailto:team@antenna.is">team@antenna.is</a>.</div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 center-align">
        <label>Email Address</label>
        <input type="email" name="fields[email]" data-required="true" value="" />
      </div>
      <div class="col s12 m6 center-align">
        <label>Website URL</label>
        <input type="text" name="fields[website_url]" data-required="true" value="" />
        <input type="hidden" name="fields[form_id]" value="homepage_inline_1" />
        <input type="hidden" name="fields[goal_name]" value="Publisher Beta Sign Up" />
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <button class="btn btn-large">Sign Up</button>
      </div>
    </div>
    </form>
    <div class="row learn-more-boxes">
      <div class="col s12 m6 center-align">
        <div class="card">
          <div class="card-content">
            <h3>Publishers</h3>
            <h4>Antenna will help you engage visitors, enhance editorial feedback, and provide valuable analytics and insight.</h4>
            <a href="/publishers/" class="btn">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 center-align">
        <div class="card">
          <div class="card-content">
            <h3>Retailers</h3>
            <h4>Antenna will provide you with valuable product feedback and help customers make quick and informed decisions.</h4>
            <a href="/retailers/" class="btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_js %}
<script>
window.antenna_extend = {
  active_sections: '.container',
  anno_whitelist: 'h1 .line-two, .card-content p'
};

function SelectText(element) {
    var doc = document
        // , text = doc.getElementById(element)
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(element);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(element);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}

// auto-initiate Antenna on the masthead if we're near the top of the page at page load
// var $window = $(window);
// if ( $window.scrollTop() < ($('h1 .line-two').offset().top + 50) ) {
//   el = $('h1 .line-two')[0];
//   SelectText(el);
// }
var isTouchBrowser = ( ("ontouchstart" in window || navigator.msMaxTouchPoints) && ((window.matchMedia("only screen and (max-width: 768px)")).matches) );
var isMobile = ( isTouchBrowser && ((window.matchMedia("only screen and (max-width: 480px)")).matches) );
if (!isMobile) {
  $('.masthead').css( 'min-height', $(window).height() );
}

</script>


<script async src="/static/engage.js"></script>
{% endblock %}
