{% extends "base.html" %}

{% block title %}ReadrBoard{%endblock%}
{% block extendedHead %}
<link rel="canonical" href="{% if debug %}http://local.readrboard.com:8081/{% else %}http://www.readrboard.com/{% endif %}">
<meta name="google-site-verification" content="pWVfDSLL5X9Fs9agM5UiL2BHDDcxJtN46MgM2YkJXyg" />
{%endblock%}

{% block subheaderContent %}
{% endblock %}

{% block wideContent %}
<div class="know grid-whole">
  <div class="content">
    <div class="grid-half m-grid-whole s-grid-whole">
      <div class="message">Know what your readers care about.</div>
      <div class="message">Know why.</div>
      <div class="caption">Our free, simple tool increases on&#8209;site engagement and reveals reader sentiment.</div>
    </div>
    <div class="grid-half m-hidden s-hidden reaction-cloud"><img src="/static/images/real_reactions.png"/></div>
  </div>
</div>
{% endblock wideContent %}

{% block mainContent %}
<h1>maincontent 2</h1>
<!-- <br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>hello world 2</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>

<h1>hello world 2</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>hello world 2</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>hello world 2</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>hello world 2</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>hello world 2</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>hello world 2</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/> -->
{% endblock %}
