{% load static %}
<h1><img src="{{ STATIC_URL }}images/site/periodic_logo.png" alt="ReadrBoard" /></h1>
<h2>How the web reacts</h2>
<div class="otherContent">
    <div class="component active_sites">
        <h3 class="sectionHeader">Active Sites</h3>
        <ul></ul>
    </div>
    <div class="component people">
        <h3 class="sectionHeader">Active People</h3>
        <ul></ul>
    </div>
    <div class="component active_pages">
        <h3 class="sectionHeader">Active Pages</h3>
        <ul></ul>
    </div>
</div>