{% extends "base.html" %}

{% block title %}ReadrBoard{%endblock%}
{% block extendedHead %}
<link rel="stylesheet" href="{{ STATIC_URL }}site/css/splash.css?v={{ timestamp|date:"U" }}">
<link rel="canonical" href="{% if debug %}http://local.readrboard.com:8080/{% else %}http://www.readrboard.com/{% endif %}">
<meta name="google-site-verification" content="pWVfDSLL5X9Fs9agM5UiL2BHDDcxJtN46MgM2YkJXyg" />
{%endblock%}

{% block sidebarContent %}
<div id="sidebar">
  {% include "sidebar.html" %}
</div>
{% endblock sidebarContent %}

{% block mainContent %}
<!-- <h2 style="text-align:center;border-bottom:1px solid #999;padding-bottom:10px;margin-bottom:10px;">Say stuff</h2> -->
{% if not profile_user and not group %}
<style>
section[role="main"] {margin-top:10px;}
section[role="complementary"] {display:none;}
</style>
<div id="splashAnnounce">

    <div id="betterLikeButton" >
        <img src="{{ STATIC_URL }}site/images/imagine.png" title="Imagine a better Like button" id="imagine" />
        <div id="sns_buttons">
            <div style="display:block;"><img src="{{ STATIC_URL }}site/images/like_button.png" alt="Like" id="sns_fb" class="no-rdr" /></div>
            <div style="display:none;"><img src="{{ STATIC_URL }}site/images/plus_one_button.png" alt="+1" id="sns_google" class="no-rdr"/></div>
            <div style="display:none;"><img src="{{ STATIC_URL }}site/images/tweet_button.png" alt="Tweet" id="sns_twitter" class="no-rdr"/></div>
        </div>
        <!-- <img src="{{ STATIC_URL }}site/images/summary_bar.png" style="zoom:1;"/> -->
    </div>

    <div class="theSpitch">
        <h3 class="no-rdr"><span>ReadrBoard lets you easily express your reaction</span><br>to any phrase, picture, video, or article on the web.</h3>
    </div>

    <div style="position:fixed;bottom:0;width:100%;background:#7fbadf;z-index:1000;overflow:auto;padding:10px 0;" id="fixedBar">
        <h3 style="color:#fff;xfloat:left;display:inline-block;">Add your reactions, from any site on the web:</h3>
        <div class="callToActionButtons" style="xfloat:left;display:inline-block;margin-bottom:-7px;">
            <a href="/react/" class="btn left"><span class="rdrIcon"></span>Get the Reaction Button</a>
            <a class="btn right" href="javascript:void(0);" id="watch_the_throne" onclick="showVideo();">Watch our 2-minute video</a>
            <div class="clear"></div>
        </div>
    </div>
    <script>
    function showVideo() {
        var $video_overview = $('<iframe src="http://player.vimeo.com/video/44853134" width="1000" height="563" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>');
        $.fancybox($video_overview ,{
          wrapCSS    : 'fancybox-custom',
          helpers : {
            overlay : {
              css : {
                'background-color' : '#eee'
              }
            }
          },
        });
    }
    </script>
</div>
<!-- <em style="marign-bottom:10px;text-align:center;display:block;">Reactions from around the web</em> -->
  <!-- <div xstyle="position:absolute;right:10px;top:10px;"> -->
  <!-- </div> -->
{% endif %}
<div id="cards">
  {% include "interactions.html" %}
</div>
{% endblock mainContent %}
{% block pageJS %}
<script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.cycle/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}site/js/splash.js"></script>
{% endblock %}