{% extends "base.html" %}

{% block title %}ReadrBoard{%endblock%}
{% block extendedHead %}
<link rel="canonical" href="{% if debug %}http://local.readrboard.com:8080/{% else %}http://www.readrboard.com/{% endif %}">
<meta name="google-site-verification" content="pWVfDSLL5X9Fs9agM5UiL2BHDDcxJtN46MgM2YkJXyg" />
{%endblock%}

{% block wideContent %}
{% if not profile_user and not group and not board and not page %}
{% if not query_string and not singleton %}
<style>section[role="after wide section"] {margin-top:420px;}</style>
<div style="width:100%;height:420px;position:fixed;z-index:0;top:36px;">
    <div id="tag_cloud_container" style="width:1138px;height:420px;overflow:hidden;">
        <section role="tag cloud grid">
            <!-- this will get dynamically populated -->
        </section>
    </div>
</div>
    <div class="image_container">
        <img src="{{ STATIC_URL }}site/images/homepage_masthead_lines.png" style="position:absolute;top:0;" />
        <a href="/about/"><img src="{{ STATIC_URL }}site/images/homepage_masthead.png" style="position:absolute;left:210px;top:100px;border:0;" /></a>
    </div>
{% endif %}
{% endif %}

{% endblock %}


{% block sidebarContent %}
<div id="sidebar">
    {% if not profile_user and not group and not board and not page %}
    {% if not query_string and not singleton %}
    <!-- homepage sidebar -->
    {% include "homepage_sidebar.html" %}
    {% endif %}
    {% endif %}
    
    {% include "sidebar.html" %}
</div>
{% endblock sidebarContent %}

{% block mainContent %}

{% if board %}
<div id="board_header">
    <h1>{{ board.title }}</h1>
    {% if board.description %}<h2>{{ board.description }}</h2>{% endif %}
    <div class="board_meta">
        <button id="board_follow_button" class="btn">Follow this board</button>
        <span id="board_follower_count" style="display:block;float:right;margin:9px 8px 0 0;font-size:12px;"></span>
        {% if board.owner.first_name %}
        <h3><a href="/user/{{ board.owner.id }}">{{ board.owner.first_name }} {{ board.owner.last_name }}</a></h3>
        {% else %}
        <h3><a href="/user/{{ board.owner.id }}">{{ board.owner.username }}</a></h3>
        {% endif %}
    </div>
</div>

{% endif %}

{% if not profile_user and not group and not board and not query_string %}
<div id="more_content">
    <div class="section_content">
{% endif %}

    {% block cards %}
    <div id="cards">
        {% include "interactions.html" %}
        <script>
        $('a[rel="tooltip"]').tooltip({
            placement:"left"
        });
        </script>
    </div>
    {% endblock cards %}    

{% if not profile_user and not group and not board and not query_string %}
    </div>
</div>
{% endif %}

{% endblock mainContent %}

{% block pageJS %}
<script>
    {% if board %}
    $('#board_follow_button').click( function() {
        RB.follow.add({{ board.id }},'brd');
    });
    RB.follow.followers({{ board.id }},'brd')
    {% endif %}

    {% if not profile_user and not group and not board and not query_string %}
    var chart;
    $(function () {
        $.ajax({
            beforeSend: function( xhr ) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken') );
            },
            url: "/api/global/activity/",
            type: "get",
            success: function(response) {

                function SortByTagCount(a,b) { return b.count - a.count; }
                var sorted_interactions = [];

                $.each( response.data.nodes, function(reaction_body, reaction_data) {
                    sorted_interactions.push( { body:reaction_body, count:reaction_data.count } );
                });

                sorted_interactions.sort( SortByTagCount ); // each as a .body and a .count

                // do tag cloud logic
                // render the tag cloud
                // medium, small, small, big
                var boxSizes = [ "medium", "small", "small", "big" ],
                    currentBoxSize = 0,
                    colorInt = 1,
                    $tagCloud = $('section[role="tag cloud grid"]');
                while ( sorted_interactions.length ) {
                    if ( boxSizes[ currentBoxSize ] == "medium" ) {
                        var median = Math.floor(sorted_interactions.length/2);
                        var $thisBox = $( '<a href="/?s='+sorted_interactions[ median ].body+'"><div class="color'+colorInt+' box2 box"><div class="tag">'+sorted_interactions[ median ].body+'<br/><span class="count">'+sorted_interactions[ median ].count+'</span></div></div></a>' );
                        $tagCloud.append( $thisBox );
                        sorted_interactions.splice( median, 1 );
                    } else if ( boxSizes[ currentBoxSize ] == "small" ) {
                        var thisTag = sorted_interactions.pop(),
                            $thisBox = $( '<a href="/?s='+thisTag.body+'"><div class="color'+colorInt+' box3 box"><div class="tag">'+thisTag.body+'<br/><span class="count">'+thisTag.count+'</span></div></div></a>' );
                        $tagCloud.append( $thisBox );
                    } else if ( boxSizes[ currentBoxSize ] == "big" ) {
                        var thisTag = sorted_interactions.shift(),
                            $thisBox = $( '<a href="/?s='+thisTag.body+'"><div class="color'+colorInt+' box1 box"><div class="tag">'+thisTag.body+'<br/><span class="count">'+thisTag.count+'</span></div></div></a>' );
                        $tagCloud.append( $thisBox );
                    }
                    
                    // set next color and box size
                    colorInt++;
                    currentBoxSize++;
                    if ( colorInt == 6 ) colorInt = 1;
                    if ( currentBoxSize == 4 ) currentBoxSize = 0;
                }

                // isotope and bigtext the cloud
                $('section[role="tag cloud grid"]').isotope({
                  layoutMode: 'masonryHorizontal',
                  masonryHorizontal: {
                    rowHeight: 70
                  }
                }, function() {
                    $('.box').bigtext();
                    var tagBoxesCount = $('section[role="tag cloud grid"] a').length,
                        currentTagBoxAnimating = 0;
                    var animationQueue = setInterval( animateNextBox, 100 );

                    function animateNextBox() {
                        var $thisBox = $('section[role="tag cloud grid"] a:eq('+currentTagBoxAnimating+') .box');
                        if ( $thisBox.hasClass('box1') ) {
                            $thisBox.find('div.tag').animate( {bottom:'0%'}, { queue:false, duration: 333 } );
                        } else {
                            $thisBox.find('div.tag').animate( {top:'0%'}, { queue:false, duration: 333 } );
                        }
                        currentTagBoxAnimating++;
                        if ( currentTagBoxAnimating > tagBoxesCount ) {
                            clearInterval( animationQueue );
                        }
                    }
                });

                
                // people
                $.each( response.data.users, function(user_id, user_data) {
                    var $active_people = $('div.people ul');
                        $active_people.append('<li><a href="/user/'+user_id+'"><img src="'+user_data.user.social_user.img_url+'" border="0" />'+user_data.user.social_user.full_name+'</a></li>');
                });

                // groups
                $.each( response.data.groups, function(group_name, group_data) {
                    var $active_people = $('div.active_sites ul');
                        $active_people.append('<li><a href="/group/'+group_data.group.short_name+'">'+group_name+'</a></li>');
                });

                // pages
                $.each( response.data.pages, function(page_url, page_data) {
                    var $active_people = $('div.active_pages ul');
                        $active_people.append('<li><a href="'+page_url+'" target="_blank">'+page_data.page.title+'</a></li>');
                });
            }
        });
    });
    {% endif %}

</script>
{% endblock %}
