{% extends "base.html" %}

{% block banner %}
<h2>Home</h2>
{% endblock banner %}

{% block sidebarFilters %}
<ul>
<li><a href="{% url home %}">All</a></li>
<li><a href="{% url home %}tags/">Tags</a></li>
<li><a href="{% url home %}comments/">Comments</a></li>
<li><a href="{% url home %}shares/">Shares</a></li>
</ul>
{% endblock %}

{% block content %}
<h3>Interactions</h3>
<ul>
{% for interaction in interactions %}
<li>
	{% if interaction.user.social_user %}
        <img src = "{{ interaction.user.social_user.img_url }}">
    {% else %}
        <img src = "/static/images/anonymousplode.png">
    {% endif %} 
	<strong>
    {% if interaction.user.social_user %}
        <a href = "/profile/{{ interaction.user.id }}/">{{ interaction.user.first_name }} {{ interaction.user.last_name }}</a>
    {% else %}
        Some Anonymous Dude
    {% endif %}
    </strong>
		{% if interaction.interaction_node.kind == "tag" %} tagged
	{% else %} commented
	{% endif %}
	<em>"{{ interaction.interaction_node.body }}"</em> <strong>on</strong> "{{ interaction.content.body|slice:":50"}}"
    <div class="context"><em>Context</em>: {{ interaction.container.body }}</div>
</li>
{% endfor %}
</ul>
{% endblock content %}