{% load custom_filters %}
{% block subheaderContent %}
<!--
  <div class="content">
    <div class="grid-third left">
      <div class="item">
        {{ group.name }}
      </div>
    </div>
    <div class="grid-third center">&nbsp;</div>
    <div class="grid-third right">
      <div id="follow_info" class="item">
        <a id="follower_count" href="#follower_list" class="fancybox"></a>
        <a id="follow_action" class="circle_button" href="javascript:void(0);"><i class="fa fa-plus"></i></a>
      </div>
    </div>
  </div>
  -->
{% endblock %}

<script>
var comments = [],
    interactions = [],
    shares = [];
    
{% if board_admin %}
var board_admin = true;
{% else %}
var board_admin = false;
{% endif %}   

{% if profile_user %}
$('#cards').addClass('user_profile');
{% endif %}
</script>

{% if query_string %}
<div id="searchFor">
  <h2>
    <em>You searched for: <br/></em>
    <div><strong>{{ query_string }}</strong></div>
  </h2>
</div>
{% endif %}


<style>
/* TEMPORARY UGLY STYLIN' */
.meta .avatar { float:right; font-size:0.8rem; }
.meta .avatar img { width:30px; margin-bottom: -11px; }
.meta h1 { font-size:1.5rem; padding:0.5rem; background:#4b7185; margin:0; display:inline-block; font-weight:500;}
.meta h1 a { color:#fff; }

#cards .card { margin:0 0 2rem 0; padding:0; }
#cards .card blockquote { margin:2rem; font-style:italic; font-size:1rem; font-family:Georgia, serif; }

.reactionBox { padding:1rem; }
.reactionBox > div { display:inline-block; font-size:0.8rem; }

.contentBox { height:250px; overflow-y:scroll; overflow-x:hidden; }
.contentBox iframe { width:100%; }
.contentBox img { width:100%; }

.buttons { display:none; }
</style>

<div class="cardsWrap grid-whole">
    <div id="cards">
    {% regroup current_page.object_list by page as pi %}
    {% for page in pi %}
        {% for interaction in page.list %}
            {% if interaction.kind != 'com' and interaction.human_kind != 'Share' and interaction.content.kind != 'pag' %}
            
            <div class="col s6 cardWrap">
            <section class="card interaction_{{ interaction.id }}" 
                data-interaction-id="{{ interaction.id }}" 
                data-interaction-body="{{ interaction.interaction_node.body }}" 
                data-kind="{{ interaction.content.kind }}"
                data-user-name="{{ interaction.user.social_user.full_name }}"
                data-group-name="{{ page.grouper.site.group.short_name }}"
            >

                <div class="meta">
                    <div class="avatar">
                        {% if interaction.user.social_user.full_name != "" %}
                        <a href="/user/{{interaction.user.id}}/">
                            {{ interaction.user.social_user.full_name }}
                            {% if interaction.user.social_user.img_url %}
                                <img src="{{ interaction.user.social_user.img_url }}"/>
                            {% else %}
                                <img src="{{ STATIC_URL }}site/images/anonymous-user.png"/>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if interaction.user.social_user.full_name == "" %}
                        <a href="/user/{{interaction.user.id}}/">
                            Unregistered User
                            <img src="{{ STATIC_URL }}site/images/anonymous_user.png"/>
                        </a>
                        {% endif %}
                    </div>
                    <h1><a href="/stream/?s={% if interaction.kind == 'tag' or interaction.kind == 'bkm' %}{{interaction.interaction_node.body|escape }}{% else %}{{ interaction.human_kind|escape }}{% endif %}">{% if interaction.kind == 'tag' or interaction.kind == 'bkm' %}{{interaction.interaction_node.body }}{% else %}{{ interaction.human_kind }}{% endif %}</a></h1>
                    {% if cookie_user %}
                    <div class="buttons">
                      {% if interaction.user.id == cookie_user.id %}
                        <a rel="tooltip" title="Undo this reaction" class="tag_remove circle_button" href="javascript:void(0);"><i class="fa fa-minus"></i></a>
                      {% endif %}
                      {% if interaction.user.id != cookie_user.id %}
                        <a rel="tooltip" title="+1 '{% if interaction.kind == 'tag' or interaction.kind == 'bkm' %}{{interaction.interaction_node.body|escape }}{% else %}{{ interaction.human_kind|escape }}{% endif %}'" class="me_too circle_button" href="javascript:void(0);">+1</a>
                      {% endif %}
                      <a rel="tooltip" title="Add new reaction" class="add_new_reaction circle_button"></a>
                      <a rel="tooltip" title="Add a comment" class="add_new_comment circle_button" href="javascript:void(0);"><i class="fa fa-comment"></i></a>
                      <!-- <a rel="tooltip" title="Save to board" class="add_to_board" href="javascript:void(0);"><i class="fa fa-bookmark"></i></a> -->
                    
                      {% if cookie_user and ga_ids and interaction.page.site.group.id in ga_ids %}
                      <a rel="tooltip" title="{% if interaction.approved %}Block this{% else %}Unblock this{% endif %}" class="circle_button" href="javascript:void(0);" onclick="ANTsite.admin.blockContent({{ interaction.id }});" id="moderate_{{ interaction.id }}"><i class="fa {% if interaction.approved %}fa-times{% else %}fa-check{% endif %}"></i></a>
                      {% endif %}

                            <!-- board add/delete ? -->
                    </div>
                    {% endif %}
                    {% if not cookie_user %}
                        <!-- add a not-logged-in state here -->
                    {% endif %}
                    <!-- <div class="date">
                        {{ interaction.created|date:"M d, Y"|escape }}
                    </div> -->
                </div>
                <div class="me_too_outcome"></div>
                <div class="main">
                    <div class="contentBox {{ interaction.content.kind }}">
                        {% if interaction.content.kind == "img" %}
                        <!--
                        if image > 463
                          width = 463
                          height = ( interaction.content.height / interaction.content.width ) * 463
                        else 
                          width = interaction.content.width
                          height = interaction.content.height
                        -->
                        <a href="{{ BASE_URL }}/i/{{ interaction.id }}/" target="_blank">
                            <img class="contentBody" src="{{ interaction.content.body|escape }}" width="500" height="{{ interaction.content|calculate_image_height }}" /></a>
                        {% endif %}

                        {% if interaction.content.kind == "med" %}
                        <a href="{{ BASE_URL }}/i/{{ interaction.id }}/" target="_blank"><iframe class="contentBody" width="300" height="250" frameborder="0" src="{{ interaction.content.body|escape }}"></iframe></a>
                        {% endif %}

                        {% if interaction.content.kind == "txt" %}
                        <blockquote class="{%if interaction.content.body|length <= 30 %}large{%endif%}{%if interaction.content.body|length > 30 and interaction.content.body|length <= 100 %}medium{%endif%} contentBody"><a href="{{ BASE_URL }}/i/{{ interaction.id }}/" target="_blank">{{ interaction.content.body|escape }}</a></blockquote>
                        {% endif %}

                        {% if interaction.comments %}
                        <div class="comments comments_for_{{ interaction.id }}" style="display:none;">
                          <h2>Comments</h2>
                          {% for comment in interaction.comments %}
                          {% if comment.approved %}
                          <div class="comment_container clearfix">
                            <div class="header">
                              <div class="when">{{ comment.created|date:"M d g:ia" }}</div>
                              <a class="user_info" href="/user/{{comment.user.id}}/">
                                <div class="avatar">
                                    {% if comment.user.social_user.img_url %}
                                        <img src="{{ comment.user.social_user.img_url }}">
                                    {% else %}
                                        <img src="{{ STATIC_URL }}site/images/anonymous-user.png"/>
                                    {% endif %}
                                </div>
                                <div class="who">
                                    {% if comment.user.social_user.full_name %}
                                        {{ comment.user.social_user.full_name }}
                                    {% else %}
                                        Anonymous
                                    {% endif %}
                                </div>
                              </a>
                            </div>
                            <div class="comment">
                              <div class="comment_body">{{ comment.interaction_node.body|linebreaksbr|escape }}</div>
                            </div>
                            {% if cookie_user and ga_ids and comment.page.site.group.id in ga_ids %}
                            <div class="block_content"><a class="block_content" href="javascript:void(0);" onclick="ANTsite.admin.blockContent({{comment.id}});" id="moderate_{{comment.id}}">Block</a></div>
                            {% endif %}
                          </div>
                          {% endif %}
                          {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="reactionBox">
                        <div class="via">via</div>
                        <div class="groupName"><a href="/group/{{ page.grouper.site.group.short_name }}/">{{ page.grouper.site.group.name|escape }}</a>: </div>
                        <div class="links">
                            <!-- <a href="/page/{{interaction.page.id}}/">{{ page.grouper.title|escape }}</a> -->
                            <a href="{{ BASE_URL }}/i/{{ interaction.id }}/" class="external" target="_blank">{{ page.grouper.title|escape }} <i class="icon-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            </div>

              {% comment %}
              <script>
                var interaction = {
                      "id"    :   {{ interaction.id }},
                      "kind"  :   "{{ interaction.content.kind }}",
                      "date"  :   "{{ interaction.created|date:"M d, Y"|escapejs }}",
                      "interaction_node_body" :   "{% if interaction.kind == 'tag' or interaction.kind == 'bkm' %}{{interaction.interaction_node.body|escapejs }}{% else %}{{ interaction.human_kind|escapejs }}{% endif %}",
                      "content_body"          :   '{{ interaction.content.body|escapejs }}',
                      "content_height"          :   {{ interaction.content.height }},
                      "content_width"          :   {{ interaction.content.width }},
                      "content_id"          :   '{{ interaction.content.id }}',
                      "page_title"            :   "{{ page.grouper.title|escapejs }}",
                      "external_url"          :   "{% if interaction.page.canonical_url %}{{ interaction.page.canonical_url|escapejs }}{% else %}{{ interaction.page.url|escapejs }}{% endif %}",
                      "domain"              : "{{page.grouper.site.domain}}",
                      "approved"              :   {% if interaction.approved %}true{% else %}false{% endif %},
                      "singleton"              :   {% if singleton %}true{% else %}false{% endif %},
                      "group" : {
                        "short_name"  :   "{{ page.grouper.site.group.short_name }}",
                        "id"          :   "{{ page.grouper.site.id }}",
                        "logo_url"    :   "{{ page.grouper.site.group.logo_url_sm }}",
                        "logo_url_lg" :   "{{ page.grouper.site.group.logo_url_lg }}",
                        "name"        :   "{{ page.grouper.site.group.name|escapejs }}",
                        "title"       :   "{{ page.grouper.site.group.title|escapejs }}"
                      },
                      "user_id"           :   {{interaction.user.id}},
                      "user_profile_link" :   "/user/{{interaction.user.id}}",
                      "user_avatar"       :   "{{ interaction.user.social_user.img_url }}",
                      "user_name"         :   "{{ interaction.user.social_user.full_name }}",
                      "created"           :   "{{ interaction.created|date:"M d g:ia" }}",
                      "moderator"         :   {% if cookie_user and ga_ids and interaction.page.site.group.id in ga_ids %}true{% else %}false{% endif %},
                      "page" : {{interaction.page}},
                      "page_id" : {{interaction.page}},
                      "comments" : [
                      {% for comment in interaction.comments %}
                          {
                          "id": {{comment.id}},
                          "approved"          :   {% if comment.approved %}true{% else %}false{% endif %},
                          "created"           :   "{{ comment.created|date:"M d g:ia" }}",
                          "user_id"           :   {{comment.user.id}},
                          "user_profile_link" :   "/user/{{comment.user.id}}",
                          "user_avatar"       :   "{{ comment.user.social_user.img_url }}",
                          "user_name"         :   "{{ comment.user.social_user.full_name }}",
                          "comment"           :   "{% filter force_escape %}{{ comment.interaction_node.body|linebreaksbr|escapejs }}{% endfilter %}",
                          "moderator"         :   {% if cookie_user and ga_ids and comment.page.site.group.id in ga_ids %}true{% else %}false{% endif %}
                          }{% if not forloop.last %},{% endif %}
                      {% endfor %}
                      ]
                };
                if ( interaction.user_name == "" ) {
                  interaction.user_name = "Unregistered<br/>User";
                }
                interactions.push( interaction );
              {% endcomment %}
            {%endif%}

            {% if interaction.human_kind == 'Share' %}
            {% comment %}
                var share = {
                      "id"    :   {{ interaction.id }},
                      "kind"  :   "{{ interaction.content.kind }}",
                      "date"  :   "{{ interaction.created|date:"M d, Y"|escapejs }}",
                      "interaction_node_body" :   "{% if interaction.kind == 'tag' or interaction.kind == 'bkm' %}{{interaction.interaction_node.body|escapejs }}{% else %}{{ interaction.human_kind|escapejs }}{% endif %}",
                      "content_body"          :   '{{ interaction.content.body|escapejs }}',
                      "page_title"            :   "{{ page.grouper.title|escapejs }}",
                      "external_url"          :   "{% if interaction.page.canonical_url %}{{ interaction.page.canonical_url|escapejs }}{% else %}{{ interaction.page.url|escapejs }}{% endif %}",
                      "approved"              :   {% if interaction.approved %}true{% else %}false{% endif %},
                      "group" : {
                        "short_name"  :   "{{ page.grouper.site.group.short_name }}",
                        "id"          :   "{{ page.grouper.site.id }}",
                        "logo_url"    :   "{{ page.grouper.site.group.logo_url_sm }}",
                        "logo_url_lg" :   "{{ page.grouper.site.group.logo_url_lg }}",
                        "name"        :   "{{ page.grouper.site.group.name|escapejs }}",
                        "title"       :   "{{ page.grouper.site.group.title|escapejs }}"
                      },
                      "created"           :   "{{ interaction.created|date:"M d g:ia" }}",
                      "moderator"         :   {% if cookie_user and ga_ids and interaction.page.site.group.id in ga_ids %}true{% else %}false{% endif %},
                      "page" : {{interaction.page}},
                      "page_id" : {{interaction.page}}
                };
                shares.push( share );
            {% endcomment %}
            {% endif %}
            </script>
        {% endfor %}
    {% endfor %}
    </div>
    
    {% if not singleton %}
    <div class="pagination">
      <span class="step-links">
        {% if current_page.has_previous %}
          <a href="?{% if query_string %}s={{ query_string }}{% endif %}&page_num={{ current_page.previous_page_number }}">prev</a>
        {% endif %}
        <span class="current">
          Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
        </span>
        {% if current_page.has_next %}
          <a href="?{% if query_string %}s={{ query_string }}{% endif %}&page_num={{ current_page.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
    {% endif %}

</div><!-- end #cards -->


<script>
var metoos = {
    {% if child_interactions %}
    {% for key, value in child_interactions.items %}
        {{key}} : {{value}},
    {% endfor %}
    {% endif %}
};

{% if comment_parents %}
// Is this ever used?
    {% for interaction in comment_parents %}

    {% comment %}
    var interaction = {
              "id"    :   {{ interaction.id }},
              "kind"  :   "{{ interaction.content.kind }}",
              "date"  :   "{{ interaction.created|date:"M d, Y"|escapejs }}",
              "interaction_node_body" :   "{% if interaction.kind == 'tag' or interaction.kind == 'bkm' %}{{interaction.interaction_node.body|escapejs }}{% else %}{{ interaction.human_kind|escapejs }}{% endif %}",
              "content_body"          :   '{{ interaction.content.body|escapejs }}',
              "content_id"          :   '{{ interaction.content.id }}',
              "page_title"            :   "{{ page.grouper.title|escapejs }}",
              "external_url"          :   "{% if interaction.page.canonical_url %}{{ interaction.page.canonical_url|escapejs }}{% else %}{{ interaction.page.url|escapejs }}{% endif %}",
              "domain"              : "{{page.grouper.site.domain}}",
              "approved"              :   {% if interaction.approved %}true{% else %}false{% endif %},
              "singleton"              :   {% if singleton %}true{% else %}false{% endif %},
              "group" : {
                "short_name"  :   "{{ page.grouper.site.group.short_name }}",
                "id"          :   "{{ page.grouper.site.id }}",
                "logo_url"    :   "{{ page.grouper.site.group.logo_url_sm }}",
                "logo_url_lg" :   "{{ page.grouper.site.group.logo_url_lg }}",
                "name"        :   "{{ page.grouper.site.group.name|escapejs }}",
                "title"       :   "{{ page.grouper.site.group.title|escapejs }}"
              },
              "user_id"           :   {{interaction.user.id}},
              "user_profile_link" :   "/user/{{interaction.user.id}}",
              "user_avatar"       :   "{{ interaction.user.social_user.img_url }}",
              "user_name"         :   "{{ interaction.user.social_user.full_name }}",
              "created"           :   "{{ interaction.created|date:"M d g:ia" }}",
              "moderator"         :   {% if cookie_user and ga_ids and interaction.page.site.group.id in ga_ids %}true{% else %}false{% endif %},
              "page" : {{interaction.page}},
              "page_id" : {{interaction.page}},
              "comments" : [
              {% for comment in interaction.comments %}
                  {
                  "id": {{comment.id}},
                  "approved"          :   {% if comment.approved %}true{% else %}false{% endif %},
                  "created"           :   "{{ comment.created|date:"M d g:ia" }}",
                  "user_id"           :   {{comment.user.id}},
                  "user_profile_link" :   "/user/{{comment.user.id}}",
                  "user_avatar"       :   "{{ comment.user.social_user.img_url }}",
                  "user_name"         :   "{{ comment.user.social_user.full_name }}",
                  "comment"           :   "{% filter force_escape %}{{ comment.interaction_node.body|linebreaksbr|escapejs }}{% endfilter %}",
                  "moderator"         :   {% if cookie_user and ga_ids and comment.page.site.group.id in ga_ids %}true{% else %}false{% endif %}
                  }{% if not forloop.last %},{% endif %}
              {% endfor %}
              ],
        };
        if ( interaction.user_name == "" ) {
          interaction.user_name = "Unregistered<br/>User";
        }
        interactions.push( interaction );
    {% endcomment %}
    {% endfor %}
{% endif %}

</script>
<script>

function writeCardButtons( $card ) {
  var interaction_id = $card.data('interaction-id'),
      kind = $card.data('kind'),
      tagBody = $card.find('.reactionBox h1').text(),
      userName = $card.data('user-name');

  // var userCookie = $.cookie('user_id');
  // var userOwnsInteraction = parseInt(userCookie, 10) === interaction.user_id;

    var $buttons = $('.interaction_'+interaction_id).find('.buttons');
    // if ( userCookie ) {
      // ADD A NEW REACTION
      $buttons.find('.me_too').click( function() {
        ANTsite.interactions.me_too( interaction_id );
      });
      $buttons.find('.tag_remove').click( function() {
        ANTsite.interactions.delete_reaction( interaction_id );
      });

      // add a new reaction
      $buttons.find('.add_new_reaction').click( function() {
        $('#add_new_reaction_form').remove();
        if ( kind == "img" ) {
          var contentBody = $card.find('.contentBody').attr('src');
          var $rateContent = $('<div style="width:300px;float:left;"><img width="300" src="'+contentBody+'"></div>');
        } else if ( kind == "med" ) {
          var contentBody = $card.find('.contentBody').attr('src');
          $rateContent = $('<div style="width:300px;float:left;"><iframe width="300" height="250" frameborder="0" src="'+contentBody+'"></iframe></div>');
        } else if ( kind == "txt" ) {
          var contentBody = $card.find('.contentBody').text();
          $rateContent = $('<div class="rateContent"><span>'+contentBody+'</span></div>');
        }

        var $obj = $('<div style="width:600px;overflow:auto;" id="add_new_reaction_form" />').append('<h2 style="margin-bottom:20px;">What\'s your reaction?</h2>')//chain
                  .append( '<div style="width:280px;margin-left:20px;float:right;"><input type="text" style="width:100%;font-size:20px;height:auto;" id="new_reaction_text" class="new_reaction_text" /><button class="btn" id="new_reaction_button">Add Reaction</button></div>' )//chain
                  .append( $rateContent );
        $.fancybox($obj ,{
          wrapCSS    : 'fancybox-custom',
          helpers : {
            overlay : {
              css : {
                'background' : 'rgba(100,100,100,0.8)'
              }
            }
          },
          afterShow: function() {
            $('#new_reaction_button').click(function() {
              ANTsite.interactions.add_new_reaction( interaction_id, $('#new_reaction_text').val() );
            });
          }
        });
        $obj.find('input').focus().keyup( function(event) {
          if (event.keyCode == '13') { //en
            ANTsite.interactions.add_new_reaction( interaction_id, $(this).val() );
          }
        });
      });

      // ADD A COMMENT
      if (kind != "pag" ) {
        $buttons.find('.add_new_comment').click( function() {
          $('#add_new_comment_form').remove();
            
            //consolidate these duplicate functions
            var $rateContent = $('<div class="rateContent">');
            if ( kind == "img" ) {
                var contentBody = $card.find('.contentBody').attr('src');
                $rateContent.append('<img width="300" src="'+contentBody+'">');
            } else if ( kind == "med" ) {
                var contentBody = $card.find('.contentBody').attr('src');
                $rateContent.append('<iframe width="300" height="250" frameborder="0" src="'+contentBody+'"></iframe>');
            } else if ( kind == "txt" ) {
                var contentBody = $card.find('.contentBody').text();
                $rateContent.append('<span>'+contentBody+'</span>')
                .addClass('rateContentText');
            // }else {
                // $rateContent.append('<span>'+interaction.content_body+'</span>')
            }

          var $obj = $('<div style="width:600px;overflow:auto;" id="add_new_comment_form" />').append('<h2 style="margin-bottom:20px;">Add a comment or hashtag</h2><h3>'+tagBody+'</h3>')//chain
                    .append( '<div style="width:280px;margin-left:20px;float:right;"><input type="text" style="width:100%;font-size:20px;" id="new_comment_text" /><label>e.g. <strong>Wow, I totally agree</strong>, or <strong>#london2012</strong></label><button class="btn" id="new_comment_button">Add Comment</button></div>' )//chain
                    .append( $rateContent );
          $.fancybox($obj ,{
            // wrapCSS    : 'fancybox-custom',
            helpers : {
              overlay : {
                css : {
                  'background' : 'rgba(100,100,100,0.8)'
                }
              }
            },
          });
          $obj.find('input').focus().keyup( function(event) {
            if (event.keyCode == '13') { //en
              ANTsite.interactions.add_new_comment( interaction_id, $(this).val() );
            }
          });
          $obj.find('#new_comment_button').click(function() {
            ANTsite.interactions.add_new_comment( interaction_id, $('#new_comment_text').val() );
          });
        });
      } else {
        $buttons.find('.add_new_comment').remove();
      }

      // ADD TO BOARD
      $buttons.find('.add_to_board').click( function() {
        $('#add_to_board_form').remove();

            //consolodate these duplicate functions
            var $rateContent = $('<div class="rateContent">');
            if ( kind == "img" ) {
                var contentBody = $card.find('.contentBody').attr('src');
                $rateContent.append('<img width="300" src="'+contentBody+'">');
            } else if ( kind == "med" ) {
                var contentBody = $card.find('.contentBody').attr('src');
                $rateContent.append('<iframe width="300" height="250" frameborder="0" src="'+contentBody+'"></iframe>');
            } else if ( kind == "txt" ) {
                var contentBody = $card.find('.contentBody').text();
                $rateContent.append('<span>'+contentBody+'</span>').addClass('rateContentText');
            // }else {
            //     $rateContent.append('<span>'+interaction.content_body+'</span>')
            }

        var $reactionWrap = $('<div class="reactionWrap" style="width:280px;"></div>')
            .append( '<h3>'+tagBody+'</h3>' )
            .append( $rateContent );

        var $obj = $('<div class="clearfix" style="width:600px;overflow:auto;" id="add_to_board_form" />').append('<h2 style="margin-bottom:15px;border-bottom:1px solid #999;padding-bottom:7px;">Add to Board</h2>')//chain
                  .append( '<div class="boardUserInfo" style="padding-bottom:2px;border-bottom:1px dotted #ccc;margin-bottom:6px;"><img src="" class="user_avatar" style="width:25px;"/> <h4 style="font-size:16px;display:inline-block;">'+userName+':</h4></div>' )//chain
                  .append( '<div class="yourBoards"><h4>Your Boards</h4><select style="width:95%;font-size:20px;" id="board_list"><option value="">Choose a board...</option></select></div>' )
                  .append($reactionWrap);
        
        var $user_boards = $obj.find('#board_list');

        $.each( $.evalJSON( $.cookie('user_boards') ), function(idx, board){
          $user_boards.append('<option value="'+board.id+'">'+board.title+'</option>');
        });
        $user_boards.append('<option value="" class="">----------</option>');
        $user_boards.append('<option value="create" class="ant_create_board">Create a new Board</option>');

        $user_boards.change( function() {
            var $this = $(this).find(':checked');
            if ( !isNaN( parseInt($this.val()) ) ) {
              ANTsite.interactions.add_to_board(interaction_id, parseInt($this.val()), $this.text() );
            } else if ( $this.val() == "create" ) {
                // pop the board create form
                ANTsite.boardWindow = window.open(ANT_baseUrl+'/board_create/?popup=site&int_id='+interaction_id, 'readr_board_create','menubar=1,resizable=1,width=626,height=436');
            }
        });

        $.fancybox($obj ,{
          helpers : {
            overlay : {
              css : {
                'background-color' : '#eee'
              }
            }
          },
        });
      });

      // REMOVE FROM BOARD (only if board admin)
      $buttons.find('.delete_from_board').click( function() {
        ANTsite.interactions.remove_from_board(interaction_id, "{{ board.id }}" );
      });


    // }

    // $card.append( $header, $content, $meta, $buttons );
    // zIndex--;
    // colorInt = ( colorInt < 5 ) ? colorInt+1 : 1;

    // $('#cards #content').append( $card ); 

    // $('.view-at-site').attr( 'href', '/i/'+interaction.id+'/' ).text('View this at '+interaction.group.name);
}

// function writeComment( comment, parent, showBlocked ) {
//   if ( comment.approved || ( !comment.approved && showBlocked ) ) {
//     var $card = $('.interaction_'+parent.id);

//     // check to see if the card for the interaction exists yet
//     if ( !$card.length ) {
//       // writeCard( parent );
//       // var $card = $('#card_'+parent.id);
//       return;
//     }

//     var $comments = $card.find('div.comments'),
//         $comment_container = $('<div class="comment_container clearfix"/>');

//     var userName = comment.user_name || "Anonymous";

//     $comment_container.html(
//         '<div class="header">' +
//             '<div class="when">'+comment.created+'</div>' +
//             '<a href="'+comment.user_profile_link+'">' +
//                 '<div class="avatar"><img src="'+comment.user_avatar+'"></div>' +
//                 '<div class="who">'+userName+'</div>' +
//             '</a>' +
//         '</div>' +
//         '<div class="comment">' +
//             '<div class="comment_body">'+comment.comment+'</div>' +
//         '</div>'
//     );

//     if ( interaction.moderator ) {
//         $comment_container.append('<div class="block_content">'
//           + '<a class="block_content" href="javascript:void(0);" onclick="ANTsite.admin.blockContent('+comment.id+');" id="moderate_'+comment.id+'">Block</a>'
//           + '</div>'
//         );
//     }

//     $comments.show();
//     if ( !$comments.find('h2').length ){
//         $comments.append('<h2>Comments</h2>');
//     }
//     $comments.find('h2').after( $comment_container );
//   }
// }


// $.each( interactions.content, function(idx, interaction) {
// $.each( interactions, function(idx, interaction) {
//   var showBlocked = ( window.location.href.indexOf('/not_approved/') != -1 ) ? true:false;
//   writeCard( interaction );
//   $.each( interaction.comments, function(idx, comment) {
//     writeComment( comment, interaction );
//   });
// });


// var $container = $('#content');

// function cardReset() {
// {% if not singleton %}
// $container.isotope({
//   // options...
//   resizable: false, // disable normal resizing
//   // set columnWidth to a percentage of container width
//   masonry: { columnWidth: 460 },
//   itemSelector : 'div.card'
// }, function() {
//   $('#content').css('visibility','visible')
// });
// {% endif %}
// }

// function getContentDimsStyle(dims){
    
//     //these will be 0 by default from the DB.
//     var height = dims.height;
//     var width = dims.width;

//     if(!height || !width){
//         return "";
//     }
//     //else

//     //this must match our .card{width:300px + margin-left:2px} css
//     var CARDWIDTH = 458; //$('.card').eq(0).width();
//     var minHeight = Math.round((height/width)*CARDWIDTH);

//     minHeight += 3;
//     //quick fix for now to make the styles look better

//     return 'style=" min-height:'+minHeight+'px; "';
// }

$(document).ready(function(){
  
  $('.card').each(function(idx, card) {
    var $card = $(card);
    
    if ( !$card.find('.comment_container').length ) {
      $card.find('.comments').remove();
    }

    writeCardButtons( $card );
});

// $.each( metoos, function(interaction_id, count) {
//   $('.interaction_'+interaction_id).find('.meta .avatar img').before('and <a href="javascript:void(0);">'+count+' more</a>')//chain
//   .click( function() {
//     ANTsite.follow.agreed(interaction_id);
//   } );
// });

});

{% if profile_user %}
  {% if not query_string %} 
  if (window.location.href.indexOf('follows') == -1 ){
    ANTsite.interactions.displayUserBoards({{ profile_user.id }});
  } else {
    ANTsite.follow.following({{ profile_user.id }},1,["brd"]);
  }
  {% endif %}
{%endif%}

{% if query_string %}
ANTsite.interactions.searchBoards('{{query_string}}');
{% endif %}

</script>