<div>
{% regroup current_page.object_list by page as pi %}
{% for page in pi %}
<table class="card" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <th class="column1"><img alt="{{ page.grouper.site.group.name }}" src="{{ page.grouper.site.group.logo_url_sm }}"></th>
    <th class="column2">{{ page.grouper.title }}</th>
  </thead>
  {% for interaction in page.list %}
  <tbody>
    <tr class="interaction">
    <td class="column1">
      <div class="reaction">
        {% if interaction.kind = 'tag' or interaction.kind = 'bkm' %}
          {{ interaction.interaction_node.body }}
          {% else %}
          {{ interaction.human_kind }}
        {% endif %}
      </div>
      {% if user and logged_in_user.social_user.admin_approved and interaction.page.site.group.id == logged_in_user.social_user.group_admin.id %}
      <div class="block_content">
        <a href="javascript:void(0);" onclick="RB.admin.blockContent({{interaction.id}});">
          {% if interaction.approved %}
            Block tag
          {% else %}
            Unblock tag
          {% endif %}
        </a>
      </div>
      {% endif %}

      <!-- <div class="count"></div> -->
    </td>
    <td class="column2">
      <!-- <div class="who_action">{{ tag.content.interaction.user.social_user.full_name }}'s reaction to:</div> -->
      <div class="who_action">
      </div>
      {% if interaction.content.kind == "img" %}
      <div class="content image"><img src="{{ interaction.content.body }}"></div>
      {% else %}
      <div class="content text">{{ interaction.content.body }}</div>
      {% endif %}
      {% if interaction.kind == 'com' %}
      <h5 class="label small"></h5>
      <div class="comment_container">
        <div class="header">
          <div class="when">{{ interaction.created }}</div>
          <div class="avatar"><img src="{{ interaction.user.social_user.img_url }}"></div>
          <div class="who">{{ interaction.user.social_user.full_name }}</div>
        </div>
        <div class="comment">
          <div class="quote open">"</div>
          {{ interaction.interaction_node.body }}
          <div class="quote close">"</div>
        </div>
        <div class="block_content"><a href="javascript:void(0);" onclick="RB.admin.blockContent({{interaction.id}});">Block comment</a></div>
      </div>
    </div>
    {% endif %}
    </td>
  </tbody>
  {% endfor %}
</table>
{% endfor %}
<div class="pagination">
  <span class="step-links">
      {% if current_page.has_previous %}
        <a href="?{% if query_string %}s={{ query_string }}{% endif %}&page={{ current_page.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
      </span>
      {% if current_page.has_next %}
        <a href="?{% if query_string %}s={{ query_string }}{% endif %}&page={{ current_page.next_page_number }}">next</a>
      {% endif %}
    </span>
</div>
</div>