<style>
#cards {
  /*width:870px;*/
  margin:0 auto;
  padding:10px;
}
#content {
  overflow:auto;
  /*float:left;*/
  width:610px;
  position:relative;
  visibility:hidden;
  /*to account for top margin of cards*/
  top: -10px;
  min-height:400px;
}
#content .card {
  float:left;
  width:300px;
  padding:0 0 10px 0;
  margin:10px 0;
  background:#fff;
  border:1px solid #ccc;
  border-top:none;
  box-shadow:0 0 2px #bbb;
}
#content .card .group {
  background:#7ebadf;
  text-align:center;
  font-size:11px;
  font-weight:bold;
  color:#fff;
}
#content .card .group span {
  color:#fff;
}
.card .group img {
  margin-bottom: -4px;
  margin-top: 2px;
}
.card .group span {
  margin-bottom:2px;
  display:inline-block;
}
.card .group a:hover {text-decoration:none;}
#pages  {
  float:right;
  overflow:auto;
  width:248px;  /* +2px border == 250 */
  background:#f7f8f9;
  border:1px solid #ccc;
  margin-left:10px;
  visibility:hidden;
}
#pages .card .group {
  font-size:11px;
  font-weight:bold;
  color:#7ebadf;
}

.card .content{
    position: relative;
}
.card .buttons {
  position:absolute;left:3px;z-index:1;display:none;
}
.card .buttons {
  top:5px;
}
.card .buttons button {
  font-size:10px;color:#777;cursor:pointer;
}
#pages .card .buttons {
  position:absolute;right:3px;top:10px;z-index:1;display:none;left:auto;
}
.card:hover .buttons,
#pages .card:hover .buttons { display:block; }
#pages .card:hover .buttons { display:block; }

.fancybox-inner h3{
    font-weight: bold;
    font-style: italic;
    margin: 3px 0;
}
.fancybox-inner button{
    margin: 5px 0;
}
.fancybox-inner label{
    display:block;
    font-size:11px;
    font-style:italic;
    margin: 2px 0;
}
</style>
{% if singleton %}

<style>

body{
    position: absolute;
    background: #555;
    height: 100%;
    width: 100%;
}

section[role="main"]{
    margin: 40px 0 20px 0 !important;
    background: #555;
}

section[role="content"]{
    /*extra padding for the fixed footers*/
    padding-bottom: 46px !important;
    margin: 30px 0 !important;
}
#content {
    /*clear min-height*/
  min-height:0 !important;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

#splashAnnounce { display:none !important; }
#content {
  float: none;
  margin: 0 auto !important;
  width: 300px !important;
}

.pagination{
    display: none !important;
}

.new_reaction_text{
    height: auto !important;
}

</style>
{% endif %}
{% if not singleton %}
{% if not board %}
<section id="headlines" style="margin-bottom:10px;">
  <h1 class="contentCardsHeader" style="text-align:center;display:inline-block;background:#f7f7f7;color:#bcbcbc;padding:8px 0 5px;font-size:18px;font-weight:bold;font-family:Helvetica,Arial,sans-serif;visibility:hidden;">Reactions to Content</h1>
  <h2 class="articleCardsHeader" style="text-align:center;display:inline-block;background:#f7f7f7;color:#bcbcbc;padding:8px 0 5px;font-size:18px;font-weight:bold;font-family:Helvetica,Arial,sans-serif;visibility:hidden;width:250px;margin-left:6px;">Reactions to Articles</h2>
</section>
{% endif %}
<section id="pages"></section>
{% endif %}
<section id="content"></section>
<script>
var comments = [],
    interactions = {pages:[],content:[]},
    shares = [];
    
{% if board_admin %}
var board_admin = true;
{% else %}
var board_admin = false;
{% endif %}   

if ( window.location.href.indexOf('/user/') != -1 ) {
  $('#cards').addClass('user_profile');
}
{% regroup current_page.object_list by page as pi %}
{% for page in pi %}
    {% for interaction in page.list %}
        {% if interaction.kind != 'com' and interaction.human_kind != 'Share' %}
            var interaction = {
                  "id"    :   {{ interaction.id }},
                  "kind"  :   "{{ interaction.content.kind }}",
                  "date"  :   "{{ interaction.created|date:"M d, Y"|escapejs }}",
                  "interaction_node_body" :   "{% if interaction.kind = 'tag' or interaction.kind = 'bkm' %}{{interaction.interaction_node.body|escapejs }}{% else %}{{ interaction.human_kind|escapejs }}{% endif %}",
                  "content_body"          :   '{{ interaction.content.body|escapejs }}',
                  "content_height"          :   {{ interaction.content.height }},
                  "content_width"          :   {{ interaction.content.width }},
                  "content_id"          :   '{{ interaction.content.id }}',
                  "page_title"            :   "{{ page.grouper.title|escapejs }}",
                  "external_url"          :   "{% if interaction.page.canonical_url %}{{ interaction.page.canonical_url|escapejs }}{% else %}{{ interaction.page.url|escapejs }}{% endif %}",
                  "domain"              : "{{page.grouper.site.domain}}",
                  "approved"              :   {% if interaction.approved %}true{% else %}false{% endif %},
                  "singleton"              :   {% if singleton %}true{% else %}false{% endif %},
                  "group" : {
                    "short_name"  :   "{{ page.grouper.site.group.short_name }}",
                    "id"          :   "{{ page.grouper.site.id }}",
                    "logo_url"    :   "{{ page.grouper.site.group.logo_url_sm }}",
                    "logo_url_lg" :   "{{ page.grouper.site.group.logo_url_lg }}",
                    "name"        :   "{{ page.grouper.site.group.name|escapejs }}",
                    "title"       :   "{{ page.grouper.site.group.title|escapejs }}"
                  },
                  "user_profile_link" :   "/user/{{interaction.user.id}}",
                  "user_avatar"       :   "{{ interaction.user.social_user.img_url }}",
                  "user_name"         :   "{{ interaction.user.social_user.full_name }}",
                  "created"           :   "{{ interaction.created|date:"M d g:ia" }}",
                  "moderator"         :   {% if cookie_user and ga_ids and interaction.page.site.group.id in ga_ids %}true{% else %}false{% endif %},
                  "page" : {{interaction.page}},
                  "page_id" : {{interaction.page}},
                  "comments" : [
                  {% for comment in interaction.comments %}
                      {
                      "id": {{comment.id}},
                      "approved"          :   {% if comment.approved %}true{% else %}false{% endif %},
                      "created"           :   "{{ comment.created|date:"M d g:ia" }}",
                      "user_profile_link" :   "/user/{{comment.user.id}}",
                      "user_avatar"       :   "{{ comment.user.social_user.img_url }}",
                      "user_name"         :   "{{ comment.user.social_user.full_name }}",
                      "comment"           :   "{% filter force_escape %}{{ comment.interaction_node.body|linebreaksbr|escapejs }}{% endfilter %}",
                      "moderator"         :   {% if cookie_user and ga_ids and comment.page.site.group.id in ga_ids %}true{% else %}false{% endif %}
                      }{% if not forloop.last %},{% endif %}
                  {% endfor %}
                  ]
            };
            if ( interaction.user_name == "" ) {
              interaction.user_name = "Unregistered User";
            }
            {% if interaction.content.kind == "pag" %}
              interactions['pages'].push( interaction );
            {% endif %}
            {% if interaction.content.kind != "pag" %}
              interactions['content'].push( interaction );
            {% endif %}

        {%endif%}

        {% if interaction.human_kind == 'Share' %}
            var share = {
                  "id"    :   {{ interaction.id }},
                  "kind"  :   "{{ interaction.content.kind }}",
                  "date"  :   "{{ interaction.created|date:"M d, Y"|escapejs }}",
                  "interaction_node_body" :   "{% if interaction.kind = 'tag' or interaction.kind = 'bkm' %}{{interaction.interaction_node.body|escapejs }}{% else %}{{ interaction.human_kind|escapejs }}{% endif %}",
                  "content_body"          :   '{{ interaction.content.body|escapejs }}',
                  "page_title"            :   "{{ page.grouper.title|escapejs }}",
                  "external_url"          :   "{% if interaction.page.canonical_url %}{{ interaction.page.canonical_url|escapejs }}{% else %}{{ interaction.page.url|escapejs }}{% endif %}",
                  "approved"              :   {% if interaction.approved %}true{% else %}false{% endif %},
                  "group" : {
                    "short_name"  :   "{{ page.grouper.site.group.short_name }}",
                    "id"          :   "{{ page.grouper.site.id }}",
                    "logo_url"    :   "{{ page.grouper.site.group.logo_url_sm }}",
                    "logo_url_lg" :   "{{ page.grouper.site.group.logo_url_lg }}",
                    "name"        :   "{{ page.grouper.site.group.name|escapejs }}",
                    "title"       :   "{{ page.grouper.site.group.title|escapejs }}"
                  },
                  "created"           :   "{{ interaction.created|date:"M d g:ia" }}",
                  "moderator"         :   {% if cookie_user and ga_ids and interaction.page.site.group.id in ga_ids %}true{% else %}false{% endif %},
                  "page" : {{interaction.page}},
                  "page_id" : {{interaction.page}}
            };
            shares.push( share );
        {% endif %}
    {% endfor %}
{% endfor %}
var metoos = {
    {% if child_interactions %}
    {% for key, value in child_interactions.items %}
        {{key}} : {{value}},
    {% endfor %}
    {% endif %}
};
{% if comment_parents %}
    {% for interaction in comment_parents %}
    var interaction = {
              "id"    :   {{ interaction.id }},
              "kind"  :   "{{ interaction.content.kind }}",
              "date"  :   "{{ interaction.created|date:"M d, Y"|escapejs }}",
              "interaction_node_body" :   "{% if interaction.kind = 'tag' or interaction.kind = 'bkm' %}{{interaction.interaction_node.body|escapejs }}{% else %}{{ interaction.human_kind|escapejs }}{% endif %}",
              "content_body"          :   '{{ interaction.content.body|escapejs }}',
              "content_id"          :   '{{ interaction.content.id }}',
              "page_title"            :   "{{ page.grouper.title|escapejs }}",
              "external_url"          :   "{% if interaction.page.canonical_url %}{{ interaction.page.canonical_url|escapejs }}{% else %}{{ interaction.page.url|escapejs }}{% endif %}",
              "domain"              : "{{page.grouper.site.domain}}",
              "approved"              :   {% if interaction.approved %}true{% else %}false{% endif %},
              "singleton"              :   {% if singleton %}true{% else %}false{% endif %},
              "group" : {
                "short_name"  :   "{{ page.grouper.site.group.short_name }}",
                "id"          :   "{{ page.grouper.site.id }}",
                "logo_url"    :   "{{ page.grouper.site.group.logo_url_sm }}",
                "logo_url_lg" :   "{{ page.grouper.site.group.logo_url_lg }}",
                "name"        :   "{{ page.grouper.site.group.name|escapejs }}",
                "title"       :   "{{ page.grouper.site.group.title|escapejs }}"
              },
              "user_profile_link" :   "/user/{{interaction.user.id}}",
              "user_avatar"       :   "{{ interaction.user.social_user.img_url }}",
              "user_name"         :   "{{ interaction.user.social_user.full_name }}",
              "created"           :   "{{ interaction.created|date:"M d g:ia" }}",
              "moderator"         :   {% if cookie_user and ga_ids and interaction.page.site.group.id in ga_ids %}true{% else %}false{% endif %},
              "page" : {{interaction.page}},
              "page_id" : {{interaction.page}},
              "comments" : [
              {% for comment in interaction.comments %}
                  {
                  "id": {{comment.id}},
                  "approved"          :   {% if comment.approved %}true{% else %}false{% endif %},
                  "created"           :   "{{ comment.created|date:"M d g:ia" }}",
                  "user_profile_link" :   "/user/{{comment.user.id}}",
                  "user_avatar"       :   "{{ comment.user.social_user.img_url }}",
                  "user_name"         :   "{{ comment.user.social_user.full_name }}",
                  "comment"           :   "{% filter force_escape %}{{ comment.interaction_node.body|linebreaksbr|escapejs }}{% endfilter %}",
                  "moderator"         :   {% if cookie_user and ga_ids and comment.page.site.group.id in ga_ids %}true{% else %}false{% endif %}
                  }{% if not forloop.last %},{% endif %}
              {% endfor %}
              ],
        };
        if ( interaction.user_name == "" ) {
          interaction.user_name = "Unregistered User";
        }

        {% if interaction.content.kind == "pag" %}
          interactions['pages'].push( interaction );
        {% endif %}
        {% if interaction.content.kind != "pag" %}
          interactions['content'].push( interaction );
        {% endif %}
    {% endfor %}
{% endif %}

</script>

<div class="pagination">
  <span class="step-links">
    {% if current_page.has_previous %}
      <a href="?{% if query_string %}s={{ query_string }}{% endif %}&page_num={{ current_page.previous_page_number }}">prev</a>
    {% endif %}
    <span class="current">
      Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
    </span>
    {% if current_page.has_next %}
      <a href="?{% if query_string %}s={{ query_string }}{% endif %}&page_num={{ current_page.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>

<script>
var zIndex = 400;
function writeContentCard( interaction, showBlocked ) {

  if ( window.location.href.indexOf('/page/') != -1 ) {
    // this should really be done by the back-end.
    if ( !$('#sidebar div#avatar').length ) {
      var $avatar = $('<div id="avatar"><a href="/group/'+interaction.group.short_name+'"><img alt="'+interaction.group.name+'" src="'+interaction.group.logo_url_lg+'"></a></div>')
      $('#sidebar').prepend( $avatar );
    }

    if ( !$('#sidebar h3').length ) {
      var $pageTitle = $('<h3>'+interaction.page_title+'</h3><div style="text-align:center;padding-right:20px;margin-bottom:20px"><a href="'+interaction.external_url+'" target="_blank"><img src="{{ STATIC_URL }}site/images/external_link_icon.gif"/> See It</a></div>')
      $('#sidebar h4').text('Activity on:').after( $pageTitle );
    }
  }

  if ( interaction.approved || ( !interaction.approved && showBlocked ) ) {
    
    // write the card first, then append the comment
    var $card = $('<div class="card '+interaction.kind+'" id="card_'+interaction.id+'" style="z-index:'+zIndex+'" />')//chain
        .append('<div class="group"><a href=/group/' + interaction.group.short_name + '><img src="http://www.google.com/s2/favicons?domain='+interaction.domain+'" /> <span>'+interaction.domain+'</span></a></div>')
            .data('interactionId', interaction.id);
    var $header = $('<header/>').attr('title', interaction.interaction_node_body)
         .append('<h1><a href="'+window.location.pathname+'?s='+interaction.interaction_node_body+'">'+interaction.interaction_node_body+'</a></h1>');

    var hasProfilePic =  interaction.user_avatar != "None" && interaction.user_avatar != "",
        profilePic = hasProfilePic ? interaction.user_avatar : "{{ STATIC_URL }}site/images/anonymous-user.png";

    var $addedBy = $( '<div class="added_by">'
        + '<div class="arrowLeft"></div>'
        + '<a href="'+interaction.user_profile_link+'" rel="tooltip" title="'+interaction.user_name +'" class="added_by_user">'
        + '<img src="'+profilePic+'" class="user_avatar" />'
        + '</a>'
        + '</div>'
    ).prependTo( $header );

    if ( interaction.moderator ) {
        $header.append('<div class="block_content">'
          + '<a href="javascript:void(0);" onclick="RB.admin.blockContent('+interaction.id+');" id="moderate_'+interaction.id+'">'
          + (( interaction.approved ) ? 'Block':'Unblock')
          + '</a></div>');
    }

    var $content = $('<div class="content"/>');
    
    if ( interaction.kind == "img" ) {
        
        //apply this to the content_body to serve as a spacer.
        var styleString = getContentDimsStyle({
            height: interaction.content_height,
            width: interaction.content_width
        });

        $content.append(
            '<div class="content_body" '+styleString+'><a href="{{ BASE_URL }}/i/'+interaction.id+'" target="_blank"><img src="'+interaction.content_body+'"></a></div><div class="comments" />');
    } else if ( interaction.kind == "med" ) {
      
        //apply this to the content_body to serve as a spacer.
        var styleString = getContentDimsStyle({
            height: interaction.content_height,
            width: interaction.content_width
        });

      var videoUrl = interaction.content_body;
      //if we want this later...
      // var videoUrl = RB.fixUrlParams(interaction.content_body, {
      //   wmode:"transparent"
      // });

      $content.append(
        '<div class="content_body" '+styleString+'><a href="{{ BASE_URL }}/i/'+interaction.id+'" target="_blank"><iframe width="300" height="175" frameborder="0" src="'+videoUrl+'"></iframe></a></div><div class="comments" />');
    } else if ( interaction.kind == "txt" ) {
      $content.append('<a href="{{ BASE_URL }}/i/'+interaction.id+'" target="_blank"><div class="content_body"><span>'+interaction.content_body+'</span></div></a><div class="comments" />');
    }

    if ( $.cookie('user_id') ) {
      var $buttons = $('<div class="buttons"><button class="me_too">+1 '+interaction.interaction_node_body+'</button> <button class="add_new_reaction">Add new reaction</button> <button class="add_new_comment">Comment</button> <button class="add_to_board">Add to board</button></div>');
      if ( board_admin ) {
        $buttons.append('<button class="delete_from_board">Delete from this board</button>');
      }
      $buttons.appendTo( $content );
    } else {
      var $buttons = $('<div class="buttons"><div style="background:#fff;border:1px solid #999;font-size:11px;padding:2px;margin-right:5px;">To react or comment, log in with the link in the top left-hand corner of the screen.</div></div>').appendTo( $content );
    }

    var $meta = $('<div class="meta"/>'),
        $metaRight = $('<div class="metaRight"/>');

    $meta.prepend('<div class="date">'+interaction.date+'</div>');
    $meta.append($metaRight);
    $meta.append('<div class="clear" /><div class="me_too_outcome" />');

    $metaRight.append('<div class="title">'
                + '<a href="{{ BASE_URL }}/i/'+interaction.id+'" target="_blank">'+interaction.page_title+'</a>'
              + '</div>');

    if ( $.cookie('user_id') ) {
      // ADD A NEW REACTION
      $buttons.find('button.me_too').click( function() {
        RB.interactions.me_too( interaction.id );
      });

      // add a new reaction
      $buttons.find('button.add_new_reaction').click( function() {
        $('#add_new_reaction_form').remove();
        if ( interaction.kind == "img" ) {
          var $rateContent = $('<div style="width:300px;float:left;"><img width="300" src="'+interaction.content_body+'"></div>');
        } else if ( interaction.kind == "med" ) {
          $rateContent = $('<div style="width:300px;float:left;"><iframe width="300" height="175" frameborder="0" src="'+interaction.content_body+'"></iframe></div>');
        } else if ( interaction.kind == "txt" ) {
          $rateContent = $('<div style="width:300px;background:#ddd;float:left;"><span style="display:block;padding:20px;">'+interaction.content_body+'</span></div>');
        }

        var $obj = $('<div style="width:600px;overflow:auto;" id="add_new_reaction_form" />').append('<h2 style="margin-bottom:20px;">What\'s your reaction?</h2>')//chain
                  .append( '<div style="width:280px;margin-left:20px;float:right;"><input type="text" style="width:100%;font-size:20px;height:auto;" id="new_reaction_text" class="new_reaction_text" /><button class="btn" id="new_reaction_button">Add Reaction</button></div>' )//chain
                  .append( $rateContent );
        $.fancybox($obj ,{
          wrapCSS    : 'fancybox-custom',
          helpers : {
            overlay : {
              css : {
                'background-color' : '#eee'
              }
            }
          }
        });
        $obj.find('input').focus().keyup( function(event) {
          if (event.keyCode == '13') { //en
            RB.interactions.add_new_reaction( interaction.id, $(this).val() );
          }
        });
        $obj.find('#new_reaction_button').click(function() {
          RB.interactions.add_new_reaction( interaction.id, $('#new_reaction_text').val() );
        });
      });

      // ADD A COMMENT
      $buttons.find('button.add_new_comment').click( function() {
        $('#add_new_comment_form').remove();
        if ( interaction.kind == "img" ) {
          var $rateContent = $('<div style="width:300px;float:left;"><img width="300" src="'+interaction.content_body+'"></div>');
        } else if ( interaction.kind == "med" ) {
          $rateContent = $('<div style="width:300px;float:left;"><iframe width="300" height="175" frameborder="0" src="'+interaction.content_body+'"></iframe></div>');
        } else if ( interaction.kind == "txt" ) {
          $rateContent = $('<div style="width:300px;background:#ddd;float:left;"><span style="display:block;padding:20px;">'+interaction.content_body+'</span></div>');
        }

        var $obj = $('<div style="width:600px;overflow:auto;" id="add_new_comment_form" />').append('<h2 style="margin-bottom:20px;">Add a comment or hashtag</h2><h3>'+interaction.interaction_node_body+'</h3>')//chain
                  .append( '<div style="width:280px;margin-left:20px;float:right;"><input type="text" style="width:100%;font-size:20px;" id="new_comment_text" /><label>e.g. <strong>Wow, I totally agree</strong>, or <strong>#london2012</strong></label><button class="btn" id="new_comment_button">Add Comment</button></div>' )//chain
                  .append( $rateContent );
        $.fancybox($obj ,{
          // wrapCSS    : 'fancybox-custom',
          helpers : {
            overlay : {
              css : {
                'background-color' : '#eee'
              }
            }
          },
        });
        $obj.find('input').focus().keyup( function(event) {
          if (event.keyCode == '13') { //en
            RB.interactions.add_new_comment( interaction.id, $(this).val() );
          }
        });
        $obj.find('#new_comment_button').click(function() {
          RB.interactions.add_new_comment( interaction.id, $('#new_comment_text').val() );
        });
      });

      // ADD TO BOARD
      $buttons.find('button.add_to_board').click( function() {
        $('#add_to_board_form').remove();
        if ( interaction.kind == "img" ) {
          var $rateContent = $('<div style="width:300px;float:left;"><img width="300" src="'+interaction.content_body+'"></div>');
        } else if ( interaction.kind == "med" ) {
          $rateContent = $('<div style="width:300px;float:left;"><iframe width="300" height="175" frameborder="0" src="'+interaction.content_body+'"></iframe></div>');
        } else if ( interaction.kind == "txt" ) {
          $rateContent = $('<div style="width:290px;padding:5px;background:#ddd;float:left;"><span style="inline-display:block;padding:20px;">'+interaction.content_body+'</span></div>');
        }
        // + '<a href="'+interaction.user_profile_link+'" rel="tooltip" title="'+interaction.user_name +'" class="added_by_user">'
        // + '<img src="'+profilePic+'" class="user_avatar" />'

        var $obj = $('<div style="width:600px;overflow:auto;" id="add_to_board_form" />').append('<h2 style="margin-bottom:15px;border-bottom:1px solid #999;padding-bottom:7px;">Add to Board</h2>')//chain
                  .append( '<div style="width:280px;margin-left:10px;float:right;"><h4>Your Boards</h4><select style="width:95%;font-size:20px;" id="board_list"><option value="">Choose a board...</option></select></div>' )//chain
                  .append( '<div style="width:280px;padding-bottom:2px;border-bottom:1px dotted #ccc;margin-bottom:2px;"><img src="'+profilePic+'" class="user_avatar" style="width:25px;"/> <h4 style="font-size:16px;display:inline-block;">'+interaction.user_name+':</h4></div>' )//chain
                  .append( '<h3>'+interaction.interaction_node_body+'</h3>' )//chain
                  .append( $rateContent );
        
        var $user_boards = $obj.find('#board_list');

        $.each( $.evalJSON( $.cookie('user_boards') ), function(idx, board){
          $user_boards.append('<option value="'+board.id+'">'+board.title+'</option>');
        });
        $user_boards.append('<option value="" class="">----------</option>');
        $user_boards.append('<option value="create" class="rdr_create_board">Create a new ReadrBoard</option>');

        $user_boards.change( function() {
            var $this = $(this).find(':checked');
            if ( !isNaN( parseInt($this.val()) ) ) {
              RB.interactions.add_to_board(interaction.id, parseInt($this.val()), $this.text() );
            } else if ( $this.val() == "create" ) {
                // pop the board create form
                RB.boardWindow = window.open(RDR_baseUrl+'/board_create/?popup=site&int_id='+interaction.id, 'readr_board_create','menubar=1,resizable=1,width=626,height=436');
            }
        });

        $.fancybox($obj ,{
          // wrapCSS    : 'fancybox-custom',
          helpers : {
            overlay : {
              css : {
                'background-color' : '#eee'
              }
            }
          },
        });
        $obj.find('input').focus().keyup( function(event) {
          if (event.keyCode == '13') { //en
            RB.interactions.add_new_comment( interaction.id, $(this).val() );
          }
        });
        $obj.find('#new_comment_button').click(function() {
          RB.interactions.add_new_comment( interaction.id, $('#new_comment_text').val() );
        });
      });

      // REMOVE FROM BOARD (only if board admin)
      $buttons.find('button.delete_from_board').click( function() {
        RB.interactions.remove_from_board(interaction.id, "{{ board.id }}" );
      });


    }

    $card.append( $header, $content, $meta );
    zIndex--;

    $('#cards #content').append( $card ); 
  }
}

function writePageCard( interaction, showBlocked ) {

  if ( window.location.href.indexOf('/page/') != -1 ) {
    // this should really be done by the back-end.
    if ( !$('#sidebar div#avatar').length ) {
      var $avatar = $('<div id="avatar"><a href="/group/'+interaction.group.short_name+'"><img alt="'+interaction.group.name+'" src="'+interaction.group.logo_url_lg+'"></a></div>')
      $('#sidebar').prepend( $avatar );
    }

    if ( !$('#sidebar h3').length ) {
      var $pageTitle = $('<h3>'+interaction.page_title+'</h3><div style="text-align:center;padding-right:20px;margin-bottom:20px"><a href="'+interaction.external_url+'" target="_blank"><img src="{{ STATIC_URL }}site/images/external_link_icon.gif"/> See It</a></div>')
      $('#sidebar h4').text('Activity on:').after( $pageTitle );
    }

  }

  if ( interaction.approved || ( !interaction.approved && showBlocked ) ) {
    
    // write the card first, then append the comment
    var $card = $('<div class="card '+interaction.kind+'" id="card_'+interaction.id+'" style="z-index:'+zIndex+'" />')//chain
        .append('<div class="group"><a href=/group/' + interaction.group.short_name + '><img src="http://www.google.com/s2/favicons?domain='+interaction.domain+'" /> <span>'+interaction.domain+'</span></a></div>');
    var $header = $('<header/>').attr('title', interaction.interaction_node_body)
         .append('<h1><a href="/stream/?s='+interaction.interaction_node_body+'">'+interaction.interaction_node_body+'</a></h1>');

    if ( interaction.moderator ) {
        $header.append('<div class="block_content">'
          + '<a href="javascript:void(0);" onclick="RB.admin.blockContent('+interaction.id+');" id="moderate_'+interaction.id+'">'
          + (( interaction.approved ) ? 'Block':'Unblock')
          + '</a></div>');
    }
    
    var $meta = $('<div class="meta"/>'),
        $metaRight = $('<div class="metaRight"/>');

    $meta.append($metaRight);
    $meta.append('<div class="date">'+interaction.date+'</div>');
    $meta.append('<div class="clear" /><div class="me_too_outcome" />');

    $metaRight.append('<div class="title">'
                + '<a href="{{ BASE_URL }}/i/'+interaction.id+'" target="_blank">'+interaction.page_title+'</a>'
              + '</div>');
    
    var hasProfilePic =  interaction.user_avatar != "None" && interaction.user_avatar != "",
        profilePic = hasProfilePic ? interaction.user_avatar : "{{ STATIC_URL }}site/images/anonymous-user.png";

    var $addedBy = $( '<div class="added_by">'
        + '<div class="arrowLeft"></div>'
        + '<a href="'+interaction.user_profile_link+'" rel="tooltip" title="'+interaction.user_name +'" class="added_by_user">'
        + '<img src="'+profilePic+'" class="user_avatar" />'
        + '</a>'
        + '</div>'
    );

    if ( $.cookie('user_id') ) {
      // var $buttons = $('<div class="buttons"><button class="me_too">+1 '+interaction.interaction_node_body+'</button></div>').appendTo( $meta );
      var $buttons = $('<div class="buttons"><button class="me_too">+1 '+interaction.interaction_node_body+'</button></div>').appendTo( $card.find('div.group') );
    } else {
      var $buttons = $('<div class="buttons"><div style="background:#fff;border:1px solid #999;font-size:11px;padding:2px;margin-right:5px;">To react or comment, use the link in the top left-hand corner of the screen.</div></div>').before( $card.find('div.group') );
      // var $buttons = $('<div class="buttons"><div style="background:#fff;border:1px solid #999;font-size:11px;padding:2px;margin-right:5px;">To react or comment, use the link in the top left-hand corner of the screen.</div></div>').appendTo( $meta );
    }
    
    if ( $.cookie('user_id') ) {
      // ADD A NEW REACTION
      $buttons.find('button.me_too').click( function() {
        RB.interactions.me_too( interaction.id );
      });
    }

    $card.append( $header, $meta, $addedBy );
    zIndex--;

    if ( interaction.kind == "pag" ) {
      $('#cards #pages').append( $card ); 
    } else {
      $('#cards #content').append( $card ); 
    }
  }
}

function writeComment( comment, parent, showBlocked ) {
  if ( comment.approved || ( !comment.approved && showBlocked ) ) {
    var $card = $('#card_'+parent.id);

    // check to see if the card for the interaction exists yet
    if ( !$card.length ) {
      writeContentCard( parent );
      var $card = $('#card_'+parent.id);
    }

    var $comments = $card.find('div.comments'),
        $comment_container = $('<div class="comment_container"/>');

    $comment_container.html(
        '<div class="header">' +
            '<div class="when">'+comment.created+'</div>' +
            '<a href="'+comment.user_profile_link+'">' +
                '<div class="avatar"><img src="'+comment.user_avatar+'"></div>' +
                '<div class="who">'+comment.user_name+'</div>' +
            '</a>' +
        '</div>' +
        '<div class="comment">' +
            '<div class="quote open">"</div>' +
            '<div class="comment_body">'+comment.comment+'</div>' +
            '<div class="quote close">"</div>' +
        '</div>'
    );

    if ( interaction.moderator ) {
        $comment_container.append('<div class="block_content">'
          + '<a class="block_content" href="javascript:void(0);" onclick="RB.admin.blockContent('+comment.id+');" id="moderate_'+comment.id+'">Block</a>'
          + '</div>'
        );
    }

      $comments.show();
      if ( !$comments.find('h2').length ) $comments.append('<h2>Comments / Tags</h2>');
      $comments.find('h2').after( $comment_container );
  }
}


$.each( interactions.content, function(idx, interaction) {
  var showBlocked = ( window.location.href.indexOf('/not_approved/') != -1 ) ? true:false;
  writeContentCard( interaction, showBlocked );
  $.each( interaction.comments, function(idx, comment) {
    writeComment( comment, interaction );
  });
});

$.each( interactions.pages, function(idx, interaction) {
  writePageCard( interaction );
});

$.each( metoos, function(interaction_id, count) {
  $('#card_'+interaction_id).find('div.added_by').append('<span class="metoos" style="">and '+count+' more</span>')//chain
  .click( function() {
    RB.follow.agreed(interaction_id);
  } );
});


var $container = $('#content');

// modified Isotope methods for gutters in masonry
  $.Isotope.prototype._getMasonryGutterColumns = function() {
    var gutter = this.options.masonry && this.options.masonry.gutterWidth || 0;
        containerWidth = this.element.width();
  
    this.masonry.columnWidth = this.options.masonry && this.options.masonry.columnWidth ||
                  // or use the size of the first item
                  this.$filteredAtoms.outerWidth(true) ||
                  // if there's no items, use size of container
                  containerWidth;

    this.masonry.columnWidth += gutter;

    this.masonry.cols = Math.floor( ( containerWidth + gutter ) / this.masonry.columnWidth );
    this.masonry.cols = Math.max( this.masonry.cols, 1 );
  };

  $.Isotope.prototype._masonryReset = function() {
    // layout-specific props
    this.masonry = {};
    // FIXME shouldn't have to call this again
    this._getMasonryGutterColumns();
    var i = this.masonry.cols;
    this.masonry.colYs = [];
    while (i--) {
      this.masonry.colYs.push( 0 );
    }
  };

  $.Isotope.prototype._masonryResizeChanged = function() {
    var prevSegments = this.masonry.cols;
    // update cols/rows
    this._getMasonryGutterColumns();
    // return if updated cols/rows is not equal to previous
    return ( this.masonry.cols !== prevSegments );
  };

function cardReset() {
  $('#cards, #board_header').width( $(window).width() - 20 );
  var numSections = ( interactions.pages.length > 0 ) ? 2:1,
      pageSectionWidth = ( numSections == 2 ) ? 280:0,
      contentWidth = $('#cards').width() - pageSectionWidth;
  $('#content').width( contentWidth );
  $container.isotope({
      masonry: {
        columnWidth: 300,
        gutterWidth: 10
      },
      itemSelector : 'div.card'
  }, function() {
    var numColumns = parseInt(contentWidth/310);
    $('#content, #headlines h1').width( (numColumns*300) + ((numColumns-1)*10) );
    var extraMargin = $(window).width() - ((numColumns*300) + ((numColumns-1)*10)) - 260 - 40;

    if ( numSections == 2 ) {
      $('#content').css('visibility','visible').css('margin-left', (extraMargin/numColumns)+'px');
      $('#pages').css('visibility','visible').css('margin-right', (extraMargin/numColumns)+'px');
    } else {
      $('#pages').hide();
      $('#content').css('visibility','visible').css('margin-left', 'auto').css('margin-right', 'auto');
      if ( $('#cards div.card').length == 1 ) {
        $('#content').width(310);
      }
    }
    $('#headlines h1').css('visibility','visible').css('margin-left', (extraMargin/numColumns)+'px');
    $('#headlines h2').css('visibility','visible');
  });
}

function getContentDimsStyle(dims){
    
    //these will be 0 by default from the DB.
    var height = dims.height;
    var width = dims.width;

    if(!height || !width){
        return "";
    }
    //else

    //this must match our .card{width:300px} css
    var CARDWIDTH = 300;
    var minHeight = Math.round((height/width)*CARDWIDTH);

    minHeight += 3;
    //quick fix for now to make the styles look better

    return 'style=" min-height:'+minHeight+'px; "';
}

$(document).ready(function(){
  cardReset();
  $('#cards').tooltip({
    selector: ".added_by a"
  });
});
$(window).resize( function() {
  cardReset();
});

</script>