{% comment %}







DEPRECATED IN JUILY 2015 REWRITE








{% endcomment %}
{% extends "base.html" %}

{% block title %}Antenna{%endblock%}
{% block extendedHead %}
<link rel="canonical" href="{% if debug %}http://local.antenna.is:8081/{% else %}http://www.antenna.is/{% endif %}">
<meta name="google-site-verification" content="pWVfDSLL5X9Fs9agM5UiL2BHDDcxJtN46MgM2YkJXyg" />
{%endblock%}

{% block subheaderContent %}
<section role="subheader">
  <div class="content">
    <div class="left">
      <div class="item">
        About Antenna <i class="fa fa-chevron-right"></i> Antenna for Publishers
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block wideContent %}
        <div class="learn_page">
        <div class="no-rdr">

            <div class="masthead">
                <div class="grid-half s-grid-whole padded">
                <!-- <div class="masthead_column headlines" style="float:left;width:45%;"> -->
                    <h1>The future of content engagement</h1>
                    <p>Antenna captures reader reactions to any phrase, image, video, or whole page.  <strong>With just a click.</strong></p>
                </div>
                <div class="grid-half s-grid-whole padded">
                <!-- <div class="masthead_column" style="float:right;width:55%;padding-top:30px;"> -->
                    <iframe src="//player.vimeo.com/video/73596125?autoplay=1" class="antenna_learn" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="engagement_today grid-whole no-rdr">
            <h2 class="grid-whole padded">Content engagement today falls short.</h2>
            <div class="engagement_column grid-third s-grid-whole padded">
                <i class="fa fa-twitter"></i>
                <p>When people discuss on Twitter, your readers don’t see it.</p>
            </div>
            <div class="engagement_column grid-third s-grid-whole padded">
                <i class="fa fa-facebook-square"></i>
                <p>What does a Like on a page tell you?  Not enough.</p>
            </div>
            <div class="engagement_column grid-third s-grid-whole padded">
                <i class="fa fa-comments-o"></i>
                <p>Comments can be great, but they are too much work to read &amp; write.</p>
            </div>
        </div>

        <div class="antenna_is_better no-rdr">
            <div class="better_wrapper">
                <p>
                    <i class="fa fa-check-square"></i>
                    <strong>Antenna is a smarter, more satisfying way to engage, discuss, &amp; share.</strong>
                    <!-- <a href="http://porterbayne.wufoo.com/forms/m7x3k1/" onclick="window.open(this.href,  null, 'height=510, width=775, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="Tell me more about Antenna!!">Add Antenna to your site or blog now.</a>  For free. -->
                    <a href="javascript:void(0);" class="get_antenna">Add Antenna to your site or blog now.</a>  For free.
                </p>
                <div class="get_antenna_form">
                    <iframe src="/static/wufoo/index.html?d=10032013" width="1000" height="125" scrolling="no" wmode="transparent" style="background:none;" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <div class="use_it no-rdr">
            <h2>Do people use it?</h2>
            <h1>Yep.</h1>
        </div>

        <div class="stats no-rdr">
            <div class="column one s-grid-whole">
                <div>
                    <i class="icon-bars-alt"></i>
                    <h1>15%</h1>
                </div>
                <div>
                    <p>Engagement Rate</p>
                </div>
            </div>
            <div class="column two s-grid-whole">
                <div class="point first">1 out of every 100 readers react to content.</div>
                <div class="point second">14 out of 100 readers actively view others' reactions.</div>
                <div class="point third">That’s the <strong>average</strong>.</div>
                <div class="point fourth">And it will go up as more readers discover Antenna.</div>
            </div>
        </div>

        <div class="masthead secondary" style="padding-bottom:0;">
            <h4><i class="fa fa-group"></i>&nbsp;See the <a href="/stream/">live stream</a> of reactions on Antenna</h4>
        </div>

        <div class="stats-part-two">
            <h3 class="new_section">30 Days Before/After</h3>
            <em><a href="http://dukechronicle.com" target="_blank">The Duke Chronicle</a>, an independent university paper widely read by Duke students, alumni, and the Durham community, compared their website KPIs during the 30 days before and after installing Antenna.  Here is what they found:</em>
            <div class="stats_box s-grid-whole grid-quarter">
                <div class="stats_box_content">
                    <i class="rdr_icon-circle-arrow-up"></i>
                    <div>
                        <h2>13.97%</h2>
                        <label>Avg. Visit Duration</label>
                    </div>
                </div>
            </div>
            <div class="stats_box s-grid-whole grid-quarter">
                <div class="stats_box_content">
                    <i class="rdr_icon-circle-arrow-up"></i>
                    <div>
                        <h2>7.46%</h2>
                        <label>Pages / Visit</label>
                    </div>
                </div>
            </div>
            <div class="stats_box s-grid-whole grid-quarter">
                <div class="stats_box_content">
                    <i class="rdr_icon-circle-arrow-down"></i>
                    <div>
                        <h2>3.57%</h2>
                        <label>Bounce Rate</label>
                    </div>
                </div>
            </div>
            <div class="stats_box s-grid-whole grid-quarter">
                <div class="stats_box_content">
                    <i class="rdr_icon-circle-arrow-down"></i>
                    <div>
                        <h2>6.94%</h2>
                        <label>Exit Rate</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="try_it grid-whole">
            <h3 class="new_section centered">Try it out!</h3>
            <div class="try_it_body">
                <h4 style="margin:0 0 10px 0;">Engage the page</h4>
                <div class="rdr-page-summary"></div>
                <div id="rdr-page-summary-explanation">
                    <i class="icon-arrow-left"></i>
                    <span>
                        This is the "summary button".
                    </span>
                    <div class="indent_span">
                        It displays a summary of all reactions on the page.  
                    </div>
                    <div class="indent_span">
                        <strong>Also</strong>, it lets you cast a reaction to this entire page.
                    </div>
                </div>
                <h4 style="margin:40px 0 10px 0;">Engage text</h4>
                <em>
                    Select some text in this paragraph, and react.
                    <br>After reacting, you can also share or leave a longer, in-line comment.
                </em>
                <div class="try-on-text">
                    <p>
                        New York is the most populous city in the United States and the center of the New York Metropolitan Area, one of the most populous urban agglomerations in the world. The city is referred to as New York City or the City of New York to distinguish it from the State of New York, of which it is a part. A global power city, New York exerts a significant impact upon commerce, finance, media, art, fashion, research, technology, education, and entertainment. The home of the United Nations Headquarters, New York is an important center for international diplomacy and has been described as the cultural capital of the world.
                        <span class="explanation">
                            <i class="fa fa-arrow-left"></i>
                            <em>This icon appears when there are reactions in this paragraph. You can limit how often it appears.</em>
                        </span>
                    </p>
                    <p><em>via <a href="http://en.wikipedia.org/wiki/New_York_City" target="_blank">Wikipedia.org</a></em></p>
                </div>
                <h4 style="margin:40px 0 10px 0;">Engage images and video</h4>
                <em>Roll your mouse over this image, and look in the lower left hand corner.</em>
                <div class="try-on-image">
                    <p>
                        <!-- <img src="{{STATIC_URL}}images/site/tryit_puppy.jpg" /> -->
                        <img src="{{STATIC_URL}}images/site/tryit_building.jpg" style="margin-bottom:10px;" />
                    </p>
                    <p><em>via <a href="http://unsplash.com" target="_blank">Unsplash</a></em></p>
                </div>
                <em>Works great for videos too.</em>
                <div class="try-on-video">
                    <iframe src="//player.vimeo.com/video/75532980?title=0&amp;byline=0&amp;portrait=0&amp;color=cc6f1a" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <br>
                    <br>
                    <p><em>via <a href="https://vimeo.com/channels/staffpicks" target="_blank">Vimeo</a></em></p>
                </div>

                <h4 style="margin:40px 0 10px 0;">Customize the look and feel!</h4>
                <em>Publishers customize what Antenna looks like for content on their pages -- including colors, the reactions, and where Antenna sits on a page.  <strong>Contact us to find out more!</strong></em>
                <!-- <em>Publishers customize what Antenna looks like for content on their pages -- including colors, the reactions, and where Antenna sits on a page.  Here's one example, where the grid of reactions is placed in a custom spot using a little custom HTML:</em>
                <div class="try-on-custom" style="font-family:Georgia;width:680px;background:#f0f4f9;margin:20px auto;padding:20px;">
                    <img src="{{STATIC_URL}}images/site/tryit_building.jpg" rdr-custom-display="unsplash2" style="margin-bottom:10px;" rdr-crossPageContent="true" />
                    <div rdr-grid-for="unsplash2" style="width:640px;height:200px;background:white;"></div>
                    <div rdr-mode="write" rdr-offset-x="0" rdr-offset-y="0" rdr-cta-for="unsplash2" style="box-shadow:0 0 4px #888;display:inline-block;background:#fff;margin:10px 20px 10px 0;padding:10px;cursor:pointer;">Your reaction to this picture?</div>
                    <div id="rdr-custom-explanation" style="margin-left:-15px;display:inline-block;background:#f0f0f0;padding:4px 8px;font-size:12px;">
                        <i class="icon-arrow-left"></i>
                        This can be any HTML element or image, styled however you want!
                </div>
                    <p><em>via <a href="http://unsplash.com" target="_blank">Unsplash</a></em></p> -->
            </div>
        </div>

        <h3 class="new_section grid-whole">A few of our favorite publishing partners</h3>

        <div class="partner_logos no-rdr">
            <img src="{{STATIC_URL}}site/images/fastcolabs.png" />
            <img src="{{STATIC_URL}}site/images/propublica.png" />
            <img src="{{STATIC_URL}}site/images/logo_dailycandy.png" />
            <img src="{{STATIC_URL}}site/images/thestream.png" />
            <img src="{{STATIC_URL}}site/images/civilbeat.png" />
            <img src="{{STATIC_URL}}site/images/logo_chronicle.png" />
            <img src="{{STATIC_URL}}site/images/logo_thedp.png" />
            <img src="{{STATIC_URL}}site/images/towcenter.png" />
            <img src="{{STATIC_URL}}site/images/bangor.png" />
            <img src="{{STATIC_URL}}site/images/bigroundtable.png" />
            <img src="{{STATIC_URL}}site/images/as-seen-on/content-strategist.png" style="height:40px;" />
            <img src="{{STATIC_URL}}site/images/logo_civic_mit.png" style="height:60px;" />
            <img src="{{STATIC_URL}}site/images/logo_racialicious.png" />
            <img src="{{STATIC_URL}}site/images/logo_gazette.png" />
            <img src="{{STATIC_URL}}site/images/logo_altweeklies.png" style="height:60px;" />
            <img src="{{STATIC_URL}}site/images/logos_modern_nomad.png" />
            <img src="{{STATIC_URL}}site/images/logo_college_media.png" />
        </div>
        
        <div class="grid-whole">
            <h3 class="new_section">The future web will be an annotated web.</h3>
            <p>
                Readers want to say something specific, about something specific -- whether citing sources 
                in a policy debate or reacting “LOL!” to a cat pic.  That’s why forwarding-thinking sites like
                <a href="http://medium.com" target="_blank">Medium</a>, <a href="http://qz.com" target="_blank">Quartz</a>, and <a href="http://rapgenius.com" target="_blank">RapGenius</a> are experimenting with inline comments.
            </p>

            <p>
                But it’s more than just annotation.  Antenna enables understanding how different people
                and communities feel about the same content on the web.  Our goal is to be THE tool
                people use to react to everything.
            </p>
            <h3 class="new_section">Antenna is the best annotation platform ever made.</h3>
            <p>
                OK, that's ridiculous.  But, we're passionate about making it simple for people to engage whatever 
                grabs them in as simple a way possible.  Since no annotation platform has really caught on outside
                of a single community, we think it's a smart place to start.</p>

            <p>Antenna is different from other approaches to annotation in two key ways.</p>

            <p><strong>First</strong>, reacting is simply easier than commenting.  Sure, we let readers also leave a full, in-line 
            comment if they want, but over 98% of people find a reaction does the trick.  This means it's not only easy to 
            say something... but it's really easy and fast to see what other people think.</p>

            <p><strong>Second</strong>, we enable responding to images and video, too!</p>

            <p>Oh, and a third thing:  <strong>we’re a platform</strong>.  A free one.  You can <a href="javascript:void(0);" class="get_antenna">install Antenna right now</a>.</p>

            <p>Antenna’s getting used on 15% of pageviews for our partners -- and sometimes over 200% -- 
            so we think hope we're starting to “catch on”.  With your help, maybe we can make it the best annotation platform ever made.</p>

            <p>Try it out, and give us your feedback.  This a process, and we want you to be a part of it.  
            With your help, we can make the web more dynamic, and more aware of how people
            think and feel about great content.</p>

            <br/><br/><br/>
        </div>
    </div>




    <script>
    $('.get_antenna').click( function() {
        $('.get_antenna_form').toggle(200);
    });

    $('.antenna_is_better').waypoint('sticky', { offset: 75 });
    </script>


{% endblock %}

{% block complementarySection %}
{% endblock %}



{% block page_js %}
<script>
if (window.location.href.indexOf('publishers') != -1 ) {
    $('#readers').hide();
}
</script>
<script src="/static/engage.js" defer></script>
{% endblock %}
<!-- widget for slideshow -->