{% extends "base.html" %}

{% block bodyClass %}embeddedVersion{% endblock bodyClass %}

{% block headerDisplay %}

<div class="rbSubtitle">
    <span>Setup:</span>&nbsp;
    <span class="step1">(1) &nbsp;Log in to Antenna</span>
    <span class="step2">(2) &nbsp;Register this site</span>
    <span class="step3">(3) &nbsp;You're done!</span>
</div>


{% endblock headerDisplay %}

{% block extendedHead %}
    <link href="/static/css/embedded_version.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block mainContent %}
 
{% block siteSearch %}
{% endblock siteSearch %}


{% block msgHeader %}
  <h3>Please log in Antenna to edit your settings.</h3>
{% endblock msgHeader %}
 
    
  <div id="login-options" style="overflow:auto;">
    
    <div style="float:left;padding-right:9px;border-right:1px solid #ccc;">
      <div id="fb-login-button">
        <a href="javascript:void(0);" onclick="$(this).addClass('logging-in'); ANTAuth.doFBLogin();"><img src="/static/widget/images/fb-login_to_readrboard.png" style="margin-top:3px;"></a>
      </div>
    </div>
    <div style="float:left;padding-left:6px;">
      <a href="javascript:void(0);" onclick="ANTAuth.openAntLoginWindow();"><img src="/static/widget/images/rb-login_to_readrboard.png"></a>
    </div>
    
    {% block signupButton %}
    <div style="float:left;padding:0 6px;">
        <a class="alternateAction" href="javascript:void(0);" onclick="createNewAccount();" style="font-size:11px;
    font-style:italic;">Or create a new account</a>
    </div>
    {% endblock signupButton %}
  </div>

    <div class="loginMsgs">
        
        {% if group_not_approved %}
        <!-- no need to show this we'll approve the group when we approve the user's group_admin -->
        <!--
            <div class="loginMsg">
                <b>Notice:</b> Antenna needs to approve this website.  It should be approved shortly.
            </div>
        -->
        {% endif  %}
        {% if user_not_admin %}
            <div class="loginMsg">
                <b>Notice:</b> It seems that you are logged in, but you are not an administrator for this website.  Please log in as an administrator.  If you believe this account should be an administrator, please contact us at team@antenna.is. 
            </div>

        {% endif %}
        {% if user_unapproved_admin %}
            <div class="loginMsg">
                <b>Notice:</b> Antenna needs to approve you as an administrator for this website.  You will receive a confirmation email shortly.  Please reload this page upon appoval.  Thanks!
            </div>
        {% endif %}

    </div>
    <!--
    <div class="continueWrap">
      <span><a class="btn" href="#" onclick="reloadPageAfterLogin();">click here to continue</a> after you log in.</span>
    </div>
    <div class="checkEmailReminder">
      <span>Setting up a new account?  Don't forget to check your email for confirmations and approvals.</span>
    </div>
    -->

{% endblock mainContent %}

{% block pageJS %}

    <script>
        ANT_offline = document.domain == "local.antenna.is";
        ANT_baseUrl = ( ANT_offline ) ? "//local.antenna.is:8081":"//www.antenna.is";
        ANT_staticUrl = ( ANT_offline ) ? httpProtocol+"//local.antenna.is:8081/static/":httpProtocol+"//s3.amazonaws.com/readrboard/";        
        

        var wordpressEditUrl = '/wordpress_edit/';
        var query = window.location.search || "?";
        query += "&refresh=true";
        var wordpressRefreshUrl = wordpressEditUrl + query;
        
        function createNewAccount(){
            var w = 535;
            /*made higher to account for 'required fields' message*/
            var h = 350;
            var l = (window.screen.width/2)-(w/2);
            var t = (window.screen.height/2)-(h/2);

            var properties = 'menubar=1,scrollbars=yes,resizable=1,width='+w+',height='+h+',top='+t+',left='+l;

            window.open(
                ANT_baseUrl+'/user_create/',
                'ant_create_user',
                properties
            );
            window.close();
            return false;
        }

        function reloadPageAfterLogin(){
            window.location = wordpressRefreshUrl;
            return false;
        }

        $(function(){

            //quick hack to get the user info showing up.  I believe we need to undo the kludge in ant_user.js to undo this.
            ANTAuth.returnUser();
            if (ANTAuth.ant_user && ANTAuth.ant_user.user_id){
                $('#logged-in').show().css('visibility','visible');
                $('#logged-out').hide().css('visibility','hidden');
            }else{
                $('#logged-in').hide().css('visibility','hidden');
                $('#logged-out').show().css('visibility','visible');
            }            

        });
        
    </script>

{% endblock %}

{% block fixedBar %}
{% endblock fixedBar %}

{% block footer %}
{% endblock footer %}
