{% extends "popup_form.html" %}



{% block sidebarContent %}
<div id="sidebar">
</div>
{% endblock sidebarContent %}

{% block header %}
{% endblock header %}
    
{% block extendedHead %}
    <style>
        /*quick fix*/
        #fixedBar{
            display: none;
        }
        #searchform {
            display: none;
        }
        
        body.wide section[role="main"]{
            padding: 20px;
        }
        body.wide section[role="content"] {
            margin: 0;
        }
        section[role="main"] #login-options{
            margin: 10px 0;
        }

        body.wide section[role="main"] h1 {
            font-size: 28px;
            margin: 10px 0;
        }

        /*undo the css from nofooter*/
        .noFooter #uvTab{
            display: block !important;
            top: 130px !important;
        }

    </style>
    <script>
        document.write( unescape( '%3Cscript src="'+RDR_staticUrl+'widget/js/jquery.ba-postmessage.min.js" type="text/javascript"%3E%3C/script%3E' ) );
    </script>
{% endblock %}

{% block mainContent %}
 
  {% block hostPlatformHeader %}    
    <div class="hostPlatformHeader">
        Step 1: Log in
    </div>
{% endblock hostPlatformHeader %}

  {% block msgHeader %}
  <h3>Please log in ReadrBoard to edit your settings.</h3>
{% endblock msgHeader %}
 
  <div id="login-options" style="overflow:auto;">
    <div style="float:left;padding-right:9px;border-right:1px solid #ccc;">
      <div id="fb-login-button">
        <a href="javascript:void(0);" onclick="$(this).addClass('logging-in');FB.login(function(response) {if (response.authResponse) {RDRAuth.getReadrToken( FB.getAuthResponse(), function() {RDRAuth.checkFBStatus();});} else {}}, {scope: 'email'});"><img src="/static/widget/images/fb-login_to_readrboard.png" style="margin-top:3px;"></a>
      </div>
    </div>
    <div style="float:left;padding-left:6px;">
      <a href="javascript:void(0);" onclick="RDRAuth.openRbLoginWindow();"><img src="/static/widget/images/rb-login_to_readrboard.png"></a>
    </div>
    
    {% block signupButton %}
    <style>
    section[role="main"] #login-options{
        margin: 30px 0;
    }
    </style>
    
    <div style="float:left;padding:6px;">
        <a class="alternateAction" href="javascript:void(0);" onclick="createNewAccount();" style="font-size:11px;
    font-style:italic;">Or create a new account</a>
    </div>
    
    <div class="" style="clear:both; padding-top: 30px;">
      <span><a class="btn" href="#" onclick="reloadPageAfterLogin();">click here to continue</a> after you log in.  New accounts will need to verify an email address before logging in.</span>
    </div>

{% endblock signupButton %}


  </div>

{% endblock mainContent %}

{% block pageJS %}

    <script>
        RDR_offline = document.domain == "local.readrboard.com";
        RDR_baseUrl = ( RDR_offline ) ? "//local.readrboard.com:8080":"//www.readrboard.com";
        RDR_staticUrl = ( RDR_offline ) ? httpProtocol+"//local.readrboard.com:8080/static/":httpProtocol+"//s3.amazonaws.com/readrboard/";
        var wordpressEditUrl = '/wordpress_edit/';
        var query = window.location.search || "?";
        query += "&refresh=true";
        var wordpressRefreshUrl = wordpressEditUrl + query;
        
        function createNewAccount(){
            var w = 535;
            /*made higher to account for 'required fields' message*/
            var h = 350;
            var l = (window.screen.width/2)-(w/2);
            var t = (window.screen.height/2)-(h/2);

            var properties = 'menubar=1,scrollbars=yes,resizable=1,width='+w+',height='+h+',top='+t+',left='+l;

            window.open(
                RDR_baseUrl+'/user_create/',
                'readr_create_user',
                properties
            );
            window.close();
            return false;
        }

        function reloadPageAfterLogin(){
            window.location = wordpressRefreshUrl;
            return false;
        }
        
    </script>

{% endblock %}

{% block fixedBar %}
{% endblock fixedBar %}

{% block footer %}
{% endblock footer %}
