{% extends "base.html" %}

{% block title %}ReadrBoard{%endblock%}
{% block extendedHead %}
<link rel="canonical" href="{% if debug %}http://local.readrboard.com:8081/{% else %}http://www.readrboard.com/{% endif %}">
<meta name="google-site-verification" content="pWVfDSLL5X9Fs9agM5UiL2BHDDcxJtN46MgM2YkJXyg" />
{%endblock%}

{% block mastheadContent %}
<section role="subheader">
  <div class="content">
    <div class="left">
      <div class="item">
        ReadrBoard Updates
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block wideContent %}
        <div class="learn_page">
        <div class="no-rdr">

            <div class="masthead">
                <div class="grid-5 right s-grid-whole padded">
                    <h2>Network Growth</h2>
                </div>
                <div class="grid-7 s-grid-whole padded">
                    <h1>
                        4x in 5 months
                        <div class="subnotes">1.1m monthly sessions</div>
                    </h1> 
                </div>

                <div class="grid-5 right s-grid-whole padded">
                    <h2>ReadrBoard Users</h2>
                </div>
                <div class="grid-7 s-grid-whole padded">
                    <h1>Avg 5% more PVs <br/>Longer sessions</h1> 
                </div>

                <div class="grid-5 right s-grid-whole padded">
                    <h2>Inbound Requests</h2>
                </div>
                <div class="grid-7 s-grid-whole padded">
                    <h1>
                        +80% MoM in March and April
                        <div class="subnotes">40 inbounds in last 30 days, from USA, Europe, India</div>
                    </h1> 
                </div>

                <div class="grid-5 right s-grid-whole padded">
                    <h2>Revenue</h2>
                </div>
                <div class="grid-7 s-grid-whole padded">
                    <h1>$20k<sup>1,2</sup> via ESPN Cofounder's new venture</h1> 
                </div>

                <div class="grid-5 right s-grid-whole padded">
                    <h2>Not just text</h2>
                </div>
                <div class="grid-7 s-grid-whole padded">
                    <h1>
                        32.4% of reactions are on <br/>images + media
                    </h1> 
                </div>

                <div class="grid-5 right s-grid-whole padded">
                    <h2>We might say we're</h2>
                </div>
                <div class="grid-7 s-grid-whole padded">
                    <h1>
                        Better than Livefyre
                        <div class="subnotes">Although <a href="http://content.screencast.com/users/porter.bayne/folders/Jing/media/184cb69d-5293-429b-8f85-ed2b9b6d49ec/00000319.png" target="_blank">they like us</a>.</div>
                        <div class="subnotes"><em>"What sets ReadrBoard apart is the 'reaction', which they don't have. I'm sticking with ReadrBoard - especially as you brand similar to the platform." - The Working Wardrobe</em></div>
                    </h1> 
                </div>

                <div class="grid-5 right s-grid-whole padded">
                    <h2>Key Partners</h2>
                </div>
                <div class="grid-7 s-grid-whole padded">
                    <h1>
                        <div class="subnotes">OkayPlayer Network, FastCo Labs, Youth Ki Awaaz, Burton Cummings, Duke Chronicle + similar, Columbia U Tow Center, NYU Govlab, Civil Beat, Bangor Daily News, Racialicious</div>
                    </h1> 
                </div>

                <div class="grid-5 right s-grid-whole padded">
                    <h2>Warm Pipeline</h2>
                </div>
                <div class="grid-7 s-grid-whole padded">
                    <h1>
                        
                        <div class="subnotes">Audiomack, BlogAds, NPR, Above the Law, Vancouver Sun Network, Canoe.ca, PureWow, IndyWeek, WashPost, ProPublica, Iowa Gazette, Al Jazeera, more</div>
                    </h1> 
                </div>

                <div class="grid-5 right s-grid-whole padded">
                    <h2>Case Studies</h2>
                </div>
                <div class="grid-7 s-grid-whole padded">
                    <h1>
                        Forthcoming
                        <div class="subnotes">From OkayPlayer, Burton Cummings, Duke, possibly FastCo</div>
                    </h1> 
                </div>
            </div>
            </div>
        </div>
    </div>




    <script>
    $('.get_readrboard').click( function() {
        $('.get_readrboard_form').toggle(200);
    });

    $('.readrboard_is_better').waypoint('sticky', { offset: 75 });
    </script>


{% endblock %}

{% block complementarySection %}
{% endblock %}



{% block pageJS %}
<script>
if (window.location.href.indexOf('publishers') != -1 ) {
    $('#readers').hide();
}
</script>
<script src="/static/engage.js" defer></script>
{% endblock %}
<!-- widget for slideshow -->