<p>
    {{user.email}}, someone has reacted since your last <a href="{{base_url}}/interaction/{{interaction.id}}/">reaction</a>.
</p>
On <a href="{% if interaction.page.canonical_url %}{{ interaction.page.canonical_url }}{% else %}{{ interaction.page.url }}{% endif %}">{{interaction.page.grouper.title}}</a> at {{ page.grouper.site.group.name }}.

<p>
	==============================
	<br/>
	Sent to you by <a href="http://www.readrboard.com/">ReadrBoard</a>.  You can adjust email settings in the menu on the top-right hand corner of our homepage.
	<br/><br/>
	<a href="mailto:team@readrboard.com">Give us a shout</a>.	
	<br/>
	==============================
</p>