{% extends "base.html" %}

{% block bodyClass %}wide{% endblock %}

{% block mainContent %}
  <h1>ReadrBoard Password Reset</h1>
  <div class="container">
  {% if requested %}
    <h3>Thanks!  Please click on the link in registered email account's inbox to complete your password change.</h3>
    <a href = "/">Home</a>
  {% else %}
    <form action="/request_password/" enctype="multipart/form-data" method="post" class="in-page">
    {% csrf_token %}
    <h3>Enter your user name or your email address, and we'll email you a link to reset your password.</h3>
    <div class="error">{{ message }}</div>
    <label>User Name:</label>
    <input type="text" name="username" />
    <br/>
    <br/>
    <label>Email address:</label>
    <input type="text" name="email" />

    <button type="submit">Submit</button>
    </form>
  {% endif %}
  </div>
{% endblock mainContent %}

{% block pageJS %}
{% endblock %}