{% extends "base.html" %}

{% block sidebarContent %}
<div id="sidebar">
</div>
{% endblock sidebarContent %}

{% block mainContent %}
  <h1>ReadrBoard Password Reset</h1>
  {% if requested %}
    <h3>Thanks!  Please click on the link in registered email account's inbox to complete your password change.</h3>
    <a href = "/">Home</a>
  {% else %}
    <form action="/request_password/" enctype="multipart/form-data" method="post" class="in-page">
    {% csrf_token %}
    
    <input type="text" name="username" />

    <button type="submit">Submit</button>
    </form>
  {% endif %}
{% endblock mainContent %}

{% block pageJS %}
{% endblock %}