{% extends "base.html" %}

{% block bodyClass %}{% endblock %}

{% block userStatus %}
<!-- don't show log in link-->
{% endblock userStatus %}

    
{% block extendedHead %}
    <style>
        /*quick fix*/
        #fixedBar{
            display: none;
        }
        #searchform {
            display: none;
        }

    </style>
    <script>
        document.write( unescape( '%3Cscript src="'+ANT_staticUrl+'widget/js/jquery.ba-postmessage.min.js" type="text/javascript"%3E%3C/script%3E' ) );
    </script>
{% endblock %}


{% block mainContent %}
{% endblock mainContent %}

{% block footer %}
    <div class="emptyFooter"></div>
{% endblock footer %}