{% extends "base.html" %}

{% block bodyClass %}wide{% endblock %}

{% block mainContent %}
<!-- ported from fb login file -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script> -->
	<script>
	var RDR_offline = ( window.location.href.indexOf('local.readrboard.com') != -1 ) ? true:false,
	RDR_baseUrl = ( RDR_offline ) ? "http://local.readrboard.com:8080":"http://www.readrboard.com";
	RDR_staticUrl = ( RDR_offline ) ? "http://local.readrboard.com:8080/static/":"http://s3.amazonaws.com/readrboard/";
	document.write( unescape( '%3Cscript src="'+RDR_staticUrl+'widget/js/jquery.ba-postmessage.min.js" type="text/javascript"%3E%3C/script%3E' ) );
	document.write( unescape( '%3Cscript src="'+RDR_staticUrl+'widget/js/jquery.json-2.2.min.js" type="text/javascript"%3E%3C/script%3E' ) );
	document.write( unescape( '%3Cscript src="'+RDR_staticUrl+'widget/js/jquery.cookie.js" type="text/javascript"%3E%3C/script%3E' ) );
	document.write( unescape( '%3Cscript src="/static/widget/js/readr_user.js" type="text/javascript"%3E%3C/script%3E' ) );
	</script>

  <h1>Log In</h1>
  {% csrf_token %}
  <div class="container">
  	<div id="direct_registration" style="overflow:auto;">
  		<div style="float:left;width:150px;margin-right:20px;">
  			<label>User Name</label>
			<input type="text" name="username" tabindex="1" />
			<a href="/user_create/" target="_blank" style="font-size:11px;font-style:italic;">Create New Account &raquo;</a>
		</div>
		<div style="float:left;width:150px;">
	  		<label>Password</label>
			<input type="password" name="password" tabindex="2" />
			<a href="/request_password/" target="_blank" style="font-size:11px;font-style:italic;">Forgot Password? &raquo;</a>
		</div>
	</div>
	<button onclick="direct_registration();" tabindex="3">Log In</button>
	<script type="text/javascript">
		$('input[name="username"]').focus();
		$('#groupname').text( decodeURI(qs_args.group_name) );
		
		function direct_registration() {
			var sendData = "username="+$('#direct_registration').find('input[name="username"]').val()+
						   "&password="+$('#direct_registration').find('input[name="password"]').val();

			$.ajax({
				beforeSend: function( xhr ) {
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken') );
				},
				url: "/api/rb/",
				type: "post",
				contentType: "application/x-www-form-urlencoded",
				dataType: "json",
				data: sendData,
				success: function(response) {
					RDRAuth.setUser(response);
					window.opener.RDRAuth.readUserCookie();
					window.opener.RDRAuth.returnUser();
					window.opener.RDRAuth.notifyParent({}, "close login panel");
					self.close();
				}
			});
		}

	</script>
  </div>
{% endblock mainContent %}

{% block pageJS %}
{% endblock %}

