{% extends "base.html" %}

{% block title %}ReadrBoard / How-To: Install the React Button{%endblock%}

{% block bodyClass %}wide{% endblock %}

{% block mainContent %}
<h1 style="text-align:center;"><strong>React</strong> to react to anything on the web</h1>
<div class="container">
<section role="panels">
	<section role="wide panels" style="float:none;margin:0 auto;">
		<h2 style="text-align:center;"><strong>How-To: Install the “React Button”</strong></h2>
		<div style="border:1px solid #ccc;box-shadow:0px 0px 4px #ccc;font-size:24px;margin:20px 0;padding:10px;overflow:auto;">
			<a title="ReadrBoard" style="display:block;float:left;width:135px;height:40px;background:url({{ STATIC_URL }}site/images/react_button.png) 0px 0px no-repeat;cursor:move;text-indent:-9999px;" href='javascript:(function(){function%20rdr_getScript(id,url,success){var%20head=document.getElementsByTagName("head")[0],done=false;var%20script=document.createElement("script");script.src=url;if(id){script.id=id}script.onload=script.onreadystatechange=function(){if(!done&&(!this.readyState||this.readyState=="loaded"||this.readyState=="complete")){done=true;success()}};head.appendChild(script)}var%20script="http://www.readrboard.com/static/engage.js?bookmarklet=true";var%20id="readrboardscript";rdr_getScript(id,script,function(){})})();' onclick="alert('Drag me to the bookmarks bar'); return false;">ReadrBoard</a>
			<span style="font-size:22px;display:block;float:left;margin-left:23px;margin-top:8px;">←  Drag this link to your Bookmarks Bar</span>
		</div>
		<div id="howto_firefox" class="howto">
			<h4 style="text-align:center;">To install the React button in Firefox:</h4>
			<ol style="margin-bottom:40px;">
				<li style="margin-bottom:10px;">Display your Bookmarks bar by clicking <strong style="font-size:14px;">View &gt; Toolbars &gt; Bookmarks Toolbar</strong></li>
				<li style="margin-bottom:10px;">Drag the “React” button to your Bookmarks bar</li>
				<li style="margin-bottom:10px;">When you are browsing the web, push the “React” button to react to anything on the page.</li>
			</ol>
		</div>
		<div id="howto_chrome" class="howto">
			<h4 style="text-align:center;">To install the React button in Chrome:</h4>
			<ol style="margin-bottom:40px;">
				<li style="margin-bottom:10px;">Display your Bookmarks bar by clicking the <strong style="font-size:14px;">Wrench Icon &gt; Bookmarks &gt; Show Bookmarks Bar</strong></li>
				<li style="margin-bottom:10px;">Drag the “React” button to your Bookmarks bar</li>
				<li style="margin-bottom:10px;">When you are browsing the web, push the “React” button to react to anything on the page.</li>
			</ol>
		</div>
		<div id="howto_safari" class="howto">
			<h4 style="text-align:center;">To install the React button in Safari:</h4>
			<ol style="margin-bottom:40px;">
				<li style="margin-bottom:10px;">Display your Bookmarks bar by clicking <strong style="font-size:14px;">View &gt; Show Bookmarks Bar</strong></li>
				<li style="margin-bottom:10px;">Drag the “React” button to your Bookmarks bar</li>
				<li style="margin-bottom:10px;">When you are browsing the web, push the “React” button to react to anything on the page.</li>
			</ol>
		</div>
		<div id="howto_ie" class="howto">
			<h4 style="text-align:center;">To install the React button in Internet Explorer:</h4>
			<ol style="margin-bottom:40px;">
				<li style="margin-bottom:10px;">Display your Favorites Bar by clicking <strong style="font-size:14px;">Tools &gt; Toolbars &gt; Favorites Bar</strong></li>
				<li style="margin-bottom:10px;">Right-click the “React” button and select “Add to Favorites”</li>
				<li style="margin-bottom:10px;">On the pop-up window, select “Create in: Favorites Bar”</li>
				<li style="margin-bottom:10px;">When you are browsing the web, push the “React” button to react to anything on the page.</li>
			</ol>
		</div>
		<h2 style="text-align:center;font-size:24px;border-top:1px solid #ccc;margin:15px 0;padding-top:15px;font-weight:bold;">How-To: Use the “React Button”</h2>
		<iframe style="margin-left:50px;" src="http://player.vimeo.com/video/42622860" width="640" height="480" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<script>
		(function() {
			var userAgent = navigator.userAgent.toLowerCase(); 
			$.browser.chrome = /chrome/.test(navigator.userAgent.toLowerCase());
			if($.browser.chrome){
			  // userAgent = userAgent.substring(userAgent.indexOf('chrome/') +7);
			  // userAgent = userAgent.substring(0,userAgent.indexOf('.'));
			  // $.browser.version = userAgent;
			  // If it is chrome then jQuery thinks it's safari so we have to tell it it isn't
			  $.browser.safari = false;
			}

			 if ( $.browser.safari ) {
			 	$('#howto_safari').show();
			 }
			 if ( $.browser.chrome ) {
			 	$('#howto_chrome').show();
			 }
			 if ( $.browser.mozilla ) {
			 	$('#howto_firefox').show();
			 }
			 if ( $.browser.msie ) {
			 	$('#howto_ie').show();
			 }
		})();
		</script>
	</section> <!-- / wide panels -->
</section>
</div>

{% endblock mainContent %}

{% block footer %}
{% endblock %}
