{% extends "base/wide-fixed-right.html" %}

{% block page_title %}Antenna for Publishers{% endblock %}lock%}
{% block page_description %}Structured feedback from online audiences.{%endblock%}

{% block pageHeadAdditions %}
<link rel="canonical" href="{% if debug %}http://local.antenna.is:8081/retailers/{% else %}http://www.antenna.is/retailers/{% endif %}">
{%endblock%}

{% block bodyClass %}retailers{% endblock %}

{% block navbar %}
  {% include "partials/site_navbar.html" %}
{% endblock navbar %}

{% block page_content %}
<section class="masthead dark-section">
  <div class="container row">
    <div class="col s12 m10">
      Antenna for Retailers
      <h1>
        <div class="line-one">Reviews increase trust &amp; sales.</div>
        <div class="line-two">Get more of them.</div>
        <div class="line-three">On the go.</div>
      </h1>
    </div>
    <div class="col m2 fixed-right-sidebar">
      <div class="fixed-right-sidebar-content">
        <div class="content-wrapper">
          <h2>
            <div class="line-two">Get Antenna</div>
            <div class="line-one">for your online store</div>
          </h2>
          <p>Antenna is a free engagement tool that lifts your metrics and builds your community.</p>
          <p>It is free to install!  Contact us now for instructions:</p>
          <label>Enter Your Email Address</label>
          <input type="text" name="email"/>
          <label>Enter Your Website URL</label>
          <input type="text" name="website"/>
          <button class="btn btn-large dk-blue">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container row">
    <div class="col s9 m6">
      <h1>Meaningful, mobile-first reviews.</h1>  
      <p><strong>Did you know?</strong>  63% of customers are more likely to make a purchase from a site which has user reviews (negative reviews help, too).  And people who interact with reviews are 105% more likely to purchase.</p>
      <p>Retailers know that engaging with visitors turns them into customers.</p>
      <p>Antenna is the <strong>easiest</strong>, <strong>friendliest</strong> way to engage people visiting your online store.</p>
      <p>Capture insights, contact information, and customers.  Use Antenna to power Single-Tap reviews, feedback, community polls, and more.</p>
    </div>
    <div class="col s3 m3 call-out">
      <div class="card">
          <div class="card-content">
            <h2>18%</h2>
            <label>lift in sales from reviews &amp; other feedback</label>
          </div>
        </div>
        <div class="card-action">
          <em class="citation">Data compiled by <a href="https://econsultancy.com/blog/9366-ecommerce-consumer-reviews-why-you-need-them-and-how-to-use-them#i.nw2g75sjjcyc10" target="_blank">eConsultancy.com</a></em>
        </div>
    </div>
  </div>
</section>

<section class="dark-section mobile-sign-up">
  <div class="container row">
    <div class="col s12 m10">
      <h1>Get Antenna for your site!</h1>
      <p>Antenna is a free engagement tool that lifts your metrics and builds your community.</p>
      <p>It is free to install!  Contact us now for instructions:</p>
      <label>Enter Your Email Address</label>
      <input type="text" name="email"/>
      <label>Enter Your Website URL</label>
      <input type="text" name="website"/>
      <button class="btn btn-large dk-blue">Submit</button>
    </div>
  </div>
</section>

<section class="review-example">
  <div class="container row">
    <div class="col s12 m8">
      <h1>This is a Single-Tap Review:</h1>
      <em>(For this example, look at the top-right of this headphones photo.)</em>
      <style>
      .reviews { position: relative; }
      .review-content { position: absolute; top:1.5rem; right:1.5rem; color: #fff; text-align: center;}
      .review-content .question { font-size:1.5rem; }
      .review-content .answer { font-size:1.5rem; background:rgba(255,255,255,0.35); margin-bottom:3rem; padding:0.5rem; }
      </style>
      <div class="reviews">
        <img src="{{STATIC_URL}}site/images/headphones.jpg" class="no-ant headphones"/>
        <div class="review-content">
          <div class="question" ant-item="sound-review" ant-reactions="Booming!;Beautiful;Like being there;Nothing special;">How's the sound?</div>
          <div class="answer" ant-cta-for="sound-review" ant-mode="write read"><span ant-counter-for="sound-review"></span> Responses</div>
          <div class="question" ant-item="fit-review" ant-reactions="Just right;Snug;Loosey Goosey;Who cares?">How's the fit?</div>
          <div class="answer" ant-cta-for="fit-review" ant-mode="write read"><span ant-counter-for="fit-review"></span> Responses</div>
        </div>
      </div>
      <div class="s12">
          <em>You customize the reactions, the colors, and more!</em>
      </div>

    </div>
  </div>
</section>

<section class="dark-section">
  <div class="container row">
    <div class="col s12 m8">
      <h1>Beautiful and On-Brand</h1>
      <em>Antenna is relevant because it fits <strong>you</strong>. Reactions, colors, placement on the page, and much more are simple to customize.  Here are some real examples from partners.</em>
    </div>
  </div>
  <div class="container row">
    <div class="col s12 m8 center-align examples">
      <img src="{{ STATIC_URL }}site/images/example_default.png" />
      <img src="{{ STATIC_URL }}site/images/example_perez.png" />
      <img src="{{ STATIC_URL }}site/images/example_esplota.png" />
      <img src="{{ STATIC_URL }}site/images/example_dlisted.png" />
      <img src="{{ STATIC_URL }}site/images/example_cheatsheet.png" />
      <img src="{{ STATIC_URL }}site/images/example_bigroundtable.png" />
    </div>
  </div>
  <div class="container row">
    <div class="col s12 m8">
      <h3>View out our gallery of examples, with other exciting &amp; simple ways to customize Antenna:</h3>
      <div class="row gallery-links">
        <div class="col s12 m6">
          <div><a href="/examples/news">News article</a></div>
          <div><a href="/examples/sports">Sports article</a></div>
        </div>
        <div class="col s12 m6">
          <div><a href="/examples/fashion">Fashion magazine</a></div>
          <div>and <a href="/examples/">more</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container row">
    <div class="col s12 m8">
      <h1>All Voices, Your Voice</h1>
      <p>Antenna's grid summarizes both majority &amp; minority views in seconds</p>
      <p>And since you set the default reactions, most feedback uses language you and your community are guaranteed to enjoy and understand.</p>
      <!-- <img src="{{STATIC_URL}}site/images/mobile_first.jpg"/> -->
    </div>
  </div>
</section>

<section class="dark-section mobile-sign-up">
  <div class="container row">
    <div class="col s12 m10">
      <h1>Get Antenna for your site!</h1>
      <p>Antenna is a free engagement tool that lifts your metrics and builds your community.</p>
      <p>It is free to install!  Contact us now for instructions:</p>
      <label>Enter Your Email Address</label>
      <input type="text" name="email"/>
      <label>Enter Your Website URL</label>
      <input type="text" name="website"/>
      <button class="btn btn-large dk-blue">Submit</button>
    </div>
  </div>
</section>

{% endblock %}

{% block page_js %}

<script async src="/static/engage.js"></script>
{% endblock %}
