<style type="text/css">
#sidebar		{padding:20px 0 0 0;}
#sidebar h2		{font-size:46px; font-weight:normal; margin:0 10px;}
#sidebar h3		{font-size:16px; font-weight:100; margin:0 10px; font-family:Arial; color:#5f5f5f;}
#sidebar #avatar			{text-align:center; margin:0 10px;}
#sidebar #follow			{margin:5px 10px 10px;}
#sidebar #follow button		{background:#cde4f3; cursor:pointer; border:1px solid #8bb6d0; border-radius:3px; box-shadow: -1px -9px 11px -5px #559FCB inset;color: #42718E; text-shadow: 1px 1px 1px #CDE4F3; font-size:12px; font-weight:bold;}
#sidebar #social-icons img	{width:20px; height:20px; }
#sidebar #social-icons		{margin:0 10px;}
#sidebar ul[role="filters"]					{list-style-type:none; font-size:13px;}
#sidebar ul[role="filters"] li				{text-align:right; padding:2px 25px 1px 25px; border:1px solid #f0f0f0; border-left:0; border-right:0; cursor:pointer; }
#sidebar ul[role="filters"] li:hover,
#sidebar ul[role="filters"] li.active		{xfont-weight:bold; color:#008be4; background:url("/static/images/site/active_arrow.png") right center no-repeat #e4f0f7; border:1px solid #bababa; border-left:0; border-right:0;}
#sidebar #following,
#sidebar #followed_by	{margin:0 10px 10px;}

#sidebar h2,
#sidebar #avatar,
#sidebar #follow,
#sidebar #following,
#sidebar #followed_by,
#sidebar h3[role="profile_section_header"],
#sidebar h3[role="profile_section_header"]	{display:none;}

html.dailycandy #sidebar h2,
html.dailycandy #sidebar #avatar,
html.dailycandy #sidebar #follow,
html.dailycandy #sidebar #following,
html.dailycandy #sidebar #followed_by,
html.dailycandy #sidebar h3[role="profile_section_header"],
html.dailycandy #sidebar h3[role="profile_section_header"]	{display:block;}

</style>
<div id="avatar">
	<img src="/static/ui-prototype/images/purse.png" />
</div>
<h2>DailyCandy</h2>
<div id="social-icons" style="display:none;">
	<img src="/static/ui-prototype/images/social-icons-loose/social-icon-facebook.png" />
	<img src="/static/ui-prototype/images/social-icons-loose/social-icon-twitter.png" />
	<img src="/static/ui-prototype/images/social-icons-loose/social-icon-tumblr.png" />
	<img src="/static/ui-prototype/images/social-icons-loose/social-icon-linkedin.png" />
</div>
<div id="follow">
	<button>+ Follow DailyCandy</button>
</div>
<h3>Activity</h3>
<ul role="filters" class="activity">
	<li role="all" class="active">All</li>
	<li role="reactions">Reactions</li>
	<li role="shares">Shares</li>
	<!-- only show this line if looking at a user profile and you're that user
	<li role="bookmarks">Bookmarks</li>
	-->
</ul>
<h3 role="profile_section_header">Following (412)</h3>
<div id="following">
	<img src="/static/ui-prototype/images/following.jpg" />
</div>
<h3 role="profile_section_header">Followed By (186)</h3>
<div id="followed_by">
	<img src="/static/ui-prototype/images/followed_by.jpg" />
</div>