{% load static %}
<style type="text/css">
#sidebar		{padding:20px 0 0 0;}
#sidebar h2		{font-size:46px; font-weight:normal; margin:0 10px;}
#sidebar h3		{font-size:16px; font-weight:100; margin:0 10px; font-family:Arial; color:#5f5f5f;}
#sidebar #avatar			{text-align:center; margin:0 10px;}
#sidebar #follow			{margin:5px 10px 10px;}
#sidebar #follow button		{background:#cde4f3; cursor:pointer; border:1px solid #8bb6d0; border-radius:3px; box-shadow: -1px -9px 11px -5px #559FCB inset;color: #42718E; text-shadow: 1px 1px 1px #CDE4F3; font-size:12px; font-weight:bold;}
#sidebar #social-icons img	{width:20px; height:20px; }
#sidebar #social-icons		{margin:0 10px;}
#sidebar ul[role="filters"]					{list-style-type:none; font-size:13px;}
#sidebar ul[role="filters"] li				{text-align:right; padding:2px 25px 1px 25px; border:1px solid #f0f0f0; border-left:0; border-right:0; cursor:pointer; }
#sidebar ul[role="filters"] li:hover,
#sidebar ul[role="filters"] li.active		{xfont-weight:bold; color:#008be4; border:1px solid #bababa; border-left:0; border-right:0;}
#sidebar #following,
#sidebar #followed_by	{margin:0 10px 10px;}

#sidebar #user_data h3 {font-size:30px; font-weight: bold; padding-bottom:10px; padding-left:10px}
#sidebar #user_data img {padding:15px}

#sidebar h2,
#sidebar #avatar,
#sidebar #follow,
#sidebar #following,
#sidebar #followed_by,
#sidebar h3[role="profile_section_header"]

html.dailycandy #sidebar h2,
html.dailycandy #sidebar #avatar,
html.dailycandy #sidebar #follow,
html.dailycandy #sidebar #following,
html.dailycandy #sidebar #followed_by,
html.dailycandy #sidebar h3[role="profile_section_header"],
html.dailycandy #sidebar h3[role="profile_section_header"]	{display:block;}

</style>
{% if group %}
<div id="avatar">
	<img src="{% get_static_prefix %}{{ group.logo_url_lg }}" />
</div>
{% endif %}
{% if profile_user %}
  <div id="user_data">
    <img src="{{ profile_user.social_user.img_url }}?type=large">
    <h3>{{ profile_user.social_user.full_name }}</h3>
    {% if cookie_user.id = profile_user.id %}
      <label for="private_profile">
        <input type="checkbox" id="private_profile" {% if user.social_user.private_profile %}checked="checked"{% endif %} /> 
        Profile is only visible to me
      </label>
    {% endif %}
    <script type="text/javascript">
    	$('#private_profile').click( function() {
    		$('label[for="private_profile"] span').remove();
    		var sendData = {
    			user_id:RDRAuth.rdr_user.user_id, 
    			readr_token:RDRAuth.rdr_user.readr_token,
    			group_id:1
    		};
  		$.ajax({
  		    url: "/api/privacy/toggle/",
  		    type: "get",
  		    data: {
              	json: JSON.stringify(sendData)
              },
  		    success: function(response) {
  		        $('label[for="private_profile"]').append('<span>Saved</span>');
  		    }
  		});
    	});
    </script>
  </div>
{% endif %}
<h4>Activity</h4>
<ul role="filters" class="activity">
	<li role="all">
	  {% if user %}
	    <a href="/user/{{ user.id }}">
	  {% endif %}
	  All Reactions</a></li>
	<li role="bookmarks"><a href="/user/{{ user.id }}/bookmarks/">Bookmarks</a></li>
	<li role="comments"><a href="/user/{{ user.id }}/comments/">Comments</a></li>
	<li role="shares"><a href="/user/{{ user.id }}/shares/">Shares</a></li>
	<!-- only show this line if looking at a user profile and you're that user
	<li role="bookmarks">Bookmarks</li>
	-->
</ul>
