{% extends "index.html" %}
{% block extendedHead %}
{% regroup current_page.object_list by page as pi %}

{% for page in pi %}
    {% for interaction in page.list %}
        {% if interaction.kind == 'tag' %}
  <meta property="og:title"       content="{{interaction.interaction_node.body|escapejs }}" itemprop="name" />
  <meta property="og:type"        content="article"/>
  <meta property="og:url"         content="http://www.antenna.is/interaction/{{ interaction.id }}/"/>
  <meta property="og:image"       content="http://s3.amazonaws.com/readrboard/images/site/periodic_logo.png" itemprop="image" />
  <meta property="og:site_name"   content="Antenna" itemprop="publisher" />
  <meta property="og:description" content="{{interaction.interaction_node.body|escapejs }} &raquo; {{ interaction.content.body|escapejs }}" />
        {% endif %}
    {% endfor %}
{% endfor %}

{% endblock %}

{% block cards %}

    <div class="singleReactionHeader" style="text-align:center;">
        <a class="btn view-at-site" style="margin:10px auto;font-size:21px;padding:10px;">View this at the original site</a>
        <div class="clear"></div>
    </div>

    
    {% include "interactions.html" %}
    <div class="seeAllReactionsButtonWrap">
        <a href="/">See more Reactions on Antenna</a>
    </div>

    <script>
        $('#content').hover(
            function(){
                $('#seeItLink').addClass('hover');
            },
            function(){
                $('#seeItLink').removeClass('hover');
            }
        );

    </script>
{% endblock cards %}    

{% block hasFixedBar %}{%endblock%}
{% block fixedBar %}{%endblock%}