{% extends "base.html" %}

{% block sidebarContent %}
<div id="sidebar">
</div>
{% endblock sidebarContent %}

{% block mainContent %}
  <h1>ReadrBoard User Modify</h1>
  {% if requested %}
    {% if not_logged_in %}
        <h3>You must be logged in to  modify your profile.</h3>
    <a href = "/">Home</a>
    {% else %}
    <h3>Thanks!</h3>
    <a href = "/">Home</a>
    {% endif %}
  {% else %}
    <form action="/user_modify/" enctype="multipart/form-data" method="post" class="in-page">
    {% csrf_token %}
  
    {{ form.non_field_errors }}

  	<div>
  		<label for="id_username">Profile Name</label>
  		{{ form.username }}{{ form.username.errors }}
  	</div>
  	<div>
    	<label for="id_avatar">Avatar Image </label>
    	{{ form.avatar }}{{ form.avatar.errors }}
  	</div>
  	<div>
      {{ form.user_token }} {{ form.user_token.errors }}
    </div>
    <div>
      {{ form.uid }} {{ form.uid.errors }}
    </div>

    <button type="submit">Submit</button>
    </form>
  {% endif %}
{% endblock mainContent %}

{% block pageJS %}
{% endblock %}