{% extends "base.html" %}

{% block title %}ReadrBoard{%endblock%}
{% block extendedHead %}
<link rel="stylesheet" href="{{ STATIC_URL }}site/css/splash.css?v={{ timestamp|date:"U" }}">
<link rel="canonical" href="{% if debug %}http://local.readrboard.com:8080/{% else %}http://www.readrboard.com/{% endif %}">
<meta name="google-site-verification" content="pWVfDSLL5X9Fs9agM5UiL2BHDDcxJtN46MgM2YkJXyg" />
{%endblock%}

{% block bodyClass %}wide{% endblock %}

{% block mainContent %}
    <div id="splashAnnounce">

        <div id="betterLikeButton" >
            <img src="{{ STATIC_URL }}site/images/imagine.png" title="Imagine a better Like button" id="imagine" />
            <div id="sns_buttons">
                <div style="display:block;"><img src="{{ STATIC_URL }}site/images/like_button.png" alt="Like" id="sns_fb" class="no-rdr" /></div>
                <div style="display:none;"><img src="{{ STATIC_URL }}site/images/plus_one_button.png" alt="+1" id="sns_google" class="no-rdr"/></div>
                <div style="display:none;"><img src="{{ STATIC_URL }}site/images/tweet_button.png" alt="Tweet" id="sns_twitter" class="no-rdr"/></div>
            </div>
            <!-- <img src="{{ STATIC_URL }}site/images/summary_bar.png" style="zoom:1;"/> -->
        </div>


        <div class="theSpitch">
            <h3 class="no-rdr"><span>ReadrBoard lets you easily express your reaction</span><br>about any phrase, picture, video, or article on the web.</h3>
            <!-- <div class="callToActionButtons">
                <a href="/react/" class="btn left"><span class="rdrIcon"></span>Get the Reaction Button</a>
                <a class="btn right" href="/">See Reactions</a>
                <div class="clear"></div>
            </div> -->
        </div>
    </div>
    <div id="splashBlurbs">
    	<div id="readers" class="blurb blurb-for-readers selected">
            <h1 class="sectionBanner">Why you'll love ReadrBoard</h1>
    		<div class="leftSide">
                <h3 style="color: #aaa; font-style: italic; top: -5px; position: relative;">ReadrBoard lets you:
                    <!-- <em style="display:block;font-family:Arial;font-size:16px;font-weight:normal;color:#666;">on sites using ReadrBoard</em> -->
                </h3>
                <ul class="bullet-points">
                    <li>
                        <h3>React</h3>
                        <span>Express your reaction to any phrase, picture, video, or article on the web.</span> 
                        <a style="font-style:italic; font-size:14px;font-weight:normal;display: block;" href="/react/">Get started with the Reaction Button.</a>
                    </li>
                    <li>
                        <h3>Share</h3>
                        <span>Share interesting content with your favorite social networks - in one click.</span>
                    </li>
                    <li>
                        <h3>Discover</h3>
                        <span>Find readers who share your interests and see what's catching their attention.</span>
                    </li>
                    <!-- <li>
                        <h3>Bookmark</h3>
                        <span>Save favorite parts of a page in your private bookmark list.</span>
                    </li> -->
                    <li>
                        <h3>Follow Your Favorites</h3>
                        <span>Every reader and publisher has a <a href="http://www.readrboard.com/user/11/" target="_blank">profile</a> to showcase their reactions.  Follow your favorites to discover inspiring content.</span>
                        <span style="font-size:14px;font-weight:normal;display: block; color: #aaa;">(Shy folks can make their profile private)</span>
                    </li>

                </ul>
            </div>
            <div class="rightSide video">
    			<!-- <h3 class="sectionHeader">See it in action</h3> -->
                <iframe src="http://player.vimeo.com/video/44853134" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

                <div class="clearDiv"></div>
            </div>
            <div class="clearDiv"></div>
        </div>
        <div id="publishers" class="blurb blurb-for-publishers">
            <h1 class="sectionBanner">Why Publishers love ReadrBoard</h1>
            
            <div class="splashQuoteSection">
                <h4>Testimonials from our Partner Publishers</h4>
                <div class="splashQuotes">
                    <div class="splashQuote">
                        <div class="splashQuoteLogo">
                            <a href="http://hypervocal.com" target="_blank"><img src="{{ STATIC_URL }}global/group/logos/hypervocal-logo.png" title="HyperVocal logo" /></a>
                        </div>
                        <div>
                            <em>"ReadrBoard combines the easy clickability of the "Like" button with the community feature of a comment section.  It is becoming an invaluable tool for keeping our readers engaged."</em>
                            <div>
                                <span class="attribution">
                                    Lee Brenner &amp; Slade Sohmer, <a href="http://hypervocal.com/" target="_blank">HyperVocal</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="splashQuote">
                        <div class="splashQuoteLogo racialiciousLogo">
                            <a href="http://www.racialicious.com/" target="_blank"><img src="{{ STATIC_URL }}site/images/logo_racialicious.png" title="Racialicious logo" /></a>
                        </div>
                        <div>
                            <em>"ReadrBoard has allowed a whole new level of engagement for my readers, and allowed us to plot the impact of our posts in a completely new way."</em>
                            <span class="attribution">
                                Latoya Peterson, <a href="http://www.racialicious.com/" target="_blank">Racialicious</a>
                            </span>
                        </div>
                    </div>
                    <div class="clearDiv"></div>

                <div class="publisherSignupCallToAction">
                        <a class="btn" href="http://porterbayne.wufoo.com/forms/m7x3k1/" onclick="window.open(this.href,  null, 'height=510, width=775, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="Tell me more about ReadrBoard!!">Get ReadrBoard on your site for free</a>
                    </div>
                </div>
            </div>

            <div class="leftSide wide">
                <a target="_blank" href="{{STATIC_URL}}site/images/demo-analytics-mockup.jpg" title="Demo Publisher Analytics for Readrboard" >
                    <img src="{{STATIC_URL}}site/images/demo-analytics-mockup-sm.jpg" alt="Demo Publisher Analytics" id="analytics_screenshot"/>
                </a>
            </div>
    		<div class="rightSide narrow">
    			<ul class="bullet-points">
    				<li>
    					<h3>Increase engagement 100%</h3>
    					<span>Readers use ReadrBoard <strong>at least as much as comments</strong>.  This means:</span>
    					<div class="test">
    						<ul class="sub-bullets">
    							<li>
    								<span>Better quality interactions with your content</span>
    							</li>
    							<li>
    								<span>Increased shared links</span>
    							</li>
    							<li>
    								<span>Longer site visits</span>
    							</li>
    						</ul>
    					</div>
    				</li>
    				<li>
    					<h3>Know your readers</h3>
    					<span>Better understand your community's tastes, sentiments, and interests.</span>
    				</li>
    				<li>
    					<h3>All-new analytics</h3>
    					<span>Deeply understand why certain content drives interest &amp; engagement. (See the screenshot to the left.)</span>
    				</li>
    				<li>
    					<h3>Simple moderation</h3>
    					<span>Should something inappropriate show up, you can block it in one click.</span>
    				</li>
                    <li>
                        <h3>Add to any page on your site</h3>
                        <span>Add just one line of Javascript to your site to enable all-new levels of engagement with your content.</span>
                    </li>
    			</ul>
    		</div>
    		<div class="clearDiv"></div>
    	</div>
    	
        <div id="team" class="blurb blurb-about-the-team">
            <h1 class="sectionBanner">Meet the Team</h1>
            <a href="/team/" class="teamThumbnails">
                <ul>
                    <li>
                        <img src="{{BASE_URL}}{{STATIC_URL}}site/images/about/bayne.jpg" />
                    </li>                
                    <li>
                        <img src="{{BASE_URL}}{{STATIC_URL}}site/images/about/chaves.jpg" />
                    </li>                
                    <li>
                        <img src="{{BASE_URL}}{{STATIC_URL}}site/images/about/shaw.jpg" />
                    </li>
                </ul>
            </a>
            <div class="clearDiv"></div>
            <span>Hi, we're ReadrBoard. </span>
            <a href="/team/" >Meet the team.</a>
        </div>

    	<div class="partnerLogoSection">
    		<h3>Try ReadrBoard live on our Partners' websites</h3>
    		<div>
    			<ul class="partnerLogos">
    				<li>
    					<a href="http://hypervocal.com/" target="_blank">
    						<img class="greyscaleImg" src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/hypervocal-logo-lg.png" alt="hypervocal logo" />
    						<img class="colorImg" style="display:none;" src="{{BASE_URL}}{{STATIC_URL}}global/group/logos/hypervocal-logo-lg.png" alt="hypervocal logo" />
    					</a>
    				</li>
    				<li>
    					<a href="http://www.racialicious.com/" target="_blank">
    						<img class="greyscaleImg wideImg" src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/racialicious-logo-for-splash.png" alt="racialicious logo" />
    						<img class="colorImg wideImg" style="display:none;" src="{{BASE_URL}}{{STATIC_URL}}global/group/logos/racialicious-logo-for-splash.png" alt="racialicious logo" />
    					</a>
    				</li>
    				{% comment %}
    				<li>
    					<a href="http://www.fathomaway.com/" target="_blank">
    						<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/fathom-logo-lg.png" alt="fathom logo" />
    					</a>
    				</li>
    				<li>
    					<a href="http://www.reuters.com/" target="_blank">
    						<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/reuters-logo-lg.png" alt="reuters logo" />
    					</a>
    				</li>
    				<li>
    					<a href="http://www.dailycandy.com/" target="_blank">
    						<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/dailycandy-logo-lg.png" alt="dailycandy logo" />
    					</a>
    				</li>
    				<li>
    					<a href="http://www.foodnetwork.co.uk/" target="_blank">
    						<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/foodnetwork_uk-logo-lg.png" alt="foodnetwork logo" />
    					</a>
    				</li>
    				<li>
    					<a href="http://www.nearlyweds.com/" target="_blank">
    						<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/nearlyweds-logo-lg.png" alt="nearlyweds logo" />
    					</a>
    				</li>
    				<li>
    					<a href="http://www.onewed.com/" target="_blank">
    						<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/onewed-logo-lg.png" alt="onewed logo" />
    					</a>
    				</li>
    				<li>
    					<a href="http://www.politico.com/" target="_blank">
    						<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/politico-logo-lg.png" alt="politico logo" />
    					</a>
    				</li>
    				<li>
    					<a href="http://www.themarknews.com/" target="_blank">
    						<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/themark-logo-lg.png" alt="themarknews logo" />
    					</a>
    				</li>
    				{% endcomment %}
    			</ul>
    			<div class="moreLogos">
    				More launching soon...
    			</div>
    			<div class="clearDiv"></div>
    		</div>
    	</div>
    </div>
{% endblock %}


{% block pageJS %}
<script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.cycle/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}site/js/splash.js"></script>
{% endblock %}
<!-- widget for slideshow -->