{% extends "base.html" %}

{% block title %}Readrboard{%endblock%}

{% block bodyClass %}wide{% endblock %}

{% block mainContent %}

<style>

body{
}

body.wide section[role="main"] {
    width: 900px;
}
body section[role="controls"]{
	border:none;	
}
body.wide section[role="content"]{
	width: 900px;
	background:none;
}
section[role="wide panels"]{
	width:auto;
	padding: 0 6%;
}
section.introBlurb{
	margin:30px 0 40px 0 !important;
}
.introBlurb .readrboard_logo{
	float:left;
	padding-right:8px;
	margin-top:4px;
}
.introBlurb h3{
	border:none !important;
}
.footerLinks{
	padding-bottom:20px;
}
.footerLinks ul{
	margin-left:10px;
	font-size:0.8em;
}
</style>


<style>
ul.partner-logos{
	
}
ul.partner-logos li{
	list-style:none;
}
ul.partner-logos li img{
	width:100px;
	float:left;
	padding:10px;
}
.video-wrap{
    clear: both;
    float: left;
}
.blurb{
	width:100%;
	clear:both;
	padding:10px 20px;
}
.blurb .bullet-points{
	list-style:none;
}
.blurb .bullet-points h4{
	float:left;
}
.blurb .bullet-points span{
	float:left;
	padding:0 5px;
}
</style>

<section role="analytics header">
	<section role="controls">
		About Readrboard
	</section>
</section>

<div class="main-section">
	<div class="introBlurb">
		<a href="{{BASE_URL}}">
			<img class="readrboard_logo" src="{{BASE_URL}}{{STATIC_URL}}site/images/logo.png" />
		</a>
		<h3>A reaction button for the web.</h3>
		<p>
			something here...
		</p>
		<ul class="partner-logos">
			<li>
				<a href="http://www.fathomaway.com/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/fathom-logo-lg.png" alt="fathom logo" />
				</a>
			</li>
			<li>
				<a href="http://www.reuters.com/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/reuters-logo-lg.png" alt="reuters logo" />
				</a>
			</li>
			<li>
				<a href="http://www.dailycandy.com/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/dailycandy-logo-lg.png" alt="dailycandy logo" />
				</a>
			</li>
			<li>
				<a href="http://www.foodnetwork.co.uk/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/foodnetwork_uk-logo-lg.png" alt="foodnetwork logo" />
				</a>
			</li>
			<li>
				<a href="http://hypervocal.com/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/hypervocal-logo-lg.png" alt="hypervocal logo" />
				</a>
			</li>
			<li>
				<a href="http://www.nearlyweds.com/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/nearlyweds-logo-lg.png" alt="nearlyweds logo" />
				</a>
			</li>
			<li>
				<a href="http://www.onewed.com/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/onewed-logo-lg.png" alt="onewed logo" />
				</a>
			</li>
			<li>
				<a href="http://www.politico.com/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/politico-logo-lg.png" alt="politico logo" />
				</a>
			</li>
			<li>
				<a href="http://www.racialicious.com/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/racialicious-logo-lg.png" alt="racialicious logo" />
				</a>
			</li>
			<li>
				<a href="http://www.themarknews.com/" target="_blank">
					<img src="{{BASE_URL}}{{STATIC_URL}}global/group/logos-greyscale/themark-logo-lg.png" alt="themarknews logo" />
				</a>
			</li>
		</ul>
	</div>
	<div class="video-wrap">
		<iframe class="rdr_video" src="http://player.vimeo.com/video/21956758?title=0&amp;byline=0&amp;portrait=0" width="400" height="250" frameborder="0" style="border:8px solid #ddd;">
		</iframe>
	</div>

	<div class="blurb blurb-for-readers">
		<h2>
			For Readers
		</h2>
		<ul class="bullet-points">
			<li>
				Say what you really feel.
			</li>
		</ul>
		<div style="clear:both;"></div>
	</div>

	<div class="blurb blurb-for-publishers">
		<h2>
			For Publishers
		</h2>
		<ul class="bullet-points">
			<li>
				<h4>React</h4>
				<span>Quickly see exactly what your readers are really thinking.</span>
			</li>
		</ul>
		<div style="clear:both;"></div>
	</div>

	<div class="footerLinks">
		<ul>
			<li>
				<span>Try Readrboard on our <a href="{{BASE_URL}}{{STATIC_URL}}demo/index.html" >demo page</a>.</span>
			</li>
			<li>
				<span>See what people are <a href="{{BASE_URL}}" >saying on Readrboard</a>.</span>
			</li>
		</ul>
	</div>
</div>
{% endblock %}