{% extends "base.html" %}

{% block bodyClass %}wide{% endblock %}

{% block mainContent %}
  <h1>Create User Account</h1>
  <div class="container">
  {% if requested %}
    <h3>Thanks!</h3>
    <a href = "/">Home</a>
  {% else %}
    <form action="/user_create/" enctype="multipart/form-data" method="post" class="in-page">
    {% csrf_token %}
  
    {{ form.non_field_errors }}

  	<div>
  		<label for="id_username">User Name </label>
  		{{ form.username.errors }}{{ form.username }}
  	</div>
  	<div>
    	<label for="id_email">Email </label>
    	{{ form.email.errors }}{{ form.email }}
  	</div>
  	<div>
  	  <label for="id_password1">Password</label>
  	  {{ form.password1.errors }}{{ form.password1 }}
  	</div>
  	<div>
      <label for="id_password2">Confirm Password</label>
      {{ form.password2.errors }}{{ form.password2 }}
    </div>
    <button type="submit">Submit</button>
    </form>
  {% endif %}
{% endblock mainContent %}

{% block pageJS %}
{% endblock %}