/*
body{
    background: #999;
}
*/
.rdr * {
    /*temp reset*/
    margin:0;
    padding:0;
}
#rdr_sandbox{
    /*temp reset*/
    position:absolute;
    margin:0;
    padding:0;
    top:0;
    left:0;
}

#rdr_sandbox a div.rdr       {text-decoration:none;}
#rdr_sandbox div.rdr {
    font:normal 12px Arial, sans-serif;
    /* need to add a css reset here */
}

#rdr_sandbox div.rdr.rdr_window {
    padding:0px;
    position:absolute;
    z-index:12000;
    top:100px;
    left:100px;
    background:#fff;
    overflow:hidden;
}

#rdr_sandbox div.rdr.rdr_window.rdr_columns {
    background:url({{ STATIC_URL }}widget/images/rindow_bg_column.png);
}

/* the action bar */
#rdr_sandbox div.rdr_actionbar {
    background:url("{{ STATIC_URL }}widget/images/actionbar_bg.png") no-repeat 0 0;
    padding:0;
    font:normal 12px Arial, sans-serif;
    position:relative;
    z-index:11000;
    background:#fff;
    height:22px;
}

#rdr_sandbox div.rdr_actionbar ul {
    margin:0;
    float: left; /*do this for the rdr_indicator_for_image*/
}
#rdr_sandbox div.rdr_actionbar li {
    display:inline-block;
    position:relative;
    list-style: none !important;
    background: none
    padding: 0 !important;
}

#rdr_sandbox div.rdr_actionbar li a {
    background:url("{{ STATIC_URL }}widget/images/actionbar_icons.png") no-repeat 0 0 transparent;
    display:block;
    height:22px;
    width:22px;
    text-indent:-9999px;
    float:left;
}

/*div.rdr_actionbar li.rdr_icon_about a         { background-position: 0 0; }*/ /*overwritten below to compress width*/
#rdr_sandbox div.rdr_actionbar li.rdr_icon_reaction a        { background-position:-4px -5px; }
#rdr_sandbox div.rdr_actionbar li.rdr_icon_bookmark a        { background-position:-61px -4px; }


#rdr_sandbox div.rdr_actionbar li:hover                     { 
    background: #CCE6FF !important;
}
#rdr_sandbox div.rdr_actionbar li.rdr_actionbar_first     { 
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
}
#rdr_sandbox div.rdr_actionbar li.rdr_actionbar_last    { 
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
}

/*override the above if it's an actionbar for images*/
#rdr_sandbox div.rdr_actionbar_for_image { 
    /*match rdr_engage_img hilite*/
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
    -moz-box-shadow:0 0 10px 1px #008be4 !important;
    -webkit-box-shadow:0 0 10px 1px #008be4 !important;
    box-shadow:0 0 10px 1px #008be4 !important;
    border: 1px solid #bbb;
    height: auto;
}
#rdr_sandbox div.rdr_actionbar_for_image li { 
    display:block !important;
    float:left !important;
    clear:both !important;
}
#rdr_sandbox div.rdr_actionbar_for_image li.rdr_actionbar_first     { 
    -moz-border-radius:0 5px 0 0;
    -webkit-border-radius:0 5px 0 0;
    border-radius:0 5px 0 0;
}
#rdr_sandbox div.rdr_actionbar_for_image li.rdr_actionbar_last    { 
    -moz-border-radius:0 0 5px 0;
    -webkit-border-radius:0 0 5px 0;
    border-radius:0 0 5px 0;
}


#rdr_sandbox div.rdr_actionbar span.rdr_icon_divider         { width:1px; background:#BBB; height:70%; position:absolute; top:15%; right:0; display:none;/*show dynamically*/}

/* the tooltip */
#rdr_sandbox div.rdr.rdr_tooltip {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 5px #888888;
    -webkit-box-shadow:0 0 5px #888888;
    box-shadow:0 0 5px #888888;
    background-color:#fff;
    border:2px solid #80aec9;
    margin:0 0 0 13px;/* 0.5 icon width with compensation for border*/
    padding:5px 0;
    position:absolute;
    text-align:center;
    left:-55px; /*0.5 tooltip width*/
    top:-36px;
    width:100px;
    z-index:10000;
}
#rdr_sandbox div.rdr.rdr_tooltip-arrow-border { border-color:#80aec9 transparent transparent transparent; border-style:solid; border-width:7px; height:0; width:0; position:absolute; bottom:-16px; left:43%;}
#rdr_sandbox div.rdr.rdr_tooltip-arrow { border-color:#fff transparent transparent transparent; border-style:solid; border-width:7px; height:0; width:0; position:absolute; bottom:-14px; left:43%;}

#rdr_sandbox div.rdr_top div.rdr.rdr_tooltip-arrow-border { border-color:transparent transparent #80aec9; border-style:solid; border-width:7px; height:0; width:0; position:absolute; top:-16px; bottom:auto; left:43%;}
#rdr_sandbox div.rdr_top div.rdr.rdr_tooltip-arrow { border-color:transparent transparent #fff; border-style:solid; border-width:7px; height:0; width:0; position:absolute; top:-14px; bottom:auto; left:43%;}

#rdr_sandbox div.rdr.rdr_tooltip div.rdr_tag_share    { display:block; width:12px; height:13px; background:url({{ STATIC_URL }}widget/images/tag_icons.png) -50px -13px no-repeat; left:45px; position:absolute;top:-20px; 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

#rdr_sandbox div.rdr.rdr_share_container                     {position:absolute;height:50px;width:20px;z-index:13000;}
#rdr_sandbox div.rdr.rdr_share_container div.rdr.rdr_tooltip {left:-58px;top:20px; }
#rdr_sandbox div.rdr.rdr_share_container div.rdr.rdr_tooltip .rdr_tooltip-content {font-size:11px; color:#787878; }
#rdr_sandbox div.rdr.rdr_share_container div.rdr.rdr_tooltip img.rdr_sns {width:16px;margin:2px 5px 0 0; cursor:pointer;}

/*span.rdr_tag_share div.rdr_tooltip            { display:none; }*/
#rdr_sandbox div.rdr_tag_share:hover div.rdr_tooltip     { display:block; }

/*compress ths about icon width*/
#rdr_sandbox div.rdr_actionbar li.rdr_icon_about             { width:24px; } /*normal width is 30px */
#rdr_sandbox div.rdr_actionbar li.rdr_icon_about a           { background-position: -3px 0; width:24px;} /*from line above:(30-24)/2 = 3px left*/
#rdr_sandbox .rdr_tooltip_about                                  { margin:0 0 0 11px;/* 0.5 icon width*/ }

/* global tag defs */
#rdr_sandbox div.rdr h1, 
#rdr_sandbox div.rdr h2  {font-family:ReadrLeague,"Helvetica Neue",Arial,Helvetica,sans-serif; color:#666; margin:0; line-height:1.1em !important;}
#rdr_sandbox div.rdr h1  {font-size:21px; cursor:move; padding:3px 9px; font-weight:100;}
#rdr_sandbox div.rdr h1 span {font-size:18px; color:#008be4;}

#rdr_sandbox div.rdr li {background:none; padding:0;}

/* the widget */
#rdr_sandbox div.rdr div.rdr_sentimentBox                            {}
#rdr_sandbox div.rdr div.rdr_sntPnl                                  {float:left; position:relative; display:block; height:100%; overflow:hidden; /*width is reset with js - rindow.settings.pnlWidth */ }

#rdr_sandbox div.rdr div.rdr_sntPnl div.rdr_body                     {width:100%; xheight:100%; z-index:3; overflow-x:hidden; overflow-y:hidden; padding:0; position:relative; min-height:125px;}
#rdr_sandbox div.rdr div.rdr_sntPnl div.rdr_header                   {background:#fff; position:relative; height:35px; /*var rdr_headerHeight*/ width:100%; z-index:3; }
#rdr_sandbox div.rdr div.rdr_sntPnl.rdr_reactionPanel div.rdr_header > div.rdr_icon    {background: url("{{ STATIC_URL }}widget/images/readr_icons.png") repeat scroll 0 0 transparent;float: left; height: 16px; margin: 8px 0 0 5px; width: 16px;}
#rdr_sandbox div.rdr div.rdr_sntPnl.rdr_contentPanel div.rdr_header,
#rdr_sandbox div.rdr div.rdr_sntPnl.rdr_whyPanel div.rdr_header      {background:url({{ STATIC_URL }}widget/images/header_arrow.png) 0px -1px no-repeat #fff;}
#rdr_sandbox div.rdr div.rdr_sntPnl div.rdr_header > div.rdr_headerInnerWrap {background:none; border-bottom:1px solid #bababa; bottom:0; padding-bottom:3px; text-align:center; width:100%; position:absolute; }
#rdr_sandbox div.rdr div.rdr_sntPnl h1                               {padding:0 !important; }
#rdr_sandbox div.rdr div.rdr_sntPnl .rdr_pnlShadow                   {height:100%; width:16px; position:absolute; z-index:5; -moz-box-shadow:20px 0px 20px -23px #aaa inset;-webkit-box-shadow:20px 0px 20px -23px #aaa inset;box-shadow:20px 0px 20px -23px #aaa inset; display:none;}
#rdr_sandbox div.rdr .rdr_leftShadow .rdr_selected .rdr_content.rdr_leftShadow,
#rdr_sandbox div.rdr .rdr_leftShadow {-moz-box-shadow:20px 0px 20px -23px #aaa inset;-webkit-box-shadow:20px 0px 20px -23px #aaa inset;box-shadow:20px 0px 20px -23px #aaa inset; }
#rdr_sandbox div.rdr .rdr_leftShadow .rdr_content.rdr_leftShadow {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none; }

/*
#rdr_sandbox div.rdr div.rdr_selectedTextPanel div.rdr_body div.rdr_selected     {font-family:Georgia; font-size:14px; padding:7px; background:#f2cfcf; display:block; position:relative; }
#rdr_sandbox div.rdr div.rdr_selectedTextPanel               {position:relative; z-index:30;}
#rdr_sandbox div.rdr div.rdr_selectedTextPanel div.rdr_body  {background:#f0f0f0; -moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
*/

#rdr_sandbox div.rdr div.rdr_reactionPanel                           {position:relative; z-index:20; width:200px; }
#rdr_sandbox div.rdr div.rdr_reactionPanel div.rdr_body              {max-height:300px;}
#rdr_sandbox div.rdr div.rdr_reactionPanel div.rdr_body .jspPane,
#rdr_sandbox div.rdr div.rdr_contentPanel div.rdr_body .jspPane      {width:200px !important; margin: 0 !important;}
#rdr_sandbox div.rdr div.rdr_whyPanel div.rdr_body .jspPane      {width:250px !important; margin: 0 !important;}
#rdr_sandbox div.rdr div.rdr_new div.rdr_reactionPanel div.rdr_body  {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none; background:url({{ STATIC_URL }}widget/images/rindow_bg_column.png);}

#rdr_sandbox div.rdr div.rdr_contentPanel                            {position:absolute; z-index:15; left:200px; width:200px; background:url({{ STATIC_URL }}widget/images/rindow_bg_column.png) repeat -650px 0;}
#rdr_sandbox div.rdr div.rdr_contentPanel div.rdr_body               {width:200px; max-height:300px; }

#rdr_sandbox div.rdr div.rdr_whyPanel                                {position:absolute; z-index:10; right:0; width:250px; background:url({{ STATIC_URL }}widget/images/rindow_bg_column.png) -200px 0; visibility:hidden;}
#rdr_sandbox div.rdr.rdr_columns3 div.rdr_whyPanel                   {background-position:-850px 0;}
#rdr_sandbox div.rdr div.rdr_whyPanel div.rdr_body                   {width:250px; max-height:300px; }
#rdr_sandbox div.rdr div.rdr_whyPanel hr                             {background: #ddd; border: none; clear: both; color: #ddd; float: none; height: 1px; margin: 10px 0; }

#rdr_sandbox div.rdr div.rdr_sntPnl div.rdr_subHeader        {text-align:center; padding-top:5px;}
#rdr_sandbox div.rdr div.rdr_sntPnl_padder                   {margin:0 15px; position:relative; overflow:hidden;}
#rdr_sandbox div.rdr div.rdr_sntPnl textarea,
#rdr_sandbox div.rdr div.rdr_sntPnl input[type="text"]   {padding:2px 6px; width:92%; } /*reset with js to ensure it matches the padding. (dont know why % doesn't work in the padding for inputs) */
#rdr_sandbox div.rdr div.rdr_sntPnl button               {
    border:1px solid #aaa; 
    -moz-border-radius:3px 3px 3px 3px; 
    -webkit-border-radius:3px 3px 3px 3px; 
    border-radius:3px 3px 3px 3px; 
    -moz-box-shadow:0 -6px 11px -6px #ccc inset; -webkit-box-shadow:0 -6px 11px -6px #ccc inset; box-shadow:0 -6px 11px -6px #ccc inset; color:#454545; font-family:Arial; font-size:12px; padding:2px 5px; width:auto; cursor:pointer; float:right;margin-right:6px;margin-bottom:10px;}
#rdr_sandbox div.rdr div.rdr_sntPnl_padder > div                 {margin:4px 0;}
#rdr_sandbox div.rdr div.rdr_share_social                        {border-bottom:1px solid #aaa;}
#rdr_sandbox div.rdr div.rdr_sntPnl .rdr_submitTag           {width:100%; text-align:right;}
#rdr_sandbox div.rdr div.rdr_sntPnl .rdr_submitTag button    {}
#rdr_sandbox div.rdr div.rdr_sntPnl .rdr_commentButton       {width:100%;}
#rdr_sandbox div.rdr div.rdr_sntPnl .leaveComment            {height:67px; margin-top:5px; max-width:92%;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;}
#rdr_sandbox div.rdr div.rdr_sntPnl .rdr_tagFeedback         {background: none repeat scroll 0 0 #ddd; border: 1px solid #bbb; margin: 5px 10px 0; padding: 5px;}
#rdr_sandbox div.rdr div.rdr_sntPnl .rdr_tagFeedback strong  {font-weight:bold; color:#008be4;}

#rdr_sandbox div.rdr div.rdr_tempUserMsg                     {position:absolute; z-index:50; bottom:0px; height:27px; border-top:1px solid #aaa;background:#fff; padding:9px; -moz-box-shadow:0px -45px 48px -50px #53aed9 inset; -webkit-box-shadow:0px -45px 48px -50px #53aed9 inset; box-shadow:0px -45px 48px -50px #53aed9 inset;}
/*
$('div.rdr_tempUserMsg').animate({bottom:'-48px'});
*/

#rdr_sandbox div.rdr .rdr_tags           {padding:0 0 10px !important;}
#rdr_sandbox div.rdr ul.rdr_tags         {list-style-type:none !important; padding:0 !important; margin:0 !important; }
#rdr_sandbox div.rdr ul.rdr_tags li                  { border-color: transparent !important; border-style: solid !important; border-width: 1px 0 !important; padding:5px 0 !important; margin:0 !important; position:relative !important; overflow:auto !important; background:none !important; text-align:left !important;}

#rdr_sandbox div.rdr ul.rdr_tags li:hover,
#rdr_sandbox div.rdr ul.rdr_tags li.rdr_hover, /* safari/chrome kludge -- :hover isn't working here */
#rdr_sandbox div.rdr ul.rdr_tags li.rdr_selected     {color:#008be4 !important; background:#e4f0f7 !important; display:block !important; border-color: #bbb transparent #ddd !important; cursor: pointer !important;}

#rdr_sandbox div.rdr ul.rdr_tags li .rdr_leftBox     {width:38px; letter-spacing:1px; overflow:hidden; float:left; text-align:center; font-size:21px !important;  font-family:ReadrLeague, Arial, sans-serif !important; font-weight:normal !important; padding-top:2px; height:28px;}

#rdr_sandbox div.rdr ul.rdr_tags li .rdr_rightBox     {width:30px; padding:0 3px; height:30px; overflow:hidden; float:right; text-align:left;}

/*overwrite for image readmode version*/
div.rdr .rdr_image_reactions .rdr_read .rdr_rightBox {background: none !important;}

#rdr_sandbox div.rdr ul.rdr_tags li.rdr_has_comment .rdr_rightBox     {background:url({{ STATIC_URL }}widget/images/widget_icons.png) -107px -4px no-repeat;}
#rdr_sandbox div.rdr div.rdr_read ul.rdr_tags li .rdr_leftBox     {color:#008be4;}

#rdr_sandbox div.rdr ul.rdr_tags li:hover .rdr_leftBox,
#rdr_sandbox div.rdr ul.rdr_tags li.rdr_tagged div.rdr_leftBox   {background:url({{ STATIC_URL }}widget/images/widget_icons.png) 0px 0px no-repeat; }

/*clear for readmode*/
#rdr_sandbox div.rdr div.rdr_read ul.rdr_tags li:hover div.rdr_leftBox,
#rdr_sandbox div.rdr div.rdr_read ul.rdr_tags li.rdr_tagged div.rdr_leftBox   {background-image:none; color:#008be4; }

#rdr_sandbox div.rdr div.rdr_sentimentBox  ul.rdr_tags li:hover .rdr_rightBox {background:url({{ STATIC_URL }}widget/images/widget_icons.png) -142px -4px no-repeat;}

#rdr_sandbox div.rdr ul.rdr_tags li.rdr_selected .rdr_rightBox   {background:url({{ STATIC_URL }}widget/images/widget_icons.png) -36px -4px no-repeat !important;}
#rdr_sandbox div.rdr ul.rdr_tags li.rdr_selected .rdr_leftBox:hover,
#rdr_sandbox div.rdr ul.rdr_tags li.rdr_tagged .rdr_leftBox:hover    {background-position:-72px 0px;}
#rdr_sandbox div.rdr div.rdr_new ul.rdr_tags li.rdr_selected     {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
#rdr_sandbox div.rdr div.rdr_sntPnl .rdr_borderLine                  {    background:#DDDDDD; clear:both; height:100%; left:38px; position:absolute; width:1px; z-index:2;}

#rdr_sandbox div.rdr ul.rdr_preselected                              {font-size:24px !important; font-family:ReadrLeague, Arial, sans-serif !important; margin:-1px 0 0 !important; min-height:120px !important;}
#rdr_sandbox div.rdr ul.rdr_preselected .rdr_tagText                 {color:#666 !important;text-decoration:none !important; display:block !important; float:left !important; width: 120px !important; padding-left:5px !important; overflow-x: hidden !important; font-weight:normal !important; font-size:24px !important; font-family:ReadrLeague, Arial, sans-serif !important;}
#rdr_sandbox div.rdr li.rdr_customTagBox input.freeformTagInput      {font-size:24px; font-family:ReadrLeague, Arial, sans-serif; margin:0; text-align:left; border:none; background:none; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; padding:2px 12px 2px 0; z-index:100;}

#rdr_sandbox div.rdr li.rdr_customTagBox div.rdr_help                {left:43px; width:auto; z-index:90;}
#rdr_sandbox div.rdr li.rdr_customTagBox div.rdr_help:hover          {text-decoration:underline;}
#rdr_sandbox div.rdr li.rdr_customTagBox div.rdr_rightBox                {display:none;}
#rdr_sandbox div.rdr li.rdr_customTagBox.rdr_selected div.rdr_rightBox   {display:block;}


/* contentSet */
#rdr_sandbox div.rdr div.rdr_contentSet {margin-bottom:10px;}
#rdr_sandbox div.rdr div.rdr_contentSet div.rdr_contentHeader                        {background:#e1e1e1; font-size:11px; font-weight:bold; padding:3px 5px; overflow:auto;}
#rdr_sandbox div.rdr div.rdr_contentSet div.rdr_contentHeader a.rdr_tag              {margin:0; background:#ccc; font:inherit; color:#666; padding:0; }
#rdr_sandbox div.rdr div.rdr_contentSet div.rdr_contentHeader a.rdr_tag:hover,
#rdr_sandbox div.rdr div.rdr_contentSet div.rdr_contentHeader a.rdr_tag.rdr_hover        {background:#fff; }
#rdr_sandbox div.rdr div.rdr_contentSet div.rdr_contentHeader div.rdr_has_comment    {background: url("{{ STATIC_URL }}widget/images/widget_icons.png") no-repeat scroll -121px -12px transparent; float:right; padding-left:16px; font-weight:normal; margin-right:5px; cursor:pointer;}
#rdr_sandbox div.rdr div.rdr_contentSet div.rdr_contentHeader div.rdr_can_comment    {background:none; float:right; font-weight:normal; margin-right:5px; text-transform:uppercase; font-size:9px; display:none; cursor:pointer; color:#666;}
#rdr_sandbox div.rdr div.rdr_contentSet:hover div.rdr_contentHeader div.rdr_can_comment    {display:block;}
#rdr_sandbox div.rdr div.rdr_contentSet div.rdr_content                              {color:#787878; font:italic 13px Georgia; padding:5px 9px;}
#rdr_sandbox div.rdr div.rdr_contentSet div.rdr_content div.rdr_otherTags            {overflow:auto; clear:both; }
#rdr_sandbox div.rdr div.rdr_contentSet div.rdr_content div.rdr_otherTags em         {color:#76a1ba; display: block; font-family:Arial; font-size:11px; margin-top:10px;}

#rdr_sandbox div.rdr div.rdr_contentSet.rdr_selected div.rdr_contentHeader           {background:#d0dee6;}
#rdr_sandbox div.rdr div.rdr_contentSet.rdr_selected div.rdr_content                 {background:#e4f0f7;}
#rdr_sandbox div.rdr div.rdr_contentSet.rdr_selected div.rdr_contentHeader div.rdr_has_comment             {background-position: -46px -12px; text-indent: -9999px;}

/* commentSet */
#rdr_sandbox div.rdr div.rdr_commentSet          {margin:5px 10px; padding-bottom:5px; overflow:auto; border-bottom:1px solid #ddd;}
#rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentBy          {font: bold 11px Arial; color:#666; overflow:auto; padding-top:8px;}
#rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentBy img      {width:24px; height:24px; float:left; margin:-8px 5px 0 0; border:1px solid #d0dee6;}
#rdr_sandbox div.rdr div.rdr_commentSet div.rdr_comment            {font: italic 14px Georgia; color:#999;padding:3px; }
#rdr_sandbox div.rdr div.rdr_commentSet div.rdr_commentReply       {font-weight:normal; margin-right:5px; text-transform:uppercase; font-size:9px; float:right;}
#rdr_sandbox div.rdr div.rdr_commentSet a.rdr_tag                            {margin-top:3px;}
#rdr_sandbox div.rdr div.rdr_commentSet a.rdr_tag div.rdr_tag_share          {margin-left:-12px;}
#rdr_sandbox div.rdr div.rdr_commentSet a.rdr_tag:hover div.rdr_tag_share    {margin-left:3px;}


#rdr_sandbox div.rdr div.rdr_commentBox   { clear:both; display:block; padding:0 10px 10px; margin:5px 0 0; }

/* tags */

#rdr_sandbox div.rdr a.rdr_tag     { display:block; background:#d0dee6; float:left; margin:0 10px 3px 0; font:normal 11px Arial; color:#678ca2; text-decoration:none; padding:1px; 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    z-index:100001;
}
#rdr_sandbox div.rdr a.rdr_tag span.rdr_tag_count    { display:block; min-width:13px; width:auto; height:13px; float:left; background:none; margin:0; padding: 0 3px; 
    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 
}
#rdr_sandbox div.rdr a.rdr_tag div.rdr_tag_share     { display:block; min-width:13px; width:auto; height:13px; float:right; background:none; margin-left:3px; 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

#rdr_sandbox div.rdr a.rdr_tag:hover,
#rdr_sandbox div.rdr a.rdr_tag.rdr_hover { background:#fff; color:#008be4;}
#rdr_sandbox div.rdr a.rdr_tag:hover span.rdr_tag_count,
#rdr_sandbox div.rdr a.rdr_tag.rdr_hover span.rdr_tag_count    { background:url({{ STATIC_URL }}widget/images/tag_icons.png) -8px 0px no-repeat; text-indent:-9999px; }
#rdr_sandbox div.rdr a.rdr_tag:hover div.rdr_tag_share    { background:url({{ STATIC_URL }}widget/images/tag_icons.png) -50px 0px no-repeat; }
#rdr_sandbox div.rdr a.rdr_tag:hover span.rdr_tag_count:hover,
#rdr_sandbox div.rdr a.rdr_tag.rdr_hover span.rdr_tag_count.rdr_hover    { display:block; width:12px; height:13px; float:left; background:url({{ STATIC_URL }}widget/images/tag_icons.png) -8px -13px no-repeat; text-indent:-9999px;}
#rdr_sandbox div.rdr a.rdr_tag:hover div.rdr_tag_share:hover,
#rdr_sandbox div.rdr a.rdr_tag.rdr_hover div.rdr_tag_share.rdr_hover    { display:block; width:12px; height:13px; float:right; background:url({{ STATIC_URL }}widget/images/tag_icons.png) -50px -13px no-repeat;}

#rdr_sandbox div.rdr div.rdr_close       {position:absolute;top:8px;right:7px;color:#999;cursor:pointer;font-size:14px;z-index:150;}

#rdr_sandbox div.rdr div.rdr_instruct    {color:#666; margin:5px 0;}
#rdr_sandbox div.rdr div.rdr_help        {font:italic 11px Arial;color:#767676; xwidth:100%; position:absolute; top:12px; xtext-align:center; margin:0 !important;}

#rdr_sandbox div.rdr div.rdr_comment textarea    { width:100%; height:92px; font-size:14px; margin:5px 0; resize:none; padding-bottom:10px;}
#rdr_sandbox div.rdr div.rdr_comment div.rdr_charCount          {font-size:10px; font-style:italic; color:#999; float:left;}
#rdr_sandbox div.rdr div.rdr_share_count     { color:#999999; font-style:italic; margin:-3px 0 5px; }

#rdr_sandbox div.rdr ul.shareLinks           {padding:2px; margin:0;}
#rdr_sandbox div.rdr ul.shareLinks li        {padding:5px; display:inline-block; list-style:none;}
#rdr_sandbox div.rdr ul.shareLinks img       {width:30px;}

/* forms */
#rdr_sandbox div.rdr textarea,
#rdr_sandbox div.rdr input[type="text"]  {font-size:14px; color:#666; -moz-box-shadow:inset 0px 0px 5px #ddd;-webkit-box-shadow:inset 0px 0px 5px #ddd; box-shadow:inset 0px 0px 5px #ddd; border:1px solid #ddd; height:auto; width:auto;}
#rdr_sandbox div.rdr button              {font-size:14px; }

/* summary widget */
#rdr-summary {
    -moz-box-shadow:0 0 6px 0 #aaa !important;
    -webkit-box-shadow:0 0 6px 0 #aaa !important;
    box-shadow:0 0 6px 0 #aaa !important;
    background:#f7f7f7 !important;
    padding-bottom:2px !important;
    margin-bottom:10px !important;
    overflow:auto !important;
    clear:both !important;
}

/*blunt attack for now*/
#rdr-summary * {
    font:normal 12px Arial, sans-serif !important;
}

#rdr-summary div.rdr-sum-headline {
    background:url({{ STATIC_URL }}widget/images/readr_icons.png) -162px 5px no-repeat !important;
    padding:7px 5px 5px 38px !important;
    float:left !important;
    color:#787878 !important;
}
#rdr-summary div.rdr-top-tags {
    padding:8px 5px 0px 8px !important;
    float:left !important;
}
#rdr-summary div.rdr-top-tags span {
    white-space:nowrap !important;
    font-weight:bold !important;
    color:#666 !important;
}
#rdr-summary div.rdr-top-tags span em {
    font-style:normal !important;
    color:#aaa !important;
}
#rdr-summary div.rdr-top-users {
    padding:7px !important;
    overflow:hidden !important;
    height:16px !important;
    float:left !important;
}
#rdr-summary div.rdr-top-users img {
    width:20px !important;
    height:20px !important;
    margin-right:3px !important;
}

/* custom in-page highlight */
.rdr_hilite {
    background-color: #fe7 !important;
    color: black !important;
    /*-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); FF3.5+ */
    /*-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); Saf3.0+, Chrome */
    /*box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);  Opera 10.5+, IE 9.0 */
    /*disable user selection*/
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(217,211,95)),
        color-stop(0.39, rgb(252,245,154))
        );
    background-image: -moz-linear-gradient(center bottom , #D9D35F 0%, #FCF59A 39%);
    -webkit-user-select:none; 
    -k-user-select:none; 
    -moz-user-select:none; 
    user-select:none;
}

.rdr_hilite_start{}
.rdr_hilite_end{}

/*style for our widget components like the actionbar, indicator details etc.  Does rounded cornders, shadow, etc.*/
.rdr_widget{
    -moz-box-shadow:0 0 10px 1px #aaa  !important;
    -webkit-box-shadow:0 0 10px 1px #aaa  !important;
    box-shadow:0 0 10px 1px #aaa  !important;
    -moz-border-radius:8px  !important;
    -webkit-border-radius:8px  !important;
    border-radius:8px  !important;
}
/*rdr_widget_bar overrides rdr_widget*/
.rdr_widget_bar{
    -moz-border-radius:5px  !important;
    -webkit-border-radius:5px  !important;
    border-radius:5px  !important;
}

/* round those corners */
.rdr.rdr_brtl,
.rdr .rdr_brtl   { -moz-border-radius-topleft:8px !important; -webkit-border-top-left-radius:8px !important; border-top-left-radius:8px !important; }

.rdr.rdr_brtr,
.rdr .rdr_brtr   { -moz-border-radius-topright:8px !important; -webkit-border-top-right-radius:8px !important; border-top-right-radius:8px !important; }

.rdr.rdr_brbr,
.rdr .rdr_brbr   { -moz-border-radius-bottomright:8px !important; -webkit-border-bottom-right-radius:8px !important; border-bottom-right-radius:8px!important; }

.rdr.rdr_brbl,
.rdr .rdr_brbl   { -moz-border-radius-bottomleft:8px !important; -webkit-border-bottom-left-radius:8px !important; border-bottom-left-radius:8px !important; }


/* user education bar */
#rdr_sandbox #rdr_ed_user        { position:fixed; top:-40px; left:0; width:100%; background:#f0f0f0; height:35px; padding:0px; z-index:12000; overflow:hidden; -moz-box-shadow:0 0 10px 1px #aaa  !important; -webkit-box-shadow:0 0 10px 1px #aaa  !important; box-shadow:0 0 10px 1px #aaa !important; }
#rdr_sandbox #rdr_ed_user a      { color:#008be4; }
#rdr_sandbox #rdr_ed_user_1      { float:left; background: #fff; width:240px; height:35px;}
#rdr_sandbox #rdr_ed_user_1 h1   { padding-top:6px;}
#rdr_sandbox #rdr_ed_user_1 span { font-size:21px;}
#rdr_sandbox #rdr_ed_user_2      { position:absolute; left:240px; background: url("{{ STATIC_URL }}widget/images/header_arrow.png") no-repeat scroll 0 -37px #f0f0f0; height:25px; padding:10px 0 0 18px; font-size:14px; color:#666; width:570px; white-space:nowrap; }
#rdr_sandbox #rdr_ed_user_x      { position:absolute; right:10px; top:5px; font-size:18px; cursor:pointer; }
#rdr_sandbox #rdr_sandbox div.rdr_ed_user_2 span {
    background:url("{{ STATIC_URL }}widget/images/actionbar_icons.png") no-repeat -8px -8px transparent;
    display:inline-block;
    height:22px;
    width:16px;
    text-indent:-9999px;
}


/*everything below here is stuff that is inline to the client's document.  Generally will use !important for everything*/

img.rdr_engage_img,
img.rdr_shared      { -moz-box-shadow:0 0 10px 1px #008be4; -webkit-box-shadow:0 0 10px 1px #008be4; box-shadow:0 0 10px 1px #008be4; }


/* container indicator icons */

#rdr_sandbox #rdr_indicator_details_wrapper{
    z-index:11001; /*should be larger than the indicator z-index*/
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:transparent;
}
#rdr_sandbox div.rdr_indicator_details { 
    background:#fff;
    color: #666666;
    font: 12px Arial,sans-serif;
    padding:3px !important;
    border:1px solid #ddd; max-width:300px;
    /*margin:-4px;*/
    /*offset with margin to line up with indicator: compensating for the padding and the border*/
    margin:-4px 0 0 -4px;
}

#rdr_sandbox div.rdr_indicator_details, div.rdr_indicator {
    /*keep the same for both indicator and details so that they overlap nicely*/
    color: #666666 !important;
    font: 12px Arial,sans-serif !important;
    position:absolute !important;
    cursor: pointer !important;
    white-space: nowrap;
}

/*reset for indicator stuff*/
div.rdr_indicator {
    text-decoration:none !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
}

/* opacity for .rdr_indicator set in js instead of here. Fade it in on load so we can still use display:inline; */
div.rdr_indicator {
    z-index:11000 !important;
    display:inline !important;
    text-decoration:none !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
}

/*indicator pin both*/
div.rdr_indicator img.rdr_pin, div.rdr_indicator_details img.rdr_pin{ 
    background:url("{{ STATIC_URL }}widget/images/readr_icons.png") no-repeat 0 -1px !important; 
    position:absolute !important;
}
/*indicator pin inline indicator only*/
div.rdr_indicator img.rdr_pin{ 
    top: 0 !important;
    left: 0 !important;
}
/*indicator pin indicator details only*/
div.rdr_indicator_details img.rdr_pin{ 
}

div.rdr_indicator div.rdr_indicator_stats { 
    position:absolute !important;
    top:0 !important;
    left:0;
}

/*for now give the text indicators a small offset so the details don't cover the end of content todo: id:12345*/
div.rdr_indicator_for_text div.rdr_indicator_stats{
    left:4px !important;
}

#rdr_sandbox div.rdr_indicator_statsClone{ float:left;}

/*now override styles for the image containers*/
div.rdr_indicator_for_image {
    display:block !important;
}

#rdr_sandbox div.rdr_indicator_details_for_image {    
    margin: 0 !important;
    display: block;
    float: left;
    position: relative !important;
    border:none;
    top: 1px; /*compensate for the missing border*/
}



div.rdr_indicator span.rdr_count, div.rdr_indicator_details span.rdr_count{ 
    position:relative !important;
    margin-left:16px !important;
}
#rdr_sandbox span.rdr_indicator_categoryTitle{ 
    float: left;

}

/**for images?/
div.rdr_indicator {
    position:relative !important;
    border-bottom:1px solid #ddd;
    display:block !important;
    margin-bottom:5px;
    clear:both !important;
    
    opacity:0.0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter:alpha(opacity=00);
    -moz-opacity:0.0;
    -khtml-opacity:0.0;
}
*/
div.rdr_indicator {
    display: inline !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
  
    /*start with 0 opacity so it can fade in properly*/
    /*don't make these important for now...*/
    opacity:0.0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter:alpha(opacity=00);
    -moz-opacity:0.0;
    -khtml-opacity:0.0;
}

/*note that some of these are in .rdr_indicator_details*/
div.rdr_tags_list { 
    width:auto !important;
    display:inline !important;
    white-space:nowrap !important;
    text-decoration:none !important;
}

#rdr_sandbox span.rdr_tags_list_tag {
    padding:3px 1px !important;
}
#rdr_sandbox span.rdr_tags_list_tag:hover {
    background:#fe7 !important;
}

/*inline class*/
div.inlineReq {
    display:inline !important;
}


/*thinking about this one*/
.rdr_inline_reset{
    display: inline !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
}