{% extends "base.html" %}

{% load custom_filters %}

{% block bodyClass %}embeddedVersion{% endblock bodyClass %}

{% block extendedHead %}

<link href="/static/css/embedded_version.css" rel="stylesheet" type="text/css" media="all" />

<script>
    ANT_baseUrl = "//{% settings URL_NO_PROTO %}";
    ANT_staticUrl = "{% settings STATIC_URL %}";
    document.write( unescape( '%3Cscript src="'+ANT_staticUrl+'widget/js/jquery.ba-postmessage.min.js" type="text/javascript"%3E%3C/script%3E' ) );

    (function($){

        //todo: pull these from utils for real
        var utils = {
            getQueryParams: function(optQueryString) {
                //ANTN.util.getQueryParams:

                //thanks: http://stackoverflow.com/a/2880929/1289255
                //I haven't verfied that this is 100% perfect for every url case, but it's solid.
                
                //this function is also in readr_scripts
                var queryString = optQueryString || window.location.search;

                var urlParams = {};
                var e,
                a = /\+/g,  // Regex for replacing addition symbol with a space
                r = /([^&=]+)=?([^&]*)/g,
                d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
                q = queryString.substring(1);

                while (e = r.exec(q))
                    urlParams[d(e[1])] = d(e[2]);

                return urlParams;
            },
            getQueryStrFromUrl: function(url){
                var qIndex = url.indexOf('?'),
                    hrefBase,
                    hrefQuery,
                    qParams;

                 //if qIndex == -1, there was no ?
                if(qIndex == -1 ) {
                    hrefBase = url;
                    hrefQuery = "";
                }else{
                    hrefBase = url.slice(0, qIndex);
                    hrefQuery = url.slice(qIndex);
                }
                return hrefQuery;
            }
        };

        var params = utils.getQueryParams();
        
        $(function(){

            var data;
            if( params.true_short_name ){
                data = $.toJSON({
                    new_short_name: params.true_short_name
                });

            }else if(params.refresh){
                data = $.toJSON({
                    refresh: true
                });
            }
            
            if(data){
                var hostPath = params.host_xdm_url;
                $.postMessage(
                    data,
                    hostPath,
                    parent
                );
            }

        });
    })(jQuery);
</script>

    <style>
        html{
            background: none;
        }
        
        section[role="main"]{
            margin: 20px;
        }

        section[role="content"]{
            margin: 0 !important;
            padding: 0 !important;
        }

        section[role="complementary"]{
            display: none;
        }
        
        section[role="group panel header"]{
            display: none;
        }

        #id_domain{
            color: #999;
        }

    </style>
{% endblock %}

{% block mainContent %}
<h2>Updating Your Antenna Settings...</h2>
{% endblock mainContent %}

{% block header %}
{% endblock header %}

{% block uservoice %}
{% endblock uservoice %}

{% block fixedBar %}
{% endblock fixedBar %}

{% block footer %}
{% endblock footer %}
