
.antenna-auto-cta {
    text-align: right;
}

.antenna-auto-cta-inner {
    display: inline-block;
    padding: 4px;
    background: rgba(255,255,255,.7);
}

.antenna-auto-cta .antenna-logo-path {
    fill: #000000;
}

.antenna-auto-cta-label {
    font-size: 12px;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}