
.antenna-auto-cta {
    text-align: right;
    max-width: 100%
}

.antenna-auto-cta-inner {
    display: inline-block;
    white-space: nowrap;
    padding: 8px 10px 8px 10px;
    background: rgba(255,255,255,.7);
    max-width: 100%;
    overflow-x: auto;
}

.antenna-auto-cta .antenna-logo-path {
    fill: #000000;
}

.antenna-auto-cta-label {
    margin-left: 5px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 12px;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}