
.antenna-auto-questions {
    color: #000000;
    padding-bottom: 5px;
}

.antenna-questions-header {
    padding: 10px 0;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    font-size: 16px;
}

.antenna-questions-header .antenna-logo {
    margin-right: 5px;
}

.antenna-questions-header-text {
    vertical-align: middle;
}

.antenna-question-text {
    display: inline-block;
    padding: 10px 10px 0 10px;
    margin: 0 -10px; /* negative horizontal margin to visually offset the extra padding we include for ease of touch */
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
}

.antenna-question-answer {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 -10px; /* negative horizontal margin to visually offset the extra padding we include for ease of touch */
}

.antenna-auto-questions .antenna-auto-cta-label {
    margin: 0;
}