
.antenna {
    display: block; /* This rule goes with the code in our CSS loader which sets display:none before our CSS loads. */
    font: 400 12px Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#antenna-widget-bucket {
    /* This gives us base 0,0 coords that the rest of our elements can position from. */
    position: absolute;
    top: 0;
    left: 0;
}

.antenna-logo {
    display: inline-block;
}

.antenna-logo svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.antenna-facebook svg, .antenna-twitter svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.antenna-facebook-path {
    fill: #3b5998;
}

.antenna-twitter-path {
    fill: #55acee;
}

.ant-social-twitter {
    font-size: 24px;
    color: #55acee;
}

.ant-social-facebook {
    font-size: 24px;
    color: #3b5998;
}

.ant-social-twitter {
    font-size: 24px;
    color: #55acee;
}

.antenna-highlight {
    background-color: #FCF5A7;
    color: #666;
    text-decoration: none;
    -webkit-user-select:none;
    -k-user-select:none;
    -moz-user-select:none;
    user-select:none;
}