
/* This rule goes with the code in our CSS loader which sets display:none before our CSS loads. */
.antenna {
    display: block;
}

#antenna-widget-bucket {
    /* This gives us base 0,0 coords that the rest of our elements can position from. */
    position: absolute;
    top: 0;
    left: 0;
}

.ant-antenna-logo {
    font-size: 12px;
    font-face: Arial,sans-serif;
}

.antenna-highlight {
    background-color: #FCF5A7;
    color: #666;
    text-decoration: none;
    -webkit-user-select:none;
    -k-user-select:none;
    -moz-user-select:none;
    user-select:none;
}