
.antenna-comment-input {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 5px;
    border: 1px solid #cccccc;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 16px;
}

.antenna-comment-area {
    margin: 12px;
}

.antenna-comment-waiting {
    width: 100%;
    display: none;
    color: #666666;
    padding: 10px 0;
    text-align: center;
}

.antenna-comment-received {
    width: 100%;
    display: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666666;
    padding: 10px 0;
    text-align: center;
}

.antenna-comment-footer {
    padding: 4px 0 10px 0;
}

.antenna-comment-limit {
    font-style: italic;
    font-size: 10px;
    color: #cccccc;
}

.antenna-comment-submit {
    float: right; /* Keep in sync with #antenna-comment-spacer */
    border: 0;
    padding: 5px; /* Keep in sync with #antenna-comment-spacer */
    text-align: center;
    color: #ffffff;
    font-size: 11px;
}

#antenna-comment-spacer { /* Spacer button corresponding to the submit button, which takes up no vertical space because it is floated right. */
    visibility: hidden;
    padding: 5px 0;
}