
/* This rule goes with the code in our CSS loader which sets display:none before our CSS loads. */
.antenna {
    display: block;
}

#antenna-widget-bucket {
    /* This gives us base 0,0 coords that the rest of our elements can position from. */
    position: absolute;
    top: 0;
    left: 0;
}