.antenna-confirmation-page .antenna-body {
    /* This rule may be overridden by group settings, which inject custom CSS lower in the page */
    background-image: linear-gradient(185deg,#333,#777);
}

.antenna-confirm-wrapper {
    display: table;
    width: 100%;
    height: 75px;
}

.antenna-confirm-reaction {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
}

.antenna-footer.antenna-confirm-footer {
    display: table;
    font-size: 11px;
    color: #666666;
    border-top: 1px solid #dddddd;
}

.antenna-share {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}