

.antenna-comment-reaction {
    padding: 22px 0;
    background-color: #eeeeee;
    color: #666666;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.antenna-confirmation-page textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 5px;
    border: 1px solid #cccccc;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 16px;
}

.antenna-comment-area {
    margin: 12px;
    border-bottom: 1px solid #dddddd;
}

.antenna-comment-footer {
    padding: 2px 0 10px 0;
}

.antenna-comment-limit {
    font-style: italic;
    font-size: 10px;
    color: #cccccc;
}

.antenna-comment-footer button {
    float: right;
    background-color: #8fb3f2;
    border: 0;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
}

.antenna-confirm-footer {
    font-size: 12px;
    color: #666666;
}