
.antenna-indicator-widget {
    margin-left: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease;
}

.antenna-indicator-widget.reactions {
    opacity: 0.33;
}

.antenna-indicator-widget .ant-antenna-logo {
    color: #666666 !important;
    transition: color 300ms ease;
}

.antenna-indicator-widget.active .ant-antenna-logo {
    color: #8fb3f2 !important;
}

.antenna-indicator-widget.active {
    color: #8fb3f2 !important;
    opacity: 0.66;
}

.antenna-indicator-widget.reactions.active {
    opacity: 0.75;
    color: #8fb3f2 !important;
}

.antenna-reaction-total {
    /* TODO: the layout of the text is not right */
    font-size: 11px;
    font-weight: 700;
    color: #888888;
    line-height: 16px;
    padding: 0 8px 0 3px;
}