

.antenna-media-indicator-wrapper {
    position: absolute;
    width: 150px;
    pointer-events: none;
}

.antenna-media-indicator-widget {
    position: absolute;
    display: table-cell;
    padding: 3px 5px;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 0 0 6px rgba(0,0,0,.5);
    opacity: 0.6;
    white-space: nowrap;
    z-index: 998; /* TODO: compute programatically (e.g. container element z-index + 1) */
    pointer-events: auto;
}

.antenna-media-indicator-widget.antenna-notloaded {
    visibility: hidden;
}

.antenna-media-indicator-widget .antenna-logo-path {
    fill: #ffffff;
}

.antenna-media-indicator-widget.antenna-active {
    text-shadow: none;
    background-color: rgba(0,0,0,.2);
    opacity: 1.0;
    max-width: 150px;
}

.antenna-media-indicator-widget .antenna-reaction-total {
    visibility: hidden;
    font-size: 11px;
    line-height: 1em;
    vertical-align: middle;
}

.antenna-media-indicator-widget.antenna-active .antenna-reaction-total {
    visibility: inherit; /* only show if the parent element is showing */
}

.antenna-media-indicator-widget .antenna-reaction-prompt {
    display: inline-block;
    font-size: 11px;
    vertical-align: middle;
    visibility: hidden;
    max-width: 0;
    white-space: pre; /* don't wrap */
    transition: max-width 200ms;
    overflow: hidden;
}

.antenna-media-indicator-widget.antenna-active .antenna-reaction-prompt {
    max-width: 300px;
    visibility: inherit; /* only show if the parent element is showing */
}