
.antenna-popup {
    position: absolute;
    display: none;
    opacity: 0.0;
    -webkit-transform: scale(0.5) translate3d(-50%, 100%, 0); /* Needed for Safari as of 8.0.7 */
    -webkit-transition: -webkit-transform 200ms ease, opacity 200ms ease;
    transform: scale(0.5) translate3d(-50%, 100%, 0);
    transition: transform 200ms ease, opacity 200ms ease;
    white-space: nowrap;
    cursor: pointer;
}

.antenna-popup.antenna-show {
    opacity: 1.0;
    -webkit-transform: scale(1.0) translate3d(0, 0, 0);
    transform: scale(1.0) translate3d(0, 0, 0);
}

.antenna-popup-body {
    white-space: nowrap;
    background: #464646;
    padding:8px;
    border-radius:8px;
    box-shadow: 0 1px 40px #8A8A8A;
    font:normal 12px Helvetica, Arial, sans-serif;
}

.antenna-popup:after {
    display: block;
    content: "";
    position: absolute;
    left: 12px;
    bottom: -10px;
    width: 0;
    height: 0;
    border-top: 5px solid #464646;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.antenna-popup-body .antenna-logo svg {
    width: 18px;
    height: 18px;
}
.antenna-popup-body .antenna-logo-path {
    fill: #dddddd;
    transition: fill 500ms;
}
.antenna-popup.antenna-hover .antenna-logo-path {
    fill: #ffffff;
}

.antenna-popup-text {
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
    overflow: hidden;
    max-width: 0;
    transition: max-width 200ms;
    color:#cccccc;
    white-space: pre; /* don't wrap */
}

.antenna-popup.antenna-hover .antenna-popup-text {
    margin-left: 8px;
    max-width: 150px;
    visibility: inherit; /* only show if the parent element is showing */
}

.antenna-popup.antenna-hover .antenna-popup-text:hover {
    color: #ffffff;
}