/* The CSS for the reaction boxes is in reactions-widget.css because it's that same in multiple pages. */

.antenna-reactions-page .antenna-body {
    /* This rule may be overridden by group settings, which inject custom CSS lower in the page */
    background-image: linear-gradient(185deg,#333,#777);
}

.antenna-reaction-count {
    display: inline-block;
    margin-top: 5px;
    opacity: 0.85;
    font-weight: 100;
    font-size: 14px;
}
.antenna-reaction.half .antenna-reaction-count {
    font-size: 12px;
}

.antenna-reaction-comments {
    display: none;
    float: right;
    padding: 15px;
    margin-top: -10px; /* We have 15px of padding for the touch area, but need to visually only have 5px for alignment. */
    margin-right: -10px; /* Pull the touch area into the padding that goes around the reaction box. */
    white-space: nowrap;
    opacity: 0.75;
    font-size: 10px;
    line-height: 1em;
}

.antenna-reaction-box:hover .antenna-reaction-comments {
    display: inline-block;
}

.antenna-reaction-comments.hascomments {
    display: inline-block;
    cursor: zoom-in;
}

.antenna-reaction-location {
    display: none;
    float: right;
    padding: 15px;
    margin-top: -10px; /* We have 15px of padding for the touch area, but need to visually only have 5px for alignment. */
    margin-right: -10px; /* Pull the touch area into the padding that goes around the reaction box. */
    white-space: nowrap;
    opacity: 0.75;
    font-size: 10px;
    line-height: 1em;
    cursor: zoom-in;
    -moz-cursor: zoom-in;
    -webkit-cursor: zoom-in;
}
.antenna-touch .antenna-reaction-location {
    display: inline-block;
    opacity: 0.25;
}
@media only screen and (max-device-width: 480px) and (orientation: portrait), only screen and (max-device-width: 768px) and (orientation: landscape) {
    .antenna-reaction-location {
        display: inline-block;
        opacity: 0.25;
    }
}

.antenna-location svg, .antenna-reaction-comments svg {
    width: 1em;
    height: 1em;
}

.antenna-reaction-location .antenna-location-path, .antenna-reaction-comments .antenna-comments-path {
    fill: #ffffff;
}

.antenna-reaction-box:hover .antenna-reaction-location {
    display: inline-block;
}

.antenna-plusone {
    display: none;
    margin-top: 5px;
    white-space: nowrap;
    opacity: 0.85;
    font-weight: 100;
    font-size: 14px;
}

.antenna-reaction-box:hover .antenna-plusone {
    display: inline-block;
}
.antenna-reaction-box:hover .antenna-reaction-count {
    display: none;
}

.antenna-no-reactions {
    display: inline-block;
    text-align: center;
    padding: 3px;
    color: #777777;
}

.antenna-think {
    display: inline-block;
    text-align: center;
    padding: 3px;
    color: #777777;
    cursor: pointer;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}
.antenna-think:hover {
    color: #000000;
}