.antenna-reactions-widget {
    display: none;
    position: absolute;
    width: 222px;
    overflow-x: hidden;
    background-color: white;
    z-index: 999; /* TODO */
    box-shadow: 0 0 3px rgba(000,000,000,.3);
    font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
}

.antenna-reactions-widget.open {
    display: block;
}

.antenna-header {
    height: 28px;
    background-color: white;
    color: #8fb3f2;
    text-align: left;
    padding: 3px 5px;
    cursor: move;
}

.antenna-body {
    /* body height is set in Javascript */
    position: relative;
}

.antenna-footer {
    height: 50px;
    padding: 6px;
    text-align: center;
    color: #777777;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.antenna-page {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.antenna-page-animate {
    transition: left 200ms;
}

.antenna-page-active {
    left: 0;
}

.antenna-reactions-page, .antenna-default-page {
    color: white;
}

.antenna-confirm-page {
    background-color: #dddddd;
    color: black;
    min-width: 300px; /* TODO: This is just here to test how the widget handles resizing */
    height: 200px;
}

.antenna-progress-page {
    background: rgba(0,0,0,0.25);
    overflow-y: hidden;
}

.antenna-reaction {
    display: inline-block;
    cursor: pointer;
    height: 75px;
    vertical-align: top; /* See http://stackoverflow.com/questions/19366401/css-inline-block-elements-not-lining-up-properly */
    box-sizing: border-box;
}

.antenna-reaction.half {
    width: 50%;
}
.antenna-reaction.half:only-child {
    width: 100%;
}
.antenna-reaction.half:nth-child(2n+0) {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.antenna-reaction.full {
    width: 100%;
}

.antenna-reaction-box {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0.9;
    letter-spacing: .5px;
    line-height: 1.4em;
}

.antenna-reaction:hover > .antenna-reaction-box {
    background: linear-gradient(rgba(30,30,30,.15),rgba(255,255,255,.2));
}

.antenna-reaction-text {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    font-size: 19px;
}
.antenna-reaction.half  .antenna-reaction-text {
    font-size: 18px;
}

.antenna-reaction-count {
    margin: 0;
    padding: 0;
    opacity: 0.85;
    font-weight: 100;
    font-size: 14px;
}
.antenna-reaction.half .antenna-reaction-count {
    font-size: 12px;
}