
.antenna-reactions-widget {
    display: none;
    position: absolute;
    width: 222px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    z-index: 999; /* TODO */
    box-shadow: 0 0 3px rgba(000,000,000,.3);
    font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
}

.antenna-reactions-container {
    position: relative;
    height: 100%;
}

.antenna-reactions-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.antenna-received-page {
    position: absolute;
    background-color: white;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.antenna-reactions-widget.open {
    display: block;
}

.antenna-header {
    color: #8fb3f2;
}

.antenna-header {
    background-color: white;
    text-align: center;
    padding: 3px 0;
    cursor: move;
}

.antenna-body {
    color: white;
}

.antenna-reaction {
    display: inline-block;
    cursor: pointer;
    height: 75px;
}

.antenna-reaction.half {
    width: 50%;
}
.antenna-reaction.half:only-child {
    width: 100%;
}

.antenna-reaction.full {
    width: 100%;
}

.antenna-reaction-text {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    font-weight: 700;
    font-size: 24px;
}

.antenna-reaction-count {
    padding-left: 5px;
    opacity: 0.85;
    font-weight: 100;
}