.antenna-reactions-widget {
    display: none;
    position: absolute;
    width: 222px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 40px #8A8A8A;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}
@media only screen and (max-width : 480px) and (orientation: portrait), only screen and (max-width: 640px) and (orientation: landscape) {
    .antenna-reactions-widget {
        left: 50% !important;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.antenna-reactions-widget:focus {
    outline: none;
}

.antenna-reactions-widget.antenna-reactions-open {
    display: block;
}

.antenna-header {
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    color: #000000;
    padding: 7px 0 7px 6px;
    cursor: move;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    letter-spacing: -0.25px;
}

.antenna-header .antenna-logo-path {
    fill: #000000;
}

.antenna-reactions-title {
    margin-left: 4px;
    font-size: 11px;
    vertical-align: middle;
}

.antenna-reactions-close {
    display: none;
    float: right;
    vertical-align: middle;
    padding: 10px;
    margin-top: -10px; /* We have 10px of padding on top for the touch area, but need to visually counter the padding for alignment. */
    font-size: 11px;
    font-weight: bold;
    color: #d8d8d8;
    cursor: pointer;
}
.antenna-touch .antenna-reactions-close {
    display: inline-block;
}
@media only screen and (max-width : 480px) and (orientation: portrait), only screen and (max-width: 640px) and (orientation: landscape) {
    .antenna-reactions-close {
        display: inline-block;
    }
}

.antenna-page-container {
    /* body height is set in Javascript */
    position: relative;
    width: 100%;
}

.antenna-body {
    overflow-y: auto;
    background-color: #ffffff;
}

.antenna-footer {
    height: 50px;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    color: #777777;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.antenna-page {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    /*overflow-y: auto;*/
    background-color: #ffffff;
}

.antenna-page:focus {
    outline: none;
}

.antenna-page-animate {
    transition: left 200ms;
}

.antenna-page-active {
    left: 0;
}

.antenna-progress-page {
    background: rgba(0,0,0,0.25);
    overflow-y: hidden;
}

.antenna-progress-page .antenna-body {
    background: none;
    height: 300px;
}

.antenna-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    opacity: 0.5;
}

.antenna-page-active .antenna-progress-spinner .antenna-logo {
    animation: spin 2s linear infinite;
}

.antenna-progress-spinner svg {
    width: 2em;
    height: 2em;
}

.antenna-progress-spinner .antenna-logo-path {
    fill: #FFFFFF;
}

.antenna-reaction {
    display: inline-block;
    cursor: pointer;
    height: 75px;
    vertical-align: top; /* See http://stackoverflow.com/questions/19366401/css-inline-block-elements-not-lining-up-properly */
    box-sizing: border-box;
    color: #ffffff;
}

.antenna-reaction.antenna-half {
    width: 50%;
    height: 66px;
}
.antenna-reaction.antenna-half:only-child {
    width: 100%;
    height: 50px;
}

.antenna-reaction.antenna-full {
    width: 100%;
}

.antenna-reaction-box {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0.9;
    letter-spacing: .5px;
    line-height: 1em;
    overflow: hidden;
}

.antenna-reaction-box {
    /* This rule may be overridden by group settings, which inject custom CSS lower in the page */
    background: rgba(0,0,0,0.1);
}

.antenna-reaction:hover > .antenna-reaction-box {
    /* This rule may be overridden by group settings, which inject custom CSS lower in the page */
    background: rgba(0,0,0,0);
}

.antenna-reaction-text {
    white-space: nowrap;
    font-size: 24px;
}
.antenna-reaction.antenna-half  .antenna-reaction-text {
    font-size: 15px;
    margin-bottom: 6px;
}

.antenna-text-logo {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.antenna-text-logo a {
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0;
    color: #4E4E4E;
}

.antenna-text-logo a:hover {
    color: #777777;
}