.antenna-reactions-widget {
    display: none;
    position: absolute;
    width: 222px;
    overflow: hidden;
    background-color: white;
    z-index: 999; /* TODO */
    box-shadow: 0 0 3px rgba(000,000,000,.3);
    font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
}

.antenna-reactions-widget.open {
    display: block;
}

.antenna-header {
    height: 28px;
    background-color: white;
    color: #8fb3f2;
    text-align: left;
    padding: 3px 5px;
    cursor: move;
}

.antenna-body {
    /* body height is set in Javascript */
    position: relative;
}

.antenna-footer-area {
    height: 50px;
    position: relative;
}

.antenna-footer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    color: #777777;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.antenna-page {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #ffffff;
}

.antenna-page-animate {
    transition: left 200ms;
}

.antenna-page-active {
    left: 0;
}

.antenna-reactions-page, .antenna-default-page {
    color: white;
}

.antenna-progress-page {
    background: rgba(0,0,0,0.25);
    overflow-y: hidden;
}

.antenna-reaction {
    display: inline-block;
    cursor: pointer;
    height: 75px;
    vertical-align: top; /* See http://stackoverflow.com/questions/19366401/css-inline-block-elements-not-lining-up-properly */
    box-sizing: border-box;
}

.antenna-reaction.half {
    width: 50%;
}
.antenna-reaction.half:only-child {
    width: 100%;
}
.antenna-reaction.half:nth-child(2n+0) {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.antenna-reaction.full {
    width: 100%;
}

.antenna-reaction-box {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0.9;
    letter-spacing: .5px;
    line-height: 1.4em;
}

.antenna-reaction:hover > .antenna-reaction-box {
    background: linear-gradient(rgba(30,30,30,.15),rgba(255,255,255,.2));
}

.antenna-reaction-text {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    font-size: 19px;
}
.antenna-reaction.half  .antenna-reaction-text {
    font-size: 18px;
}

.antenna-reaction-count {
    margin: 0;
    padding: 0;
    opacity: 0.85;
    font-weight: 100;
    font-size: 14px;
}
.antenna-reaction.half .antenna-reaction-count {
    font-size: 12px;
}

.antenna-think {
    padding: 5px;
    cursor: pointer;
}
.antenna-think:hover {
    color: #8fb3f2;
}

.antenna-comment-reaction {
    padding: 22px 0;
    background-color: #eeeeee;
    color: #666666;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.antenna-comment-page textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 5px;
    border: 1px solid #cccccc;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 16px;
}

.antenna-comment-area {
    margin: 12px;
    border-bottom: 1px solid #dddddd;
}

.antenna-comment-footer {
    padding: 2px 0 10px 0;
}

.antenna-comment-footer span {
    font-style: italic;
    font-size: 10px;
    color: #cccccc;
}

.antenna-comment-footer button {
    float: right;
    background-color: #8fb3f2;
    border: 0;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
}

.antenna-default-footer input {
    font-weight: 700;
    font-size: 13px;
    color: #666666;
    text-align: center;
    letter-spacing: -.25px;
    border: none;
    padding: 3px;
    width: 65%;
    cursor: pointer;
}

.antenna-default-footer input:focus {
    cursor: text;
    outline: none;
}

.antenna-default-footer input.active {
    border: 2px solid #8fb3f2;
}

.antenna-default-footer button {
    display: none;
    background-color: #8fb3f2;
    border: 0;
    text-align: center;
    padding: 6px 8px;
    margin-left: 5px;
    color: #ffffff;
    font-size: 11px;
}

.antenna-confirm-footer {
    font-size: 12px;
    color: #666666;
}