.antenna-reset {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    line-height: 1em;
}

button.antenna-reset, button.antenna-reset:hover {
    background-color: #000000;
}