.antenna-reset {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-style: normal;
    font-size: 100%;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    line-height: 1em;
}

button.antenna-reset, button.antenna-reset:hover {
    background-color: #8fb3f2;
}