
.ant-summary-widget {
    display: table-cell;
    vertical-align: middle;
    min-width: 50px;
    height: 30px;
    margin: 10px 0;
    padding: 0 5px;
    box-shadow: 0 0 3px rgba(000,000,000,.3);
}

.ant-summary-widget.notloaded {
    visibility: hidden;
}

.ant-summary-widget {
    color: #8fb3f2;
}

.ant-summary-widget .antenna-logo-path {
    fill: #8fb3f2;
}