
.antenna-summary-widget {
    display: inline-block;
    box-shadow: 0 0 3px rgba(000,000,000,.3);
}

.antenna-summary-widget.notloaded {
    visibility: hidden;
}

.antenna-summary-widget {
    color: #8fb3f2;
}

.antenna-summary-widget .antenna-logo-path {
    fill: #8fb3f2;
}

.antenna-summary-inner {
    vertical-align: middle;
    padding: 8px 10px 8px 8px;
}

.antenna-summary-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}