
.antenna-summary-widget {
    display: inline-block;
    box-shadow: 0 0 3px rgba(000,000,000,.3);
}

.antenna-summary-widget.notloaded {
    visibility: hidden;
}

.antenna-summary-widget {
    color: #000000;
    max-width: 100%;
}

.antenna-summary-widget .antenna-logo-path {
    fill: #000000;
}

.antenna-summary-inner {
    vertical-align: middle;
    padding: 8px 10px 8px 8px;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.antenna-summary-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.antenna-expanded-reaction {
    padding: 4px 6px;
    color: #666666;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    font-size: 12px;
    vertical-align: middle;
}
.antenna-expanded-first {
    margin-left: 10px;
}

.antenna-expanded-text {
    font-weight: 900;
}

.antenna-expanded-count {
    margin-left: 5px;
    font-size: 10px;
    opacity: 0.8;
}