.ant-summary-container {
    display: table; /* TODO: Is this necessary in any browsers? */
}

.ant-summary-widget, .ant-summary-widget a {
    color: #8fb3f2;
}

.ant-summary-widget {
    display: table-cell;
    vertical-align: middle;
    min-width: 50px;
    height: 30px;
    margin: 10px 0;
    padding: 0 5px;
    box-shadow: 0 0 3px rgba(000,000,000,.3);
}