.antenna-tap-helper {
    position: fixed;
    top: 85%;
    left: 50vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 75vw;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 40px #666;
    border: 4px solid #000000
}

.antenna-tap-helper-inner {
    width: 100%;
    background-color: #ffffff;
    padding: 8px;
    text-align: center;
    color: #000000;
    font-size: 11px;
}

.antenna-tap-helper-inner div {
    text-align: center;
}

.antenna-tap-helper-prompt {
    margin-left: 4px;
    font-weight: 700;
    vertical-align: middle;
}

.antenna-tap-helper-close {
    margin-top: 6px;
}