
.antenna-text-indicator-widget {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease;
}

.antenna-text-indicator-widget.notloaded {
    visibility: hidden;
}

.antenna-text-indicator-widget.hasreactions {
    opacity: 0.33;
}

.antenna-text-indicator-widget.antenna-suppress {
    opacity: 0;
}

.antenna-text-indicator-widget .ant-antenna-logo {
    color: #666666 !important;
    transition: color 300ms ease;
}

.antenna-text-indicator-widget.active .ant-antenna-logo {
    color: #8fb3f2 !important;
}

.antenna-text-indicator-widget.active {
    color: #8fb3f2 !important;
    opacity: 0.66;
}

.antenna-text-indicator-widget.hasreactions.active {
    opacity: 0.75;
    color: #8fb3f2 !important;
}

.antenna-text-indicator-widget .antenna-reaction-total {
    /* TODO: the layout of the text is not right */
    visibility: hidden;
    font-size: 11px;
    font-weight: 700;
    color: #888888;
    line-height: 16px;
    padding: 0 8px 0 3px;
}

.antenna-text-indicator-widget.active .antenna-reaction-total {
    visibility: inherit; /* only show if the parent element is showing */
}