.antenna-text-indicator-widget {
    /* The outer element is set to display inline and position relative so that it takes up no space on the line.
       Otherwise, the indicator often ends up being wrapped onto its own line at the end of the text. */
    display: inline;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease;
    line-height: 1em;
    font-size: 100%; /* Size the text indicator to match the page text. */
}

.antenna-text-indicator-inner {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    white-space: nowrap;
}

.antenna-text-indicator-widget.antenna-notloaded {
    visibility: hidden;
}

.antenna-text-indicator-widget .antenna-logo-path {
    fill: #aaaaaa;
    transition: fill 300ms ease;
}

.antenna-text-indicator-widget.antenna-active .antenna-logo-path {
    fill: #000000;
}

.antenna-text-indicator-widget.antenna-active {
    color: #666666 !important;
    opacity: 0.66;
}

.antenna-text-indicator-widget.antenna-nohint {
    opacity: 0;
    pointer-events: none;
}

.antenna-text-indicator-widget.antenna-hasreactions {
    opacity: 0.33;
    pointer-events: auto;
}

.antenna-text-indicator-widget.antenna-suppress {
    opacity: 0;
    pointer-events: none;
}

.antenna-text-indicator-widget.antenna-hasreactions.antenna-active {
    opacity: 0.75;
    color: #666666 !important;
    pointer-events: auto;
}

.antenna-text-indicator-widget .antenna-logo svg {
    width: 0.7em;
    height: 0.7em;
}

.antenna-text-indicator-widget .antenna-reaction-total {
    visibility: hidden;
    font-size: 0.7em;
    font-weight: 700;
    color: #888888;
    line-height: 16px;
    padding: 0 8px 0 3px;
}

.antenna-text-indicator-widget.antenna-active .antenna-reaction-total {
    visibility: inherit; /* only show if the parent element is showing */
}