
.antenna-text-indicator-widget {
    display: inline-block;
    padding-left: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease;
    line-height: inherit;
    vertical-align: top;
}

.antenna-text-indicator-widget.notloaded {
    visibility: hidden;
}

.antenna-text-indicator-widget .antenna-logo-path {
    fill: #666666;
    transition: fill 300ms ease;
}

.antenna-text-indicator-widget.active .antenna-logo-path {
    fill: #8fb3f2;
}

.antenna-text-indicator-widget.active {
    color: #8fb3f2 !important;
    opacity: 0.66;
}

.antenna-text-indicator-widget.antenna-nohint {
    opacity: 0;
}

.antenna-text-indicator-widget.hasreactions {
    opacity: 0.33;
}

.antenna-text-indicator-widget.antenna-suppress {
    opacity: 0;
}

.antenna-text-indicator-widget.hasreactions.active {
    opacity: 0.75;
    color: #8fb3f2 !important;
}

.antenna-text-indicator-widget .antenna-reaction-total {
    visibility: hidden;
    font-size: 11px;
    font-weight: 700;
    color: #888888;
    line-height: 16px;
    padding: 0 8px 0 1px;
}

.antenna-text-indicator-widget.active .antenna-reaction-total {
    visibility: inherit; /* only show if the parent element is showing */
}