@charset "UTF-8";

@font-face {
  font-family: "antenna";
  src:url("fonts/antenna.eot");
  src:url("fonts/antenna.eot?#iefix") format("embedded-opentype"),
    url("fonts/antenna.woff") format("woff"),
    url("fonts/antenna.ttf") format("truetype"),
    url("fonts/antenna.svg#antenna") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "antenna" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ant-"]:before,
[class*=" ant-"]:before {
  font-family: "antenna" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-comment:before {
  content: "a";
}
.ant-circle-slash:before {
  content: "b";
}
.ant-chevron-down:before {
  content: "c";
}
.ant-chevron-right:before {
  content: "d";
}
.ant-chevron-left:before {
  content: "e";
}
.ant-chevron-up:before {
  content: "f";
}
.ant-gear:before {
  content: "g";
}
.ant-megaphone:before {
  content: "h";
}
.ant-lock:before {
  content: "i";
}
.ant-x:before {
  content: "j";
}
.ant-check:before {
  content: "k";
}
.ant-link-external:before {
  content: "l";
}
.ant-plus:before {
  content: "m";
}
.ant-search:before {
  content: "n";
}
.ant-social-twitter:before {
  content: "o";
}
.ant-social-facebook:before {
  content: "p";
}
.ant-share:before {
  content: "q";
}
.ant-antenna-logo:before {
  content: "r";
}
.ant-antenna-text:before {
  content: "s";
}
