body{
}

body.wide section[role="main"] {
    width: 100%;
    background:none;

}
body section[role="controls"]{
	border:none;	
}
body.wide section[role="content"]{
	width: 100%;
	background:none;
}
section[role="wide panels"]{
	width:auto;
	padding: 0 6%;
}
section.introBlurb{
	margin:30px 0 40px 0 !important;
}
.clearDiv{
	clear:both;
}
.introBlurb .readrboard_logo{
	float:left;
	padding-right:8px;
	margin-top:4px;
}
.introBlurb h3{
	border:none !important;
}
#background-layer .pin-large-icon{
	display:none;
}
#background-layer .background-radial-grad{
	left: -400px; 			/*The width of the image is 800px*/
    margin-left: 50%;
    position: absolute;
    width: 100%;
    top:0;

	opacity:0.4;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity:0.4;
}
#splashAnnounce{
	text-align:center;
	width:100%;
	position:relative;
	padding:50px 0;
}
#splashBlurbs{
	background:white;
	position:relative;
}
#splashAnnounce h2, #splashAnnounce h3{
	padding:30px 0 40px 0;
    color: white;
    font-family: ReadrLeague,Arial;
    font-weight: normal;
    /*text-shadow: 2px 2px 2px #95B6CB;*/
}
#splashAnnounce h2{
    font-size:62px;
}
#splashAnnounce h3{
    font-size:50px;
}
#splashAnnounce .rindow-img img{
	width:250px;
}

#splashBlurbs .blurbsInner, #splashBlurbs .partnerLogoSection{
	width:960px;
	margin:auto;
}
#splashBlurbs .blurbsInner{
	padding-top:30px;
}
#splashBlurbs .partnerLogoSection{
	padding: 10px 0;
}
#blurbMenu{
	padding:20px 0;
	position:relative;
}
#blurbMenu ul{
	display:inline-block;
}
#blurbMenu li {
	list-style:none;
	float:left;
	margin:0 20px 0 0;
    opacity:0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
}
#blurbMenu li.hover{
    opacity:.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
    cursor: pointer;
}
#blurbMenu li.hover div{
    color:#7997B1;
}
#blurbMenu li.selected div{
    /*override above if selected*/
    /*color:#666;*/
    color:#26465A;
}
#blurbMenu li.selected{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
}

#blurbMenu li div{
    border:1px solid #CCC; 
    
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(221,221,221)),
    color-stop(0.50, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(center bottom , #DDD 0%, #FFF 50%);

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    -moz-box-shadow:1px 1px 10px 2px #DDDDDD;
    -webkit-box-shadow:1px 1px 10px 2px #DDDDDD;
    box-shadow:1px 1px 10px 2px #DDDDDD;
	
	font-family: ReadrLeague,Arial;
	font-size: 30px;
	font-style: italic;
	padding: 5px 25px 5px 22px;
}
#blurbBody{
	height:410px;
}
#blurbBody > div{
	display:none;
}
#blurbBody > div.selected{
	display:block;
}
#blurbBody .bullets{
	float:left;
	width:46%;
}
#blurbBody .media{
	width:52%;
	float:right;
	text-align:right;
}
#blurbBody div.media img, #blurbBody div.media iframe{
    -moz-box-shadow:1px 1px 10px 2px #bbb;
    -webkit-box-shadow:1px 1px 10px 2px #bbb;
    box-shadow:1px 1px 10px 2px #bbb;
}
#blurbBody div.media img{
	width:100%;
}
#splashBlurbs .blurb{
	width:100%;
	clear:both;
	
}
#splashBlurbs h2, #splashBlurbs h3{
	color:#26465A;
	padding:0;
	margin:0;
	clear:both;
	font-size:30px;
}
#splashBlurbs .blurb .bullet-points{
	list-style:none;
}
#splashBlurbs .bullet-points li{
	margin-bottom: 20px;
	padding: 0 5px;
}
#splashBlurbs div.blurb .bullet-points span{
	padding:0;
	font-size:16px;
}
#splashBlurbs div.blurb ul.sub-bullets li{
	padding:5px 0 0 0;
	margin: 0;
	display:block;
}
#splashBlurbs div.blurb ul.sub-bullets span{
	font-size:14px;
}
#splashBlurbs ul.partnerLogos{
	
}
#splashBlurbs ul.partnerLogos li{
	list-style:none;
}
#splashBlurbs ul.partnerLogos li img{
	width:80px;
	float:left;
	padding:0 10px 0 0;
}
#splashBlurbs ul.partnerLogos li img.wideImg{
    position: relative;
    width: 120px;
}
#splashBlurbs .partnerLogoSection .moreLogos{
    float: left;
    margin-left: 15px;
    position: relative;
    top: 32px;
    font-size:14px;
}
#splashBlurbs .partnerLogoSection h3{
	font-size:18px;
	padding-left:5px;
}
#footer{
	padding:15px 0;
	background:#333;	
}
#footer div.footerLinks{
	width:960px;
	margin:auto;
	position:relative;
}
#footer div.footerLinks ul{
	list-style:none;
}
#footer div.footerLinks ul li{
	float:left;
	padding:10px;
	margin-right:40px;
}
#footer div.footerLinks ul.footerLinksRight{
	position:absolute;
	right:0;	
}
#footer div.footerLinks ul.footerLinksRight li{
	float:right;
	margin-left:40px;
	margin-right:0;
}
#footer div.footerLinks a{
	font-style:none;
	text-decoration:none;
}
#footer div.footerLinks a:hover{
	color:#7997B1;
}

/*for slideshow*/
#promoDiv{
	width:960px;
	position:relative;
	margin:auto;
	height:350px;

}
#promoGallery{
	width:100%;
}
.promoGalleryBody{
    width:100%;
    position: relative;
    height:300px;
    display:none; /*to be overriden by js*/
}
.promoGalleryBody.startSlide{
    display: block;
}
.promoGalleryBody h2{
}
#promoControls{
    position: absolute;
    left:50%;
    bottom:0;
    z-index: 100;
}
#promoControls #promoControlsInnerWrap{
	position:relative;
	left:-50%;
}
#promoControls #promoControlsInnerWrap > div{
    float:left;
}
#promoControls a{
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    filter: alpha(opacity=50);
}
#promoControls a:hover{
    opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    filter: alpha(opacity=80);
}
#promoControls a:active{
    opacity: 1.0;
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    filter: alpha(opacity=100);
}
#promoControls img{
    width:30px;
}
#promoGallery .textSlide{
	position: relative;
	top: 20px;
	width: 570px;
	background:white;
	padding:20px 20px 30px 20px;
    margin: auto;
    margin-top:10px;
	opacity: 0.75;
    color:#222;

    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    filter: alpha(opacity=75);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#promoGallery .textSlide blockquote{
	border:none;
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 14px;
	text-align: left;
}
#promoGallery .textSlide span.author{
	font-size:11px;
	display:block;
	text-align:left;
	margin-left:20px;
}
#promoGallery h4{
	color:#666;
}
#markerAnnotationLearnMore{
	position:absolute;
	top:0;
	left:0;
}
#markerAnnotationLearnMore img{
	left: 750px;
	position: relative;
	top: 390px;
	width: 160px;
}
#promoGallery .promoGalleryBody .markerAnnotation{
	position:absolute;
	top:0;
	left:0;	
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    filter: alpha(opacity=75);
}
#promoGallery .promoGalleryBody .markerAnnotation img{
	width:180px;
}
#promoGallery .promoGalleryBody.slideImage .markerAnnotation{
	left:120px;
}
#promoGallery .promoGalleryBody.slideText .markerAnnotation{
	left:40px;
}
#promoGallery .promoGalleryBody.slideVideo .markerAnnotation{
	left:100px;
}