/* _________________________________________________

320 and Up boilerplate extension

Author:Andy Clarke
Version:0.9b
URL:http://stuffandnonsense.co.uk/projects/320andup/
_____________________________________________________

ROOT
HEADINGS
TYPOGRAPHY
LINKS
FIGURES & IMAGES
TABLES
FORMS (See css/mylibs/forms.css)
BANNER header[role="banner"]
NAVIGATION nav[role="navigation"]
CONTENT
MAIN div[role="main"]
COMPLEMENTARY div[role="complementary"]
CONTENTINFO footer[role="contentinfo"]
GLOBAL OBJECTS
VENDOR-SPECIFIC 
TEMPLATE SPECIFICS
MODERNIZR

COLOURS 

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display:block; }

abbr[title] { 
border-bottom:1px dotted; 
cursor:help; }

/* ROOT */

html {
	overflow-y:scroll;
	background:url(/static/site/images/page_bg.jpg) top left fixed repeat-x #254559;
}

body { 
	margin:0 auto;
	padding:0;
	font:100%/1.4 Arial;
	color:#666;
}

/* HEADINGS */

h1, 
h2 { font-family:ReadrLeague, Arial; font-weight:bold; }

h1 { 
margin-bottom:.75em;
font-size:3em; /* 48 / 16 = 3 */
line-height:1.2; }

h2 { 
margin-bottom:.75em;
font-size:2em; /* 36 / 16 = 2 */
line-height:1.2; }

h3 { 
margin-bottom:1em;
font-size:1.5em; /* 24 / 16 = 1.5 */
line-height:1.3; }

h4 { 
margin-bottom:1.25em;
font-size:1.25em; /* 20 / 16 = 1.25 */
line-height:1.25; }

h5 { 
font-size: 12px;
font-style: italic;
font-weight: bold;
margin: 10px 0 0;
}

h6 { 
font-size:1em; /* 16 / 16 = 1 */ }

/* TYPOGRAPHY */

p, 
ol, 
ul, 
dl, 
address { 
margin-bottom:1.5em; 
font-size:1em; /* 16 / 16 = 1 */ }

ul, 
ol { 
margin:0 0 1.5em -24px; 
padding-left:24px; }

ul { 
list-style-type:disc; }

ol { 
list-style-type:decimal; }

li ul, 
li ol { 
margin:0;
font-size:1em; /* 16 / 16 = 1 */ }

dl, 
dd { 
margin-bottom:1.5em; }

dt { 
font-weight:normal; }

blockquote  { 
margin:0 0 1.5em -24px; 
padding-left:24px; 
border-left:1px solid rgb(200,200,200);
font-style:italic; }

blockquote:before, 
blockquote:after, 
q:before, 
q:after {
content:'';
content:none; }

b, 
strong	{ 
font-weight:bold; }

i, 
em { 
font-style:italic; }

sup, 
sub { 
position:relative;
font-size:75%; 
line-height:0; }

sup { 
top:-.5em; }

sub { 
bottom:-.25em; }

address { 
font-style:normal; }

pre { 
margin-bottom:1.5em; 
white-space:pre; 
white-space:pre-wrap; 
word-wrap:break-word; }

pre, 
code { 
font:.875em 'andale mono', 'lucida console', monospace; 
line-height:1.5; }

small {
font-size:1em; /* 16 / 16 = 1 */ }

/* LINKS */

a, 
a:visited {outline:none;color:rgb(23,119,175);text-decoration:none; }
 
a:hover { 
outline:none;
color:rgb(40,40,40); 
text-decoration:underline; }
 
a:active, 
a:focus { 
outline:none;
color:rgb(0,0,0); }

/* FIGURES & IMAGES */

figure {
margin-bottom:1.5em; }

figure img,
figure object,
figure embed {
margin-bottom:.75em;
max-width:100%; }

figcaption {
display:block;
font-weight:normal; }

/* TABLES */

table { 
border-collapse:collapse;
border-spacing:0;
margin-bottom:1.4em; 
width:100%;
font-size:.875em; /* 14 / 16 = .875 */ }

th { 
font-weight:bold; }

th, td, caption {}

tfoot { 
font-style:italic; }

caption { background-color:transparent; }

/* FORMS (See css/mylibs/forms.css) */

/* GLOBAL OBJECTS */

.clearfix { zoom:1; }
.clearfix:before, 
.clearfix:after 	{ content:"\0020"; display:block; height:0; overflow:hidden; }
.clearfix:after { clear:both; }

/* VENDOR-SPECIFIC */

body {
-webkit-text-size-adjust:100%; 
-ms-text-size-adjust:100%; }

a:link { 
-webkit-tap-highlight-color:rgb(52,158,219); }

::-webkit-selection { 
background:rgb(23,119,175); 
color:rgb(250,250,250); 
text-shadow:none; }

::-moz-selection { 
background:rgb(23,119,175); 
color:rgb(250,250,250); 
text-shadow:none; }

::selection { 
background:rgb(23,119,175); 
color:rgb(250,250,250); 
text-shadow:none; }

/* input[type=search] {
-webkit-appearance:none; }

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
display:none; } */

::-webkit-input-placeholder {
padding:10px;
font-size:.875em; 
line-height:1.4; }

input:-moz-placeholder { 
padding:10px;
font-size:.875em; 
line-height:1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode:bicubic; }

div,
input,
textarea  { 
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box; }

/* Non-semantic helper classes */

/* Image replacement */
.ir { 
display:block; 
text-indent:-999em; 
overflow:hidden; 
background-repeat:no-repeat; 
text-align:left; 
direction:ltr; }

/* Hide for screenreaders and visual browsers */
.hidden { 
display:none; 
visibility:hidden; }

/* Hide visually */
.visuallyhidden { 
position:absolute;
clip:rect(0 0 0 0); 
overflow:hidden;
margin:-1px;
padding:0;
height:1px;      
width:1px;
border:0; }

/* Allow an element to be focusable via keyboard  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { 
position:static;
clip:auto; 
overflow:visible;
height:auto; 
margin:0;   
width:auto; }

/* Hide but maintain layout */
.invisible { 
visibility:hidden; }

/* TEMPLATE SPECIFICS */

#goog-fixurl ul  {
list-style-type:none; }

#goog-fixurl input  {
margin-bottom:1.5em; }

/* MODERNIZR */

/* MEDIA QUERIES */

/*Print __________________________________________________________________________________________________________ */
@media print {
* { 
background:transparent !important; 
color:black !important; 
text-shadow:none !important; 
filter:none !important;
-ms-filter:none !important; } 

a, a:visited { 
color:#444 !important; 
text-decoration:underline; }

a[href]:after { 
content:" (" attr(href) ")"; }

abbr[title]:after { 
content:" (" attr(title) ")"; }

a[href^="javascript:"]:after, 
a[href^="#"]:after { 
content:""; }
  
pre, blockquote { 
border:1px solid #999; 
page-break-inside:avoid; }

thead { 
display:table-header-group; }

tr, img { 
page-break-inside:avoid; }

@page { 
margin:.5cm; }

p, h2, h3 { 
orphans:3; 
widows:3; }

h2, h3 { 
page-break-after:avoid; }
}/*/mediaquery*/

/*480px __________________________________________________________________________________________________________ */
@media only screen and (min-width:480px) {

/* ROOT */
/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* MAIN */
/* COMPLEMENTARY */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

}/*/mediaquery*/

/*768px __________________________________________________________________________________________________________ */
@media only screen and (min-width:768px) {

/* HEADER */
header[role="banner"]	{height:40px; background:url(/static/site/images/header_bg.gif) top left repeat-x; box-shadow:0px 2px 3px 0px #666;position:fixed;width:100%;z-index:10;top:0;}
header[role="banner"] h1				{text-indent:-9999px; background:url(/static/site/images/logo.png) top center no-repeat;height:40px;width:128px;margin-left:68px;float:left;}
/*header[role="banner"] #settings			{position:absolute; right:0; top:-1px;}
header[role="banner"] #search			{position:absolute; right:55px; top:8px; }*/
header[role="banner"] #settings			{float:right;}
header[role="banner"] #search			{float:right; padding-top:8px;}
header[role="banner"] #user				{float:right; padding:8px 8px 0 20px; font-size:12px; }
header[role="banner"] #user img			{max-width:25px; max-height:25px; }
header[role="banner"] #user a			{margin-top:-8px;}
header[role="banner"] #search input		{border:1px solid #a4a4a4; border-radius:4px;padding:4px;}
header[role="banner"] #search button	{width:24px; height:24px; background:url(/static/site/images/pin_button.png) top left no-repeat;border:none;text-indent:-9999px;cursor:pointer;}

/* NAVIGATION */
nav ul 		{ list-style:none; }
nav li 		{ padding-left:5px; }
nav li#user 	{ display:inline; padding-left:0px; padding-right:10px;}
nav 			{  background: none repeat scroll 0 0 #ddd; border:1px solid #aaa; border-top:0; font-size: 12px; padding: 10px 15px 0 0; position: absolute; right: 5px; text-align: right; top: 41px; width: 100px; display:none; }
header[role="banner"] #settings:hover nav {display:block;}

/* CONTENT CONTAINER */
section[role="content"]	{
	width:748px;
	margin:40px 0 0 25px;
	padding:0;
	background:#ccc;
	overflow:auto;
	position:relative;
	box-shadow:0px 0 4px 2px #004b5b;
}
html.dailycandy section[role="content"]	{
	box-shadow:0px 0 4px 2px #b496a3;
}
html.techcrunch section[role="content"]	{
	box-shadow:0px 0 4px 2px #666;
}

html.dailycandy {
	overflow-y:scroll;
	background:url(/static/demo/images/dc_bg.png) top left fixed repeat-x #fff;
}

html.techcrunch {
	overflow-y:scroll;
	background:url(/static/demo/images/tc_bg.png) top left fixed repeat-x #fff;
}

/* MAIN */
section[role="main"] 	{ 
	clear:both;
	margin:0 0 0 210px;
	padding:0;
	float:left;
	background:#d2dee4;
	width:538px;
}

/* Tyler's crap, remove if wanted */
.pagination {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.pagination .current {
    margin-left: 180px;
    margin-right: 180px;
}
/* End Tyler's Crap */

html.dailycandy section[role="main"] {
	background:#f1d6eb;
}
html.techcrunch section[role="main"] {
	background:#d2f0d2;
}
html.dailycandy section[role="main"] .card tbody .column1      {background:#f8ebf5;}
html.techcrunch section[role="main"] .card tbody .column1      {background:#ecf9ec;}

html.dailycandy section[role="main"] h1      {text-shadow:2px 2px 1px #F8EBF5;}
html.techcrunch section[role="main"] h1      {text-shadow:2px 2px 1px #59c959;}

section[role="main"] h1 	{font-family:Arial; font-size:28px; color:#6b6b6b; text-shadow:2px 2px 1px #dee7ed; font-weight:normal; padding:10px; margin:0;}
section[role="main"] .card {background:#d2dee4; width:100%; margin-bottom:10px; border:1px solid #becdd7; border-right:0; border-left:0;}
section[role="main"] .card .interaction  {margin-top:1px; border-top:1px solid #d2dee4;}
section[role="main"] .card .block_content a 	 {font-style:italic;font-size:10px; color:#e66;}
section[role="main"] .card .column1  {text-align:center; vertical-align:middle;}
section[role="main"] .card .column2  {text-align:left; vertical-align:middle;}
section[role="main"] .card .interaction .column2  {text-align:left; vertical-align:top;}
section[role="main"] .card thead .column1      {width:113px; margin:0; padding:5px 0; background:#fff; text-align:center; }
section[role="main"] .card thead .column2      {margin:0; padding:5px 5px 5px 15px; background:url(/static/site/images/shaded_arrow.png) center left no-repeat #fff; font:italic bold 14px Arial; color:#6b6b6b;}
 
section[role="main"] .card tbody .column1      {background:#eaf0f3; vertical-align:top; border-right:1px solid #d2dee4;}
section[role="main"] .card tbody .column1 .reaction    {font-family:ReadrLeague, Arial; font-size:18px; color:#6b6b6b; font-size:24px; margin-top:10px; }
section[role="main"] .card tbody .column1 .count       {font-size:12px; margin-bottom:15px;}

section[role="main"] .card tbody .column2      {background:#ffffff; padding:15px;}
section[role="main"] .card tbody .column2 .who_action      {font:italic bold 12px Arial;}
section[role="main"] .card tbody .column2 .content       {font:normal normal 12px Arial;}
section[role="main"] .card tbody .column2 .content img   {max-width:100px; max-height:100px; xbox-shadow:0px 0px 4px #666; margin:5px 0;}
section[role="main"] .card tbody .column2 h5.label.small   {font:normal normal 9px Arial; text-transform:uppercase; margin-top:10px;}
section[role="main"] .card tbody .column2 .other_reactions 		{list-style-type:none; overflow:auto;}
section[role="main"] .card tbody .column2 .other_reactions li	{display:block; float:left; font-size:11px; font-style:italic; margin-right:20px; padding:1px 5px; background:#ddd; border-radius:3px;}
section[role="main"] .card tbody .column2 .comment_container    {background:#f0f0f0; border:1px solid #d3d4d4; box-shadow:0px 0px 2px #aaa; padding:5px;  }
section[role="main"] .card tbody .column2 .comment_container .header   {overflow:hidden; color:#666; clear:both; }
section[role="main"] .card tbody .column2 .comment_container .header .when       {float:right; font:normal 11px Arial;}
section[role="main"] .card tbody .column2 .comment_container .header .when span  {font-size:8px; text-transform:uppercase; }
section[role="main"] .card tbody .column2 .comment_container .header .avatar     {float:left; height:20px; width:20px;}
section[role="main"] .card tbody .column2 .comment_container .header .avatar img {height:20px; width:20px;}
section[role="main"] .card tbody .column2 .comment_container .header .who        {float:left; margin-left:5px; padding-top:4px; height:16px; font:italic bold 12px Arial; vertical-align:middle; }

section[role="main"] .card tbody .column2 .comment_container .comment   {overflow:hidden; color:#666; clear:both; position:relative; padding:5px 25px; font:normal 24px ReadrLeague;}
section[role="main"] .card tbody .column2 .comment_container .comment .count  {font:normal 12px Arial; }
section[role="main"] .card tbody .column2 .comment_container .comment .quote.open  { background:url(/static/site/images/quote_open.png) top left no-repeat; top:8px;left:0; position:absolute; height:20px; width:20px; text-indent:-9999px;}
section[role="main"] .card tbody .column2 .comment_container .comment .quote.close { background:url(/static/site/images/quote_close.png) top left no-repeat; bottom:20px;right:0; position:absolute; height:20px; width:20px; text-indent:-9999px;}

/* COMPLEMENTARY */
section[role="complementary"] 			{ 
	height:100%;
	position:fixed;
	left:25px;
	width:210px;
	padding:0;
	background:#f0f0f0;
	box-shadow:2px 0px 3px 1px #aaa;
}

section[role="complementary"] #user_data img {
	max-width: 180px;
}

section[role="complementary"] #user_data label {
	font-size:12px;
	font-weight:bold;
	margin-bottom:20px;
	display:block;
	overflow:visible;
}

section[role="complementary"] #user_data label span {
	font-size:10px;
	color:#666;
	font-style:italic;
	display:block;
	margin-left:23px;
	float:left;
	clear:both;
}


/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

}/*/mediaquery*/

/*992px __________________________________________________________________________________________________________ */
@media only screen and (min-width:992px) {

/* ROOT */
/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* MAIN */
/* COMPLEMENTARY */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

}/*/mediaquery*/

/*1382px __________________________________________________________________________________________________________ */
@media only screen and (min-width:1382px) {

/* ROOT */
/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* MAIN */
/* COMPLEMENTARY */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

}/*/mediaquery*/

/*2x __________________________________________________________________________________________________________ */
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2) {

/* ROOT */
/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* MAIN */
/* COMPLEMENTARY */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

}/*/mediaquery*/

/* 
Sources:
http://meyerweb.com/eric/tools/css/reset
http://people.opera.com/patrickl/experiments/keyboard/test
http://gist.github.com/413930
http://pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap
http://sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars
http://tjkdesign.com/ez-css/css/base.css
http://viget.com/inspire/styling-the-button-element-in-internet-explorer
http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing
http://html5doctor.com/html-5-reset-stylesheet/
http://praegnanz.de/weblog/htmlcssjs-kickstart/
http://camendesign.com/design/
http://yui.yahooapis.com/2.8.1/build/base/base.css
http://webaim.org/techniques/css/invisiblecontent/
http://drupal.org/node/897638
*/