/* _________________________________________________

320 and Up boilerplate extension

Author:Andy Clarke
Version:0.9b
URL:http://stuffandnonsense.co.uk/projects/320andup/
_____________________________________________________

ROOT
HEADINGS
TYPOGRAPHY
LINKS
FIGURES & IMAGES
TABLES
FORMS (See css/mylibs/forms.css)
BANNER header[role="banner"]
NAVIGATION nav[role="navigation"]
CONTENT
MAIN div[role="main"]
COMPLEMENTARY div[role="complementary"]
CONTENTINFO footer[role="contentinfo"]
GLOBAL OBJECTS
VENDOR-SPECIFIC 
TEMPLATE SPECIFICS
MODERNIZR

COLOURS 

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display:block; }

abbr[title] { 
border-bottom:1px dotted; 
cursor:help; }

/* ROOT */

.clear{
    clear:both;
}

html {
	/*overflow-y:scroll;*/
  background:#fafafa;
  /*background:#f0f0f0;*/
}

body { 
	margin:0 auto;
	padding:0;
	font:100%/1.4 Arial;
	color:#666;
}

/* HEADINGS */

h1, 
h2 { font-family:Helvetica,'HelveticaBold',Arial; }

h1 { 
font-size:3em; /* 48 / 16 = 3 */
line-height:1.2; }

h2 { 
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 10px;
}
h3 { 
font-size:1.5em; /* 24 / 16 = 1.5 */
line-height:1.3; }

h4 { 
font-size:1.25em; /* 20 / 16 = 1.25 */
line-height:1.25; }

h5 { 
font-size: 12px;
font-style: italic;
font-weight: bold;
margin: 10px 0 0;
}

h6 { 
font-size:1em; /* 16 / 16 = 1 */ }

/* TYPOGRAPHY */

p, 
ol, 
ul, 
dl, 
address { 
/* margin-bottom:1.5em; */
font-size:1em; /* 16 / 16 = 1 */ }

ul, 
ol { 
margin:0 0 0 -24px; 
padding-left:24px; }

ul { 
list-style-type:disc; }

ol { 
list-style-type:decimal; }

li ul, 
li ol { 
margin:0;
font-size:1em; /* 16 / 16 = 1 */ }

dl, 
dd { 
margin-bottom:1.5em; }

dt { 
font-weight:normal; }

blockquote  { 
margin:0 0 1.5em -24px; 
padding-left:24px; 
border-left:1px solid rgb(200,200,200);
font-style:italic; }

blockquote:before, 
blockquote:after, 
q:before, 
q:after {
content:'';
content:none; }

b, 
strong	{ 
font-weight:bold; }

i, 
em { 
font-style:italic; }

sup, 
sub { 
position:relative;
font-size:75%; 
line-height:0; }

sup { 
top:-.5em; }

sub { 
bottom:-.25em; }

address { 
font-style:normal; }

pre { 
margin-bottom:1.5em; 
white-space:pre; 
white-space:pre-wrap; 
word-wrap:break-word; }

pre, 
code { 
font:.875em 'andale mono', 'lucida console', monospace; 
line-height:1.5; }

small {
font-size:1em; /* 16 / 16 = 1 */ }

/* LINKS */

a, 
a:visited {outline:none;color:#4b8ac8;text-decoration:none; }
 
a:hover { 
outline:none;
color:rgb(40,40,40); 
text-decoration:underline; }
 
a:active, 
a:focus { 
outline:none;
color:rgb(0,0,0); }

/* FIGURES & IMAGES */

figure {
margin-bottom:1.5em; }

figure img,
figure object,
figure embed {
margin-bottom:.75em;
max-width:100%; }

figcaption {
display:block;
font-weight:normal; }

/* TABLES */

table { 
border-collapse:collapse;
border-spacing:0;
margin-bottom:1.4em; 
width:100%;
}

th { 
font-weight:bold; }

th, td, caption {}

tfoot { 
font-style:italic; }

caption { background-color:transparent; }

/* FORMS (See css/mylibs/forms.css) */
/*div.container button {
  background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e8e8e8));
  background: -moz-linear-gradient(center top , #ffffff, #e8e8e8) repeat scroll 0 0 transparent;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  border-top: 1px solid #f8f8f8;
  -webkit-box-shadow: 0 1px 2px rgba(128, 128, 128, 0.7);
  -moz-box-shadow: 0 1px 2px rgba(128, 128, 128, 0.7);
  box-shadow: 0 1px 2px rgba(128, 128, 128, 0.7);
  border:1px solid #ccc;
  color: #787878;
  cursor: pointer;
  font-family: Helvetica,'HelveticaRegular',Arial,sans-serif;
  font-size: 16px;
  font-weight:100;
  margin-top: 6px;
  padding-top: 4px;
  display:block;
}
*/

label {
  display:block;
}
input[type="text"] {
  /*margin-bottom:20px;*/
}

ul.errorlist {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.error,
ul.errorlist li {
  color:#4c4c4c;
  font-family:Helvetica,'HelveticaBold',Arial,sans-serif;
  font-weight:bold;
  font-size:14px;
  border:1px solid #bc6464;
  background:#f2dede;
  margin:5px 0;
  padding:5px 10px;
}

p, h1, form {border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}


/* GLOBAL OBJECTS */

.clearfix { zoom:1; }
.clearfix:before, 
.clearfix:after 	{ content:"\0020"; display:block; height:0; overflow:hidden; }
.clearfix:after { clear:both; }

/* VENDOR-SPECIFIC */

body {
-webkit-text-size-adjust:100%; 
-ms-text-size-adjust:100%; }

a:link { 
-webkit-tap-highlight-color:rgb(52,158,219); }

::-webkit-selection { 
background:rgb(23,119,175); 
color:rgb(250,250,250); 
text-shadow:none; }

::-moz-selection { 
background:rgb(23,119,175); 
color:rgb(250,250,250); 
text-shadow:none; }

::selection { 
background:rgb(23,119,175); 
color:rgb(250,250,250); 
text-shadow:none; }

/* input[type=search] {
-webkit-appearance:none; }

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
display:none; } */

::-webkit-input-placeholder {
padding:10px;
font-size:.875em; 
line-height:1.4; }

input:-moz-placeholder { 
padding:10px;
font-size:.875em; 
line-height:1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode:bicubic; }

div,
input,
textarea  { 
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box; }

/* Non-semantic helper classes */

/* Image replacement */
.ir { 
display:block; 
text-indent:-999em; 
overflow:hidden; 
background-repeat:no-repeat; 
text-align:left; 
direction:ltr; }

/* Hide for screenreaders and visual browsers */
.hidden { 
display:none; 
visibility:hidden; }

/* Hide visually */
.visuallyhidden { 
position:absolute;
clip:rect(0 0 0 0); 
overflow:hidden;
margin:-1px;
padding:0;
height:1px;      
width:1px;
border:0; }

/* Allow an element to be focusable via keyboard  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { 
position:static;
clip:auto; 
overflow:visible;
height:auto; 
margin:0;   
width:auto; }

/* Hide but maintain layout */
.invisible { 
visibility:hidden; }

/* TEMPLATE SPECIFICS */

#goog-fixurl ul  {
list-style-type:none; }

#goog-fixurl input  {
margin-bottom:1.5em; }

/* MODERNIZR */

/* MEDIA QUERIES */

/*Print __________________________________________________________________________________________________________ */
@media print {
* { 
background:transparent !important; 
color:black !important; 
text-shadow:none !important; 
filter:none !important;
-ms-filter:none !important; } 

a, a:visited { 
color:#444 !important; 
text-decoration:underline; }

a[href]:after { 
content:" (" attr(href) ")"; }

abbr[title]:after { 
content:" (" attr(title) ")"; }

a[href^="javascript:"]:after, 
a[href^="#"]:after { 
content:""; }
  
pre, blockquote { 
border:1px solid #999; 
page-break-inside:avoid; }

thead { 
display:table-header-group; }

tr, img { 
page-break-inside:avoid; }

@page { 
margin:.5cm; }

p, h2, h3 { 
orphans:3; 
widows:3; }

h2, h3 { 
page-break-after:avoid; }
}/*/mediaquery*/

/*480px __________________________________________________________________________________________________________ */
/*@media screen and (max-device-width:600px) {*/
@media screen and (max-width:396px) {
/* ROOT */
/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* MAIN */
/* COMPLEMENTARY */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

/*}*/
/*/mediaquery*/

/*768px __________________________________________________________________________________________________________ */
/*@media only screen and (min-width:768px) {*/


/* NAVIGATION */
nav ul 		{ list-style:none; }
nav li 		{ padding-left:5px; }
nav li#user 	{ display:inline; padding-left:0px; padding-right:10px;}
nav 			{  background: none repeat scroll 0 0 #ddd; border:1px solid #aaa; border-top:0; font-size: 12px; padding: 10px 15px 0 0; position: absolute; right: 5px; text-align: right; top: 41px; width: 150px; display:none; }

/* CONTENT CONTAINER */
section[role="content"]	{
	margin:36px 0 0 0;
	padding:0;
	/*background:#f3f3f3;*/
	overflow:auto;
	position:relative;
}

/* MAIN */
section[role="main"] 	{ 
	clear:both;
	margin:62px auto 0;
	padding:0;
}


/* bootstrap css resets */
label, input, button, select, textarea,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
{
    height: auto;
    width: auto;
    line-height: 14px;
    font-size: 14px;
}

.container{
    width: auto;
}
.container label{
    margin: 5px 0;
}
.container button {
    margin: 15px 0 5px 0;
}
/* end bootstrap css resets */




/* Tyler's crap, remove if wanted */
.pagination {
    position: relative;
    text-align: center;
    margin:10px;
    clear:both;
}

/* End Tyler's Crap */
/*temp bootstap override*/
.pagination a {
    background: none repeat scroll 0 0 transparent;
    border: medium none !important;
    font-size: 14px;
    line-height: 14px !important;
    margin: 1px 10px;
    position: absolute;
}

.rdrIcon   {
    background: url("../../widget/images/readr_icons.png") no-repeat scroll -1px 1px transparent;
    float: left;
    height: 16px;
    margin: 0 2px 0 -2px;
    width: 16px;
}


    /*this is annoying - should be able to add it to the top instead, but it was getting cut off and z-index/overflow:visible; wasnt doing it.*/
    #splashMainShadow{
        -moz-box-shadow: 0 5px 5px #999;
        -webkit-box-shadow: 0 5px 5px #999;
        box-shadow: 0 4px 5px #999;
        position: relative;
        height: 5px;
        top: -6px;
    }
    #splashMain .mainSplashBlurb img{
        /*compensate for the aesthetic of the bubble off to the left.  The text should look centered.*/
        left: -12px;
        position: relative;
    }
    #splashMain .mainSplashBlurbInner{
        text-align: center;
        margin: 60px 30px;
    }


    #splashMain .callToActionButtons {
        text-align: center;
        width: 100%;
        margin-top: 40px;
    }
        #splashMain .btn {
            margin: 5px 10px;
            display: inline-block;
        }


    #splashSlides{
    }
    #splashSlides .splashSlidesInner{
        margin: 30px 80px;
        /*bias it for visual*/
        margin-left: 65px;
    }
    
    #splashSlides img{
        max-width: 100%;
    }

#splashSecondary{
    /*background: #f5f5f5;*/
    background:url(../images/tile-background.jpg) repeat;
}
#splashSecondaryInner{    
    padding: 30px 0;
}

.whatIsReadrBoard {
  float:left;
  width:475px;
  font-size:14px;
  line-height:18px;
}
.whatIsReadrBoardWrap {
  padding:20px 30px 0px;
}
.whatIsReadrBoardWrap h2 {
  font-size:16px;
  margin:0;
  padding:0;
  font-weight:bold;
}
.whatIsReadrBoardWrap a {
  font-size:13px;
  font-weight:bold;
}

.featureQuoteWrap{
  float:right;
  width:445px;
}

    .featureQuoteWrapInner{
        padding:20px 30px 0px;
    }
    .featureQuoteWrapInner img{
        float:left;
        width:65px;
        margin:0px 15px 0 0;

    }

    .featureQuoteWrapInner h3 {
        line-height:16px;
        font-size:14px;
        color:#6b6b6b;
    }

    .featureQuoteWrapInner h3 span.alexis {
      display:block;
      margin-top:20px;
      line-height:10px;
      /*font-size:18px;*/
    }
    .featureQuoteWrapInner h3 span.cofounder {
      font-size:12px;
      font-weight:normal;
    }

.asSeenOnWrap{
    text-align: center;
    display:block;
    clear:both; 
}

    .asSeenOnWrap a{
        position: relative;
        margin: 10px 20px;
        opacity: .7;
        display:inline-block;
    }

    a:hover {
        text-decoration: none;
        opacity: 1;
    }
    .asSeenOnWrap .a1{
        top: -6px;
    }
    .asSeenOnWrap .a3{
        top: -12px;
    }
    
    .asSeenOnWrap img{
        padding: 10px;
    }

    .asSeenOnWrap .a1 img { width:210px; }
    .asSeenOnWrap .a2 img { width:170px; }
    .asSeenOnWrap .a3 img { width:100px; margin-bottom:-10px; }
    .asSeenOnWrap .a4 img { width:110px; }

.theSpitch {
  margin-bottom:10px;
}
.callToActionButtons{
    /*margin: 0 auto;
    width: 550px;
    padding: 15px 0;*/
    display:inline-block;
}
.callToActionButtons a{
    font-weight:bold;
    font-size:18px;
    /*margin-top:5px;*/
}
.callToActionButtons .left{
    float: left;
    margin-right:30px;
    margin-left:20px;
}
.callToActionButtons .right{
    float: right;
}

#cards { }
section[role="main"] div.card { }
section[role="main"] div.card header      { padding:15px 20px 0; z-index:3; overflow:auto; 
  border-bottom:1px solid #ececec;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
section[role="main"] div.card a.added_by_user         { display:block; float:left; }
section[role="main"] div.card div.who_and_what        { float:left; margin:5px 10px; color:#999; max-width:185px; }
section[role="main"] div.card.wide div.who_and_what   { max-width:485px; }
section[role="main"] div.card div.who_and_what h1     { font-size:32px; font-weight:bold; max-width:205px; }
section[role="main"] div.card.wide div.who_and_what h1     { max-width:505px; }
section[role="main"] div.card div.who_and_what h1 a   { color:#454545; text-decoration:none; }
section[role="main"] div.card div.who_and_what h4     { font-size:12px; padding-left:2px;}
section[role="main"] div.card div.who_and_what h4 a   { color:#999; text-decoration:none; }
section[role="main"] div.card div.who_and_what h4 a:hover       { text-decoration:underline; }
section[role="main"] div.card div.who_and_what h4 span.metoos   { cursor:pointer; }
section[role="main"] div.card div.who_and_what h4 span.metoos:hover   { text-decoration:underline; }

section[role="main"] div.card div.date {
    font-size: 10px;
    /*position: absolute;*/
    /*right: 0;*/
    color:#bbb;
    float:right;
    margin-bottom:-17px;
}

section[role="main"] div.card div.block_content   { font-size:11px; display:none; position:absolute; right:10px; white-space:pre; top:5px;}
section[role="main"] div.card:hover div.block_content   { display:block; }
section[role="main"] div.card div.block_content a { color:red; }

section[role="main"] div.card header h1	span 	{ font-size:20px; }
section[role="main"] div.card div.meta            { clear:both; font-size:11px; margin:5px; overflow:auto; position: relative; padding:0 25px 15px;}
section[role="main"] div.card.pag div.meta 				{ }

section[role="main"] div.card div.meta div.publisher img	{ max-width:80px; max-height:30px; }
section[role="main"] div.card div.meta div.title      { width:200px; }
section[role="main"] div.card div.meta div.title a    { color:#888; font-size:14px; font-weight:bold; }
section[role="main"] div.card div.meta div.title a.external_link    {  display: block;float: right;font-size: 20px;margin-left: 10px; }
section[role="main"] div.card div.meta div.content_type   { margin:0 0 0 8px; xxbackground:url(../images/type_text.png) top left no-repeat; xxtext-indent:-9999px; float:left; }
section[role="main"] div.card.img div.meta div.content_type,
section[role="main"] div.card.med div.meta div.content_type { margin:0px 8px 0 2px; }
section[role="main"] div.card.txt div.meta div.content_type { margin:3px 0 0 5px;}



section[role="main"] div.metaLeft { float: left; width: 25px; position: relative;}
section[role="main"] div.metaRight { float: left; width: 200px; overflow:hidden;}
section[role="main"] div.card.wide div.metaRight { width: 500px; }

section[role="main"] div.metaRight em.from { display:block; color:#787878; padding:0px 4px;}
section[role="main"] div.metaRight div.publisher { width: 190px;}

section[role="main"] div.card.pag_container div.meta { z-index: 5; overflow: visible; margin: 8px 0;}
section[role="main"] div.card.pag_container div.metaLeft { float: left; width: 40px;}
section[role="main"] div.card.pag_container div.metaLeft .pageIcon { position: absolute;}
section[role="main"] div.card.pag_container div.metaRight { float: left; width: 90px;}
section[role="main"] div.card.pag_container div.metaRight div.publisher { width: auto;}

section[role="main"] div.card.pag_container header{
    border-bottom:  1px solid #DDDDDD;
}
section[role="main"] div.card.pag_container div.meta div.date{
    background-color: white;
    padding: 0 4px;
    position: absolute;
    right: 5px;
    top: -16px;
}

section[role="main"] div.meta div.favicon { position: absolute; bottom: 0; left: 4px;}

/*section[role="main"] div.card.pag.heightAdjusted header {
    width: 100%; 
    bottom: 0 !important;
    position: absolute !important;
}*/

section[role="main"] div.card header img.user_avatar  { display: inline-block; margin-bottom:0px; width:50px; max-height: 50px;}
/*section[role="main"] div.card div.meta img.me_too  { width:25px;height:24px;background:url(../images/me_too.png) -25px 0px no-repeat;display:block;float:right;cursor:pointer;margin-top:-2px;}
section[role="main"] div.card div.meta img.me_too:hover   { background-position: 0px 0px; }*/
section[role="main"] div.card div.meta div.me_too_outcome { display:none;border-top:1px solid #aaa;padding:3px;margin-top:6px;}
section[role="main"] div.card div.meta div.me_too_outcome div.close { font-size:11px;text-align:right;
    opacity: 0.8;
    -moz-pacity: 0.8;
    filter:alpha(opacity=8);
}
/*section[role="main"] div.card.pag div.meta div.me_too_outcome div.close { text-align:left; }*/

section[role="main"] div.card div.meta em { display:block; }
ul.shareLinks { display: block !important; margin: 2px 0 0 !important; top: 0 !important; padding: 0 !important; float:left !important; }
ul.shareLinks li        {padding:0px 2px !important; display:inline-block !important; list-style:none !important;}
ul.shareLinks img       {width:18px !important; margin:0 !important;}


section[role="main"] div.card.txt div.content           { xxborder-top: 1px solid #fff; margin:0; position:relative;z-index:2;}
/*section[role="main"] div.card.txt div.content div.content_body    { font-size:20px; font-weight:normal; font-family:Helvetica, 'HelveticaBold', Arial, sans-serif; font-style:italic; xxbackground:#f0f0f0; padding:10px; background:url("../images/noise.png") repeat scroll 0 0 #f2f2f2; }*/
section[role="main"] div.card.txt div.content div.content_body        { font-size:20px; font-weight:400; font-family:Georgia,Cambria,"Times New Roman",Times,serif; color:#999; padding:10px 20px 20px; text-align:center;}
section[role="main"] div.card.txt div.content div.content_body:hover  { color:#008be4;}
section[role="main"] div.card.wide.txt div.content div.content_body { text-align:left; }
section[role="main"] div.card.txt div.content a { color:#606060; text-decoration:none; }

section[role="main"] div.card div.content .buttonsMsg {
    background:#fff;
    border:1px solid #999;
    font-size:11px;
    padding:4px;
}
section[role="main"] div.card div.content .buttonsMsg a{
    color: #1777AF;
    font-weight: bold;
}
section[role="main"] div.card div.content .tag_remove{
    color: #A77;
}
section[role="main"] div.card div.content .comments{
    padding: 5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box; 
}

#add_to_board_form .rateContentText{
    background: #ddd;
    padding: 10px;
}
#add_to_board_form .yourBoards{
    float:right;
    margin-left:10px;
    margin-top: 5px;
}

/*section[role="main"] div.card.txt div.content div.content_body:first-child:first-letter { font-size:31px; line-height:33px; font-weight:bold; float:left; padding:0px 2px 0 0; text-transform:uppercase;}*/

section[role="main"] div.card.img div.content                               { margin:0; position:relative; z-index:2;}
section[role="main"] div.card.img div.content div.content_body img			{ width:298px; margin-top:-1px; xxmargin-left:-35px; position:relative;z-index:1; xxborder-top:1px dashed #ccc; xxborder-bottom:1px dashed #ccc; xpadding:5px 0;}
section[role="main"] div.card.med div.content div.content_body iframe		{ width:298px; margin-top:-1px; xxmargin-left:-35px; position:relative;z-index:1; xxborder-top:1px dashed #ccc; xxborder-bottom:1px dashed #ccc; xpadding:5px 0;}

section[role="main"] div.card div.comments    { xxbackground:#eee; xxborder:1px solid #d3d4d4; xxbox-shadow:0px 0px 2px #aaa; padding:5px; clear:both; margin:15px; display:none; }
section[role="main"] div.card div.comments h2 { 
    font-size:12px; 
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    margin-bottom: 3px;
}
section[role="main"] div.card div.comment_container { position:relative; border-bottom:1px solid #eee;}
section[role="main"] div.card div.comment_container .block_content   { position:absolute; right:5px; bottom: 3px; font-size:11px; color:red; }
section[role="main"] div.card div.comment_container .header   {overflow:hidden; color:#666; clear:both; padding-top:3px;}
section[role="main"] div.card div.comment_container .header .when       {float:right; font:normal 11px Arial; color:#aaa;}
section[role="main"] div.card div.comment_container .header .when span  {font-size:8px; text-transform:uppercase; }
section[role="main"] div.card div.comment_container .header .avatar     {float:left; height:20px; width:20px;}
section[role="main"] div.card div.comment_container .header .avatar img {height:20px; width:20px; max-width:155px; }
section[role="main"] div.card div.comment_container .header .who        {float:left; margin-left:5px; padding-top:4px; height:16px; font:italic bold 12px Arial; color:#999; }
section[role="main"] div.card div.comment_container .comment   {overflow:hidden; color:#666; clear:both; position:relative; padding:6px 26px; font:normal 24px Helvetica, 'HelveticaRegular';}
section[role="main"] div.card div.comment_container .comment .count  {font:normal 12px Arial; }
section[role="main"] div.card div.comment_container .comment .comment_body  { font-size:12px; }
section[role="main"] div.card div.comment_container .comment .quote.open  {    display:none;                background:url(../images/quote_open.png) top left no-repeat; top:8px;left:0; position:absolute; height:20px; width:20px; text-indent:-9999px;}
section[role="main"] div.card div.comment_container .comment .quote.close {    display:none;                background:url(../images/quote_close.png) top left no-repeat; bottom:20px;right:0; position:absolute; height:20px; width:20px; text-indent:-9999px;}



/* from Bootstrap CSS */
.tooltip {
  position: absolute;
  z-index: 12020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  /*margin-top: -15px;*/
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

/* COMPLEMENTARY */
section[role="complementary"] { 
    width:100%;
    height:50px;
    position:fixed;
    left:0px;
    padding:0;
    background:#eaf3fc;
    box-shadow:0 0 10px #888;
    z-index:500;
}

/*section[role="complementary"] #user_data {
  float:left;
  margin:5px;
}*/
/*section[role="complementary"] #user_data img {
	max-width:40px;
}*/


/* temp style: */
section[role="complementary"] #user_data label {
  display:inline-block;
  float:none;
  font-size:11px;
}


/*section[role="complementary"] #user_data label span {
  font-size:10px;
  color:#666;
  font-style:italic;
  display:block;
  margin-left:23px;
  float:left;
  clear:both;
}*/

#sidebar {
	padding:20px;
	font-size:12px;
}

#sidebar p {
	margin-bottom:20px;
}

#sidebar h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar    {padding:0;}
#sidebar label  {font-size:11px !important;}
#sidebar h2   {font-size:26px; font-weight:normal; margin:10px; }
#sidebar h3   {font-size:16px; font-weight:100; margin:0 10px; font-family:Arial; color:#5f5f5f; text-align:center; display:inline-block;}
#sidebar #avatar,
#sidebar #user_data      {text-align:center; margin:8px 10px 0; position:relative;}
#sidebar #avatar img     {max-height:32px; margin-bottom:-5px; }
#sidebar #user_data img      {max-height:32px; margin-bottom:-9px;}
#sidebar #follow      {margin:5px 10px 10px;}
#sidebar #follow button   {background:#cde4f3; cursor:pointer; border:1px solid #8bb6d0; border-radius:3px; box-shadow: -1px -9px 11px -5px #559FCB inset;color: #42718E; text-shadow: 1px 1px 1px #CDE4F3; font-size:12px; font-weight:bold;}
#sidebar #social-icons img  {width:20px; height:20px; }
#sidebar #social-icons    {margin:0 10px;}
#sidebar ul[role="filters"]         {font-size: 13px; list-style-type: none; position: absolute; right: 0; top: 14px;}
#sidebar ul[role="filters"] li        {text-align:center; padding:2px 25px 1px 25px; cursor:pointer; }
#sidebar ul[role="filters"] li:hover,
#sidebar ul[role="filters"] li.active   {xxfont-weight:bold; color:#008be4; border:1px solid #bababa; border-left:0; border-right:0;}
#sidebar #follow_info { position:absolute; right:10px; top:10px; }
#sidebar #follow_info strong { font-size:16px; }
.fancy_user_list h2       { font-size:24px;font-family:Helvetica, 'HelveticaRegular',Arial;font-weight:bold; }
.fancy_user_list li       { padding:2px; margin-bottom:5px; }
.fancy_user_list li:hover { background:#eee; }
.fancy_user_list li div.follow_type       { float:right;font-size:10px;color:#999;font-style:italic; }
.fancy_user_list li a img  { max-width:40px; }
#sidebar #which_content { position:absolute; left:10px; top:10px; }

/*#sidebar #user_data h3 {xxfont-size:30px; font-weight: bold; xxpadding-bottom:10px; xxpadding-left:10px}
#sidebar #user_data img {float:left;}*/

#sidebar h2,
#sidebar #avatar,
#sidebar #user_data,
#sidebar #follow,
#sidebar #following,
#sidebar #followed_by,
#sidebar h3[role="profile_section_header"]
html.dailycandy #sidebar h2,
html.dailycandy #sidebar #avatar,
html.dailycandy #sidebar #user_data,
html.dailycandy #sidebar #follow,
html.dailycandy #sidebar #following,
html.dailycandy #sidebar #followed_by,
html.dailycandy #sidebar h3[role="profile_section_header"],
html.dailycandy #sidebar h3[role="profile_section_header"]  {display:block;}

/*************** WIDE PAGES ***************/
/* CONTENT CONTAINER */
body.wide section[role="content"]	{
	width:100%;
	margin:40px auto 0;
	padding:0;
	overflow:auto;
	position:relative;
	box-shadow:none;
}

/* MAIN */
body.wide section[role="main"] {
	clear:both;
	margin:0;
	padding:20px 0;
}
body.wide section[role="main"] h1 {
  font-size:28px;
  margin:0 0 10px 20px;
}
body.wide section[role="main"] div.container {
	background:#fff;
  border:1px solid #ccc;
  padding:10px 20px;
  box-shadow:0px 0px 4px #ccc;
  border-left:0;
  border-right:0;
  font-size:12px;
}

body.wide section[role="complementary"] { 
	display:none;
}

body div.simpleMessage{
    margin: 15px;
}

/* pie chart & other popular reactions */
#pie_chart_container    { float:left; width:280px; height:320px; position:relative;z-index:1; overflow: hidden;}
#pie_chart              { position:relative; width:400px; height:400px; top:-40px; left:-60px;}
#pie_chart_labels { float:right;width:180px;text-align:left; position:relative;z-index:2; margin:10px;}
#pie_chart_credit {
    color: #DDD;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#pie_chart_labels li                { list-style-type:none; margin:0;padding:0; font-family:Helvetica,Arial,sans-serif;font-weight:bold; font-size:20px;}
#pie_chart_labels li a span         { font-size:12px; color:#999; }
#pie_chart_labels li a              { text-decoration:none; display:block; padding:5px;}
#pie_chart_labels li:nth-child(1) a { color:#17416f;}
#pie_chart_labels li:nth-child(2) a { color:#5b1408;}
#pie_chart_labels li:nth-child(3) a { color:#4a5c1a;}
#pie_chart_labels li:nth-child(4) a { color:#40335c;}
#pie_chart_labels li:nth-child(5) a { color:#236076;}
#pie_chart_labels li:nth-child(6) a { color:#a85d28;}
#pie_chart_labels li:nth-child(7) a { color:#6d83a4;}
#pie_chart_labels li:nth-child(8) a { color:#82615f;}

#pie_chart_labels li.active:nth-child(1) a { background:#17416f;color:#fff;}
#pie_chart_labels li.active:nth-child(2) a { background:#5b1408;color:#fff;}
#pie_chart_labels li.active:nth-child(3) a { background:#4a5c1a;color:#fff;}
#pie_chart_labels li.active:nth-child(4) a { background:#40335c;color:#fff;}
#pie_chart_labels li.active:nth-child(5) a { background:#236076;color:#fff;}
#pie_chart_labels li.active:nth-child(6) a { background:#a85d28;color:#fff;}
#pie_chart_labels li.active:nth-child(7) a { background:#6d83a4;color:#fff;}
#pie_chart_labels li.active:nth-child(8) a { background:#82615f;color:#fff;}

#pie_chart_labels li:hover:nth-child(1) a { background:#17416f;color:#fff;}
#pie_chart_labels li:hover:nth-child(2) a { background:#5b1408;color:#fff;}
#pie_chart_labels li:hover:nth-child(3) a { background:#4a5c1a;color:#fff;}
#pie_chart_labels li:hover:nth-child(4) a { background:#40335c;color:#fff;}
#pie_chart_labels li:hover:nth-child(5) a { background:#236076;color:#fff;}
#pie_chart_labels li:hover:nth-child(6) a { background:#a85d28;color:#fff;}
#pie_chart_labels li:hover:nth-child(7) a { background:#6d83a4;color:#fff;}
#pie_chart_labels li:hover:nth-child(8) a { background:#82615f;color:#fff;}

.reactions { overflow:auto; margin:20px 0 0; clear:both;}
.section_content .reactions { overflow:auto; margin:20px auto 0; clear:both; width:960px;}
.most_popular { float:left;width:489px; overflow-y:auto; overflow-x:hidden; border-right:1px solid #e0e0e0;}
.most_popular.solo { border-right:none; margin:0 235px !important;}
.other_reactions { float:right;width:410px;padding-left:20px; overflow-y:auto; overflow-x:hidden; text-align:left; }
section[role="most popular tags"] ol li.large { font-size:20px; }
.sectionHeader {position:relative;z-index:10;}


#pie_chart_labels li.active a span         { color:#fff;}
section[role="group panel header"]      { width:100%; background:#7f7f7f; color:#eee; overflow:auto; box-shadow:0px -10px 9px -9px #454545 inset; position:fixed; bottom:0; z-index:450; }
section[role="group panel header"] h3     { float:left; overflow:auto; padding:5px; margin:0; font-size:12px; font-weight:bold; background: none repeat scroll 0 0 #638296; box-shadow: 0 -10px 9px -9px #454545 inset; }

section[role="group links"] 		{ padding:4px; font-size:12px; float:left; border-left:1px solid #ddd; text-shadow:1px 1px 2px #454545;}

ul.link-list 		{ list-style-type:none; overflow:auto; float:right; margin-left: -18px;}
ul.link-list li 	{ float:left; margin-right:20px; }
ul.link-list li a			{ color:#fff; }
ul.link-list li.active a	{ color:#95c9ea; font-weight:bold; }

/* settings form */
div.column              { float:left; width:45%; }
div.leftColumn          { margin-right:5%; }
div.column section      {margin-bottom: 10px;}
div.column .formRow {
    margin: 15px 0;
}
div.column .labelTitle{
    margin: 6px 0 2px 0;
}
.word_blacklist_row .hidden{
    display: none;
}
#toggle_word_blacklist_wrap a{
    float: left;
}
#toggle_word_blacklist_wrap span.floatLeft{
    float: left;
    margin: 1px 0 0 6px;
}


form.big-form button            { clear:both; font-size:24px; display:inline-block; padding: 10px;}
form.big-form h3            { color:#668294; border-bottom:1px solid #668294; margin:10px 0;}

form.big-form 				{ padding:10px 20px; }
form.big-form label			{ display:block; margin: 5px 0;}
form.big-form label span    { display:block; font-style:italic; font-size:12px; }
form.big-form label span.labelTitle {font-style:normal; font-weight: bold; margin-top: 1px;}
form.big-form label span.formInputExample	{color: #999;}
form.big-form .configuarationSection h4     {
    font-size: 14px;
    margin-bottom: 10px;
}

form.big-form input			{ font-size:18px; margin-bottom:10px; font-family:Arial; }
form.big-form input[type="checkbox"]	{ display:block; float:left; margin: 0 5px 0 2px; }
form.big-form input[type="text"]		{ width: 100%; }
form.big-form input#id_call_to_action	{ width:100%; }

section[role="datepicker"]			{ font-size:12px; background:#eee; padding:5px; border-top:1px solid #7f7f7f; border-bottom:1px solid #7f7f7f; }
section[role="datepicker"] input  { width:80px; text-align:center; margin:o 3px; }
section[role="datepicker"] label	{ display:inline; }
#ui-datepicker-div {z-index:11 !important;}

section[role="panels"] 					{ xfloat:left; overflow:auto; padding:10px; }
section[role="wide panels"] 			{ float:left; padding:0 10px 10px; width: 740px; }
section[role="wide panels"] section		{ margin-bottom:20px; }
section[role="wide panels"] h3 			{ font-family:Helvetica, 'HelveticaRegular',Arial; font-size:30px; margin:0; border-top:1px solid #aaa; padding:7px 0; }
section[role="wide panels"] h4 			{ font-family:Helvetica, 'HelveticaRegular',Arial; font-size:24px; margin:0; }
section[role="wide panels"] ol li			{ margin:0 0 30px 22px; }
section[role="wide panels"] ol li strong	{ font-size:24px; }
section[role="wide panels"] ol li p			{ font-size:14px; margin-bottom:14px; }
section[role="wide panels"] ol li li		{ font-size:14px; margin-bottom:0; }
section[role="wide panels"] ol li p strong,
section[role="wide panels"] ol li li strong	{ font-size:14px; }

section[role="rb examples"] 				{ text-align:center; }
section[role="rb examples"] h2 				{ font-size:36px; border-bottom:1px solid #ddd; margin-bottom:10px;}

section[role="interaction frequency"] 				{ overflow:auto; text-align:center; }
section[role="interaction frequency"] h1			{ font-family:Helvetica,'HelveticaBold',Arial; font-size:80px; text-shadow: 1px 2px 1px #fff; padding:25px 0 0; margin:0; color:#638296; background:none;}
div[role="total interactions"]						{ width:130px; float:left; overflow:auto; }
div[role="frequency chart"]							{ width:610px; margin-left:130px; color:#ddd; box-shadow:0px -10px 9px -9px #454545 inset; min-height:100px; }

section[role="most popular tags"] ol				{ margin:0; padding:0; overflow:auto; list-style-type:none;}
section[role="most popular tags"] ol li				{ margin:0 10px 0 0; display:inline-block; padding-right:25px; }
section[role="most popular tags"] ol li.large		{ font-size:24px; }
section[role="most popular tags"] ol li.medium		{ font-size:16px; }
section[role="most popular tags"] ol li.small		{ font-size:12px; }

section[role="thin panels"] 			{ float:left; padding:0 10px 10px; width:320px; font-size:12px; }
section[role="thin panels"] h3 			{ font-family:Helvetica,'HelveticaRegular',Arial; font-size:24px; margin-bottom:0; border-top:1px solid #aaa; padding:7px 0; }

table[role="active content table"] thead td,
table[role="active pages table"] thead td						{ font-weight:bold;}

table[role="active content table"] tr:hover,
table[role="active pages table"] tr:hover						{ background:#d8e8f6;}

table[role="active content table"] td,
table[role="active pages table"] td								{ vertical-align:top; font-size:12px; }

table[role="active content table"] td[role="via"],
table[role="active pages table"] td[role="url"]					{ width:130px; overflow:visible;}

table[role="active content table"] td[role="via"] div,
table[role="active pages table"] td[role="url"]	div				{ width:120px; overflow:hidden; white-space:nowrap; border:1px solid #fff; }

table[role="active content table"] td[role="via"] div a,
table[role="active pages table"] td[role="url"]	div	a			{ text-decoration:none; color:#666; }

table[role="active content table"] td[role="via"] div a img,
table[role="active pages table"] td[role="url"]	div	a img		{ display:none; }

table[role="active content table"] td[role="via"] div:hover,
table[role="active pages table"] td[role="url"]	div:hover		{ width:auto; background:#ddd; border:1px solid #999; position:absolute; }

table[role="active content table"] td[role="via"] div:hover a,
table[role="active pages table"] td[role="url"]	div:hover a		{ text-decoration:underline; color:#4b8ac8; }

table[role="active content table"] td[role="via"] div:hover a img,
table[role="active pages table"] td[role="url"]	div:hover a	img	{ display:inline; }

table[role="active content table"] tbody td[role="content"]		{ font-size:12px; font-style:italic; padding:0 0 10px 0; width:515px;}
table[role="active content table"] tbody td[role="content"] img	{ max-width:80px; max-height:80px; }
table[role="active pages table"] tbody td[role="title"]			{ font-style:italic; }

table[role="active content table"] td[role="reactions"],
table[role="active pages table"] td[role="reactions"]			{ width:90px; text-align:center; color:; }

table[role="active content table"] td[role="shares"],
table[role="active pages table"] td[role="shares"]				{ width:90px; text-align:center; color:; }

table[role="active content table"] td[role="comments"],
table[role="active pages table"] td[role="comments"]			{ width:90px; text-align:center; color:; }

table[role="active user table"] thead td				{ font-weight:bold; }
table[role="active user table"] td 						{ vertical-align:middle; font-size:12px; }
table[role="active user table"] td[role="avatar"]		{ width:35px; text-align:left;}
table[role="active user table"] td[role="avatar"] img	{ width:25px; }

table[role="active user table"] td[role="reactions"],
table[role="active user table"] td[role="shares"],
table[role="active user table"] td[role="comments"]		{ text-align:center; width:30px; }

td[role="reactions"] img.icon	{ background:url(../../widget/images/readr_icons.png) 0px 0px no-repeat transparent; width:16px; margin:0 3px -4px;}
td[role="shares"] img.icon		{ background:url(../../widget/images/readr_icons.png) -50px 0px no-repeat transparent; width:16px; margin:0 3px -4px;}
td[role="comments"] img.icon	{ background:url(../../widget/images/readr_icons.png) -24px 0px no-repeat transparent; width:16px; margin:0 3px -4px;}

section[role="thin panels"] section[role="most active readers"] h3	{ border-top:0; }

table[role="recent pages table"] td 						{ vertical-align:middle; }
table[role="recent pages table"] td[role="via"]			{ padding-bottom:10px;}

table[role="popular shares"] td 					{ vertical-align:middle; }
table[role="popular shares"] td[role="content"]		{ font-size:14px;}
table[role="popular shares"] td[role="reactions"]	{ padding:0 0 10px 23px; }
table[role="popular shares"] td[role="via"]			{ padding-bottom:10px;}
table[role="popular bookmarks"] td 						{ vertical-align:middle; }
table[role="popular bookmarks"] td[role="content"]			{ font-size:14px;}
table[role="popular bookmarks"] td[role="via"],
table[role="popular bookmarks"] td[role="reactions"]	{ padding:0 0 10px 23px; }


/* get the reaction button */
.howto {
  display:none;
}
.howto ol{
    list-style-type: none;
}
.howto li{
    margin-bottom:10px;

}

/*killing fixed bar*/
footer.withFixedBar{
    /*margin-bottom: 50px; */
}

/*footer div.footerLinks{
	width:960px;
	margin:auto;
	position:relative;
}
footer div.footerLinks ul{
	list-style:none;
}
footer div.footerLinks ul li{
	float:left;
	padding:10px;
	margin-right:40px;
}
footer div.footerLinks ul.footerLinksRight{
	position:absolute;
	right:0;	
}
footer div.footerLinks ul.footerLinksRight li{
	float:right;
	margin-left:40px;
	margin-right:0;
}
footer div.footerLinks a{
	font-style:none;
	text-decoration:none;
	color:#fff;
}
footer div.footerLinks a:hover{
	color:#7997B1;
}*/

footer, .emptyFooter{
    padding:15px 0 6px 0;
    
    background:#333;
    z-index:1000;
    text-align: center;
    overflow: hidden;
}

footer div.footerLinks{
    /*left:-50%;
    margin: auto;
    position: relative;
    width: 100%;*/
}
footer div.footerLinks ul{
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
}
footer div.footerLinks ul li{
    margin: 0 40px;
    position: relative;
    float: left;
    display: block;
    right: 50%;
}
footer div.footerLinks ul.footerLinksRight{
    position:absolute;
    right:0;    
}
footer div.footerLinks ul.footerLinksRight li{
    float:right;
    margin-left:40px;
    margin-right:0;
}
footer div.footerLinks a{
    font-style:none;
    text-decoration:none;
    color:#fff;
}
footer div.footerLinks a:hover{
    color:#7997B1;
}
.noFooter #uvTab {display:none !important;}
.noFooter footer div.footerLinks { display: none; }

/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

/*}*/
/*/mediaquery*/

/*992px __________________________________________________________________________________________________________ */
/*@media only screen and (min-width:992px) {*/

/* ROOT */
/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* MAIN */
/* COMPLEMENTARY */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

/*}*/
/*/mediaquery*/

/*1382px __________________________________________________________________________________________________________ */
/*@media only screen and (min-width:1382px) {*/

/* ROOT */
/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* MAIN */
/* COMPLEMENTARY */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

/*}*/
/*/mediaquery*/

/*2x __________________________________________________________________________________________________________ */
/*@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2) {*/

/* ROOT */
/* HEADINGS */
/* TYPOGRAPHY */
/* LINKS */
/* FIGURES & IMAGES */
/* TABLES */
/* FORMS */
/* HEADER */
/* NAVIGATION */
/* CONTENT */
/* MAIN */
/* COMPLEMENTARY */
/* CONTENTINFO */
/* GLOBAL OBJECTS */
/* VENDOR-SPECIFIC */
/* TEMPLATE SPECIFICS */
/* MODERNIZR */

/*}*/
/*/mediaquery*/

/* 
Sources:
http://meyerweb.com/eric/tools/css/reset
http://people.opera.com/patrickl/experiments/keyboard/test
http://gist.github.com/413930
http://pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap
http://static/sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars
http://tjkdesign.com/ez-css/css/base.css
http://viget.com/inspire/styling-the-button-element-in-internet-explorer
http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing
http://html5doctor.com/html-5-reset-stylesheet/
http://praegnanz.de/weblog/htmlcssjs-kickstart/
http://camendesign.com/design/
http://yui.yahooapis.com/2.8.1/build/base/base.css
http://webaim.org/techniques/css/invisiblecontent/
http://drupal.org/node/897638
*/

.fancybox-wrap {
  overflow:visible !important;
}

#reactPage{
    width: 650px;
    margin: auto;
}
#reactPage h1{
    margin: 10px 0 20px 0;
}
#reactPage section{
    margin: 30px 0 20px;
    border-top: 1px dashed #CCCCCC;
}
#reactPage h2{
    /*background: none repeat scroll 0 0 #EEEEEE;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #ddd;*/
    color: #26465A;
    margin: 25px 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#reactPage h4{
    margin: 0 0 10px 0;
}
#reactPage .videoWrap{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
#reactPage .needHelp{
    color: #888;
    font-size: 12px;
}


.userSettingsMenu label{
    margin: 5px 0;
}

.formBody{
}
.formBodySection{
    float: left;
    margin-right:20px;
}
.formBodyColSection{
    float: left;
}
.formBodyColSection .formBodySection{
    clear: both;
}
.popupForm .btn{
    clear: both;
}
.alternateAction{
    clear:both;
    display: block;
}
.createAccountLink{
    float:left;
    padding:6px;
}


form .formFeedback{
    position: absolute;
    padding: 8px;
}
form .successMsg{
    color: #7BCA7D;
}
form .errorMsg{
    color: red;
}

.userFeedbackMsg{
    padding: 20px 40px 20px 20px !important;
}
.userFeedbackMsg p{
    margin:10px 0;
}
.container .userFeedbackMsg{
    padding: 20px 20px 20px 0 !important;   
}

.seeAllReactionsButtonWrap{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.singleReactionHeader{
    position: relative;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    
}
.seeAllReactionsButtonWrap a{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0;
    color:#7EBADF;
}
.singleReactionHeader .title,
.singleReactionHeader .seeIt{
    font-size: 14px;
    color: #bbb;
}
.singleReactionHeader .title{
    float: left;
}
.singleReactionHeader .seeIt{
    float: right;
    color:#7EBADF;
}

.singleReactionHeader .seeIt.hover{
    text-decoration: underline;
}


/*embeddedVersion pages like for the wordpress plugin*/
.embeddedVersion {

}

    .embeddedVersion html{
        background: none;
    }
    
     .embeddedVersion section[role="main"]{
        clear: both;
        margin: 40px auto 0 !important;
        padding: 36px 36px 25px 36px;
    }
    
    .embeddedVersion section[role="main"] #login-options{
        margin: 30px 0;
    }

    .embeddedVersion section[role="main"] h1 {
        font-size: 28px;
        margin: 10px 0;
    }
    
    .embeddedVersion section[role="group panel header"]{
        display: none;
    }

    .embeddedVersion section[role="content"] {
        margin: 0 !important;
    }

    .embeddedVersion section[role="complementary"]{
        display: none;
    }


    .embeddedVersion #fixedBar{
        display: none;
    }
    .embeddedVersion #searchform {
        display: none;
    }

    .embeddedVersion #site_search{
        display: none;
    }

    .embeddedVersion #id_domain{
        color: #999;
    }
    .embeddedVersion .rbSubtitle{
        position: absolute;
        left: 180px;
        top: 13px;
        color: #BBB;
    }
    .embeddedVersion .rbSubtitle span{
        padding: 0 5px;
    }

    .embeddedVersion #uvTab{
        display: block !important;
        top: 130px !important;
    }
    .embeddedVersion .loginMsgs{
        clear: both;
        display: block;
        color: #AC5151;
        margin: 12px 0;
        width: 500px;
    }
    .embeddedVersion .loginMsg{
        margin: 8px 0;
    }
    .embeddedVersion .continueWrap{
        clear:both;
        padding-top: 30px;
    }
    .embeddedVersion .checkEmailReminder{
        color: #888;
        clear:both;
        font-size: 12px;
        margin: 8px;
    }
    
    .embeddedVersion form.big-form {
        padding: 20px 0 0 0;
    }

</style>
